<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title ng-bind="$root.title">{{appName}} - {{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig">
    <meta name="description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">
    <link href="/img/fp/pollspace_logo_short.png" rel="shortcut icon" type="image/x-icon">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta property="fb:app_id" content="345222025489126"/>
    <meta property="og:title" content="{{title}}" ng-model="ogTitle" ng-meta-tag/>
    <meta property="og:description" content="Pollspace"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{hostname}}" ng-model="ogUrl" ng-meta-tag/>
    <meta property="og:image" content="{{prop_image}}" ng-model="ogImg" ng-meta-tag/>
    <meta property="og:site_name" content="Pollspace"/>
    <meta property="fb:admins" content="725102015"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Pollspace" />
    <meta name="twitter:creator" content="@Pollspace" />
    <meta ng-model="ogTitle" ng-meta-tag name="twitter:title" content="{{title}}" />
    <meta ng-model="ogImg" ng-meta-tag name="twitter:image" content="{{prop_image}}" />
    <meta ng-model="ogUrl" ng-meta-tag name="twitter:url" content="{{hostname}}" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {% for file in assets.css %}
        <link rel="stylesheet" href="{{file}}">
    {% endfor %}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.15.35/css/bootstrap-datetimepicker.min.css" />

    <link type="text/css" rel="stylesheet" href="/css/extensions/jquery.mmenu.widescreen.css" media="all and (min-width: 1750px)" />
    <link type="text/css" rel="stylesheet" href="/css/extensions/jquery.mmenu.themes.css" media="all and (min-width: 1750px)" />
    <link type="text/css" rel="stylesheet" href="/css/extensions/jquery.mmenu.positioning.css" />
    <link type="text/css" rel="stylesheet" href="/css/themes/fp-color.css" /> 
    {% if colors != null %}
        <link type="text/css" rel="stylesheet" id="channelColor" class="ng-scope" href="/api/channel/color/style.css?colors={{colors}}"> 
    {% endif %}
    <style type="text/css">
        @media all and (min-width: 1750px) {
            html, body {
                height: 100%;
            }
            #menu-slide {

            }
            #page {
                min-height: 100%;
            }
            /* hide open-button */
            a[href="#menu-slide"]
            {
                display: none !important;
            }
        }
    </style>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
