<div  data-ng-controller="FooterController">
    <!-- FOR ADMIN OR USER -->
    <div ng-switch on="global.user.is_admin" relink-event="updateTopAndSideBarEvent" data-ng-init="setLocationList();">
        <div ng-switch-when=true> <!-- FOR ADMIN -->
            <nav id="menu-slide" data-menu-slide>
                <ul>
                    <!-- FOR BOTH -->
                    <li data-ng-hide="global.authenticated" class="Label"><a href="/login">Log In</a></li>
                    <li data-ng-show="global.authenticated"><a href="/logout"><span class="hidden-xs side-menu-lg"><i class="fa fa-sign-out fa-fw fa-lg"></i>Log Out</span><span class="visible-xs side-menu-sm"><i class="fa fa-sign-out fa-fw"></i>Log Out</span></a></li>
                    <li class="Label"><a href="#">Channel Admin</a></li>


                    <li ng-if="!subdomain"><a href="/admin/my/channels"><span class="hidden-xs side-menu-lg"><i class="fa fa-archive fa-fw fa-lg"></i>Channel List</span><span class="visible-xs side-menu-sm"><i class="fa fa-archive fa-fw"></i>Channel List</span></a></li>
                    <li ng-if="!subdomain"><a href="/#!/admin/channel/manage/admins/list"><span class="hidden-xs side-menu-lg"><i class="fa fa-user-md fa-fw fa-lg"></i>Manage Channel Admins</span><span class="visible-xs side-menu-sm"><i class="fa fa-user-md fa-fw"></i>Manage Channel Admins</span></a></li>
                    <li><a href="/#!/fp/user/list"><span class="hidden-xs side-menu-lg"><i class="fa fa-users fa-fw fa-lg"></i>Channel User List</span><span class="visible-xs side-menu-sm"><i class="fa fa-users fa-fw"></i>Channel User List</span></a></li>
                    <li ng-if="global.user.fp_admin"><a href="/#!/admin/signups"><span class="hidden-xs side-menu-lg"><i class="fa fa-user-plus fa-fw fa-lg"></i>View Signups List</span><span class="visible-xs side-menu-sm"><i class="fa fa-user-plus fa-fw"></i>View Signups Listt</span></a></li>
                    <li ng-if="global.user.fp_admin"><a href="/#!/admin/fpcolor"><span class="hidden-xs side-menu-lg"><i class="fa fa-magic fa-fw fa-lg"></i>FP Color Chooser</span><span class="visible-xs side-menu-sm"><i class="fa fa-magic fa-fw"></i>FP Color Chooser</span></a></li>

                    <li><a href="/#!/admin/channel/{{currentchannel._id}}/prop/create"><span class="hidden-xs side-menu-lg"><i class="fa fa-plus fa-fw fa-lg"></i>Create Poll</span><span class="visible-xs side-menu-sm"><i class="fa fa-plus fa-fw"></i>Create Poll</span></a></li>
                    <li><a href="/#!/admin/channel/{{currentchannel._id}}/prop/manage"><span class="hidden-xs side-menu-lg"><i class="fa fa-ticket fa-fw fa-lg"></i>Manage Polls</span><span class="visible-xs side-menu-sm"><i class="fa fa-ticket fa-fw"></i>Manage Polls</span></a></li>
                    <li><a href="/#!/admin/channel/{{currentchannel._id}}/leaderboard"><span class="hidden-xs side-menu-lg"><i class="fa fa-trophy fa-fw fa-lg"></i>Overall Leaderboard</span><span class="visible-xs side-menu-sm"><i class="fa fa-trophy fa-fw"></i>Leaderboard</span></a></li>
                    <li><a href="/#!/admin/channel/{{currentchannel._id}}/edit"><span class="hidden-xs side-menu-lg"><i class="fa fa-tasks fa-fw fa-lg"></i>Channel Settings</span><span class="visible-xs side-menu-sm"><i class="fa fa-tasks fa-fw"></i>Channel Settings</span></a></li>

                    <!-- FOR BOTH -->
                    <li class="Label"><a href="#">About</a></li>
                    <li><a href="/#!/profile"><span class="hidden-xs side-menu-lg"><i class="fa fa-user fa-fw fa-lg"></i>About <span ng-if="currentchannel">{{currentchannel.name}}</span>  <span ng-if="!currentchannel">Pollspace</span></span><span class="visible-xs side-menu-sm"><i class="fa fa-user fa-fw"></i>About {{currentchannel.name}}</span></a></li>
                    <li><a href="/#!/contact"><span class="hidden-xs side-menu-lg"><i class="fa fa-envelope fa-fw fa-lg"></i>Contact</span><span class="visible-xs side-menu-sm"><i class="fa fa-envelope fa-fw"></i>Contact</span></a></li>
                    <li><a href="/#!/privacy"><span class="hidden-xs side-menu-lg"><i class="fa fa-key fa-fw fa-lg"></i>Privacy</span><span class="visible-xs side-menu-sm"><i class="fa fa-key fa-fw"></i>Privacy</span></a></li>
                    <li><a href="/#!/terms"><span class="hidden-xs side-menu-lg"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i>Terms</span><span class="visible-xs side-menu-sm"><i class="fa fa-pencil-square-o fa-fw"></i>Terms</span></a></li>
                </ul>
            </nav>
        </div>
        <div ng-switch-when=false> <!-- FOR USER -->
            <div ng-if="currentchannel == null">
                <nav id="menu-slide" data-menu-slide>
                    <ul>
                        <!-- FOR BOTH -->
                        <li data-ng-hide="global.authenticated" class="Label"><a href="/login">Log In</a></li>
                        <li data-ng-show="global.authenticated"><a href="/logout"><span class="hidden-xs side-menu-lg"><i class="fa fa-sign-out fa-fw fa-lg"></i>Log Out</span><span class="visible-xs side-menu-sm"><i class="fa fa-sign-out fa-fw"></i>Log Out</span></a></li>

                        <!-- USER MENU -->
                        <li class="Label" ><a href="#">User Menu</a></li>
                        <li><a href="/my/props"><span class="hidden-xs side-menu-lg"><i class="fa fa-ticket fa-fw fa-lg"></i>My Polls</span><span class="visible-xs side-menu-sm"><i class="fa fa-ticket fa-fw"></i>My Polls</span></a></li>
                        <li><a href="/my/channels"><span class="hidden-xs side-menu-lg"><i class="fa fa-star fa-fw fa-lg"></i>My Channels</span><span class="visible-xs side-menu-sm"><i class="fa fa-star fa-fw"></i>My Channels</span></a></li>
                        <li><a href="/my/rankings"><span class="hidden-xs side-menu-lg"><i class="fa fa-trophy fa-fw fa-lg"></i>My Rankings</span><span class="visible-xs side-menu-sm"><i class="fa fa-trophy fa-fw"></i>My Rankings</span></a></li>
                        <li><a href="/my/account"><span class="hidden-xs side-menu-lg"><i class="fa fa-user fa-fw fa-lg"></i>My Account</span><span class="visible-xs side-menu-sm"><i class="fa fa-user fa-fw"></i>My Account</span></a></li>

                        <!-- FOR BOTH -->
                        <li class="Label"><a href="#">About</a></li>
                        <li><a href="/#!/profile"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-user fa-fw fa-lg"></i>About Pollspace</span><span class="visible-xs side-menu-sm capitalize"><i class="fa fa-user fa-fw"></i>About Pollspace</span></a></li>
                        <li><a href="/#!/contact"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-envelope fa-fw fa-lg"></i>Contact</span><span class="visible-xs side-menu-sm"><i class="fa fa-envelope fa-fw"></i>Contact</span></a></li>
                        <li><a href="/#!/privacy"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-key fa-fw fa-lg"></i>Privacy</span><span class="visible-xs side-menu-sm"><i class="fa fa-key fa-fw"></i>Privacy</span></a></li>
                        <li><a href="/#!/terms"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i>Terms</span><span class="visible-xs side-menu-sm"><i class="fa fa-pencil-square-o fa-fw"></i>Terms</span></a></li>

                    </ul>
                </nav>
            </div>

            <div ng-if="currentchannel != null">
                <nav id="menu-slide" data-menu-slide>
                    <ul>
                        <!-- FOR BOTH -->
                        <li data-ng-hide="global.authenticated" class="Label"><a href="/login">Log In</a></li>
                        <li data-ng-show="global.authenticated"><a href="/logout"><span class="hidden-xs side-menu-lg"><i class="fa fa-sign-out fa-fw fa-lg"></i>Log Out</span><span class="visible-xs side-menu-sm"><i class="fa fa-sign-out fa-fw"></i>Log Out</span></a></li>

                        <!-- USER MENU -->
                        <li class="Label" ng-show="currentchannel.type == 'multiple' || subdomain == false"><a href="#">User Menu</a></li> 
                        <li ng-show="currentchannel.type == 'multiple' || subdomain == false"><a href="/my/props"><span class="hidden-xs side-menu-lg"><i class="fa fa-ticket fa-fw fa-lg"></i>My Polls</span><span class="visible-xs side-menu-sm"><i class="fa fa-ticket fa-fw"></i>My Polls</span></a></li>
                        <li ng-show="currentchannel.type == 'multiple' || subdomain == false"><a href="/my/channels"><span class="hidden-xs side-menu-lg"><i class="fa fa-star fa-fw fa-lg"></i>My Channels</span><span class="visible-xs side-menu-sm"><i class="fa fa-star fa-fw"></i>My Channels</span></a></li>
                        <li ng-show="currentchannel.type == 'multiple' || subdomain == false"><a href="/my/rankings"><span class="hidden-xs side-menu-lg"><i class="fa fa-trophy fa-fw fa-lg"></i>My Rankings</span><span class="visible-xs side-menu-sm"><i class="fa fa-trophy fa-fw"></i>My Rankings</span></a></li>
                        <li ng-show="currentchannel.type == 'multiple' || subdomain == false"><a href="/my/account"><span class="hidden-xs side-menu-lg"><i class="fa fa-user fa-fw fa-lg"></i>My Account</span><span class="visible-xs side-menu-sm"><i class="fa fa-user fa-fw"></i>My Account</span></a></li>

                        <li class="Label"><a href="#">{{currentchannel.name}} Channel</a></li>
                        <li><a ng-href="{{urlList['pollList']}}"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-ticket fa-fw fa-lg"></i>{{cguid}} Polls</span><span class="visible-xs side-menu-sm capitalize"><i class="fa fa-ticket fa-fw"></i>{{cguid}} Polls</span></a></li>
                        <li><a ng-href="{{urlList['propSuggest']}}"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-comment fa-fw fa-lg"></i>Suggest A Poll</span><span class="visible-xs side-menu-sm capitalize"><i class="fa fa-comment fa-fw"></i>Sugest A Poll</span></a></li>
                        <li><a ng-href="{{urlList['channelLeaderboard']}}"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-trophy fa-fw fa-lg"></i>{{cguid}} Leaderboard</span><span class="visible-xs side-menu-sm capitalize"><i class="fa fa-trophy fa-fw"></i>{{cguid}} Leaderboard</span></a></li>

                        <!-- FOR BOTH -->
                        <li class="Label"><a href="#">About</a></li>
                        <li><a ng-href="{{urlList['profile']}}"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-user fa-fw fa-lg"></i>About {{currentchannel.guid}}</span><span class="visible-xs side-menu-sm capitalize"><i class="fa fa-user fa-fw"></i>About {{currentchannel.guid}}</span></a></li>
                        <li><a ng-href="{{urlList['contact']}}"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-envelope fa-fw fa-lg"></i>Contact</span><span class="visible-xs side-menu-sm"><i class="fa fa-envelope fa-fw"></i>Contact</span></a></li>
                        <li><a ng-href="{{urlList['privacy']}}"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-key fa-fw fa-lg"></i>Privacy</span><span class="visible-xs side-menu-sm"><i class="fa fa-key fa-fw"></i>Privacy</span></a></li>
                        <li><a ng-href="{{urlList['terms']}}"><span class="hidden-xs side-menu-lg capitalize"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i>Terms</span><span class="visible-xs side-menu-sm"><i class="fa fa-pencil-square-o fa-fw"></i>Terms</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>