<section data-ng-controller="ChannelsController">
    <div class="container">
        <div class="row prop-wrap">
            <div class="col-md-4 col-md-push-8 col-sm-12 margin-pad-zero">
                <img ng-src="{{currentchannel.picture}}" class="img-circle center-block logo-shadow" width="300px" >
                <div class="center-block about-nav-wrap">
                    <ul class="nav nav-pills standard-pills center-block">
                        <li class="active"><a href="/#!/profile">About</a></li>
                        <li><a href="/#!/contact">Contact</a></li>
                        <li><a href="/#!/privacy">Privacy</a></li>
                        <li><a href="/#!/terms">Terms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-md-pull-4 prop-info-wrap">
                <h2>About TWF</h2>
                <p>Texas is facing a transportation and water crisis. As we have seen our nation’s economy decline,
                    our transportation system has suffered from a lack of funding to support the maintenance of aging
                    infrastructure, development of new technology, and necessary projects to accommodate growth and
                    increased usage. It is critical that business and government leaders come together to collaborate
                    on how to best move forward in order to provide solutions for our transportation and water needs.
                    The purpose of the Forum is to educate policymakers and stakeholders on the vital transportation
                    and water issues that are found at both the local, regional, state, and national levels.
                    This unique collaboration will include leaders from federal, state, and local governments,
                    engineers, business leaders, agency leaders, coalitions and top research institutions.</p>

                <p>The event includes opportunities to network with stakeholders from all sectors of transportation
                    and water, hear speakers highlighting transportation and water topics, and learn how transportation
                    and water advances are supporting Texas’ economic development and improving our quality of life.
                </p>

            </div><!-- .col-md-8 prop-info-wrap -->

        </div><!-- .col-md-8 prop-image prop-image-DT -->
    </div><!-- .row prop-wrap -->
    </div>


</section>
