<section data-ng-controller="ChannelsController">
    <div class="container">
        <div class="row prop-wrap">
            <div class="col-md-4 col-md-push-8 col-sm-12 margin-pad-zero">
                <img ng-src="{{currentchannel.picture}}" class="img-circle center-block logo-shadow" width="300px" >
                <div class="center-block about-nav-wrap">
                    <ul class="nav nav-pills standard-pills center-block">
                        <li><a href="/#!/profile">About</a></li>
                        <li><a href="/#!/contact">Contact</a></li>
                        <li class="active"><a href="/#!/privacy">Privacy</a></li>
                        <li><a href="/#!/terms">Terms</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-7 col-md-pull-4 prop-info-wrap">
                <h2>Privacy Policy</h2>

                <p>(“{{getName()}},” “we,” and “us”) respects the privacy of its users (“you”) and has developed this Privacy Policy to demonstrate its commitment to protecting your privacy. This Privacy Policy describes the information we collect, how that information may be used, with whom it may be shared, and your choices about such uses and disclosures. We encourage you to read this Privacy Policy carefully when using our application or services or transacting business with us. By using our website or application (our “Service”), you are accepting the practices described in this Privacy Policy.</p>
                <p>If you have any questions about our privacy practices, please refer to the end of this Privacy Policy for information on how to contact us.</p>
                <ol>
                    <h4><li>Information we collect about you</h4>
                    <p><strong><u>In General.</u></strong> We may collect information that can identify you such as your name and email address ("personal information") and other information that does not identify you. We may collect this information through a web or mobile site. By using the Service, you are authorizing us to gather, parse and retain data related to the provision of the Service.</p>
                    <ul><li><strong><u>Information you provide.</u></strong> In order to register as a user with {{getName()}}, you will be asked to sign in using your e-mail address or Facebook login. If you login with Facebook you authorize us to access certain Facebook account information, such as your public Facebook profile (consistent with your privacy settings in Facebook), your email address, interests, likes, gender, birthday, education history, relationship interests, current city, photos, personal description, friend list, and information about and photos of your Facebook friends who might be common Facebook friends with other {{getName()}} users. You will also be asked to allow {{getName()}} to collect your location information from your device when you download or use the Service. In addition, we may collect and store any personal information you provide while using our Service or in some other manner.</li> </ul>
                    <p><strong><u>Use of technologies to collect information.</u></strong> We use various technologies to collect information from your device and about your activities on our Service.</p>
                    <ul>
                        <li><strong><u>Information collected automatically.</u></strong> We automatically collect information from your browser or device when you visit our Service. This information could include your IP address, device ID and type, your browser type and language, the operating system used by your device, access times, your mobile device’s geographic location while our application is actively running, and the referring website address.</li>
                        <li><strong><u>Cookies and Use of Cookie Data.</u></strong> When you visit our Service, we may assign your device one or more cookies to facilitate access to our Service and to personalize your experience. Through the use of a cookie, we also may automatically collect information about your activity on our Service, such as the pages you visit, the time and date of your visits and the links you click.</li>
                        <li><strong><u>Other Technologies</u></strong> We may use other standard Internet technology, to track your use of our Service and to deliver or communicate with cookies. The information we obtain in this manner enables us to customize the services we offer users, and to measure the overall effectiveness of content, programming or other activities.</li>
                    </ul>
                    </li>
                    <h4><li>How we use the information we collect</h4>
                    <p><strong><u>In General.</u></strong> We may use information that we collect about you to:</p>
                    <ul>
                        <li>deliver and improve our products and services, and manage our business;</li>
                        <li>manage your account and provide you with customer support;</li>
                        <li>perform research and analysis about your use of, or interest in, our or others’ products, services, or content;</li>
                        <li>website or mobile application analytics;</li>
                        <li>verify your eligibility and deliver prizes in connection with contests and sweepstakes;</li>
                        <li>enforce or exercise any rights in our Terms of Use; and</li>
                        <li>perform functions or services as otherwise described to you at the time of collection.</li>
                    </ul>
                    </li>
                    <h4><li>With whom we share your information</h4>
                    <p><strong><u>Information Shared with Other Users.</u></strong> When you register as a user of {{getName()}}, your profile name will be viewable by other users of the Service</p>
                    <p><strong><u>Personal information.</u></strong> We do not share your personal information with others except as indicated in this Privacy Policy or when we inform you and give you an opportunity to opt out of having your personal information shared. We may share personal information with:</p>
                    <p><strong><u>Other Situations.</u></strong> We may disclose your information, including personal information:</p>
                    <ul>
                        <li>In response to a subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we may raise or waive any legal objection or right available to us.</li>
                        <li>When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce our Terms of Use or other agreements or policies.</li>
                    </ul>
                    <p><strong><u>Aggregated and/or non-personal information.</u></strong> We may share aggregated, non-personal information, or personal information in hashed, non-human readable form, with third parties, including advisors, advertisers for the purpose of conducting general business analysis or other business purposes. </p>
                    </li>
                    <h4><li>With whom we share your information</h4>
                    <p>If you have an {{getName()}} account, you have the ability to review and update your personal information within the Service by opening your account and going to settings. More information about how to contact us is provided below. You also may close your account at any time by visiting the "Settings" page for your account. If you close your account, we will retain certain information associated with your account for analytical purposes and recordkeeping integrity, as well as to prevent fraud, enforce our Terms of Use, take actions we deem necessary to protect the integrity of our Service or our users, or take other actions otherwise permitted by law. In addition, if certain information has already been provided to third parties as described in this Privacy Policy, retention of that information will be subject to those third parties' policies.</p>
                    </li>
                    <h4><li>With whom we share your information</h4>
                    <p>You can choose not to provide us with certain information, but that may result in you being unable to use certain features of our Service because such information may be required in order for you to register as user.</p>
                    <p>Our Service may also deliver notifications to your phone or mobile device. You can disable these notifications by deleting the relevant Service or by changing the settings on your mobile device.</p>
                    <p>You can also control information collected by cookies. You can delete or decline cookies by changing your browser settings. Click “help” in the toolbar of most browsers for instructions.</p>
                    </li>
                    <h4><li>How we protect your personal information</h4>
                    <p>We take security measures to help safeguard your personal information from unauthorized access and disclosure. However, no system can be completely secure. Therefore, although we take steps to secure your information, we do not promise, and you should not expect, that your personal information, chats, or other communications will always remain secure. Users should also take care with how they handle and disclose their personal information and should avoid sending personal information through insecure email. Please refer to the <a href="http://www.ftc.gov/bcp/menus/consumer/data.shtm "> Federal Trade Commission's website</a> for information about how to protect yourself against identity theft.</p>
                    </li>
                    <h4><li>Children's privacy</h4>
                    <p>Although our Service is a general audience Service, we restrict the use of our service to individuals age 13 and above. We do not knowingly collect, maintain, or use personal information from children under the age of 13.</p>
                    </li>
                    <h4><li>Visiting our Service from outside the United States</h4>
                    <p>If you are visiting our Service from outside the United States, please be aware that your information may be transferred to, stored, and processed in the United States and globally where our servers are located and our central database is operated. By using our services, you understand and agree that your information may be transferred to our facilities and those third parties with whom we share it as described in this privacy policy.</p>
                    </li>
                    <h4><li>No Rights of Third Parties</h4>
                    <p>This Privacy Policy does not create rights enforceable by third parties or require disclosure of any personal information relating to users of the website.</p>
                    </li>
                    <h4><li>Changes to this Privacy Policy</h4>
                    <p>We will occasionally update this Privacy Policy. When we post changes to this Privacy Policy, we will revise the "last updated" date at the top of this Privacy Policy. We recommend that you check our Service from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.</p>
                    </li>
                    <h4><li>How to contact us</h4>
                    <p>If you have any questions about this Privacy Policy, please contact us by email or postalmail as follows:</p>
                    </li>
                </ol>

                <p>Privacy Officer</p>
                <p>{{getName()}}</p>

            </div><!-- .col-md-8 prop-info-wrap -->
        </div><!-- .col-md-8 prop-image prop-image-DT -->
    </div><!-- .row prop-wrap -->
    </div>


</section>