<section data-ng-controller="ChannelsController">
    <div class="container">
        <div class="row prop-wrap">
            <div class="col-md-4 col-md-push-8 col-sm-12 margin-pad-zero">
                <img src="/css/themes/images/adler-your-thoughts-square.jpg" class="img-circle center-block logo-shadow" width="300px" >
                <div class="center-block about-nav-wrap">
                    <ul class="nav nav-pills standard-pills center-block">
                        <li class="active"><a href="/#!/profile">About</a></li>
                        <li><a href="/#!/contact">Contact</a></li>
                        <li><a href="/#!/privacy">Privacy</a></li>
                        <li><a href="/#!/terms">Terms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-md-pull-4 prop-info-wrap">
                <h2>Meet Steve</h2>
                <blockquote>“I love Austin, its culture, its energy. We are innovators and artists, hard workers and risk takers. No other city in the world is as vibrant, creative and informal as Austin. We’ve built an incredible city, a strong economy, a great quality of life, and a city with a special soul.”</blockquote>

                <p><img src="/css/themes/images/adler-fam.jpg" class="img-responsive"></p>

                <p>I have been lucky to call Austin my home for 36 years.</p>
                <p>I was born in Washington, DC, and my parents worked hard so that my brother, sister and I could be the first in our family to go to college. They wanted us to have more opportunities than they had. My dad died when I was 21; my mother followed him six years later. But they are with me today, everyday, and they have always served as my motivation to make sure others have the opportunities they gave me.</p>
                <p>I went to Princeton and UT Law School on scholarships and part time jobs. Within 45 minutes of first arriving in Austin, I was swimming in Barton Springs. I knew I had found my home.</p>
                <p>After law school, I devoted much of my practice to civil rights law. I defended workers and women facing discrimination and sexual harassment – hard workers who were being denied equal pay for equal work. When I won in court for Hispanic construction workers, they won the chance to operate the heavy equipment. That meant they could earn the higher pay and promotions they deserved.</p>
                <p>Later, I became chief of staff and general counsel for State Senator Eliot Shapleigh doing public policy and learning governance, fighting for increased public school funding, higher teacher salaries and greater environmental protections. We worked to fuel economic growth in eager but poor communities.</p>
                <p>For over twenty years, I have worked with and chaired many of Austin’s large civic and non-profit boards. I have fought discrimination and promoted the benefits of diversity as chair of the Anti-Defamation League. As board chair of the Texas Tribune, I helped build a business model for the thoughtful, factual and independent media Texas needs. I have worked to expand opportunity for girls, women and first-generation college students as a board member of GEN-Austin and Breakthrough. At the Long Center and as chair of Ballet Austin, I have helped ensure that all our communities have access to the arts.</p>
                <p>Throughout my career,  I have defended renters and landowners when the government or big corporations were unfairly taking their property. I have spent a lifetime fighting for equity, access, fairness and opportunity. I have protected working families, small businesses and women from discrimination and abuse. I have defended families in the Blacklands neighborhood on the east side of I-35 when the University of Texas was expanding. I have defended small and large businesses of all kinds across the state, over a dozen churches, and environmental organizations — and I have seen that the government does not always work for everyone. That is why I will work hard everyday to ensure that our city government works for all of us in Austin.</p>

            </div><!-- .col-md-8 prop-info-wrap -->

            </div><!-- .col-md-8 prop-image prop-image-DT -->
        </div><!-- .row prop-wrap -->
    </div>


</section>
