<section data-ng-controller="ChannelsController">

    <div ng-show="infomessage">
        <div class="alert alert-info" id="message">
            {{infomessage}}
        </div>
    </div>

    <div class="container">
        <div class="row prop-wrap">
            <div class="col-md-4 col-md-push-8 col-sm-12 margin-pad-zero">
                <img src="/css/themes/images/adler-your-thoughts-square.jpg" class="img-circle center-block logo-shadow" width="300px" >
                <div class="center-block about-nav-wrap">
                    <ul class="nav nav-pills standard-pills center-block">
                        <li><a href="/#!/profile">About</a></li>
                        <li class="active"><a href="/#!/contact">Contact</a></li>
                        <li><a href="/#!/privacy">Privacy</a></li>
                        <li><a href="/#!/terms">Terms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-md-pull-4 prop-info-wrap">
                <h2>Contact</h2>
                <form role="form" data-toggle="validator" role="form"  data-ng-submit="sendContactInfo()" ng-form-validate>
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail"
                               placeholder="Enter email"
                               data-ng-init="email = global.user.email"
                               data-ng-model="email"
                               data-error="This field is not valid."
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="ContactPurpose">Please let us know what your reason for reaching out:</label>
                        <select class="form-control" id="ContactPurpose"
                                ng-model="subject"
                                ng-options="id as name for (id,name) in contactPurposes"
                                data-error="This field is Required."
                                required>
                            <option value="">-- Select One --</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="8"
                                  data-ng-model="message"
                                  data-error="This field is Required."
                                  required
                                ></textarea>
                        <div class="help-block with-errors"></div>
                    </div>


                    <br/>
                    <button type="submit" id="sendemail" class="btn channel-standard-button">{{contact_submit_title}}</button>
                </form>
            </div><!-- .col-md-8 prop-info-wrap -->

            </div><!-- .col-md-8 prop-image prop-image-DT -->
        </div><!-- .row prop-wrap -->
    </div>


</section>