<form class="form-horizontal" enctype="multipart/form-data" role="form" id="propform" data-toggle="validator" ng-form-validate>

    <input type="hidden" ng-model="type" data-ng-init="type = propType">
    <div class="row">
        <div class="col-xs-12">

            <input type="hidden" ng-model="type" data-ng-init="type = propType">

            <div class="form-group">
                <label for="name" class="control-label">Product Page Name</label>
                <input type="text" class="form-control" data-ng-model="prop.name" id="name" placeholder="Title"
                       data-error="Name is required."
                       required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="name" class="control-label">Publishing</label>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="prop.publishing" value="0" name="prop.publishing">Default
                    </label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="Display for user at initial login" bs-tooltip></span>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="prop.publishing" value="{{publishing}}" name="prop.publishing">
                        <input ng-if="prop.publishing > 0" type="text" ng-model="publishing" name="publishing"> Other
                    </label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="Display for user every x number of logins" bs-tooltip></span>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label" for="mode">Description</label>
                <wysiwyg textarea-id="prop-description" textarea-class="form-control"  textarea-height="150px" textarea-name="prop_desc" textarea-required ng-model="prop.desc" enable-bootstrap-title="false" textarea-menu="customMenu"></wysiwyg>
            </div>

            <div class="form-group" data-ng-init="initCreateProductAnswers()">
                <div class="row">
                    <div class="col-xs-12" data-ng-init="addProduct();">

                        <div class="product-wrapper col-xs-11 col-sm-6 col-md-4 col-lg-4" ng-repeat="answer in prop.answers">
                            <div class="form-group">
                                <label class="control-label">Name: </label>
                                <input type="text"
                                       class="form-control input-group input_option"
                                       data-ng-model="answer.name"
                                       value="{{answer.name}}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Tags</label>
                                <bootstrap-tagsinput ng-model="answer.tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <input ng-model="answer.image" data-ng-init="answer.image = '/img/fp/ogx587x587.png'" type="hidden" ng-update-hidden>
                                    <img class="img-responsive product-image" src="{{trustSrc(answer.image)}}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div ng-uploadcare
                                         images-only="true"
                                         data-multiple="false"
                                         data-crop="400x400 minimum"
                                         callback="propAnswerImageCallback(file, $index)">Choose File
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <a href="" ng-click="removeProduct($index)">Remove Product</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="controls">
                    <button type="button" ng-click="addProduct()" class="btn channel-standard-button">+ Add Product</button>
                    <button type="submit"  id="create" ng-click="create()" class="btn btn-primary pull-left channel-standard-button extra-h-pad" name="save">Save</button>
                </div>
            </div>

        </div>
    </div>
</form>