<section data-ng-controller="AdminPropsController" data-ng-init="initCreateSingle();">

    <h2> {{channel.name}}:
        <span ng-if="propType == 'opinion'">Create Single Question Poll</span>
        <span ng-if="propType == 'quiz'">Create Single Question Quiz</span>
        <span ng-if="propType == 'image'">Create Single Question Image Poll</span>

        <span ng-if="propType == 'product'">Create Products</span>
    </h2>
    <br>

    <div ui-view="regular_poll" ng-if="propType == 'classic' || propType == 'opinion' || propType == 'quiz'"></div>
    <div ui-view="image_poll" ng-if="propType == 'image'"></div>
    <div ui-view="product_poll" ng-if="propType == 'product'"></div>
</section>