<div class="modal-body" ng-style="{backgroundColor: channel.color.color1, color: channel.color.color_text}">
    <h2>Preview: </h2>
    <hr>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <h3>{{prop.name}}</h3>
            <span class="contestent-weekof">{{prop.weekof.from | date:'MM/dd' }} -  {{prop.weekof.to | date:'MM/dd' }}</span>
            <div class="triangle">
                <div class="triangles-container">
                    <img src="{{prop.image}}">
                </div>
            </div>
            <div class="prop-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <br>
            <div class="prop-vote">
                <button class="btn vote-button btn-block channel-standard-button" type="button">VOTE</button>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5">
                    <div class="contesent-profile-container">
                        <div class="contestent-img-round-container">
                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}"></div>
                        </div>
                        <div class="contestent-instagram-container">
                        <span>
                            <div class="gray-circle"></div>
                            @{{prop.answers[0].meta.instagram.value}}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5">
                    <div class="contesent-profile-container">
                        <div class="contestent-img-round-container">
                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}"></div>
                        </div>
                        <div class="contestent-instagram-container">
                        <span>
                            <div class="gray-circle"></div>
                            @{{prop.answers[1].meta.instagram.value}}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5">
                    <div class="contesent-profile-container">
                        <div class="contestent-img-round-container">
                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}"></div>
                        </div>
                        <div class="contestent-instagram-container">
                        <span>
                            <div class="gray-circle"></div>
                            @{{prop.answers[2].meta.instagram.value}}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5">
                    <div class="contesent-profile-container">
                        <div class="contestent-img-round-container">
                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}"></div>
                        </div>
                        <div class="contestent-instagram-container">
                        <span>
                            <div class="gray-circle"></div>
                            @{{prop.answers[3].meta.instagram.value}}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <hr>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                <label class="control-label">Current
                    <span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span>Status:
                </label>
                <p>
                        <span ng-class="
                            {'prop-state-active': prop.isCreated() || prop.isPublished() || prop.isClosed() || prop.isGraded()}">
                            Created
                            <i class="fa" ng-class="{'fa-check-circle': prop.isCreated(), 'fa-circle-o': !prop.isCreated()}"></i>
                        </span>

                        <span ng-class="{'prop-state-active': prop.isPublished() || prop.isClosed() || prop.isGraded(), 'prop-state-inactive': !prop.isPublished() && !prop.isClosed() && !prop.isGraded()}">
                            Published
                            <i class="fa" ng-class="{'fa-check-circle': prop.isPublished(), 'fa-circle-o': !prop.isPublished()}"></i>
                        </span>

                        <span ng-class="{'prop-state-active': prop.isDistributed() || prop.isPublished() || prop.isClosed() || prop.isGraded(), 'prop-state-inactive': !prop.isDistributed() && !prop.isPublished() && !prop.isClosed() && !prop.isGraded()}">
                            Distributed
                            <i class="fa" ng-class="{'fa-check-circle': prop.isDistributed(), 'fa-circle-o': !prop.isDistributed()}"></i>
                        </span>

                        <span ng-if="prop.type == 'classic'" ng-class="{'prop-state-active': prop.isClosed() || prop.isGraded(), 'prop-state-inactive': !prop.isClosed() && !prop.isGraded()}">
                            Closed
                            <i class="fa" ng-class="{'fa-check-circle': prop.isClosed(), 'fa-circle-o': !prop.isClosed()}"></i>
                        </span>
                        <span ng-if="prop.type == 'classic'" ng-class="{'prop-state-active': prop.isGraded(), 'prop-state-inactive': !prop.isGraded()}">
                            Graded
                            <i class="fa" ng-class="{'fa-check-circle': prop.isGraded(), 'fa-circle-o': !prop.isGraded()}"></i>
                        </span>
                </p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <button type="button" class="btn btn-primary pull-left channel-standard-button extra-h-pad">Edit</button>
            <button type="button" class="btn btn-primary pull-left channel-standard-button extra-h-pad">Save For Later</button>
            <button type="button" class="btn btn-primary pull-left channel-standard-button extra-h-pad">Publish Now</button>
        </div>
    </div>
</div>