<section data-ng-controller="AdminPropsController" data-ng-init="findPropResults()">

<div class="contestents-container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8">
            <h2>{{prop.name}} | {{prop.weekof.from | date:'MM/dd' }} -  {{prop.weekof.to | date:'MM/dd' }}</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div ui-view="contestent_triangles"></div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <div ui-view="contestent_options"></div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12">

        <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/edit/single">
            <button type="button" class="btn channel-standard-button">
                Edit
            </button>
        </a>

        <a href="/#!/" target="_blank">
            <button type="button" class="btn channel-standard-button">
                Save For Later
            </button>
        </a>

        <a href="javascript:;" ng-click="setActive()" target="_blank">
            <button type="button" class="btn channel-standard-button">
                {{prop.isactive ? 'Inactive' : 'Active'}}
            </button>
        </a>

        <a href="{{facebook_url}}" id="facebookShareLink" target="_blank">
            <button type="button" class="btn channel-standard-button">
                Distributed with facebook
            </button>
        </a>

        <a href="{{twitter_url}}" id="twitterShareLink" target="_blank">
            <button type="button" class="btn channel-standard-button">
                Distributed with twitter
            </button>
        </a>
    </div>
</div>
<hr>
<h3>Advanced Analytics</h3>
<br>

<div class="container results-wrap">
    <div class="row results-inner">
        <div class="col-md-4 col-sm-12 hidden-sm">
            <div class="border-bottom"><h2>Basic Poll Info</h2></div>
            <div class="prop-status-text-pad">
                <p>Poll Stats:</p>
                <div class="left-padding">
                    <p><h3>{{prop.counts.vote}} <small>total votes</small></h3></p>
                    <p><h3>{{prop.counts.share}} <small>total shares</small></h3></p>
                    <p><h3>{{prop.counts.view}} <small>total views</small></h3></p>
                </div>
            </div>
            <div class="prop-status-text-pad">
                <p>Poll Tags:</p>
                <div class="left-padding">
                    <p data-ng-repeat="tag in prop.tags"><span class="fp-tag-label">{{tag}}</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 visible-sm">
            <div class="border-bottom"><h2>Basic Poll Info</h2></div>
            <div class="prop-status-text-pad">
                <p>Poll Stats:
                <h3>{{prop.counts.vote}} <small>total votes</small></h3>
                <h3>{{prop.counts.share}} <small>total shares</small></h3>
                <h3>{{prop.counts.view}} <small>total views</small></h3></p>
            </div>
            <div class="prop-status-text-pad">
                <p>Poll Tags:</p>
                <div class="left-padding">
                    <p data-ng-repeat="tag in prop.tags"><span class="fp-tag-label">{{tag}}</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-12 col-xs-12 prop-stats-wrap">
            <div class="border-bottom"><h2>Poll Results & Insight</h2></div>
            <div class="prop-status-text-pad">

                <div class="radio">
                    <!-- Do not put all below span tag inside label couse radiobuttons and selects start to freackout.. Test it :P -->
                    <label>
                        <input type="radio" ng-model="option" ng-checked="" value="demographic" ng-click="setDemographicToAll()">
                    </label>
                                <span class="extra-h-pad">Gender:
                                    <select ng-model="gender" ng-options="id as name for (id,name) in filterGenderList" ng-change="updateChart()">
                                        <option value="">All</option>
                                    </select></span>

                                    <span class="extra-h-pad">Age:
                                    <select ng-model="age_from" ng-options="n for n in [] | range:13:91" ng-change="updateChart()">
                                        <option value="">--</option>
                                    </select></span>

                    To:
                    <select ng-model="age_to" ng-options="n for n in [] | range:13:91" ng-change="updateChart()">
                        <option value="">--</option>
                    </select>
                </div> <!-- .radio -->

                <div class="radio-inline">
                    <label>
                        <input type="radio" ng-model="option" ng-checked="" value="group" ng-click="setDemographicToAll()">
                    </label>
                    <span style="font-weight: 400"> Group:</span>
                                <span class="extra-h-pad">
                                <select ng-model="group" ng-options="group._id as group.name for group in groups" ng-change="updateChart()">
                                    <option value="">Select</option>
                                </select></span>


                </div> <!-- .radio -->

                <div class="radio-inline">
                    <label>
                        <input type="radio" ng-model="option" ng-checked="" value="panel" ng-click="setDemographicToAll()">
                    </label>
                    <span style="font-weight: 400">Panel:</span>
                    <select ng-model="panel" ng-options="panel._id as panel.name for panel in panels" ng-change="updateChart()">
                        <option value="">Select</option>
                    </select>

                </div> <!-- .radio -->

                <p>Total in current filter: <strong>{{results.length}}</strong></p>
            </div>
            <div class="chart-wrap">

                <div class="hidden-lg row">
                    <div class="col-xs-12 col-sm-7 col-md-12 col-lg-7">
                        <h4>Results Pie Chart:</h4>
                        <div class="prop-status-pie-chart-wrap">
                            <div class="pie-chart-pos">
                                <highchart id="chart1" config="pieChartConfig"></highchart>
                            </div>
                        </div>
                    </div><!-- .col-xs-12 col-sm-7 col-md-12 col-lg-7 -->
                    <div class="col-xs-12 col-sm-5 col-md-12 col-lg-5">
                        <h4>Results Legend:</h4>
                        <div class="prop-status-pie-legend-wrap">
                            <ul style="list-style: none; padding-left: 0px;">
                                <li data-ng-repeat="legend in pieChartLegend">
                                    <div class="legend_color legend-pos" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                                    <div style="float: left; ">&nbsp;&nbsp;{{legend.y | number: 2}}% - {{legend.name}}</div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-xs-12 col-sm-5 col-md-12 col-lg-5 -->
                    <div class="clearfix"></div>
                </div><!-- .hidden-lg row -->

                <div class="visible-lg row">
                    <div class="col-xs-12 col-sm-7 col-md-12 col-lg-7">
                        <h4>Results Pie Chart:</h4>
                        <div class="prop-status-pie-chart-wrap">
                            <div class="pie-chart-pos">
                                <highchart  id="chart1" config="pieChartConfig"></highchart>
                            </div>
                        </div>
                    </div><!-- .col-xs-12 col-sm-7 col-md-12 col-lg-7 -->
                    <div class="col-xs-12 col-sm-5 col-md-12 col-lg-5">
                        <h4>Results Legend:</h4>
                        <div class="prop-status-pie-legend-wrap-lg">
                            <ul style="list-style: none; padding-left: 0px;">
                                <li data-ng-repeat="legend in pieChartLegend">
                                    <div class="legend_color legend-pos" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                                    <div style="float: left; ">&nbsp;&nbsp;{{legend.y | number: 2}}% - {{legend.name}}</div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-xs-12 col-sm-5 col-md-12 col-lg-5 -->
                    <div class="clearfix"></div>
                </div><!-- .visible-lg row -->

            </div>

            <div class="chart-wrap">
                <h4>Voter Insight:</h4>

                <div class="row">

                    <div class="stacked-chart-wrap col-xs-12 col-sm-4">
                        <highchart  id="chartGender" config="barChartConfigGender" class="barchart" ></highchart>
                    </div>

                    <div class="stacked-chart-wrap col-xs-12 col-sm-4">
                        <highchart  id="chartAge" config="barChartConfigAge" class="barchart" ></highchart>
                    </div>

                    <div class="stacked-chart-wrap col-xs-12 col-sm-4">
                        <highchart id="chartRelationship" config="barChartConfigRelationshipStatus" class="barchart" ></highchart>
                    </div>

                    <div class="clearfix"></div>

                </div>

            </div>

        </div><!-- .prop-stats-wrap -->
    </div><!-- .row .results-inner -->

    <div class="row results-inner">
        <div class="col-xs-12"><div class="border-bottom"><h2>Poll Performance & Advanced Stats</h2></div></div>
    </div>
    <div class="row results-inner">
        <div class="col-xs-12 col-md-8 chart-wrap">
            <h4>Poll Performance:</h4>
            <div class="line-chart-pos">
                <highchart id="chartLine" config="lineChartConfig" class="barchartline" ></highchart>
            </div><!-- .chart-pos -->
        </div><!-- .line-chart-wrap -->

        <div class="col-xs-12 col-md-3 col-md-offset-1 chart-wrap">
            <h4>Advanced Stats:</h4>
            <div class="left-padding">
                <p><h3>65% <small>vote percent</small></h3></p>
                <p><h3>20% <small>share percent</small></h3></p>
                <p><h3>11 <small>views per share</small></h3></p>
                <p><h3>5 <small>new voters</small></h3></p>
                <p><h3>2 <small>new voters per share</small></h3></p>
            </div>

        </div>
    </div><!-- .row .results-inner -->
</div><!-- .container .results-wrap-->
</section>