<section data-ng-controller="UsersController" data-ng-init="findUser()">
    <div class="container hidden-sm hidden-xs">
        <div class="row my-account-wrap">
            <div class="col-sm-4 center-block">
                <img ng-src="{{currentchannel.picture}}" class="img-circle center-block logo-shadow" width="300px" >
            </div>
            <div class="col-sm-7 col-md-offset-1">
                <form class="signin form-horizontal" data-ng-submit="update()">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="firstname">First Name</label>
                        <div class="col-md-8">
                            <input id="firstname" class="form-control" type="text" name="user.firstname" placeholder="First Name" data-ng-model="user.firstname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="lastname">Last Name</label>
                        <div class="col-md-8">
                            <input id="lastname" class="form-control" type="text" name="user.lastname" placeholder="Last Name" data-ng-model="user.lastname"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="username">Display Name</label>
                        <div class="col-md-8">
                            <input id="username" class="form-control" type="text" name="user.username" placeholder="Display Name" data-ng-model="user.username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button class="btn channel-standard-button" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div><!-- .col-sm-7 col-md-offset-1 -->
        </div><!-- .row .my-account-wrap -->
    </div>
</section>