<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <h2>View User</h2>

    <form class="signin form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Full Name</label>
            <div class="col-md-8">
                <span>{{user.name}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Email</label>
            <div class="col-md-8">
                <span>{{user.email}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Username</label>
            <div class="col-md-8">
                <span>{{user.username}}</span>
            </div>
        </div>


        <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-primary" type="button" data-ng-click="edit();">Edit</button>
            or
            <a class="show-login" data-ng-click="remove();">Delete</a>
        </div>


    </form>

</section>
