<section data-ng-controller="AdminAnalyticsController" data-ng-init="getChannelInsights()">

    <!-- Better mobile nav for later ~j
    <nav class="navbar navbar-default visible-xs visible-sm" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div><!-- /.navbar-collapse
        </div><!-- /.container-fluid
    </nav> -->

    <ul class="nav nav-tabs nav-justified" id="fp-tabs" role="tablist">
        <li class="active"><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/channel"><span class="glyphicon glyphicon-stats"></span> Channel Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/prop"><span class="glyphicon glyphicon-th-list"></span> Poll Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/product"><span class="glyphicon glyphicon-th-list"></span> Product Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/user"><span class="glyphicon glyphicon-user"></span> User Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/edit"><span class="glyphicon glyphicon-tasks"></span> Channel Settings</a></li>
    </ul>


    <div class="container tab-content-wrap">
    <div class="row tab-content-inner">
        <div class="border-bottom"><h2>Channel Insight</h2></div>

        <h3>Basic Channel Stats</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p><h3>{{insights.total_shares}} <small>Total Shares</small></h3></p>
                <p><h3>{{insights.total_polls}} <small>Total Polls</small></h3></p>
                <p><h3>{{insights.total_poll_votes}} <small>Total Poll Votes</small></h3></p>
                <p><h3>{{insights.avg_votes_per_poll | number: 2 }} <small>Avg. Votes per Poll</small></h3></p>
                <p><h3>{{insights.avg_shares_per_poll | number: 2 }} <small>Avg. Shares per Poll</small></h3></p>

            </div>
            <div class="col-xs-12 col-sm-6">
                <p><h3>{{insights.total_subscribers}} <small>Total Subscribers</small></h3></p>
            <!--
                <p><h3>{{insights.total_quiz}} <small>Total Quizzes</small></h3></p>
                <p><h3>{{insights.total_prop_votes}} <small>Total Quiz Votes</small></h3></p>
                <p><h3>{{insights.avg_votes_per_quiz | number: 2}} <small>Avg. Votes per Quiz</small></h3></p>
                <p><h3>{{insights.avg_shares_per_quiz | number: 2}} <small>Avg. Shares per Quiz</small></h3></p>
            -->
            </div>
        </div>

    <!-- don't know what these are for
    <p><h3>{{insights.total_prop_shares}} <small>Total Prop Shares</small></h3></p>
    <p><h3>{{insights.total_poll_shares}} <small>Total Poll Shares</small></h3></p>
    -->

    <h3>Advanced Stats </h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p><h3>{{insights.total_votes * 100 / insights.total_views | number: 2 }}% <small>average vote percent</small></h3></p>
                <p><h3>{{insights.total_reach + insights.total_subscribers | number: 0}} <small>total reach</small></h3></p>
                <p><h3>{{insights.total_shares * 100 / insights.total_views | number: 2 }}% <small>average share percent</small></h3></p>
                <p><h3>{{insights.total_shares / insights.total_votes | number: 2 }} <small>shares per votes</small></h3></p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <highchart id="chart1" config="pieChartConfig" class="span9" ></highchart>
            </div>
        </div>
    </div><!-- .tab-content-inner -->
    </div><!-- .tab-content-wrap -->
</section>