<section data-ng-controller="AdminAnalyticsController">

    <ul class="nav nav-tabs nav-justified" id="fp-tabs" role="tablist">
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/channel"><span class="glyphicon glyphicon-stats"></span> Channel Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/prop"><span class="glyphicon glyphicon-th-list"></span> Poll Insight</a></li>
        <li class="active"><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/product"><span class="glyphicon glyphicon-th-list"></span> Product Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/user"><span class="glyphicon glyphicon-user"></span> User Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/edit"><span class="glyphicon glyphicon-tasks"></span> Channel Settings</a></li>
    </ul>

    <div class="container tab-content-wrap">
        <div class="row tab-content-inner">
            <div class="border-bottom"><h2>Products Filtering & Insight</h2></div>

            <h3>Product Tags</h3>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                <form class="form-horizontal" role="form" data-ng-init="findTags('product')">
                    <div class="form-group" ng-repeat="tagKey in tagListHolder">
                        <label class="col-sm-4 control-label">Product Tag:</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" ng-model="tagListModel[$index]">
                                <option value="">--</option>
                                <option value="{{tag}}" ng-repeat="tag in tags">{{tag}}</option>
                            </select>
                        </div>
                    </div><!-- .form-group -->
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">
            <button ng-click="addTag()" class="btn btn-sm channel-inverted-button">+ Add Another</button>
            </div>
            </div><!-- row -->

            <!-- Unused original code ~j
            <ul id="voting-prop-list" class="unstyled" data-ng-init="findTags()">
            <li ng-repeat="tagKey in tagListHolder">
            <span class="extra-h-pad">Prop:
                <select ng-model="tagListModel[$index]">
                    <option value="">All</option>
                    <option value="{{tag}}" ng-repeat="tag in tags">{{tag}}</option>
                </select>
            </span>
            </li>
            </ul>
            -->

    <h3>Demographics</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Gender:</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" ng-model="gender" ng-options="id as name for (id,name) in filterGenderList">
                                <option value="">All</option>
                                <option value="">Male</option>
                                <option value="">Female</option>
                                <option value="">Other</option>
                            </select>
                        </div>
                    </div><!-- .form-group -->
                </form>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Relationship Status:</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" ng-model="relationship_status" ng-options="id as name for (id,name) in relationshipStatusList">
                                <option value="">All</option>
                                <option value="">Single</option>
                                <option value="">Married</option>
                                <option value="">In a relationship</option>
                            </select>
                        </div>
                    </div><!-- .form-group -->
                </form>

                <form class="form-horizontal" role="form" name="locationForm">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Location:</label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="location" name="location" ng-minlength="3">
                            <div><span class="error" ng-show="locationForm.location.$error.minlength">The location should be 3 characters long minimun</span></div>
                        </div>
                    </div><!-- .form-group -->
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Age:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="age_from" ng-options="n for n in [] | range:13:91">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="age_to" ng-options="n for n in [] | range:13:91">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->


            </div>
        </div><!-- row -->


    <h3>Product & Sharing Analytics</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Number of Votes:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfVotes_from" ng-options="n for n in [] | range:0:100" >
                                    <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfVotes_to" ng-options="n for n in [] | range:0:100">
                                    <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Number of Shares:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfShres_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfShres_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Number of Views:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfViews_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfViews_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->


                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Number of New Voters:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfNewVoters_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfNewVoters_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

            </div><!-- .col-xs-12 col-sm-6 -->

            <div class="col-xs-12 col-sm-6">


                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Vote Percent:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="votePercent_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="votePercent_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Share Percent:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="sharePercent_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="sharePercent_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">View Percent:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="viewPercent_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="viewPercent_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">New Voters per Share:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="newVotersPerShare_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="newVotersPerShare_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

            </div><!-- .col-xs-12 col-sm-6 -->
        </div><!-- row -->
        <div class="clearfix"></div>
        <div class="border-bottom"><h2></h2></div>

        <!-- what is this for?
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="prop in props">
                <span>{{prop._id}}: </span>
                <span><b>{{prop.name}}</b></span>
            </li>
        </ul>
        -->
        <div class="insight-buttons-wrap">
            <button id="run_test" type="button" class="btn pull-left channel-inverted-button" ng-click="runPropTest('product')" name="run_test">{{runLabel}}</button>
        </div><!-- .insight-buttons-wrap -->

        </div> <!-- .row tab-content-inner -->
    </div><!-- .container tab-content-wrap -->


    <div class="container tab-content-wrap">
        <div class="border-bottom"><h2>Results</h2></div>
        <div class="userlist-wrap">
            <table class="table table-bordered table-striped table-condensed table-hover fp-userlist">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th># Views</th>
                    <th># Votes</th>
                    <th># Shares</th>
                    <th>Status</th>
                    <th>Created Date</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prop in props">
                        <td><a ng-click="showResultsModalPreview(prop)" title="View poll results">{{prop.name}}</a></td>
                        <td >{{prop.counts.view}}</td>
                        <td >{{prop.counts.vote}}</td>
                        <td >{{prop.counts.share}}</td>
                        <td>{{prop.status}}</td>
                        <td >
                            <span data-ng-hide="prop.status == 'suggested'">{{prop.timestamps.created | date:'MM/dd/yyyy'}}</span>
                            <span data-ng-show="prop.status == 'suggested'">{{prop.timestamps.suggested | date:'MM/dd/yyyy'}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- .tab-content-wrap -->
</section>