<div class="container tab-content-wrap">
    <div class="row results-inner">
        <div class="col-md-4 col-sm-12 hidden-sm">
            <div class="border-bottom"><h2>Poll Info</h2></div>
            <img class="img-responsive extra-top-pad" ng-src="{{prop.image}}" src="/img/fp/ps400x400.png">
            <h3>{{prop.name}}</h3>
            <h4>Poll Status: <strong style="text-transform: uppercase;">{{prop.status}}</strong></h4>
            <h4>Published Date:
            <strong>
                <span data-ng-hide="prop.status == 'suggested'">{{prop.timestamps.created | date:'MM/dd/yyyy'}}</span>
                <span data-ng-show="prop.status == 'suggested'">{{prop.timestamps.suggested | date:'MM/dd/yyyy'}}</span>
            </strong></h4>
        </div> <!-- .col-md-4 col-sm-12 hidden-sm -->

        <div class="col-md-4 col-sm-12 visible-sm">
            <div class="border-bottom"><h2>Poll Info</h2></div>
            <img class="img-responsive extra-top-pad" ng-src="{{prop.image}}" src="/img/fp/ps400x400.png">
            <h3>{{prop.name}}</h3>
            <h4>Poll Status: <strong style="text-transform: uppercase;">{{prop.status}}</strong></h4>
            <h4>Published Date:
            <strong>
                <span data-ng-hide="prop.status == 'suggested'">{{prop.timestamps.created | date:'MM/dd/yyyy'}}</span>
                <span data-ng-show="prop.status == 'suggested'">{{prop.timestamps.suggested | date:'MM/dd/yyyy'}}</span>
            </strong></h4>
        </div> <!-- .col-md-4 col-sm-12 hidden-sm -->

        <div class="col-md-8 col-sm-12 col-xs-12 prop-stats-wrap">
            <div class="border-bottom"><h2>Poll Results</h2></div>

            <div class="chart-wrap">

                <div class="hidden-lg row">
                    <div class="col-xs-12 col-sm-7 col-md-12 col-lg-7">
                        <h4>Results Pie Chart:</h4>
                        <div class="prop-status-pie-chart-wrap">
                            <div class="pie-chart-pos">
                                <highchart id="chart1" config="pieChartConfig"></highchart>
                            </div>
                        </div>
                    </div><!-- .col-xs-12 col-sm-7 col-md-12 col-lg-7 -->
                    <div class="col-xs-12 col-sm-5 col-md-12 col-lg-5">
                        <h4>Results Legend:</h4>
                        <div class="prop-status-pie-legend-wrap">
                            <ul style="list-style: none; padding-left: 0px;">
                                <li data-ng-repeat="legend in pieChartLegend">
                                    <div class="legend_color legend-pos" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                                    <div style="float: left; ">&nbsp;&nbsp;{{llegend.y | number: 2 | number: 2}}% - {{legend.name}}</div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-xs-12 col-sm-5 col-md-12 col-lg-5 -->
                    <div class="clearfix"></div>
                </div><!-- .hidden-lg row -->

                <div class="visible-lg row">
                    <div class="col-xs-12 col-sm-7 col-md-12 col-lg-7">
                        <h4>Results Pie Chart:</h4>
                        <div class="prop-status-pie-chart-wrap">
                            <div class="pie-chart-pos">
                                <highchart  id="chart1" config="pieChartConfig"></highchart>
                            </div>
                        </div>
                    </div><!-- .col-xs-12 col-sm-7 col-md-12 col-lg-7 -->
                    <div class="col-xs-12 col-sm-5 col-md-12 col-lg-5">
                        <h4>Results Legend:</h4>
                        <div class="prop-status-pie-legend-wrap-lg">
                            <ul style="list-style: none; padding-left: 0px;">
                                <li data-ng-repeat="legend in pieChartLegend">
                                    <div class="legend_color legend-pos" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                                    <div style="float: left; ">&nbsp;&nbsp;{{legend.y | number: 2}}% - {{legend.name}}</div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-xs-12 col-sm-5 col-md-12 col-lg-5 -->
                    <div class="clearfix"></div>
                </div><!-- .visible-lg row -->

            </div>
        </div><!-- .prop-stats-wrap -->
    </div><!-- .row .results-inner -->

    <div class="row results-inner">
        <div class="col-xs-12"><div class="border-bottom"><h2>Poll Stats</h2></div></div>
    </div>

    <div class="row results-inner">
        <div class="col-xs-12 col-md-5 chart-wrap">
            <h4>Basic Poll Stats:</h4>
            <div class="left-padding">
                <p><h3>{{prop.counts.vote}} <small>total votes</small></h3></p>
                <p><h3>{{prop.counts.share}} <small>total shares</small></h3></p>
                <p><h3>{{prop.counts.view}} <small>total views</small></h3></p>
            </div>

        </div>
        <div class="col-xs-12 col-md-7 chart-wrap">
            <div class="chart-wrap">
                <h4>Voter Insight:</h4>

                <div class="row">
                    <div class="stacked-chart-wrap col-xs-12 col-sm-4">
                        <highchart  id="chartGender" config="barChartConfigGender" class="barchart" ></highchart>
                    </div>

                    <div class="stacked-chart-wrap col-xs-12 col-sm-4">
                        <highchart  id="chartAge" config="barChartConfigAge" class="barchart" ></highchart>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- .col-xs-12 col-md-7  .chart-wrap -->
    </div><!-- .row .results-inner -->
</div><!-- .container .results-wrap-->