<section data-ng-controller="AdminAnalyticsController">

    <ul class="nav nav-tabs nav-justified" id="fp-tabs" role="tablist">
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/channel"><span class="glyphicon glyphicon-stats"></span> Channel Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/prop"><span class="glyphicon glyphicon-th-list"></span> Poll Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/product"><span class="glyphicon glyphicon-th-list"></span> Product Insight</a></li>
        <li class="active"><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/user"><span class="glyphicon glyphicon-user"></span> User Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/edit"><span class="glyphicon glyphicon-tasks"></span> Channel Settings</a></li>
    </ul>

    <div class="container tab-content-wrap">
        <div class="row tab-content-inner">
        <div class="border-bottom"><h2>User Insight & Filtering</h2></div>

        <h3>Demographics</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Gender:</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" ng-model="gender" ng-options="id as name for (id,name) in filterGenderList">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div><!-- .form-group -->
                </form>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Relationship Status:</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" ng-model="relationship_status" ng-options="id as name for (id,name) in relationshipStatusList">
                                <option value="">--</option>
                            </select>
                        </div>
                    </div><!-- .form-group -->
                </form>

                <form class="form-horizontal" role="form" name="locationForm">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Location:</label>
                        <div class="col-sm-8">
                            <input type="text" data-ng-model="location" name="location" ng-minlength="3">
                            <div><span class="error" ng-show="locationForm.location.$error.minlength">The location should be 3 characters long minimun</span></div>
                        </div>
                    </div><!-- .form-group -->
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Age:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="age_from" ng-options="n for n in [] | range:13:91">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="age_to" ng-options="n for n in [] | range:13:91">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->
            </div>
        </div><!-- row -->


        <h3>Voting History</h3>

        <div data-ng-init="findProps()">
            <div class="row" ng-repeat="propKey in propListHolder">
                <div class="col-xs-12 col-sm-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Poll:</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" ng-model="propListModel[$index].prop" ng-options="prop._id as prop.name for prop in props" ng-change="updateResponse(propKey)">
                                    <option value="">--</option>
                                </select>
                            </div>
                        </div><!-- .form-group -->
                    </form>
                </div><!-- .col-xs-12 col-sm-6 -->

                <div class="col-xs-12 col-sm-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Response:</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" ng-model="propListModel[$index].answer" ng-options="answer.id as answer.name for answer in propListResponseList[$index]">
                                    <option value="">--</option>
                                </select>
                            </div>
                        </div><!-- .form-group -->
                    </form>
                </div><!-- .col-xs-12 col-sm-6 -->
            </div><!-- row -->
        </div>

        <button ng-click="addVotingHistory()" class="btn btn-sm pull-right channel-inverted-button">+ Add Another</button>

        <h3>Product Tags</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form class="form-horizontal" role="form" data-ng-init="findTags('product')">
                    <div class="form-group" ng-repeat="tagKey in tagListHolder">
                        <label class="col-sm-4 control-label">Product Tag:</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" ng-model="tagListModel[$index]">
                                <option value="">--</option>
                                <option value="{{tag}}" ng-repeat="tag in tags">{{tag}}</option>
                            </select>
                        </div>
                    </div><!-- .form-group -->
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">
                <button ng-click="addTag()" class="btn btn-sm channel-inverted-button">+ Add Another</button>
            </div>
        </div><!-- row -->

        <h3>Vote & Sharing Analytics</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Number of Votes:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfVotes_from" ng-options="n for n in [] | range:0:100" >
                                    <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfVotes_to" ng-options="n for n in [] | range:0:100">
                                    <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Number of Shares:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfShres_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfShres_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Number of Views:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfViews_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfViews_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->


                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Number of New Voters:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfNewVoters_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="numberOfNewVoters_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

            </div><!-- .col-xs-12 col-sm-6 -->

            <div class="col-xs-12 col-sm-6">


                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Vote Percent:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="votePercent_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="votePercent_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">Share Percent:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="sharePercent_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="sharePercent_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">View Percent:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="viewPercent_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="viewPercent_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

                <form role="form-horizontal"><!-- from -> to form -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group"><!-- Will come back to fix right margin on sm size ~j -->
                                <label class="control-label col-sm-8">New Voters per Share:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="newVotersPerShare_from" ng-options="n for n in [] | range:0:100" >
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-3">To:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm small-selector" ng-model="newVotersPerShare_to" ng-options="n for n in [] | range:0:100">
                                        <option value="">--</option>
                                    </select>
                                </div>
                            </div><!-- .form-group -->
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </form><!-- from -> to form -->

            </div><!-- .col-xs-12 col-sm-6 -->
        </div><!-- row -->

        <div class="clearfix"></div>

        <div class="border-bottom"><h2></h2></div>

        <div class="insight-buttons-wrap">
            <button id="run_test" type="button" class="btn pull-left channel-inverted-button" ng-click="runUserTest()" name="run_test">{{runLabel}}</button>
        </div><!-- .insight-buttons-wrap -->

        </div> <!-- .row tab-content-inner -->
    </div><!-- .container tab-content-wrap -->

    <div class="container tab-content-wrap">
        <div class="border-bottom"><h2>Results</h2></div>
        <div class="userlist-wrap">
            <table class="table table-bordered table-striped table-condensed table-hover fp-userlist">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Current Points</th>
                    <th>Total Points</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>
                        <a href="#!/fp/user/{{user._id}}/view" title="View user information">                        
                            <span data-ng-hide="user.username">{{user.firstname}} {{user.lastname | ucfirst}}</span>
                            <span data-ng-show="user.username">{{user.username}}</span>
                        </a>
                    </td>
                    <td>{{current_points}}</td>
                    <td>{{user.number.total_points}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- .tab-content-wrap -->


    <!--<h3>Sentiment Score Correlation (-)</h3>

    <span class="extra-h-pad">Sentiment Tag:
        <select ng-model="sentiment_tag">
            <option value="">All</option>
        </select>
    </span>

    <span class="extra-h-pad">Sentiment Correlation:
        <select ng-model="sentimentCorrelation_from" >
            <option value="">--</option>
        </select>
    </span>

    To:
    <select ng-model="sentimentCorrelation_to" >
        <option value="">--</option>
    </select>

    <div class="clearfix"></div>
    <button>+Add Another</button>-->


    <!--<h3>Sharing Propensity (-)</h3>

    <span class="extra-h-pad">Sharing Percentage:
        <select ng-model="sharingPercentage_from" >
            <option value="">--</option>
        </select>
    </span>

    To:
    <select ng-model="sharingPercentage_to" >
        <option value="">--</option>
    </select>

    <span class="extra-h-pad">Total Shares:
        <select ng-model="total_shares">
            <option value="">All</option>
        </select>
    </span>
    <div class="clearfix"></div>

    <span class="extra-h-pad">Sentiment Tags:
        <select ng-model="sentiment_tags">
            <option value="">All</option>
        </select>
    </span>

    <span class="extra-h-pad">Total Sentiment Tag Shares:
        <select ng-model="totalSentiment_tags">
            <option value="">All</option>
        </select>
    </span>

    <div class="clearfix"></div>

    <span class="extra-h-pad">Sentiment Sharing Percentage:
        <select ng-model="sentimentSharingPercentage_from" >
            <option value="">--</option>
        </select>
    </span>

    To:
    <select ng-model="sentimentSharingPercentage_to" >
        <option value="">--</option>
    </select>-->
</section>