{% extends '../layouts/signin.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="main">
                <h3>User Log In</h3>
                <form role="form" method="post" action="/user/session">
                    <input type="hidden" name="is_admin" value="false">
                    <div class="form-group">
                        <label for="email">Username or email</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <a class="pull-right" href="/forgotpassword">Forgot password?</a>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox">Remember me </label>
                    </div>
                    <button type="submit" class="btn btn-primary channel-standard-button">
                        Log In
                    </button>
                </form>
                <div class="admin-padding"> If you are one of our Alpha channel admins please <a href="/#!/admin_login">log in here.</a></div>
            </div>
        </div>
    </div>
{% endblock %}
