<div class="answer-wrapper-progressbar facebook_stat-wrapper-{{facebook_stat.id}}"> <!-- swapped in for results -->

    <div class="clearfix  hidden-lg hidden-md" ><!-- first result xs, sm -->
        <div class="row">
            <div class="col-xs-3 col-sm-2">
                <div class="answer-name-wrapper-{{facebook_stat.id}} answer-name-wrapper-lg">{{facebook_stat.name}}</div><!-- answer name -->
            </div><!-- .col-md-3 col-lg-3 -->
            <div class="col-xs-7 col-sm-8 progress-wrap">
                <div class="progress progress-{{facebook_stat.id}}"><!-- Progress bar bkg -->
                    <div class="progress-bar progress-bar-{{facebook_stat.id}}" ng-style="{'width': facebook_stat.total}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                </div><!-- .progress -->
            </div><!-- col-md-9 col-lg-9 -->
            <div class="col-xs-1 percent-wrapper">
                <div class="answer-percentage-wrapper-{{facebook_stat.id}}">{{facebook_stat.total}}</div>
            </div>
        </div><!-- .row -->
    </div><!-- first result xs sm -->

    <div class="clearfix visible-lg visible-md"><!-- first result md, lg -->
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <div class="answer-name-wrapper-{{facebook_stat.id}} answer-name-wrapper-lg">{{facebook_stat.name}}</div><!-- answer name -->
            </div><!-- .col-md-3 col-lg-3 -->
            <div class="col-md-7 col-lg-8 progress-wrap">
                <div class="progress progress-{{facebook_stat.id}}"><!-- Progress bar bkg -->
                    <div class="progress-bar progress-bar-{{facebook_stat.id}}" ng-style="{'width': facebook_stat.total}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                </div><!-- .progress -->
            </div><!-- col-md-9 col-lg-9 -->
            <div class="col-md-1 percent-wrapper">
                <div class="answer-percentage-wrapper-{{facebook_stat.id}}">{{facebook_stat.total}}</div>
            </div>
        </div><!-- .row -->
    </div><!-- first result md lg -->

</div>