<div class="answer-wrapper-progressbar answer-wrapper-{{answer.id}}" style="display: none"> <!-- swapped in for results -->

    <div class="clearfix  hidden-lg hidden-md" ><!-- first result xs, sm -->
        <div class="container">
            <div class="row">
                <div class="col-xs-1 icon-answer-wrap-xs">
                        <i class="icon-answer-xs fa fa-check-circle correct-answer fa-2x ok-{{answer.id}}" style="display: none"></i><!-- correct -->
                        <i class="icon-answer-xs fa fa-times-circle incorrect-answer fa-2x remove-{{answer.id}}" style="display: none"></i><!-- incorrect -->
                </div>
                <div class="col-xs-10 progress-bars-xs">
                    <div class="answer-name-wrapper-{{answer.id}} answer-name-wrapper pull-left"></div><!-- answer name -->
                    <div class="answer-percentage-wrapper-{{answer.id}} pull-left percent-wrapper-sm"></div><!-- percent -->
                    <div class="clearfix"></div>
                    <div class="progress progress-{{answer.id}}" style="display: none"><!-- Progress bar bkg -->
                        <div class="progress-bar progress-bar-{{answer.id}}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- first result xs sm -->

    <div class="clearfix visible-lg visible-md"><!-- first result md, lg -->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-answer-wrap">
                        <span class="icon-answer-lg fa fa-check-circle correct-answer fa-2x ok-{{answer.id}}" style="display: none"></span><!-- correct -->
                        <span class="icon-answer-lg fa fa-times-circle incorrect-answer fa-2x remove-{{answer.id}}" style="display: none"></span><!-- inccorrect -->
                    </div>
                    <div class="answer-name-wrapper-{{answer.id}} answer-name-wrapper-lg"></div><!-- answer name -->
                </div><!-- .col-md-3 col-lg-3 -->
                <div class="col-md-8 progress-wrap">
                    <div class="progress progress-{{answer.id}}" style="display: none"><!-- Progress bar bkg -->
                        <div class="progress-bar progress-bar-{{answer.id}}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                    </div><!-- .progress -->
                </div><!-- col-md-9 col-lg-9 -->
                <div class="col-md-1 percent-wrapper">
                    <div class="answer-percentage-wrapper-{{answer.id}}"></div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- first result md lg -->

</div>