
    <div class="col-sm-12 no-padding">



        <div data-ng-repeat="(index, prop) in propset.props" class="multi-question-wrap">
            <!-- Multiquestion HEADER -->
            <div class="container container-xs-height multi-question-title">
                <div class="row row-xs-height multi-question-title-inner">
                    <div class="col-xs-1 question-number-wrap col-xs-height"><span class="first-number">{{ $index + 1 }}</span>  <span class="second-number">/ {{total_props}}</span></div>
                    <div class="col-xs-11 col-xs-height visible-sm visible-xs"><h4>{{ prop.name }}</h4></div>
                    <div class="col-xs-11 col-xs-height visible-md visible-lg"><h3>{{ prop.name }}</h3></div>
                </div>
            </div><!-- multi-question-title -->


            <!-- MULTIQUESTION TAB CONTENT -->
            <div class="tab-content-{{prop.guid}}"
                 data-ng-init="basicList[prop.guid] = true; collapseList[prop.guid] = true"
                 data-slide-toggle="collapseList[prop.guid]"
                 data-elementtoggle="['.prop-collapse-wrapper-{{prop.guid}}', '.prop-expand-wrapper-{{prop.guid}}']"
                 data-propguid="{{prop.guid}}">

                <!-- BASIC TAB -->
                <div class="basic slide-down basic-{{prop.guid}}" data-ng-show="basicList[prop.guid]">

                    <!-- OPTIONS -->
                    <div data-slide-toggle="collapseList[prop.guid]"
                         data-elementtoggle="['.prop-collapse-wrapper-{{prop.guid}}', '.prop-expand-wrapper-{{prop.guid}}']"
                         data-propguid="{{prop.guid}}">

                        <div class="prop-answer-choice-wrapper-{{prop.guid}} radio-wrap"><!-- original radio choices, swapped out -->
                            <div data-ng-repeat="(aindex, answer) in prop.answers">
                                <div style="display: block" ng-hide="!answer.name || answer.name == ''">
                                    <input type="radio"
                                           value="{{answer.id}}"
                                           ng-model="prop.voted"
                                           propguid="{{prop.guid}}"
                                           answerid="{{answer.id}}"
                                           icheck>
                                    {{ answer.name }}
                                </div>
                            </div>
                        </div><!-- original radio choices, swapped out -->

                    </div>
                    <span class="prop-answer-loadingresults-wrapper-{{prop.guid}}" style="display: none">
                        <div class="loading-wrap">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate spinner-pad"></span>Loading results...
                        </div>
                    </span>

                    <!-- PROGRESS BARS -->
                    <div  class="prop-answer-chart-wrapper-{{prop.guid}}" style="display: none">
                        <div class="collapse-wrapper"  >
                            <!-- ANSWERS RADIO BUTTONS-->
                            <div class="prop-answer-wrapper-{{prop.guid}}">
                                <div data-ng-repeat="(aindex, answer) in prop.answers">
                                    <div ui-view="vote_answers"></div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="prop-correctanswer-wrapper-{{prop.guid}} multiquestion-correctanswer-wrapper" ></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- CORRECT OR INCORRECT ANSWER IF QUIZ-->
                                    <div class="col-md-6 prop-collapse-answer pull-left">
                                        <span class="collapse-ok-icon-{{prop.guid}} correct-answer" style="display: none;"><i class="fa fa-check-circle fa-lg correct-answer"></i> Correct</span>
                                        <span class="collapse-remove-icon-{{prop.guid}} incorrect-answer" style="display: none;"><i class="fa fa-times-circle fa-lg incorrect-answer"></i> Incorrect</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .multi-question-footer -->
                </div> <!-- .cssFade .prop-answer-chart-wrapper-{{prop.guid}} -->


                <!-- ADVANCED TAB -->
                <div class="advanced advanced-{{prop.guid}}" data-ng-show="advancedList[prop.guid]">

                    <div class="col-xs-12 chart-wrap">
                        <h3>
                            <span ng-if="prop.type == 'opinion'">Poll</span>
                            <span ng-if="prop.type == 'quiz'">Quiz</span>
                            <span ng-if="prop.type == 'classic'">Prop</span>
                            Stats:

                            <span class="left-padding">
                                {{prop.counts.vote}} <small>votes</small>  {{prop.counts.share}} <small>shares</small>  {{prop.counts.view}} <small>views</small>
                            </span>
                        </h3>
                    </div> <!-- .col-xs-12 chart-wrap -->

                    <div class="visible-xs">
                        <div class="col-xs-12">
                            <h4>Results Pie Chart: ( Touch for Detail )</h4>

                            <div class="multi-pie-chart-pos center-block">
                                <highchart id="chart1" config="charts[prop.guid]"></highchart>
                            </div>

                        </div><!-- .col-xs-12 col-sm-7 col-md-12 col-lg-7 -->
                        <div class="col-xs-12">
                            <h4>Results Legend:</h4>
                            <div class="prop-status-pie-legend-wrap">
                                <ul style="list-style: none; padding-left: 0px;">
                                    <li data-ng-repeat="legend in legends[prop.guid]">
                                        <div class="legend_color legend-pos" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                                        <div style="float: left; ">&nbsp;&nbsp;{{legend.y | number: 2}}% - {{legend.name}}</div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col-xs-12 col-sm-5 col-md-12 col-lg-5 -->
                        <div class="clearfix"></div>
                    </div><!-- .hidden-lg row -->

                    <div class="hidden-xs chart-wrap">
                        <div class="col-sm-7">
                            <h4>Results Pie Chart:</h4>
                            <div class="prop-status-pie-chart-wrap">
                                <div class="pie-chart-pos">
                                    <highchart  id="chart2" config="charts[prop.guid]"></highchart>
                                </div>
                            </div>
                        </div><!-- .col-xs-12 col-sm-7 col-md-12 col-lg-7 -->
                        <div class="col-sm-5">
                            <h4>Results Legend:</h4>
                            <div class="prop-status-pie-legend-wrap-lg">
                                <ul style="list-style: none; padding-left: 0px;">
                                    <li data-ng-repeat="legend in legends[prop.guid]">
                                        <div class="legend_color legend-pos" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                                        <div style="float: left; ">&nbsp;&nbsp;{{legend.y | number: 2}}% - {{legend.name}}</div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col-xs-12 col-sm-5 col-md-12 col-lg-5 -->

                        <div class="clearfix"></div>
                    </div><!-- .visible-lg row -->

                    <!-- //// FACEBOOK STATS //// -->


                    <div class="col-xs-12 chart-wrap"><h3>Voter Breakdown:</h3></div>

                    <div class="col-xs-12 col-md-6 chart-wrap">  <!-- Barchart Gender  -->
                        <h4>Gender</h4>
                        <div class="facebook-stats-wrapper-{{prop.guid}}">
                            <div data-ng-repeat="(afacebook_stat, facebook_stat) in facebookGenderStats[prop.guid]">
                                <div ui-view="facebook_stats"></div>
                            </div>
                        </div>
                    </div> <!-- .col-xs-12 col-md-6 chart-wrap -->

                    <div class="col-xs-12 col-md-6 chart-wrap participation-spacer">
                        <h4>Age</h4>
                        <div class="facebook-stats-wrapper-{{prop.guid}}">
                            <div data-ng-repeat="(afacebook_stat, facebook_stat) in facebookAgeStats[prop.guid]">
                                <div ui-view="facebook_stats"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- MUTLIQUESTION FOOTER - TABS -->
            <div class="clearfix"></div>
            <div class="multi-question-footer prop-collapse-wrapper-{{prop.guid}}" style="display: none">
                <div data-ng-init="currentTab[prop.guid] = 'basic'">
                    <div class="row">
                        <div ng-show="collapseList[prop.guid]" class="col-xs-4 prop-collapse-text" data-ng-class="{'collapse-active': currentTab[prop.guid] == 'basic'}" style="text-align: center;">
                            <a data-ng-click="showBasic(prop.guid)" class="visible-xs"><i class="fa fa-list-ul fa-lg footer-icons"></i></a>
                            <a data-ng-click="showBasic(prop.guid)" class="hidden-xs"><i class="fa fa-list-ul fa-lg footer-icons"></i> Basic</a>
                        </div>
                        <div ng-show="collapseList[prop.guid]" class="col-xs-4 prop-collapse-text" data-ng-class="{'collapse-active': currentTab[prop.guid] == 'advanced'}" style="text-align: center">
                            <a data-ng-click="showAdvance(prop.guid)" class="visible-xs"><i class="fa fa-pie-chart fa-lg footer-icons"></i></a>
                            <a data-ng-click="showAdvance(prop.guid)" class="hidden-xs"><i class="fa fa-pie-chart fa-lg footer-icons"></i> Advanced</a>
                        </div>
                        <div class="col-xs-4 prop-collapse-text" style="text-align: center; float: right" ng-click="collapseList[prop.guid]=!collapseList[prop.guid]">
                            <a class="visible-xs"><i class="fa fa-minus-circle fa-lg footer-icons"></i></a>
                            <a class="hidden-xs"><i class="fa fa-minus-circle fa-lg footer-icons"></i> Collapse</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="prop-expand-wrapper-{{prop.guid}}" style="display: none">
                <div class="row">
                    <div class="col-xs-4 prop-collapse-text" style="text-align: center;"></div>
                    <div class="col-xs-4 prop-collapse-text" style="text-align: center"></div>
                    <div class="col-xs-4 prop-collapse-text" style="text-align: center" ng-click="collapseList[prop.guid]=!collapseList[prop.guid]">
                        <a data-ng-click="expand(prop.guid)" class="visible-xs"><i class="fa fa-plus-circle fa-lg footer-icons"></i></a>
                        <a data-ng-click="expand(prop.guid)" class="hidden-xs"><i class="fa fa-plus-circle fa-lg footer-icons"></i> Expand</a>
                    </div>
                </div>
            </div>
        </div> <!-- .multi-question-wrap -->
    </div> <!-- .col-sm-12 no-padding -->


<div class="row" ng-if="finish">
    <div class="col-md-12">
        <button class="btn vote-button channel-standard-button" data-ng-click="goToThanks()">You have finished! Click here for the results</button>
    </div>
</div>

