<section data-ng-controller="PropSetController" data-ng-init="getViewData()">
    <div class="row">
        <div class="col-sm-12 prop-info-wrap">
            <div style="background-image: url('{{propset.image}}'); background-repeat: no-repeat; background-size: 100%;"
                 class="prop-image">
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div ui-view="vote_options" ></div>
</section>