<section data-ng-controller="PropSetController" data-ng-init="getThanksData()">
    <div class="container">
    <h3>Thanks completing the
        <span ng-if="propset.type == 'quiz'">Quiz</span>
        <span ng-if="propset.type == 'opinion'">Poll</span>:
    <em>{{propset.title}}</em></h3>
    <div class="row multi-thankyou-upper">
        <div class="col-xs-12 col-md-4" ng-show="quiz_type == 'quiz'">
            <div class="circle-container">
                <div class="circle">
                    <div class="final-score">{{score}}%</div>
                    <span>Your Score</span>
                </div>
            </div>
        </div>
        <div data-ng-class="{'col-xs-12 col-md-8': quiz_type == 'quiz', 'col-xs-12 col-md-12': quiz_type == 'poll'}">
            <div class="thankyou-text">
                {{propset.thankyoupage_text}}
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <a href="{{facebook_quiz_url}}" target="_blank">
                        <button type="button" class="btn btn-block facebook-blue thankyou-button-padding">
                        <i class="fa fa-facebook-square fa-lg icon-right-padding"></i> Share your quiz on facebook</button>
                    </a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a href="{{twitter_quiz_url}}" target="_blank">
                        <button type="button" class="btn btn-block twitter-blue thankyou-button-padding">
                            <i class="fa fa-twitter fa-lg icon-right-padding"></i> Share your quiz via twitter</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row multi-thankyou-upper" ng-show="quiz_type == 'quiz'">

        <h3>Global Results</h3>

        <div class="answer-wrapper-progressbar">
            <div class="clearfix hidden-lg hidden-md"><!-- first result xs, sm -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 progress-bars-xs">
                            <div class="answer-name-wrapper-80_100 answer-name-wrapper">80% - 100%</div>
                            <div class="pull-left percent-wrapper-sm">{{globalResults['80_100'].text}}</div><!-- percent -->
                            <div class="clearfix"></div>

                            <div class="progress progress-80_100">
                                <div class="progress-bar progress-bar-80_100" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- mystery div! -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- first result xs sm -->

            <div class="clearfix visible-lg visible-md"><!-- first result md, lg -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="answer-name-wrapper-80_100 answer-name-wrapper pull-right">80% - 100%</div><!-- answer name -->
                        </div><!-- .col-md-3 col-lg-3 -->
                        <div class="col-md-8">
                            <div class="progress progress-80_100">
                                <div class="progress-bar progress-bar-80_100" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><!-- .progress -->
                        </div><!-- col-md-9 col-lg-9 -->
                        <div class="col-md-1 percent-wrapper">
                            <div>{{globalResults['80_100'].text}}</div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- first result md lg -->


            <div class="clearfix hidden-lg hidden-md"><!-- first result xs, sm -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 progress-bars-xs">
                            <div class="answer-name-wrapper-60_79 answer-name-wrapper">60% - 79%</div>
                            <div class="pull-left percent-wrapper-sm">{{globalResults['60_79'].text}}</div><!-- percent -->
                            <div class="clearfix"></div>

                            <div class="progress progress-60_79">
                                <div class="progress-bar progress-bar-60_79" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- mystery div! -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- first result xs sm -->

            <div class="clearfix visible-lg visible-md"><!-- first result md, lg -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="answer-name-wrapper-60_79 answer-name-wrapper pull-right">60% - 79%</div><!-- answer name -->
                        </div><!-- .col-md-3 col-lg-3 -->
                        <div class="col-md-8">
                            <div class="progress progress-60_79">
                                <div class="progress-bar progress-bar-60_79" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><!-- .progress -->
                        </div><!-- col-md-9 col-lg-9 -->
                        <div class="col-md-1 percent-wrapper">
                            <div>{{globalResults['60_79'].text}}</div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- first result md lg -->

            <div class="clearfix hidden-lg hidden-md"><!-- first result xs, sm -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 progress-bars-xs">
                            <div class="answer-name-wrapper-40_59 answer-name-wrapper">40% - 59%</div>
                            <div class="pull-left percent-wrapper-sm">{{globalResults['40_59'].text}}</div><!-- percent -->
                            <div class="clearfix"></div>

                            <div class="progress progress-40_59">
                                <div class="progress-bar progress-bar-40_59" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- mystery div! -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- first result xs sm -->

            <div class="clearfix visible-lg visible-md"><!-- first result md, lg -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="answer-name-wrapper-40_59 answer-name-wrapper pull-right">40% - 59%</div><!-- answer name -->
                        </div><!-- .col-md-3 col-lg-3 -->
                        <div class="col-md-8">
                            <div class="progress progress-40_59">
                                <div class="progress-bar progress-bar-40_59" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><!-- .progress -->
                        </div><!-- col-md-9 col-lg-9 -->
                        <div class="col-md-1 percent-wrapper">
                            <div>{{globalResults['40_59'].text}}</div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- first result md lg -->



            <div class="clearfix hidden-lg hidden-md"><!-- first result xs, sm -->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 progress-bars-xs">
                            <div class="answer-name-wrapper-0_39 answer-name-wrapper">0% - 39%</div>
                            <div class="pull-left percent-wrapper-sm">{{globalResults['0_39'].text}}</div><!-- percent -->
                            <div class="clearfix"></div>

                            <div class="progress progress-0_39">
                                <div class="progress-bar progress-bar-0_39" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- mystery div! -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- first result xs sm -->

            <div class="clearfix visible-lg visible-md"><!-- first result md, lg -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="answer-name-wrapper-0_39 answer-name-wrapper pull-right">0% - 39%</div><!-- answer name -->
                        </div><!-- .col-md-3 col-lg-3 -->
                        <div class="col-md-8">
                            <div class="progress progress-0_39">
                                <div class="progress-bar progress-bar-0_39" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><!-- .progress -->
                        </div><!-- col-md-9 col-lg-9 -->
                        <div class="col-md-1 percent-wrapper">
                            <div>{{globalResults['0_39'].text}}</div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- first result md lg -->
        </div>
    </div>


    <br>
    <div class="row multi-thankyou-upper">
        <h3>Your responses</h3>
        <div ui-view="vote_options"></div>
     </div>

    <br/>
    <hr>
    <br/>
        <h3>Other Popular
            <span ng-if="propset.type == 'quiz'">Quizzes</span>
            <span ng-if="propset.type == 'opinion'">Polls</span>
        </h3>
        <div class="row" data-ng-init="findOtherPropsets()">
            <div ui-view="multiple_list"></div>
        </div>

        <div class="row" data-ng-controller="PropsController" data-ng-init="findProps()">
            <div ui-view="single_list"></div>
        </div>
    </div><!-- container -->
</section>