<link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{hostname}}/css/bootstrap.css">
<link rel="stylesheet" href="{{hostname}}/css/themes/animate.css">
<link rel="stylesheet" href="{{hostname}}/css/themes/main.css">
<link rel="stylesheet" href="{{hostname}}/css/themes/desktop.css">
<link rel="stylesheet" href="{{hostname}}/css/themes/fp-color.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="{{hostname}}/extra_js/serializeObject.js"></script>
<script src="{{hostname}}/lib/underscore/underscore.js"></script>

