{% include "_header.html" %}

    <div class="alert alert-danger" style="display: none"></div>
    <div class="alert alert-success" style="display: none"></div>



    <div class="container-fluid">
        <div class="row login-wrap">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="login-section"><h4>Sign up or login with Facebook:</h4></div>
                <a href="javascript:;" onclick="openFacebook('{{hostname}}/fb_login/{{access_token}}')" class="btn btn-lg fb-button btn-block"><i class="fa fa-facebook-square fa-lg"></i> Log in with Facebook</a></p>
            </div>
        </div><!-- .row .login-wrap -->
    </div>

    <div class="container-fluid">
        <div class="row login-wrap">
            <div class="login-section"><h4>Or Login with email:</h4></div>
            <form role="form" method="post" action="/embedded/user/session" class="loginForm">
                <input type="hidden" name="question_type" value="multiple">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder='Email'>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder='Password'>
                </div>
                <button type="submit" class="btn btn-primary channel-standard-button">
                    Log In
                </button>
            </form>
        </div>
    </div>


    <script type="text/javascript">
        var questionType = '{{questionType}}';

        $('.loginForm').submit(function (ev) {
            var form = this;
            ev.preventDefault();

            Ajax.get($(this).attr('action'), $(this).serializeObject(), function(response){
                if ( response.type == 'error' ){
                    $(".alert-danger").show();
                    $(".alert-danger").html(response.message);
                }

                if ( response.type == 'success' ){
                    Ajax.get('{{loginCallback}}', {}, function(response){
                        $(form).parent().parent().parent().html(response);
                        //window.location.reload();
                    });
                }

            });
        });

        function openFacebook(path){
            var myWindow = window.open(path, "_blank", "toolbar=no ,location=0, status=no, titlebar=no, menubar=no,scrollbars=yes,resizable=yes,width=800,height=600");
        }

        function refresh()
        {
            location.reload();
        }
    </script>

