<div class="answer-wrapper-progressbar answer-wrapper-{{answer.id}}"> <!-- swapped in for results -->

    <div class="clearfix" ><!-- first result xs, sm -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-1 icon-answer-wrap-xs">
                    <i class="icon-answer-xs fa fa-check-circle correct-answer fa-2x ok-{{answer.id}}" style="display: none"></i><!-- correct -->
                    <i class="icon-answer-xs fa fa-times-circle incorrect-answer fa-2x remove-{{answer.id}}" style="display: none"></i><!-- incorrect -->
                </div>
                <div class="col-xs-10 progress-bars-xs">
                    <div class="answer-name-wrapper-{{answer.id}} answer-name-wrapper pull-left"></div><!-- answer name -->
                    <div class="answer-percentage-wrapper-{{answer.id}} pull-left percent-wrapper-sm" style="color: #FFFFFF"></div><!-- percent -->
                    <div class="clearfix"></div>
                    <div class="progress progress-{{answer.id}}" style="display: none"><!-- Progress bar bkg -->
                        <div class="progress-bar progress-bar-{{answer.id}}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- first result xs sm -->

    <!--<div class="clearfix visible-lg visible-md">&lt;!&ndash; first result md, lg &ndash;&gt;
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-answer-wrap">
                        <span class="icon-answer-lg fa fa-check-circle correct-answer fa-2x ok-{{answer.id}}" style="display: none"></span>&lt;!&ndash; correct &ndash;&gt;
                        <span class="icon-answer-lg fa fa-times-circle incorrect-answer fa-2x remove-{{answer.id}}" style="display: none"></span>&lt;!&ndash; inccorrect &ndash;&gt;
                    </div>
                    <div class="answer-name-wrapper-{{answer.id}} answer-name-wrapper-lg"></div>&lt;!&ndash; answer name &ndash;&gt;
                </div>&lt;!&ndash; .col-md-3 col-lg-3 &ndash;&gt;
                <div class="col-md-8 progress-wrap">
                    <div class="progress progress-{{answer.id}}" style="display: none">&lt;!&ndash; Progress bar bkg &ndash;&gt;
                        <div class="progress-bar progress-bar-{{answer.id}}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>&lt;!&ndash; progressbar active &ndash;&gt;
                    </div>&lt;!&ndash; .progress &ndash;&gt;
                </div>&lt;!&ndash; col-md-9 col-lg-9 &ndash;&gt;
                <div class="col-md-1 percent-wrapper">
                    <div class="answer-percentage-wrapper-{{answer.id}}" style="color: #FFFFFF"></div>
                </div>
            </div>&lt;!&ndash; .row &ndash;&gt;
        </div>&lt;!&ndash; .container &ndash;&gt;
    </div>--><!-- first result md lg -->

</div>