<div class="container-fluid container-xs-height multi-question-title-embedded">
    <div class="row row-xs-embedded-height multi-question-title-inner">
        <div class="col-xs-11 col-xs-height visible-sm visible-xs"><h4>{{prop.name}}</h4></div>
        <div class="col-xs-11 col-xs-height visible-md visible-lg"><h4>{{prop.name}}</h4></div>
    </div>
</div>