<section data-ng-controller="UsersController" data-ng-init="findUser()">
    <div class="container hidden-sm hidden-xs">
        <div class="row my-account-wrap">
            <div class="col-sm-12 col-md-4 log-pad">
                <img src="/css/themes/images/adler-your-thoughts-square.jpg" class="img-circle center-block logo-shadow" width="300px">
            </div>
            <div class="col-sm-7 col-md-offset-1">
                <div class="accountInfo">
                    <h3>Account Settings</h3>
                    <p>Thank you for trying out our alpha release! Below you will find your basic account settings.
                        If you have any questions, comments, ideas, remarks, or even straight-up disses,
                        please email us at <a href="mailto: feedback@getfanprops.com">feedback@getfanprops.com</a>.
                        Well, maybe hold off on the disses - suggestions are more helpful! :)
                    </p>
                    <div class="form-group">
                        <label class="control-label">First Name:</label> {{user.firstname}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name:</label> {{user.lastname}}
                    </div>
                    <div class="form-group">
                        <span data-ng-show="user.username"><label class="control-label" >Display Name:</label> {{user.username}}</span>
                        <span data-ng-hide="user.username"><label class="control-label" >Display Name:</label> Not Set</span>
                    </div>
                    <div class="form-group">
                        <a href="/#!/user/{{user._id}}/edit" class="btn btn-primary channel-standard-button">Edit</a>
                    </div>
                </div>
            </div><!-- .col-sm-7 col-md-offset-1 -->
        </div><!-- .row .my-account-wrap -->
    </div>

</section>