<section data-ng-controller="UsersController" data-ng-init="findMyChannels()">
    <h3>My Channels</h3>
    <br>

    <div class="row my-channels-row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-ng-repeat="channel in channels">
            <div class="my-channel-inner">
                <div class="my-channel-header">
                    <a href="/#!/channel/{{channel.guid}}/poll/list"><h2>{{channel.name}}</h2>
                    </a>
                </div>
                <div class="my-channel-img square-me" style="height: 360px;">
                    <a href="/#!/channel/{{channel.guid}}/poll/list">
                        <div class="prop-image">
                            <img ng-src="{{channel.picture}}" style="height: 280px" ng-show="channel.picture"/>
                            <img ng-src="img/fp/ps400x400.png" style="height: 280px" ng-hide="channel.picture"/>
                        </div>
                    </a>
                </div>
            </div><!-- .my-channel-inner -->
        </div>
    </div>
</section>

<section data-ng-controller="UsersController" data-ng-init="findSuggestedChannels()">
    <h3>Suggested Channels</h3>
    <br>

    <div class="row my-channels-row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-ng-repeat="suggestedchannel in suggestedchannels">
            <div class="my-channel-inner">
                <div class="my-channel-header">
                    <a href="/#!/channel/{{suggestedchannel.guid}}/poll/list"><h2>{{suggestedchannel.name}}</h2>
                    </a>
                </div>
                <div class="my-channel-img square-me" style="height: 360px;">
                    <a href="/#!/channel/{{suggestedchannel.guid}}/poll/list">
                        <div class="prop-image">
                            <img ng-src="{{suggestedchannel.picture}}" style="height: 280px" ng-show="suggestedchannel.picture"/>
                            <img ng-src="img/fp/ps400x400.png" style="height: 280px" ng-hide="suggestedchannel.picture"/>
                        </div>
                    </a>
                </div>
            </div><!-- .my-channel-inner -->
        </div>
    </div>
</section>