<section data-ng-controller="ChannelsController" data-ng-init="getViewUploadedPhoto()">

    <form class="form-horizontal" enctype="multipart/form-data" role="form" data-toggle="validator" ng-form-validate>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">

                    <h2>Upload your photo</h2> 

                    <h3 ng-if="!channel.photo_page.desc">Upload your Bad Ass Hair Day photo now to enter our contest!
                        Winners will get featured on our Instagram and sent some awesome
                        OGX products. </h3>

                    <h3 ng-if="channel.photo_page.desc" data-ng-bind-html="channel.photo_page.desc"></h3>

                    <div class="shampoo-pad"><img src="{{channel.photo_page.image ? channel.photo_page.image : '/img/ogx-shampoo.jpg'}}" class="img-responsive"> </div>
                    <div class="form-group" style="margin-left: 0px;">
                        <label class="control-label">Instagram username: </label>
                        <input type="text"
                               data-ng-init="photo.instagram = '@'"
                               class="form-control input-group input_option"
                               data-ng-model="photo.instagram"
                               data-error="Instagran name is required."
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" style="margin-left: 0px;">
                        <input ng-model="photo.image" data-ng-init="photo.image = channel.picture ? channel.picture : '/img/fp/ogx587x587.png'"  type="hidden" ng-update-hidden>
                        <div class="prop-image-wrap">
                            <div ng-style="{'background-image': 'url(' + photo.image + ')'}" style="background-repeat: no-repeat;
                                background-repeat: no-repeat;
                                background-size: contain;"
                                 class="prop-image-ogx">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group" style="margin-left: 0px;" data-ng-init="photo.image_error = false" >
                        <div class="pull-right"
                             ng-uploadcare
                             images-only="true"
                             data-multiple="false"
                             data-crop="400x400 minimum"
                             callback="uploadedPhotoCallback(file)">
                        </div>

                        <div class="has-error"  ng-if="photo.image_error">
                            <div class="help-block with-errors">
                                <ul class="list-unstyled">
                                    <li>Photo is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="create" data-ng-click="uploadPhoto()" type="submit" class="btn btn-primary pull-left vote-button channel-standard-button extra-h-pad" name="save">{{uploadPhotoText}}</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>