<style type="text/css">
    .iradio_square-grey {
        background: rgba(0, 0, 0, 0) url("/css/themes/images/icheck.ogx.png") no-repeat scroll 0 0;
        /*background: rgba(0, 0, 0, 0) url("/lib/iCheck/skins/square/blue.png") no-repeat scroll 0 0;*/
    }

    .iradio_square-grey.checked.disabled {
        background-position: -168px 0;
    }
</style>

<section data-ng-controller="ChannelsController" data-ng-init="getLastProduct()">

    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8">
            <h3 style="font-weight: bold">Thanks for signing up! One last step.</h3>
            <h5 ng-if="!prop.desc">Please pick your designated OGX product prize! The more photos you submit the better your chances to win.</h5>
            <h5 ng-if="prop.desc" data-ng-bind-html="prop.desc">
            </h5>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <br>
            <button  type="button" class="btn btn-block channel-standard-button" ng-click=voteProduct()>START PLAYING</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">


            <div class="product-vote-container" ng-repeat="(key, answer) in prop.answers" ng-if="answer.name" ng-class="{active: answer.id == selectedProducts[answer.id]}">
                <div class="contestent-img-round-container">
                    <div ng-style="{'background-image': 'url(' + trustSrc(answer.image) + ')'}" ng-click=selectProduct(answer.id)></div>
                </div>
                <div class="contestent-instagram-container">
                    <span ng-click=selectProduct(answers[key].id) >
                        <input type="radio" ng-model="selectedProducts[answer.id]" value="{{answer.id}}" icheck disabled/>
                        {{answer.name}}
                    </span>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8"></div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <br>
            <button  type="button" class="btn btn-block channel-standard-button" ng-click=voteProduct()>START PLAYING</button>
        </div>
    </div>
    <br>
</section>