<section data-ng-controller="ChannelsController" data-ng-init="getUploadedPhoto()">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2>Thanks for uploading your photo</h2>
            <h3>If your photo is selected we will reach out to you over Instagram or facebook, so keep on the lookout! </h3>
            <br>

            <label>Instagram Usename: </label>
            {{photo.instagram}}

            <br>

            <label>Photo: </label>
            <div class="triangles-container"> <img src="{{photo.image}}"> </div>

            <br>
            <div class="col-md-6">
                <a ng-if="user.twitter_data" href="{{twitter_url}}" id="twitterShareLink" target="_blank" class="btn btn-lg twitter-button btn-block">
                    <i class="fa fa-twitter-square fa-lg"></i> Share on twitter
                </a>
                <a ng-if="!user.twitter_data" href="{{global.twitter_url}}" id="twitterShareLink" class="btn btn-lg twitter-button btn-block">
                    <i class="fa fa-twitter-square fa-lg"></i> Connect to share
                </a>
            </div>            
            <div class="col-md-6">
                <a ng-if="user.facebook_data" href="{{facebook_url}}" id="facebookShareLink" target="_blank" class="btn btn-lg fb-button btn-block">
                    <i class="fa fa-facebook-square fa-lg"></i> Share on facebook
                </a>
                <a ng-if="!user.facebook_data" href="/fb_login/{{global.access_token}}" id="facebookShareLink" class="btn btn-lg fb-button btn-block">
                    <i class="fa fa-facebook-square fa-lg"></i> Connect to share
                </a>
            </div>
            <br>
        </div>
    </div>
        </div>

</section>