<section data-ng-controller="ChannelsController" ng-init="getUserSelectedProducts()">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" data-toggle="validator" ng-form-validate>
        <div class="container">
            <!--<div class="row" ng-if="votedProducts">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h2>Your Voted Products</h2>
                    <div class="row">
                        <div class="product-vote-container col-xs-12 col-sm-4 col-md-4" ng-repeat="(key, answer) in votedProducts" ng-if="answer.name">
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(answer.image) + ')'}" ng-click=selectProduct(answer.id)></div>
                            </div>
                            <div class="contestent-instagram-container">
                                <span>{{answer.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h2>Upload your photo</h2>
                    <h3 ng-if="!channel.photo_page.desc">Upload your Bad Ass Hair Day photo now for the chance to be selected for our weekly Bad Ass Hair Contest. Contest winners will be featured on our Instagram and sent their favorite OGX product. </h3>
                    <h3 ng-if="channel.photo_page.desc" data-ng-bind-html="channel.photo_page.desc"></h3>

                    <div class="shampoo-pad"><img src="{{channel.photo_page.image ? channel.photo_page.image : '/img/BAHDBanner.png'}}" class="img-responsive"> </div>
                    <div class="form-group" style="margin-left: 0px;">
                        <label class="control-label">Instagram username: </label>
                        <input type="text"
                               data-ng-init="photo.instagram = global.user.instagram_data.username ? global.user.instagram_data.username : '@'"
                               class="form-control input-group input_option"
                               data-ng-model="photo.instagram"
                               data-error="Instagran name is required."
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group" style="margin-left: 0px;">
                        <!--<input ng-model="photo.image" data-ng-init="photo.image = '/img/fp/ogx587x587.png'"  type="hidden" ng-update-hidden>-->
                        <div class="prop-image-wrap">
                            <div ng-style="{'background-image': 'url(' + photo.image + ')'}" style="background-repeat: no-repeat;
                                background-repeat: no-repeat;
                                background-size: contain;"
                                 class="prop-image-ogx">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group" style="margin-left: 0px;" data-ng-init="photo.image_error = false" >
                        <div class="pull-right"
                             ng-uploadcare
                             images-only="true"
                             data-multiple="false"
                             data-crop="400x400 minimum"
                             callback="uploadedPhotoCallback(file)">
                        </div>

                        <div class="has-error"  ng-if="photo.image_error">
                            <div class="help-block with-errors">
                                <ul class="list-unstyled">
                                    <li>Photo is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-sm-12">
                            <label class="control-label">Tags</label>
                            <select class="form-control selectpicker" name="photo.tags" data-ng-init="photo.tags = tags" ng-model="photo.tags" multiple>
                              <option ng-repeat="option in tags" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                        <div class="row col-md-8 col-sm-12">
                            <div ng-repeat="tag in photo.tags" class="contestent-img-round-container col-md-3 col-xs-6 col-sm-6" style="margin-top: 20px;">
                                <div ng-style="{'background-image': 'url(' + trustSrc(tagsImage[tag]) + ')', 'width': '100px', 'height': '100px'}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="create" data-ng-click="uploadPhoto()" type="submit" class="btn btn-primary pull-left vote-button channel-standard-button extra-h-pad" name="save">{{uploadPhotoText}}</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>