
<div id="propList" data-ng-repeat="propset in propsets">
    <div class="container hidden-sm hidden-xs">
        <div class="row prop-wrap">
            <div class="col-md-4 col-sm-12 prop-info-wrap">
                <div class="prop_question">
                    <h3>
                        <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}" ng-if="!user.is_admin">{{propset.title}}</a>
                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple" ng-if="user.is_admin">{{propset.title}}</a>
                    </h3>
                    <div>
                        <div class="vote-now-pos-lg">
                            <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}" ng-if="!user.is_admin && !propset.vote" class="btn btn-lg btn-block channel-standard-button" >
                                Take the
                                <span ng-if="propset.type == 'opinion'">Poll</span>
                                <span ng-if="propset.type == 'quiz'">Quiz</span>
                                Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                            </a>

                            <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple" ng-if="user.is_admin" class="btn btn-lg btn-block channel-standard-button" >
                                Edit <span ng-if="propset.type == 'opinion'">Poll</span> <span ng-if="propset.type == 'quiz'">Quiz</span> <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-md-8 col-sm-12 prop-image-wrap">
                <div>
                    <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}" ng-if="!user.is_admin" ng-show="propset.image">
                        <div ng-style="{ 'background-image': 'url(' + propset.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + propset.bannerinfo.banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>

                    <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple" ng-if="user.is_admin" ng-show="propset.image">
                        <div ng-style="{ 'background-image': 'url(' + propset.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image"></div>
                    </a>
                </div>
            </div><!-- .col-md-8 prop-image prop-image-DT -->
        </div><!-- .row prop-wrap -->
    </div>


    <div class="container visible-sm">
        <div class="row prop-wrap">
            <div class="col-md-4 col-sm-12 prop-info-wrap">
                <div class="prop_question">
                    <h3>
                        <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}"  ng-if="!user.is_admin">{{propset.title}}</a>
                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple"  ng-if="user.is_admin">{{propset.title}}</a>
                    </h3>
                </div>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-sm-12 prop-image-wrap">
                <div>
                    <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}" ng-if="!user.is_admin" ng-show="propset.image">
                        <div ng-style="{ 'background-image': 'url(' + propset.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + propset.bannerinfo.banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>

                    <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple" ng-if="user.is_admin" ng-show="propset.image">
                        <div ng-style="{ 'background-image': 'url(' + propset.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image"></div>
                    </a>
                </div>
                <br/>
                <div>
                    <div class="vote-now-pos-sm">
                        <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}" ng-if="!user.is_admin && !propset.vote" class="btn btn-lg btn-block channel-standard-button" >
                            Take the
                            <span ng-if="propset.type == 'opinion'">Poll</span>
                            <span ng-if="propset.type == 'quiz'">Quiz</span>
                            Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        </a>

                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple" ng-if="user.is_admin" class="btn btn-lg btn-block channel-standard-button" >
                            Edit <span ng-if="propset.type == 'opinion'">Poll</span> <span ng-if="propset.type == 'quiz'">Quiz</span> <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- .col-sm-12 prop-image-wrap -->
        </div>
    </div>


    <div class="container visible-xs">
        <div class="row prop-wrap">
            <div class="col-xs-12 prop-info-wrap">
                <div class="prop_question">
                    <h3>
                        <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}" ng-if="!user.is_admin">{{propset.title}}</a>
                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple" ng-if="user.is_admin">{{propset.title}}</a>
                    </h3>
                </div>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-xs-12 prop-image-wrap square-me">
                <div>
                    <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}" ng-if="!user.is_admin" ng-show="propset.image">
                        <div ng-style="{ 'background-image': 'url(' + propset.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + propset.bannerinfo.mobile_banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>

                    <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple" ng-if="user.is_admin" ng-show="propset.image">
                        <div ng-style="{ 'background-image': 'url(' + propset.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image"></div>
                    </a>
                </div>
                <br/>
                <div>
                    <div class="vote-now-pos-sm">
                        <a href="/#!/multiple/{{propset.type}}/{{propset.guid}}" ng-if="!user.is_admin && !propset.vote" class="btn btn-lg btn-block channel-standard-button" >
                            Take the
                            <span ng-if="propset.type == 'opinion'">Poll</span>
                            <span ng-if="propset.type == 'quiz'">Quiz</span>
                            Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        </a>

                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{propset._id}}/edit/multiple" ng-if="user.is_admin" class="btn btn-lg btn-block channel-standard-button" >
                            Edit
                            <span ng-if="propset.type == 'opinion'">Poll</span>
                            <span ng-if="propset.type == 'quiz'">Quiz</span>
                            <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- .col-xs-12 prop-image-wrap square-me -->
        </div><!-- .row prop-wrap -->
    </div>
</div>
