<section data-ng-controller="AdminUsersController">

    <h2> Create User </h2>
    <br>

    <form class="form-horizontal" role="form" data-ng-submit="create()">
        <div class="form-group">
            <label class="col-md-2 control-label" for="name">Is Admin</label>
            <div class="col-md-4">
                <input type="checkbox" ng-model="is_admin" ng-checked="is_admin" ng-value="true" ng-init="is_admin=false"
                       name="admin" ng-change="toggleFacebookInformation()">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name">First Name</label>
            <div class="col-md-4">
                <input id="name" class="form-control" type="text" name="firstname"
                       placeholder="First Name" data-ng-model="firstname" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="name">Last Name</label>
            <div class="col-md-4">
                <input id="lastname" class="form-control" type="text" name="lastname"
                       placeholder="Last Name" data-ng-model="lastname" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" class="form-control" type="text" name="email"
                       placeholder="Email" data-ng-model="email"  required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" class="form-control" type="password" name="password"
                       placeholder="Password" data-ng-model="password" required/>
            </div>
        </div>

        <div ng-show="show_facebook">
            <h3>Facebook Information</h3>

            <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="facebook_data_id">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="facebook_data_gender">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Relationship Status</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="facebook_data_relationship_status">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Birthday</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="facebook_data_birthday" ng-blur="changeAge()">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Age</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="facebook_data_age">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="facebook_data_location">
                </div>
            </div>
        </div>

        <div class="controls">
            <div class="controls">
                <button class="btn btn-default channel-standard-button" type="reset">Reset</button>
                <button class="btn btn-primary channel-standard-button" type="submit">Save</button>
            </div>
        </div>

    </form>

</section>

<br/>