<section data-ng-controller="AdminUsersController" data-ng-init="findOne()">

    <h2> Edit User </h2>
    <br>

    <form class="form-horizontal" role="form" data-ng-submit="update()">
        <div class="form-group">
            <label class="col-md-2 control-label">Is Admin</label>
            <div class="col-md-4">
                <input type="checkbox" ng-model="user.is_admin" ng-checked="user.is_admin" ng-value="true" ng-init="user.is_admin=false"
                       name="admin" ng-change="toggleFacebookInformation()">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" data-ng-model="user.firstname">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" data-ng-model="user.lastname">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" data-ng-model="user.username">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" data-ng-model="user.email">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="Blank password wont be updated." bs-tooltip></span>
            <div class="col-sm-4">
                <input type="password" class="form-control" data-ng-model="user.password">
            </div>
        </div>

        <div ng-show="show_facebook">
            <h3>Facebook Information</h3>

            <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.facebook_data.id">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.facebook_data.gender">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Relationship Status</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.facebook_data.relationship_status">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Birthday</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.facebook_data.birthday" ng-blur="changeAge()">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Age</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.facebook_data.age">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.facebook_data.location">
                </div>
            </div>
        </div>

        <fieldset>
            <h3>Twitter Information</h3>

            <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.twitter_data.id">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Screen Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.twitter_data.screen_name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.twitter_data.location">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Followers Count</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.twitter_data.followers_count">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Friends Count</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-ng-model="user.twitter_data.friends_count">
                </div>
            </div>
        </fieldset>

        <div class="controls">
            <button class="btn btn-default channel-standard-button extra-h-pad" type="reset">Reset</button>
            <button id="save" type="submit" class="btn btn-primary channel-standard-button" name="save">Save</button>
        </div>

    </form>

</section>

<br/>