<section data-ng-controller="AdminUsersController" data-ng-init="find()">
    <h2> Channel List </h2>
    <br>

    <a href="/#!/fp/user/create" class="btn btn-default channel-standard-button"><i class="fa fa-plus"></i> Create User</a>
    <br>
    <br>

    <div class="row">
        <div class="col-xs-6">
            <input type="text" ng-model="search.firstname" class="form-control" placeholder="Type User name for searching...">
        </div>
        <div class="col-xs-4" ng-show="global.user.fp_admin && !currentchannel">
            <div class="form-group">
                <label class="col-xs-3 control-label">Channels</label>
                <div class="col-xs-8">
                    <select name="channels" class="form-control" ng-model="channel" ng-options="channel._id as channel.name for channel in channels"></select>
                </div>
            </div>
        </div>
        <div class="col-xs-1" ng-hide="currentchannel">
            <button type="button" class="btn btn-default channel-standard-button" ng-click="filterUsers()">{{filtertext}}</button>
        </div>
    </div>

    <br/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Type</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="user in users | filter:search" data-ng-show="$index < 500">
                <td>{{user._id}}</td>
                <td>
                    <span ng-if="user.is_admin"> Admin </span>
                    <span ng-if="!user.is_admin"> Regular User </span>
                </td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a class="btn" href="#!/fp/user/{{user._id}}/view" title="View and Manage Voting History">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                <td>
                    <a class="btn" href="#!/fp/user/{{user._id}}/edit" title="Edit User">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<br/>
