<section data-ng-controller="AdminUsersController" data-ng-init="findOne()">
    <div class="row">
        <div class="col-md-7" id="fp-tabs">
            <h2 style="margin-bottom: 0px;">USER NAME</h2>
            <div ng-if="user.facebook_data || user.twitter_data">
                <i class="fa fa-facebook-square fa-link"></i>
                <strong ng-if="user.facebook_data">Facebook</strong>
                <strong ng-if="user.facebook_data && user.twitter_data">, </strong>
                <strong ng-if="user.twitter_data">Twitter</strong>
            </div>

            <br>
            <div>{{user.firstname}} {{user.lastname}}</div>
            <div>{{user.email}}</div>

            <h3>Demographic Information</h3>
            <span class="fp-userlist-inverted" ng-class="{active: btn_fb == true}" ng-if="user.facebook_data" ng-click="userView('fb')" data-ng-model="btn_fb">
                <a class="btn btn-default fp-userlist-inverted" href="javascript:;">Facebook</a>
            </span>
            <span class="fp-userlist-inverted" ng-class="{active: btn_tw == true}" data-ng-model="btn_tw" ng-if="user.twitter_data" ng-click="userView('tw')">
                <a class="btn btn-default fp-userlist-inverted" href="javascript:;">Twitter</a>
            </span>

            <br><br>
            <div ng-if="btn_fb && user.facebook_data">
                <p>ID: <strong>{{user.facebook_data.id}}</strong></p>
                <p>Gender: <strong>{{user.facebook_data.gender}}</strong></p>
                <p>Age: <strong>{{user.facebook_data.age}}</strong></p>
                <p ng-if="user.facebook_data.location">Location: <strong>{{user.facebook_data.location}}</strong></p>
                <p ng-if="user.facebook_data.relationship_status">Relationship Status: <strong>{{user.facebook_data.relationship_status}}</strong></p>
                <p ng-if="user.facebook_data.birthday">Birthday: <strong>{{user.facebook_data.birthday}}</strong></p>
            </div>

            <div ng-if="btn_tw && user.twitter_data">
                <p>ID: <strong>{{user.twitter_data.id}}</strong></p>
                <p>Screen name: <strong>{{user.twitter_data.screen_name}}</strong></p>
                <p ng-if="user.twitter_data.location">Location: <strong>{{user.twitter_data.location}}</strong></p>
                <p>Followers count: <strong>{{user.twitter_data.followers_count}}</strong></p>
                <p>Friends count: <strong>{{user.twitter_data.friends_count}}</strong></p>
            </div>
        </div>
        <div class="col-md-5 text-center" style="margin-top: 20px;">
            <img src="{{avatar}}" width="250" height="250" style="background: #333;" class="img-rounded fp-userlist-inverted" border="1">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 left" style="margin-top: 20px; padding: 0 10px 0 0; min-width: 320px;">
            <div class="well fp-userlist-inverted" style="padding: 0; min-height: 400px; background: none">
                <p class="channel-standard-button text-center lead" style="padding: 10px 0; margin-bottom: 10px">Voting History</p>
                <span style="padding-left: 10px">Total Points: <strong>{{user.total_points}}</strong></span>
                <br>
                <span style="padding-left: 10px">Total Shares: <strong>{{user.total_shares}}</strong></span>
                <br><br>
                <table width="100%">
                    <thead class="channel-standard-button">
                        <tr>
                            <th class="" width="50%" height="30" style="padding-left: 10px">Poll Name</th>
                            <th class="text-center" width="30%">Response</th>
                            <th class="text-center" width="20%">More</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr class="well fp-userlist-inverted" data-ng-repeat="prop in user.props" style="background: none; border-top: none; border-left: none; border-right: none">
                            <td height="30" style="padding-left: 10px">{{prop.name}}</td>
                            <td class="text-center"><b>{{prop.response}}</b></td>
                            <td class="text-center"><a data-ng-href="/#!/admin/channel/{{prop.channel}}/prop/{{prop._id}}/results" target="_blank"><i class="fa fa-search"></i></a></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 left" style="margin-top: 20px; padding: 0 10px 0 0; min-width: 320px;">
            <div class="well fp-userlist-inverted" style="padding: 0; min-height: 400px; background: none">
                <p class="channel-standard-button text-center lead" style="padding: 10px 0; margin-bottom: 10px">Product History</p>
                <img src="{{user.voted_products.length > 0 ? user.voted_products[user.voted_products.length - 1].image : ''}}" width="40" height="40" style="background: #333; margin-left: 10px" class="img-rounded fp-userlist-inverted" border="1">
                <span >Current: <strong>{{user.voted_products.length > 0 ? user.voted_products[user.voted_products.length - 1].name : ''}}</strong></span>
                <br><br>
                <table width="100%">
                    <thead class="channel-standard-button">
                        <tr>
                            <th class="" width="35%" height="30" style="padding-left: 10px">Date</th>
                            <th width="65%">Product</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr class="well fp-userlist-inverted" data-ng-repeat="prod in (user.voted_products | orderBy: '-voted_date')" style="background: none; border-top: none; border-left: none; border-right: none">
                            <td height="30" style="padding-left: 10px">{{prod.voted_date | date:'MM/dd/yyyy'}}</td>
                            <td ><a data-ng-href="/#!/admin/channel/{{user.channel._id}}/prop/{{prod.prop._id}}/results" target="_blank">{{prod.name}}</a></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>    
        </div>
        <div class="col-md-4 left" style="margin-top: 20px; padding: 0; min-width: 320px;">
            <div class="well fp-userlist-inverted" style="padding: 0; min-height: 400px; background: none">
                <p class="channel-standard-button text-center lead" style="padding: 10px 0; margin-bottom: 10px">Photo History</p>
                <div nano-scroller class="nano" style="height: 330px;">
                    <div class="nano-content">
                        <p data-ng-repeat="photo in (user.photos | orderBy: '-timestamps.created')">
                            <span class="left" style="padding-left: 10px">{{photo.timestamps.created | date:'MM/dd/yyyy'}}</span>
                            <br>
                            <img src="" width="300" height="300" style="background: #333 url('{{photo.image}}') no-repeat; margin-left: 10px" class="img-rounded fp-userlist-inverted" border="1">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-default channel-standard-button" href="#!/fp/user/{{user._id}}/edit">Edit</a>

</section>

<br/>
