{% extends '../layouts/noauth.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="main">

            <h3>Please Log In</h3>

            {% if message && message.length  %}
                <div class="alert alert-danger">{{message}}</div>
            {% endif %}
            <!--
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="/fb_login/{{access_token}}" class="btn btn-lg btn-primary btn-block"><i class="fa fa-facebook-square"></i> Facebook</a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="/tw_login/{{access_token}}" class="btn btn-lg btn-info btn-block"><i class="fa fa-twitter-square"></i> Twitter</a>
              </div>
            </div>
            -->
            <form role="form" method="post" action="/users/session">
                <input type="hidden" name="is_admin" value="{{isAdmin}}">
                <div class="form-group">
                    <label for="email">Username or email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <a class="pull-right" href="/forgotpassword">Forgot password?</a>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="checkbox pull-right">
                    <label>
                        <input type="checkbox">Remember me </label>
                </div>
                <button type="submit" class="btn btn-primary channel-standard-button">
                    Log In
                </button>
            </form>
        </div>

    </div>
</div>

{% endblock %}