{% extends '../layouts/default.html' %}

{% block content %}


<div class="row">
        <div class="col-md-offset-1 col-md-5">
            <a href="/auth/facebook"><img src="/img/icons/facebook.png"></a>
            <a href="/auth/github"><img src="/img/icons/github.png"></a>
            <a href="/auth/twitter"><img src="/img/icons/twitter.png"></a>
            <a href="/auth/google"><img src="/img/icons/google.png"></a>
            <a href="/auth/linkedin"><img src="/img/icons/linkedin.png"></a>
        </div>
        <div class="col-md-6">
            {% if message && message.length  %}
            <div class="fade in alert alert-error">
                <button class="close" data-dismiss="alert">&times;</button>
                <div class="strong">
                    {{ message }}
                </div>
            </div>
            {% endif %}
            {% block auth %}{% endblock %}
        </div>
    </div>

{% endblock %}
