{% extends '../layouts/signin.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="main">
            <h3>Get Hash</h3>
            <form role="form" method="post" action="/email/hash">
                <input type="hidden" name="is_admin" value="false">
                <div class="form-group">
                    <label for="email">Username or email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>

                <button type="submit" class="btn btn-primary channel-standard-button">
                    Get Hash
                </button>
            </form>

            <p>
                Hash:
            </p>
            <p>
                {{hash}}
            </p>

        </div>
    </div>
</div>
{% endblock %}
