{% extends 'signin.html' %}

{% block content %}
    <h2>User Signup</h2>

    <form class="signin form-horizontal" action="/users" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">First Name</label>
            <div class="col-md-8">
                <input id="name" class="form-control" type="text" name="firstname" placeholder="First Name" data-ng-model="firstname" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Last Name</label>
            <div class="col-md-8">
                <input id="lastname" class="form-control" type="text" name="lastname" placeholder="Last Name" data-ng-model="lastname" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-8">
                <input id="email" class="form-control" type="text" name="email" placeholder="Email" data-ng-model="email"  />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-8">
                <input id="password" class="form-control" type="password" name="password" placeholder="Password" data-ng-model="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button class="btn btn-primary" type="submit">Sign up</button>&nbsp;
            </div>
        </div>
    </form>
{% endblock %}
