<div class="radio-wrap">
    {% for answer in prop.answers %}
        {% if answer.name %}
        <div class="answers-embedded">
           <input type="radio"
                   answerid="{{answer.id}}"
                   prop-guid="{{prop.guid}}"
                   propset-guid="{{propset.guid}}"
                   name="answer_{{guid}}"
                   value="{{answer.id}}"
            {% if prop.userVoteOption == answer.id %}checked{% endif %}
            {% if prop.userVote %}disabled{% endif %}>

            {{answer.name}}
        </div>
        {% endif %}
    {% endfor %}
</div>
