{% include "../_header.html" %}

<div class="question-container container-fluid" style="background-image:url('{{prop.image}}');">
    <div class="row quiz_row-embedded" style="background: rgba(0, 0, 0, 0.5);">
        <div class="col-xs-12 col-sm-12">
            <span class="hidden-xs hidden-sm quiz_title"><h3 class="ng-binding">{{prop.name}}</h3></span>
            <span class="hidden-xs hidden-md hidden-lg quiz_title"><h4 class="ng-binding">{{prop.name}}</h4></span>
            <span class="hidden-sm hidden-md hidden-lg quiz_title"><h6 class="ng-binding">{{prop.name}}</h6></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 no-padding" style="background: rgba(0, 0, 0, 0.5);">
            <div class="multi-question-wrap-embedded">
                {% for answer in prop.answers %}
                    {% if answer.name %}
                        {% include "_answers_progressbar.html" %}
                    {% endif %}
                {% endfor %}

                {% if prop.type == 'quiz' %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="prop-correctanswer-wrapper-{{prop.guid}} multiquestion-correctanswer-wrapper">{{prop.description}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- CORRECT OR INCORRECT ANSWER IF QUIZ-->
                        <div class="col-md-6 prop-collapse-answer pull-left">
                            <span style="display: none;" class="collapse-ok-icon-{{prop.guid}} correct-answer"><i class="fa fa-check-circle fa-lg correct-answer"></i> Correct</span>
                            <span style="display: none;" class="collapse-remove-icon-{{prop.guid}} incorrect-answer"><i class="fa fa-times-circle fa-lg incorrect-answer"></i> Incorrect</span>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">
    var prop = {{ prop_json | safe }};
    var user = {{ user| safe}};

    prop.answers.forEach(function(answer, answer_key){
        if ( !_.isEmpty( answer.name ) ){

            $(".progress-"+answer.id).show();
            $(".answer-wrapper-"+answer.id).show();

            var totalanswer = getTotalPropAnswer(prop, answer.id);
            var totalvotes = prop.votes.length;
            var percent = Math.round((totalanswer / totalvotes) * 100);
            $(".progress-bar-"+answer.id).css("width", percent + "%");
            $(".progress-bar-"+answer.id).css("background-color", '#FFFFFF');

            $(".answer-name-wrapper-"+answer.id).html("<span>"+answer.name+"</span>");
            $(".answer-percentage-wrapper-"+answer.id).html(percent + "%");

            if ( prop.type == 'quiz' && answer.id == prop.userVoteOption ){
                if ( answer.correct ){
                    $(".ok-"+answer.id).show();
                    $(".collapse-ok-icon-"+prop.guid).show();
                } else {
                    $(".remove-"+answer.id).show();
                    $(".collapse-remove-icon-"+prop.guid).show();
                }
            }

            if ( prop.type == 'opinion' && answer.id == prop.userVoteOption ){
                $(".ok-"+answer.id).show();
            }

            if ( prop.type == 'quiz' && answer.correct ){
                $(".ok-"+answer.id).show();
                if (answer.id != prop.userVoteOption){
                    $(".ok-"+answer.id).addClass('icon-ok-transparent');
                }
            }
        }
    });

    function getTotalPropAnswer(prop, answerid){
        var total = 0;
        prop.votes.forEach(function(vote, key){
            if ( vote.choice == answerid ){
                total = total + 1;
            }
        });

        return total;
    };

</script>