{% include "../_header.html" %}

<script type="application/javascript">
    var s = {{ prop_json | safe }};

    function Single(data) {
        _.extend(this, data);
    }
</script>

<script id="pss-{{guid}}" src="{{hostname}}/extra_js/embedded/single.js"></script>

<script type="application/javascript">
    var single = new Single(s);
    window['single_' + '{{guid}}'] = single;

    console.log(window['single_' + '{{guid}}']);
</script>

<div class="question-container container-fluid" style="background-image:url('{{prop.image}}');">
    <div class="row quiz_row-embedded" style="background: rgba(0, 0, 0, 0.5);">
        <div class="col-xs-12 col-sm-12">
            <span class="hidden-xs hidden-sm quiz_title"><h3 class="ng-binding">{{prop.name}}</h3></span>
            <span class="hidden-xs hidden-md hidden-lg quiz_title"><h4 class="ng-binding">{{prop.name}}</h4></span>
            <span class="hidden-sm hidden-md hidden-lg quiz_title"><h6 class="ng-binding">{{prop.name}}</h6></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 no-padding" style="background: rgba(0, 0, 0, 0.5);">
            <div class="multi-question-wrap-embedded">
                {% include "_answers.html" %}
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    {% if prop.userVote %}
                        <a href="javascript:;" onclick="window['single_' + '{{guid}}'].viewResults()">
                            <span class="first-number">View Results</span>
                        </a>
                    {% else %}
                        <img src="{{hostname}}/img/icons/black-vote-button.png"
                             class="img-rounded img-responsive pull-right vote-image"
                             style="width: 50px"
                             onclick="window['single_' + '{{guid}}'].vote()">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>