<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{appName}} - {{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig">
    <meta name="description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">

    <link href="/img/fp/pollspace_logo_short.png" rel="shortcut icon" type="image/x-icon">

    <meta http-equiv="pragma" content="no-cache" />

    <meta property="fb:app_id" content="345222025489126">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{channel.name}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{facebook_url}}">
    <meta property="og:image" content="{{prop_image}}">
    <meta property="og:site_name" content="Pollspace">
    <meta property="fb:admins" content="725102015">

    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@flashprops">
    <meta name="twitter:creator" content="@flashprops">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:image" content="{{channel_picture}}">
    <meta name="twitter:domain" content="{{fullUrl}}">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {% for file in assets.css %}
    <link rel="stylesheet" href="{{file}}">
    {% endfor %}
    <link rel="stylesheet" id="channelColor" class="ng-scope" href="/api/channel/color/style.css?colors={{colors}}">

    <style type="text/css">
        @media all and (min-width: 1750px) {
            html, body {
                height: 100%;
            }
            #menu-slide {

            }
            #page {
                min-height: 100%;
            }
            /* hide open-button */
            a[href="#menu-slide"]
            {
                display: none !important;
            }
        }
    </style>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/extra_js/jquery.2.0.3.min.js"></script>
    <script type="text/javascript" src="/lib/iCheck/icheck.min.js"></script>
</head>
