<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{appName}} - {{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="Pollspace, poll, prop, questions, game">
    <meta name="description" content="Pollspace">

    <link href="/img/fp/pollspace_logo_short.png" rel="shortcut icon" type="image/x-icon">

    <meta http-equiv="pragma" content="no-cache" />

    <meta property="fb:app_id" content="345222025489126">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{channel.name}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{fullUrl}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:site_name" content="Pollspace">
    <meta property="fb:admins" content="725102015">

    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@pollspace">
    <meta name="twitter:creator" content="@pollspace">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:image" content="{{image}}">
    <meta name="twitter:url" content="{{fullUrl}}">
    <meta name="twitter:domain" content="{{hostname}}">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {% for file in assets.css %}
        <link rel="stylesheet" href="{{file}}">
    {% endfor %}

    <link rel="stylesheet" id="channelColor" class="ng-scope" href="/api/channel/color/style.css?colors={{colors}}">

    <style type="text/css">
        @media all and (min-width: 1750px) {
            html, body {
                height: 100%;
            }
            #menu-slide {

            }
            #page {
                min-height: 100%;
            }
            /* hide open-button */
            a[href="#menu-slide"]
            {
                display: none !important;
            }
        }
    </style>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
