{% for file in assets.js %}
    <script type="text/javascript" src="{{file}}"></script>
{% endfor %}
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/config.js"></script>
    <script type="text/javascript" src="/js/controllers/admin/analytics.js"></script>
    <script type="text/javascript" src="/js/controllers/admin/channels.js"></script>
    <script type="text/javascript" src="/js/controllers/admin/header.js"></script>
    <script type="text/javascript" src="/js/controllers/admin/props.js"></script>
    <script type="text/javascript" src="/js/controllers/admin/users.js"></script>
    <script type="text/javascript" src="/js/controllers/articles.js"></script>
    <script type="text/javascript" src="/js/controllers/channels.js"></script>
    <script type="text/javascript" src="/js/controllers/charts.js"></script>
    <script type="text/javascript" src="/js/controllers/footer.js"></script>
    <script type="text/javascript" src="/js/controllers/header.js"></script>
    <script type="text/javascript" src="/js/controllers/index.js"></script>
    <script type="text/javascript" src="/js/controllers/main.js"></script>
    <script type="text/javascript" src="/js/controllers/props.js"></script>
    <script type="text/javascript" src="/js/controllers/users.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/filters.js"></script>
    <script type="text/javascript" src="/js/init.js"></script>
    <script type="text/javascript" src="/js/services/articles.js"></script>
    <script type="text/javascript" src="/js/services/channel.js"></script>
    <script type="text/javascript" src="/js/services/charts.js"></script>
    <script type="text/javascript" src="/js/services/global.js"></script>
    <script type="text/javascript" src="/js/services/groups.js"></script>
    <script type="text/javascript" src="/js/services/props.js"></script>
    <script type="text/javascript" src="/js/services/users.js"></script>

{% if (process.env.NODE_ENV == 'development') %}
<!-- Livereload script rendered -->
<script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}
