{% extends '../layouts/prop.html' %}

{% block content %}
<script type="text/javascript">
    window.prop_guid = '{{prop_guid}}';
    window.user = {{user|safe}};


    $(document).ready(function(){
        $(".icheck").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-grey',
            hoverClass: 'checked',
            focusClass: 'checked'

        });
    });

    function loginToVote(){
        window.location.href = '/#!/login';
    }

    function toggleMobileOptions(){
        $(".mobileOptionsExpand").toggle();
    }
</script>



<!-- DESKTOP -->
<div class="hidden-xs visible-sm visible-md visible-lg">
    <div class="vote-options">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <!-- DESKTOP -->
                <div class="hidden-xs visible-sm visible-md visible-lg">
                    <div class="contestent-triangles-container">
                        <h3>{{prop.name}}</h3>
                        <span class="contestent-weekof">{{prop.weekof.from | date('m/d') }} -  {{prop.weekof.to | date('m/d') }}</span>
                        <div class="triangle">
                            <div class="triangles-container">
                                <img src="{{prop.image}}">
                            </div>
                        </div>
                        <div class="prop-description">
                                Every contest winner receives free OGX products. Upload a photo for your chance to win.
                        </div>
                        <br>
                        <div class="prop-vote">
                            <button class="btn vote-button btn-block channel-standard-button" onclick="loginToVote();" type="button">LOGIN TO VOTE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">

                <!-- DESKTOP -->
                <div class="hidden-xs visible-sm visible-md visible-lg">
                    <br>
                    <div class="contestent-options-container">
                        <div class="row">
                            {% if prop.answers[0].name %}
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <div class="contestent-profile-container">
                                    <div class="contestent-img-round-container">
                                        <div style="background-image: url('{{prop.answers[0].image}}')" ></div>
                                    </div>
                                    <div class="contestent-instagram-container">
                                        <span>
                                            <!-- Please live radio disabled. Is for functionality reasons -->
                                            <input type="radio" value="{{prop.answers[0].id}}" class="icheck" disabled/>
                                            @{{prop.answers[0].meta.instagram.value}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if prop.answers[1].name %}
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <div class="contestent-profile-container">
                                    <div class="contestent-img-round-container">
                                        <div style="background-image: url('{{prop.answers[1].image}}')" ></div>
                                    </div>
                                    <div class="contestent-instagram-container">
                                        <span>
                                            <!-- Please live radio disabled. Is for functionality reasons -->
                                            <input type="radio" value="{{prop.answers[1].id}}" class="icheck" disabled/>
                                            @{{prop.answers[1].meta.instagram.value}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row">
                            {% if prop.answers[2].name %}
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <div class="contestent-profile-container">
                                    <div class="contestent-img-round-container">
                                        <div style="background-image: url('{{prop.answers[2].image}}')" ></div>
                                    </div>
                                    <div class="contestent-instagram-container">
                                        <span>
                                            <!-- Please live radio disabled. Is for functionality reasons -->
                                            <input type="radio" value="{{prop.answers[2].id}}" class="icheck" disabled/>
                                            @{{prop.answers[2].meta.instagram.value}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if prop.answers[3].name %}
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <div class="contestent-profile-container">
                                    <div class="contestent-img-round-container">
                                        <div style="background-image: url('{{prop.answers[3].image}}')" ></div>
                                    </div>
                                    <div class="contestent-instagram-container">
                                        <span>
                                            <!-- Please live radio disabled. Is for functionality reasons -->
                                            <input type="radio" value="{{prop.answers[3].id}}" class="icheck" disabled/>
                                            @{{prop.answers[3].meta.instagram.value}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- MOBILE -->
<br>
<div class="visible-xs">
    <div class="row">
        <div class="col-xs-12">

            <!-- MOBILE -->
            <div class="visible-xs" data-ng-class="{ 'mobile-gray-background-container': mobileOptionsExpand }">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="triangle">
                            <div class="triangles-container">
                                <img src="{{prop.image}}">
                            </div>
                        </div>
                        <div class="swipe-expand-container" ng-if="!mobileOptionsExpand">
                            <div class="swipe">
                                <span>Expand to vote</span>
                            </div>
                            <div class="swipe-icon-expand" onclick="toggleMobileOptions()"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


            <!-- MOBILE -->
            <div class="visible-xs">
                <div class="expand-container mobileOptionsExpand" style="display: none">
                    <div class="mobile-gray-background-container">
                        <!-- first option -->
                        <div class="row">
                            {% if prop.answers[0].name %}
                            <div class="col-xs-12">
                                <div class="contestent-profile-container">
                                    <div class="contestent-img-round-container">
                                        <div style="background-image: url('{{prop.answers[0].image}}')" ></div>
                                    </div>
                                    <div class="contestent-instagram-container">
                                        <span>
                                            <!-- Please live radio disabled. Is for functionality reasons -->
                                            <input type="radio" value="{{prop.answers[0].id}}" class="icheck" disabled/>
                                            @{{prop.answers[0].meta.instagram.value}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <!-- second option -->
                        <div class="row">
                            {% if prop.answers[1].name %}
                            <div class="col-xs-12">
                                <div class="contestent-profile-container">
                                    <div class="contestent-img-round-container">
                                        <div style="background-image: url('{{prop.answers[1].image}}')" ></div>
                                    </div>
                                    <div class="contestent-instagram-container">
                                        <span>
                                            <!-- Please live radio disabled. Is for functionality reasons -->
                                            <input type="radio" value="{{prop.answers[1].id}}" class="icheck" disabled/>
                                            @{{prop.answers[1].meta.instagram.value}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <!-- third option -->
                        <div class="row">
                            {% if prop.answers[2].name %}
                            <div class="col-xs-12">
                                <div class="contestent-profile-container">
                                    <div class="contestent-img-round-container">
                                        <div style="background-image: url('{{prop.answers[2].image}}')" ></div>
                                    </div>
                                    <div class="contestent-instagram-container">
                                        <span>
                                            <!-- Please live radio disabled. Is for functionality reasons -->
                                            <input type="radio" value="{{prop.answers[2].id}}" class="icheck" disabled/>
                                            @{{prop.answers[2].meta.instagram.value}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <!-- Four option -->
                        <div class="row">
                            {% if prop.answers[3].name %}
                            <div class="col-xs-12">
                                <div class="contestent-profile-container">
                                    <div class="contestent-img-round-container">
                                        <div style="background-image: url('{{prop.answers[3].image}}')" ></div>
                                    </div>
                                    <div class="contestent-instagram-container">
                                        <span>
                                            <!-- Please live radio disabled. Is for functionality reasons -->
                                            <input type="radio" value="{{prop.answers[3].id}}" class="icheck" disabled/>
                                            @{{prop.answers[3].meta.instagram.value}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <div class="swipe-collapse">
                            <div class="prop-vote">
                                <button class="btn vote-button-mobile btn-block channel-standard-button" onclick="loginToVote();" type="button">LOGIN TO VOTE</button>
                            </div>
                        </div>

                    </div>

                    <div class="swipe-icon-collapse" onclick="toggleMobileOptions()"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style='text-align: center'>
        <div class="col-xs-12">
            <h3>{{prop.name}}</h3>
            <span class="contestent-weekof">{{prop.weekof.from | date('m/d') }} -  {{prop.weekof.to | date('m/d') }}</span>
        </div>
    </div>
</div>

{% endblock %}