.vote-optns-DT {
	background-color: #eaea13;
	color: #035303;
	border-color: #035303;
}

#vote-button-DT {
	background-color: #119511;
	color: #eaea13;
	border-color: #035303;
}

#vote-button-DT:hover,
#vote-button-DT:focus {
	background-color: #eaea13;
	color: #119511;
}

btn-primary:active,
btn-primary.active {
  background-color: #ffffff;
}

body {
	background-color: #035303;
	color: #ffffff;
}

.fp-brand-name {
  color: #ffffff;
}

.navbar-custom-color-top {
	background-color: #119511;
	color: #035303;
}

.navbar-custom-color-top .navbar-brand:hover,
.navbar-custom-color-top .navbar-brand:focus {
  color: #035303;
}

.navbar-custom-color-top .navbar-text {
  color: #0353035;
}

.navbar-custom-color-top .navbar-nav > li > a {
  color: #035303;
}

.navbar-custom-color-top .navbar-nav > li > a:hover,
.navbar-custom-color-top .navbar-nav > li > a:focus {
  color: #eaea13;
}

.navbar-custom-color-top .navbar-nav > .active > a,
.navbar-custom-color-top .navbar-nav > .active > a:hover,
.navbar-custom-color-top .navbar-nav > .active > a:focus {
  color: #035303;
}

#sm-nav > li > a {
  color: #035303;
}

#sm-nav > li > a:hover,
#sm-nav > li > a:focus {
  color: #eaea13;
}

#sm-nav > .active > a,
#sm-nav > .active > a:hover,
#sm-nav > .active > a:focus {
  color: #035303;
}

.secondary-nav-bkg {
	background-color: #eaea13;
}

.nav-tabs.nav-justified.secondary-navbar > li > a {
	border: 1px #035303;
	color: #035303;
}

.nav-tabs.nav-justified.secondary-navbar > .active > a {
	color: #eaea13;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	background-color: #035303;
	color: #eaea13;
}

div.channel-name-DT > h1 > a {
	color: #eaea13;
}

#single {
	background-color: #666666;
}

div.vote-button-wrapper {
	background-color: #ffffff;
}

.results-wrap {}

.results-inner {}

.user-data-wrap {
	color: #FFFFFF;
}

.user-data-wrap h3 small { color: #FFFFFF; color: rgba(255, 255, 255, .6); }

.user-data-inner {background-color:#57A8D4;}

.user-data-inner a {color: rgba(255, 255, 255, .7); text-decoration:underline;}

.user-data-inner a:hover {color:rgba(255, 255, 255, 1); text-decoration:underline;}

.rankings-data-inner a {color: rgba(255, 255, 255, .7); text-decoration:underline;}

.rankings-data-inner a:hover {color:rgba(255, 255, 255, 1); text-decoration:underline;}

.ty-share-button {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 1);}

.ty-share-button:hover {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 0.8);}

.channel-standard-button {color:rgba(255,255,255, 1); background-color:rgba(87,168,212, 1);}

.channel-standard-button:hover {color:rgba(255,255,255, 1); background-color:rgba(87,168,212, 0.8);}
