/*
NAME: FanProps
URL: http://www.flashprops.com
VERSION: Alpha.1
AUTHORS: Toyin Akinmusuru & <a href="http://www.10thleterdesigns.com">Jay Gregory</a>

DESKTOP CSS

*/



/* ================================================ Original Styles ======================= */



ul#fp-topnav li a i,
ul#fp-subnav li a i {
    display:none;
}

div#prop-image {
    width: 65%;
    float: right;
}

div#prop-heading {
    width: 30%;
    float: left;
}

/* ================================================ Jay's Styles ========================== */


#file-button-fix .uploadcare-widget-button {margin-top: 10px}

/* ========================= Global Styles ==================== */

.margin-pad-zero {margin: 0px; padding: 0px;}

.sub-page-wrap li {margin-bottom: 10px;}

.sub-page-wrap h4 {
    text-align: left;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

h3, h4 {font-weight: 200}

.no-padding {padding: 0px}

.facebook-blue {background-color: #3b5998; color: #fff;}

.twitter-blue {background-color: #4099FF; color: #fff;}

/* ========== columns of same height styles ====== */

.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}

.row-xs-embedded-height {
    display: flex;
}

.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* =============== vertical alignment styles ======== */

.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}


/* ========================= Prop ============================= */


.prop-image-wrap {
    margin-left: 0px;
    padding-left: 5px;
}

.prop-image {
    height: 280px;
    margin-left: 0px;
    padding-left: 0px;
}

.prop-image-ogx {
    height: 400px;
    margin-left: 0px;
    padding-left: 0px;
}

.prop-image-sm {
    margin-left: 0px;
    padding-left: 0px;
    z-index: 1;
}
.prop-image-xs { height:100%; margin-left: 0px; padding-left: 0px; }


.prop-info-wrap {
    padding: 0 0 0 5px;
}

.prop-wrap {
    margin: 30px 0 30px 0;
}

.channel-name {
    margin: 5px 0 0 0;
}

.channel-name h1 {margin-top: 0px;}

.prop-vote-now {
    margin: 0px 0 0 0;
    position: relative;
    bottom: 55px;
}

.vote-now-button {
    font-weight: 500;
}

.vote-now-button-sm {
    font-weight: 500;
}

.prop-vote-now-pos {
    position: relative;
    bottom: 60px;
}

.vote-now-pos-sm {
    position: relative;
    bottom: 60px;
}

.prop-info-wrap-lg {
    padding: 0 0 0 5px;
}

.vote-now-pos-lg {
     margin: 25px 0 0 0;
     padding: 0 15px 0 0;
 }

.vote-now-pos-sm {
    margin: 25px 0 0 0;
    padding: 35px 0 0 0;
}

.prop-state-active{ font-size: 20px; font-weight: 600; padding-right: 15px;}

.prop-state-inactive{ font-size: 20px; font-weight: 600; padding-right: 15px;}

/* ========================= Voting Options =================== */

.vote-optn-outter {padding-right: 5px; padding-left: 0px;}

.vote-optn-outter-xs {padding-right: 0px; padding-left: 0px;}

#xs-button-fix {padding-right: 0px; margin-right: 0px;}

.vote-optns-wrap-lg {
    padding: 0 25px 0 15px;
}

.vote-optns-wrap-sm {
    padding: 0 10px 0 0px;
    margin: 0px;
}

.vote-optns-wrap-xs {
    padding: 0 0px 0 0px;
    margin: 0px;
}

.button-padding {
    padding: 0px 5px 0px 5px;
}

.button-padding-xs {
    padding: 0px 0px 0px 5px;
}

.vote-button-padding {padding: 0px 15px 0px 5px;}

#two-left {margin:0 5px 5px 0;}

#two-right {margin:0 0 5px 5px; float: right;}

#full-center {margin:5px 0 5px 0; width: 100%;}

#three-left {margin:0 5px 5px 0;}

#three-mid {margin:0 0 5px 2px;}

#three-right {margin:0 0 5px 5px; float: right;}

#four-left {margin:0 4px 5px 0;}

#four-mid {margin:0 0 5px 2px;}

#four-mid {margin:0 0 5px 2px;}

#four-right {margin:0 0 5px 5px; float: right;}



.vote-optns-wrap-lg-sm {
    padding: 0 0 0 0;
}

.vote-optns {
    height: 100px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.vote-button {
    height: 100px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin: 10px 0 10px 0;
    font-weight:700;
    font-size:20px;
    border: 5px;
    float: right;
    width: 100%;
}

.vote-button:hover,
.vote-button:focus {
}

.vote-optns:active,
.vote-optns.active {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border: 0px;
}


.vote-optns-active {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border: 0px;
}

.vote-optns-button-colors {

}

.btn vote-optns-button-colors 2-right {margin-left: 5px;}

.btn vote-optns-button-colors 2-left {margin-right: 5px;}

btn-primary:active,
btn-primary.active {
}

/* ========================= Thank You For Voting / Prop Results =================== */

.results-wrap {}

.results-inner {
    margin: 0 15px 0 6px;
    padding: 0 0 15px 0;
}

.border-bottom {
    border-bottom: 1px solid;
}

.thank-you-text-pad {padding: 17px 0 0 0;}

.more-inner {
    border-bottom: 1px solid;
    margin: 60px 15px 40px 6px;
    padding: 0 0 0 0;
}

.highlighted-responce {
    border: 1px solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 7px 0 7px -10px;
}

.highlighted-responce i {float: right; padding: 3px 10px 0 0;}

.prop-stats-wrap .highlighted-responce h3 {
    margin: 7px 0 7px 10px;
}

.prop-stats-wrap h3 {
    margin: 14px 0 14px 0;
}

.status-banner {
    width: 118px;
    height: 211px;
    float: right;
    margin: -1px 40px 0 0;
    display: block;
}

.status-banner-sm {
    width: 80px;
    height: 211px;
    float: right;
    margin: -1px 20px 0 0;
    display: block;
}

.share-title h2 { margin-top: 18px;}

.share-button-wrap { margin: 20px 0 0 0;}

.ty-share-button {}

#right-padding-restore {padding-right: 15px;}

.outline-selected-button {}

/* ========================= Prop Status =================== */


.prop-status-wrap { margin-bottom: 20px;}

.prop-status {
    font-size: 16px;
}

.state-active { color: #5cb85c;}
.state_active { color: #5cb85c;}

.state-inactive { color: #999;}
.state_inactive { color: #999;}

.prop-control-group { padding: 0 0 80px 0;}

.prop-status-text-pad {padding: 17px 0 0 0;}

.prop-status-text-pad h3 {display: inline; margin: 0 15px 0 7px;}

.chart-wrap h4 {text-align: left; font-weight: 200;}

.prop-status-pie-chart-wrap {}

.pie-chart-pos {}

.pie-chart-pos-sm {
    position: relative;
    left: -8px;
}

.prop-status-pie-legend-wrap {}

.prop-status-pie-legend-wrap-lg {padding: 25px 0 0 0;}

.legend-pos {}

.line-chart-wrap {margin: 100px 0 0 0;}

.line-chart-pos {margin: 40px 0 0 0;}

.left-padding {margin: 0 0 0 15px;}

/* =========  Multi Question Charts ====== */

.multi-pie-chart-wrap {}

.multi-pie-chart-pos {
    width: 320px;
    position: relative;
    left: -65px;
}

.participation-spacer {margin-bottom: 40px;}

/*  .results-inner h2 {font-weight: 100; font-size: 35px;} */


/* ========================= Charts ================ */

.highcharts-button {
    display: none;
}
.results_barchartAge {}

.barcharts .highcharts-legend{
    display: none;
}
.barchart{
    width: 100px;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/* ========================= Leaderbord =================== */

.reset-wrap {padding-top: 10px; padding-bottom: 15px;}

.leaderbord-wrap {margin: 35px 0 0 0; background-color: #fff;}

.fp-leaderbord > tbody > tr > td {
    border: 0px;
}

.fp-leaderbord > thead > tr > th {
    border: solid;
    border-width: 0 0 1px 0;
}

.user-data-wrap {}

.user-data-inner {
    margin: 0 0 0 0px;
    padding: 0 0 15px 0;
}

.fp-leader-list > thead > tr > th {border-width: 0px}

/* ========================= User List ===================== */


.userlist-wrap {margin: 35px 0 0 0; background-color: #FFFFFF;}

.fp-userlist > tbody > tr > td {
    border: 0px;
}

.fp-userlist > thead > tr > th {
    border: solid;
    border-width: 0 0 0 0;
}

.fp-userlist > thead { }

.fp-userlist > tbody > tr:nth-child(even) > td, .fp-userlist > tbody > tr:nth-child(even) > th {

}

.fp-userlist > tbody > tr:nth-child(2n+1) > td, .fp-userlist > tbody > tr:nth-child(2n+1) > th {

}



/* ========================= My Channels =================== */

.my-channel-inner {margin: 0 0 20px 0;}

/* ========================= My Rankings =================== */

.rankings-logo {
    float: left;
}

.rankings-data-wrap { margin:40px 0 50px 0;}

.rankings-data-inner {
    margin: 0 0 0 0px;
    padding: 0 0 15px 0;
}

/* ========================= Image Preview ================ */
.modal-dialog {
    width: 90%;
}

.preview-wrap {}

.preview-square-wrap {
    padding: 0 0 0 5px;
}

.preview-square-inner {
    margin-left: 0px;
    padding-left: 5px;
    overflow: hidden;
    background-position: left;
    background-repeat:no-repeat;
    background-size: 100%;
}

.preview-square {
    overflow: hidden;
}

/* ========================= Tags ================ */
.bootstrap-tagsinput {
    width: 100%;
}

/* ================================================= Insight Tabs ==================== */

.tab-content-wrap {margin-bottom: 40px;}

.tab-content-wrap h4 {text-align: left; font-weight: 200;}

.tab-content-inner {
    margin: 0 15px 0 6px;
    padding: 0 0 15px 0;
}
.tab-content-inner .control-label {font-weight: 400;}

.tab-content-inner .input-sm {height: 25px; margin-top: 4px;}

.form-label-pad {padding: 0 20px 0 0;}

.extra-l-pad {padding-left: 20px}

.r-margin {margin-right: 20px;}

.tab-content-inner .control-label {text-align: right; padding-top: 7px;}

.small-selector {min-width: 40px;}

.insight-buttons-wrap {margin: 20px 0 0 0;}


.form-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 5px;
}

/* .col-sm-12, .col-xs-12{
    padding-right: 0px;
} */

.vote-options .col-sm-12{
    padding-right: 15px;
}

.vote-options .col-xs-12{
    padding-right: 25px;
}

.results-inner {
    margin-right: 0px;
}

.chart-wrap .prop-status-pie-legend-wrap, .chart-wrap .prop-status-pie-legend-wrap-lg {
    padding-right: 15px;
}

.results-inner .chart-wrap .prop-status-pie-legend-wrap, .results-inner .chart-wrap .prop-status-pie-legend-wrap-lg {
    padding-right: 30px;
}

.vote-button-spacing-bottom-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vote-button-spacing-right {
    margin-right: 5px;
}

/* ================================================= Alert ==================== */

#alerts-container {
    width: 70%;
    margin: 0 auto;
}


/*================================================= Animate ====================*/

/* when hiding the picture */
.ng-hide-add         { animation:0.5s fadeOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s fadeInUp ease; }

/**  **/

.logo-shadow {
    -webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.4);
}

.leaderboard-user-active {
    font-size: large;
    background-color: #000000;
}



/* ================================================= Multi-Question ==================== */


/* ====================== multi-question container ============== */

.multi-question-wrap {
    margin: 20px 0 60px 0;
    padding: 0 0 0px 0;
    border: 1px solid;
    min-height: 100px;
    overflow: hidden;
    background-color: #fff;
}


.multi-question-title {
    border-bottom: 1px solid;
    padding-left: 0px;
    overflow: hidden;
}

.multi-question-title h3 {margin-top: 15px; margin-bottom: 15px;}

.multi-question-title h4 {padding-top: 5px; margin-top: 0px; margin-bottom: 7px; text-align: left; vertical-align: top;}

.multiquestion-correctanswer-wrapper { padding: 15px; }

.multi-question-title-inner {margin-left: 0px; padding-left: 0px; overflow: hidden;}

/* ====================== multi-question numbers ============== */

.question-number-wrap {
    border: 0px solid;
    min-width: 70px;
    text-align: center;
    position: relative;
    padding-right: 5px;
    left: -12px;
}

.first-number {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 34px;
}

.second-number {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
}

/* ====================== multi-question radio buttons ============== */

.radio-wrap {
    padding: 15px 0px 10px 20px;
    font-size: 16px;
    line-height: 30px;
}


/* ====================== multi-question loading ============== */

.loading-wrap{padding: 15px 0 0 15px; font-style: italic;}

.spinner-pad {padding: 0 10px 0 0; margin-right: 10px;}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


/* ====================== multi-question icons ============== */

.icon-answer-wrap {
    width: 40px;
    display: block;
    text-align: center;
    float: left;
    padding: 1px;
}

.answer-name-wrapper {
    padding-left: 10px;
    display: inline-block;
    font-size: 15px;
}

.answer-name-wrapper-lg {
    padding-left: 10px;
    display: inline-block;
    padding-top: 5px;
    font-size: 16px;
}

.icon-answer-wrap-xs {padding-right: 0px; padding-left: 9px}

.incorrect-answer {color: #8C2A1F;}

.correct-answer {color: #4E8920;}

.icon-answer-xs {float: right; padding: 15px 0 0 0;}

.icon-answer-lg {float: right; padding: 0 0 0 0;}


/* ====================== multi-question progress bars ======= */

.answer-wrapper-progressbar .progress-bar {}

.progress-bars-xs {padding-left: 7px;}

.percent-wrapper {font-weight: 700; padding-left: 0px; margin-left: 0px; padding-top: 5px;}

.percent-wrapper-sm {font-weight: 700; padding-left: 15px}

.progress-wrap {padding-top: 5px;}


/* ====================== multi-question footer ============== */

.multi-question-footer{ margin: 0 0 0 0;}

.prop-collapse-answer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 200;
}

.prop-collapse-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 200;
    text-align: right;
    min-height: 60px;
}

.prop-collapse-text a {}

.prop-collapse-text a:hover {text-decoration: none; cursor: pointer; color: #fff}

.collapse-active {background-color: #fff;}

.collapse-active a {}

.collapse-active a:hover {text-decoration: none; cursor: pointer;}

.collapse-pad {padding-right: 15px;}

.footer-icons {padding: 20px 4px 15px 0;}


/* ============================================ Multi-Question Thank You Page ========== */


.circle-container {
    float: right;
    padding-right: 40%;
    margin-bottom: 30px;
}
.circle {
    background: none repeat scroll 0 0;
    border-radius: 100px;
    height: 200px;
    padding-top: 30%;
    text-align: center;
    width: 200px;
}

.circle span {
    display: block;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: -10px;
}

.final-score {
    font-weight: 100;
    font-size: 72px;
    position: relative;
    top: -12px;
    left: 5px;
}

.score-percent {font-size: 30px;}

.multi-thankyou-upper {margin: 50px 0 50px 0;}

.thankyou-text {padding: }

.thankyou-button-padding {margin: 25px 0 0 0;}

/* ====================== multi-question other ============== */

.quiz_arrow a {
    color: #fff;
}

.quiz_row {height: 56px; cursor: default }

.quiz_arrow_wrap {
    margin: 15px -1px 0 0;
    border-right: 1px solid #fff;
    height: 26px;
}

.quiz_arrow {
    text-align: left;
    font-size: 23px;
}

.quiz_title h3 {
    text-align: center;
    color: #fff;
    vertical-align: text-top;
    margin: 15px 0 0 0;
    padding: 0px;
}

.quiz_title h4 {
     text-align: center;
     color: #fff;
     vertical-align: text-top;
     margin: 20px 0 0 0;
     padding: 0px;
}

.quiz_title h6 {
    text-align: center;
    color: #fff;
    vertical-align: text-top;
    margin: 23px 0 0 0;
    padding: 0px;
}

.quiz_score_wrap {
    margin: 15px 0 0 -1px;
    border-left: 1px solid #fff;
    height: 26px;
    color: #fff;
}

.quiz_score {
    text-align: right;
    font-size: 20px;
    font-weight: 200;
}

.prop-collapse-wrapper {
    padding-top: 25px;
}

.answer-wrapper-progressbar {
    padding-top: 20px;
}

.answer-border {

}


/*.icon-ok-transparent {
    /* Required for IE 5, 6, 7 */

    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
/*    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
/*     filter: alpha(opacity=50);

    /* Older than Firefox 0.9 */
/*     -moz-opacity:0.5;

    /* Safari 1.x (pre WebKit!) */
/*     -khtml-opacity: 0.5;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
/*     opacity: 0.5;
}*/


.question-row {
    padding: 10px;
}


.list {
    list-style: none outside none;
    margin: 10px 0 30px;
}

/* http://embed.plnkr.co/uuwuZWoFsm4AOOaOOh9B/style.css **/
/* when hiding the thing */
.cssFade .ng-hide-add
{
    -webkit-animation:0.4s fadeOut ease;
    animation:0.4s fadeOut;
}

/* when showing the thing */
.cssFade .ng-hide-remove
{
    -webkit-animation:1.2s fadeIn ease;
    animation:1.2s fadeIn ease;
}

/* when hiding the picture */
/*.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

*//* when showing the picture *//*
.ng-hide-remove      { animation:0.5s flipInX ease; }*/

.slide-down.ng-hide-add,
.slide-down.ng-hide-remove {
    -webkit-transition:1s linear all;
    transition:1s linear all;

    /* remember to add this */
    display:block!important;
    opacity:1;
}
.slide-down.ng-hide {
    opacity:0;
}

.login-section {
    margin: 20px 0 0 0;
    /* font-size: 16px; */
    font-size: 13px;
}

.login-section.ng-hide-add
{
    -webkit-animation:0.4s fadeOut;
    animation:0.4s fadeOut;
}

.login-section.ng-hide-remove
{
    -webkit-animation:1.2s fadeIn ease;
    animation:1.2s fadeIn ease;
}

.login-tweeter-section.ng-hide-add
{
    -webkit-animation:0.4s fadeOut;
    animation:0.4s fadeOut;
}

.login-tweeter-section.ng-hide-remove
{
    -webkit-animation:1.2s fadeIn ease;
    animation:1.2s fadeIn ease;
}

.transparent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

.transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.fpcolorcontainer {
    width: 100%;
    height: 30px;
    border: 1px solid #000000;
    padding: 3px;
}


/* Embedded */
.question-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.quiz_row-embedded{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 1em;
}

.multi-question-wrap-embedded {
    border-radius: 15px;
    color: #ffffff;
    margin: 2em 10px 10px;
    padding: 10px;
}

.multi-question-title-embedded {
    margin-top: 2em;
    border-radius: 15px;
    font-size: 1em;
    background-color: #FFFFFF;
}

.answers-embedded {
    margin-bottom: 1.5em;
}

.vote-embedded {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2);
    height: 49px;
    margin-right: 1em;
    margin-top: 0.5em;
    position: relative;
    width: 49px;
}

.pollspace-embedded {
    border-radius: 2px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: #FFFFFF;
}