.vote-optns {
	background-color: #57A8D4;
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.vote-button {
	background-color: #4C4C4C;
	color: #57A8D4;
	border-color: #FFFFFF;
}

.vote-button:hover,
.vote-button:focus {
	background-color: #57A8D4;
	color: #4C4C4C;
}

btn-primary:active,
btn-primary.active {
  background-color: #EF6D54;
}

body {
	background-color: #FFFFFF;
	color: #EF6D54;
}

.fp-brand-name {
  color: #ffffff !important;
}

.fp-brand-name:hover,
.fp-brand-name:focus {
	color:#eaea13;
}

.navbar-custom-color-top {
	background-color: #4C4C4C;
	color: #FFFFFF;
}

.navbar-custom-color-top .navbar-brand:hover,
.navbar-custom-color-top .navbar-brand:focus {
  color: #FFFFFF;
}

.navbar-custom-color-top .navbar-text {
  color: #FFFFFF;
}

.navbar-custom-color-top .navbar-nav > li > a {
  color: rgba(87,168,212, 1);
}

.navbar-custom-color-top .navbar-nav > li > a:hover,
.navbar-custom-color-top .navbar-nav > li > a:focus {
  color: rgba(87,168,212, .7);
}

.navbar-custom-color-top .navbar-nav > .active > a,
.navbar-custom-color-top .navbar-nav > .active > a:hover,
.navbar-custom-color-top .navbar-nav > .active > a:focus {
  color: rgba(87,168,212, 1);
}

#sm-nav > li > a {
  color: #FFFFFF;
}

#sm-nav > li > a:hover,
#sm-nav > li > a:focus {
  color: #57A8D4;
}

#sm-nav > .active > a,
#sm-nav > .active > a:hover,
#sm-nav > .active > a:focus {
  color: #FFFFFF;
}

.secondary-nav-bkg {
	background-color: #57A8D4;
}

.nav-tabs.nav-justified.secondary-navbar > li > a {
	border: 1px #FFFFFF;
	color: #FFFFFF;
}

.nav-tabs.nav-justified.secondary-navbar > .active > a {
	color: #57A8D4;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	background-color: #FFFFFF;
	color: #57A8D4;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: rgba(87,168,212, 1);
    color: rgba(255, 255, 255, .8);
}

#single {
	background-color: #FFFFFF;
}

div.channel-name > h1 > a {
	color: #57A8D4;
}

.results-wrap {
	color: #FFFFFF;
}

.results-wrap h3 small { color: #FFFFFF; color: rgba(255, 255, 255, .6); }

.results-inner {background-color:#57A8D4;}

.border-bottom {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-color: rgba(255, 255, 255, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.more-inner {border-bottom-color: color: #EF6D54;}

.highlighted-responce {
	border-color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, .1);
}

.fp-leaderbord > thead > tr > th {border-color: #DDDDDD;}

.fp-leaderbord {border-color: #DDDDDD;}

.user-data-wrap {color: #FFFFFF;}

.user-data-wrap h3 small {color: rgba(255, 255, 255, .6); }

#stats-small {color: rgba(255, 255, 255, .6); }

.user-data-inner {background-color:#57A8D4;}

.user-data-inner a {color: rgba(255, 255, 255, .7); text-decoration:underline;}

.user-data-inner a:hover {color:rgba(255, 255, 255, 1); text-decoration:underline;}

.rankings-data-wrap {color: #FFFFFF;}

.rankings-data-wrap h3 small {color: rgba(255, 255, 255, .6); }

.rankings-data-inner {background-color:#57A8D4;}

.rankings-data-inner a {color: rgba(255, 255, 255, .7); text-decoration:underline;}

.rankings-data-inner a:hover {color:rgba(255, 255, 255, 1); text-decoration:underline;}

.ty-share-button {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 1);}

.ty-share-button:hover {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 0.8);}

.channel-standard-button {color:rgba(255,255,255, 1); background-color:rgba(87,168,212, 1); border-width: 0px;}

.channel-standard-button:hover {color:rgba(255,255,255, 1); background-color:rgba(87,168,212, 0.8); border-width: 0px;}

.channel-standard-button.disabled, .channel-standard-button.disabled:hover {color:rgba(255,255,255, 1); background-color:rgba(87,168,212, 0.8); border-width: 0px;}

.vote-now-button {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, .9);}

.vote-now-button:hover {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 1);}

.vote-now-button-sm {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, .9);}

.vote-now-button-sm:hover {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 1);}

.tab-content-wrap {color: #FFFFFF; background-color:#57A8D4;}

.tab-content-wrap h3 small { color: #FFFFFF; color: rgba(255, 255, 255, .6); }

.tab-content-inner {}

#fp-tabs .active a, #fp-tabs .active a:hover {
    background-color: #57A8D4;
    color: #ffffff;
    border-color: #57A8D4;
}

.m-l{
  margin-right: 10px;
}

.channel-inverted-button {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 1); border-width: 0px;}

.channel-inverted-button:hover {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 0.8); border-width: 0px;}

.outline-selected-button {background-color: rgba(87,168,212, 1); border-width:1px; border-color:rgba(255,255,255, 1); color:rgba(255,255,255, 1);}

.outline-selected-button:hover {background-color: rgba(87,168,212, 1); border-width: 1px; border-color: rgba(255,255,255, 1); color: rgba(255,255,255, 1); }

.prop-state-active {color:rgba(87,168,212, 1) }

.prop-state-inactive {color:rgba(87,168,212, .5) }

.fp-userlist > thead {color: rgba(87,168,212, 1); background-color: rgba(255, 255, 255, 1)}

.fp-userlist > tbody > tr:nth-child(even) > td, .fp-userlist > tbody > tr:nth-child(even) > th {color: rgba(255,255,255, 1); background-color: rgba(87,168,212, 0.9); border: 0px;}

.fp-userlist > tbody > tr:nth-child(2n+1) > td, .fp-userlist > tbody > tr:nth-child(2n+1) > th {color: rgba(255,255,255, 1); background-color: rgba(87,168,212, 0.7); border: 0px;}

.fp-userlist a {color: rgba(255, 255, 255, 1); cursor: pointer}

.fp-userlist {border-color: rgba(255, 255, 255, 1); }

.fp-userlist-inverted > thead {color: rgba(255, 255, 255, 1); background-color: rgba(87,168,212, 1)}

.fp-userlist-inverted > tbody > tr:nth-child(even) > td, .fp-userlist > tbody > tr:nth-child(even) > th {color: rgba(87,168,212, 1); background-color: rgba(255, 255, 255, 0.9); border: 0px;}

.fp-userlist-inverted > tbody > tr:nth-child(2n+1) > td, .fp-userlist > tbody > tr:nth-child(2n+1) > th {color: rgba(87,168,212, 1); background-color: rgba(255, 255, 255, 0.7); border: 0px;}

.fp-userlist-inverted {border-color: rgba(87,168,212, 1); }

.fp-userlist-inverted a {color: rgba(87,168,212, 1); cursor: pointer}

.user-data-inner {color: rgba(255, 255, 255, 1);}

.fp-leader-list > thead {color: rgba(255, 255, 255, 1); background-color: rgba(87, 168, 212, 1);}

.fp-leader-list > tbody > tr:nth-child(even) > td, .fp-userlist > tbody > tr:nth-child(even) > th {color: rgba(255,255,255, 1); background-color: rgba(87,168,212, 0.9); border: 0px;}

.fp-leader-list > tbody > tr:nth-child(2n+1) > td, .fp-userlist > tbody > tr:nth-child(2n+1) > th {color: rgba(255,255,255, 1); background-color: rgba(87,168,212, 0.7); border: 0px;}

.standard-pills li.active  a {color: rgba(255, 255, 255, 1); background-color: rgba(87,168,212, 1)}

.standard-pills li.active  a:hover  {color: rgba(255, 255, 255, 1); background-color: rgba(87,168,212, .7)}

.standard-pills li  a {color: rgba(87,168,212, 1); background-color: rgba(255, 255, 255, 1)}

.standard-pills li  a:hover {color: rgba(87,168,212, .8); background-color: rgba(255, 255, 255, 1); text-decoration: underline;}


/* ================================================= Multi-Question ==================== */

/* ====================== multi-question container ============== */

.multi-question-wrap {border-color: #289dca;} /* Highlight / color 2 */

.multi-question-title {border-bottom-color: #289dca /* Highlight / color 2 */; background: #D4EBF4 /* Monochrome 0 */;}

.multi-question-title h3 {color: #0C2F3D /* Monochrome 4 */;}

.multi-question-title h4 {color: #0C2F3D /* Monochrome 4 */;}

/* ====================== multi-question numbers ============== */

.question-number-wrap {background: #289dca /* Highlight / color 2 */; border-color: #289dca /* Highlight / color 2 */;}

.first-number {color: #ffffff;} /* BKG / color 1 */

.second-number {color: #ffffff;} /* BKG / color 1 */

/* ====================== multi-question progress bars ======= */

.answer-wrapper-progressbar .progress-bar {background-color: #C95628} /* Complementary 2 */

.answer-wrapper-progressbar .progress {background-color: #B2B2B2} /* Hardcoded */

.percent-wrapper {color: #C95628} /* Complementary 2 */

.percent-wrapper-sm {color: #C95628;} /* Complementary 2 */

/* ====================== multi-question footer ============== */

.prop-collapse-text a {color: #D4EBF4;} /* Monochrome 0 */

.collapse-active a {color: #289DCA;} /* Highlight / color 2 */

.collapse-active a:hover {color: #289DCA;} /* Highlight / color 2 */

.prop-collapse-text {background-color: #289DCA;} /* Highlight / color 2 */

.collapse-active {background-color: #fff;} /* Hardcoded */

/* ============================================ Multi-Question Thank You Page ========== */

.circle {background: #428bca;}

.circle span {background-color: #F4F4F4; color: #428bca;}

.final-score {color: #F4F4F4;}
