ì/*
NAME: FanProps
URL: http://www.flashprops.com
VERSION: Alpha.4
AUTHORS: Toyin Akinmusuru & <a href="http://www.10thleterdesigns.com">Jay Gregory</a>

MAIN.CSS

*/


/* ====================================== Global Styles =============== */


body {}

.fp-brand-name {
  float: left;
  padding: 14px 15px 10px 0;
  font-size: 20px;
  line-height: 22px;
  font-weight:700;
}

.fp-brand-name:hover,
.fp-brand-name:focus {
	text-decoration: none;
}

.brand-header-logo {
	float: left;
	margin: 5px 15px 0px 0px;
}

.icon-right-padding { padding-right: 10px;}

.col-centered{
    float: none;
    margin: 0 auto;
}

#left h4 {text-align:left;}

.fp-tag-label {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    margin: 0 8px;
    color: #57A8D4;
    background-color: #ffffff;
}

.extra-h-pad {margin: 0 20px 0 0 }

.extra-btm-pad {margin-bottom: 20px}

.extra-top-pad {margin-top: 25px}

/* ====================================== Primary Navigation =========== */


/* #top-nav-height { height: 100px; } --- Can't figure out how to make the top nav bar AND all it's ellements taller --- */

.navbar-custom-color-top {
	border-bottom: 0px;
	-webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 3px 9px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 9px rgba(0, 0, 0, 0.3);
	margin-bottom: 0px;
}

.navbar-custom-color-top .navbar-brand:hover,
.navbar-custom-color-top .navbar-brand:focus {
  background-color: transparent;
}

.navbar-custom-color-top .navbar-text {
}

.navbar-custom-color-top .navbar-nav > li > a {
}

.navbar-custom-color-top .navbar-nav > li > a:hover,
.navbar-custom-color-top .navbar-nav > li > a:focus {
  background-color: transparent;
}

.navbar-custom-color-top .navbar-nav > .active > a,
.navbar-custom-color-top .navbar-nav > .active > a:hover,
.navbar-custom-color-top .navbar-nav > .active > a:focus {
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
}

.navbar-custom-color-top:active,
.navbar-custom-color-top.active {
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#colapse-nav-fix {padding: 0px; margin:0px; height: 52px; border: 0px;}

.nav-item {float: right; padding: 0 0 0 7px;}

.mini-icon-fix {
	font-size: 18px;
}

.big-icon-fix {font-size: 28px;}

#sm-nav {
	padding: 0px;
	margin: 0px;
	height: 52px;
	float: right;
}

#sm-nav li {
	list-style: none;
	padding: 0px;
}

#sm-nav > li > a {
  position: relative;
  display: block;
  padding: 14px 7px 10px 7px;
}

#sm-nav > li > a:hover,
#sm-nav > li > a:focus {
  background-color: transparent;
}

#sm-nav > .active > a,
#sm-nav > .active > a:hover,
#sm-nav > .active > a:focus {
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
}

#sm-nav:active,
#sm-nav.active {
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

/* ====================================== Secondary Nav Tabs ======== */

.secondary-nav-bkg {
	margin-bottom: 20px;
}

.secondary-navbar {
	font-size: 15px;
	font-weight: 600;
	}

.nav-tabs.nav-justified.secondary-navbar > li > a {
	padding-top: 9px;
	padding-bottom: 8px;
	line-height: 20px;
	-webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

@media (max-width: 767px) {
	.nav-tabs.nav-justified.secondary-navbar > li {
		float: left;
		width: 25%;
	}
	.nav-tabs.nav-justified.secondary-navbar > li > a {
		margin-bottom: 0px;
	}
}

.nav-tabs.nav-justified.secondary-navbar > .active > a {
	border: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
}

.sub-nav-item-container {
	margin-left: auto;
	margin-right: auto;
}

.sub-nav-icon {
	float: left;
	width: 48%;
	text-align: right;
	margin: 0px;
}

.sub-nav-item {
	float: right;
	width: 48%;
	text-align: left;
	padding: 0 0 0 7px;
	margin: 0px;
}

.tabs-lg i {margin: 0 10px 0 0}


/* ====================================== Side Menu ================= */


.side-menu-sm {font-size: 13px;}

.side-menu-sm i {margin-right: 4px;}	

.side-menu-lg {font-size: 15px;}

.side-menu-lg i {margin-right: 10px;}

/* ====================================== Login Page ================= */

.login-wrap {margin: 40px 0; display: flex;}

.login-wrap h3 {padding: 0px 0 10px 0; text-align: left;}

.login-wrap h4 {padding: 0px 0 10px 0; text-align:left;}

.login-wrap-sm {margin: 30px 0 0 0;}

.login-wrap-sm h3,h4 {padding: 15px 0 10px 0; text-align:center;}

.login-wrap-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.admin-padding {margin: 170px 0 0 0;}

.log-pad {padding-top: 20px;}

.adler-blue {color: #17afd8 }

.log-pad {margin-left: 0px; padding-left: 0px;}

.fb-button {background-color: #3b5998; color: #ffffff; }

.fb-button:hover {background-color: rgba(59,89,152, .8); color: #ffffff;}

.twitter-button {background-color: #4099FF; color: #ffffff; }

.twitter-button:hover {background-color: rgba(102,173,255, .8); color: #ffffff;}

.google-button {background-color: #d14836; color: #ffffff; }
.google-button:hover {color: #ffffff; }

.login-pt2 {margin-top: 40px;}

.about-nav-wrap {
    padding: 25px 0 20px 0;
    width: 320px;
    font-size: 15px;
}


/* ====================================== Prop Styles =============== */

.prop {}

#single {
	background-image: url(images/pie-crop.jpg);
	/* opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	height: 280px;
	width: 100%;
	max-width: 730px;
}

.satus-banner {
	float: right;
	position: relative;
	top: -140px;
	width: 118px;
	height: 211px;
	margin: 0 40px 0 0;
	/* opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#voted-open {
	background-image: url(images/voted-full-open.png);
	/* opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* ====================================== About Page =============== */

/* ===================== About Nav ============= */

.about-nav-bkg {
	height: 52px;
	margin-bottom: 20px;
	background-color: #57A8D4;
}

.nav-pills.nav-justified.about-navbar > li > a {
	padding: 7px 0px 7px 0px;
	margin: 9px 5px 9px 5px;
	line-height: 20px;
	vertical-align: central;
	color: #fff;
}

.about-small {font-size: 13px;}

.nav-pills.nav-justified.about-navbar > li > a:hover {
	background-color: #65B7DB;
}

@media (max-width: 767px) {
	.nav-pills.nav-justified.about-navbar > li {
		float: left;
		width: 24%;
	}
	.nav-pills.nav-justified.about-navbar > li > a {
		margin-bottom: 0px;
	}
}

.nav-pills.nav-justified.about-navbar > .active > a {
	border: 0px;
	background-color: #fff;
	color: #57A8D4;
}

.about-section {
	width: 100%;
	min-height: 800px;
	padding: 100px 0 0 0;
	margin: 50px 0 0 0;
}

.about-fixed-header {
	position: fixed;
	width: 100%;
}

#social {}

.fp-devices {
	background-image: url(images/fp-devices.jpg);
	background-repeat: no-repeat;
	min-height: 500px;
}

.capitalize {
    text-transform:capitalize;
}

/* ====================================== My Account Page =============== */

.my-account-wrap {margin: 50px 0 0 0;}


/* Single Prop  */
.product-wrapper {
    border-radius: 2%;
    padding: 35px;
    margin: 10px;
    border: 1px solid #CCCCCC;
    width: 20%;
}

.product-wrapper .product-image {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.contesten-container {
    border-radius: 2%;
    padding: 35px;
    margin: 10px;
    border: 1px solid #CCCCCC;
}

.contestent-img-round-container div {
    /* min-height: 300px; */
    height: 250px;
    width: 250px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.contestent-weekof {
    font-size: 40px;
    font-weight: 100;
    color: #222222;
}

.contesten-container img {
    height: 300px;
}

.contestent-instagram-container {
    text-align: center;
}

.contestent-instagram-container span{
    margin-top: 10px;
    margin-left: 10px;
    color: #CCCCCC;
    display: inline-block;
}

.gray-circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #cccccc;
    display: inline-block;
    height: 20px;
    margin-top: 5px;
    position: relative;
    top: 3px;
    width: 20px;
}

.contestent-profile-container {
    cursor: pointer;
    padding: 10px;
    opacity: 0.7;
}

.contestent-profile-container:hover {
    opacity: 1;
}

.contestent-profile-container.active{
    opacity: 1;
}

.contestent-progressbar-container {
    margin-top: 10px;
}

.product-vote-container {
    cursor: pointer;
    opacity: 0.7;
    padding: 10px;
    display: inline-block;
}

.product-vote-container:hover {
    opacity: 1;
}

.product-vote-container.active{
    opacity: 1;
}

.submitedPhotos-profile-list-wrapper {
    list-style: none;
}

.submitedPhotos-profile-list-wrapper li {
    float: left;
    padding: 20px;
}

.submitedPhotos-item:hover {
    opacity: 0.7;
    cursor: pointer;
}

.submitedPhotos-item.active {
    opacity: 0.7;
}

.triangles-container img {
    width: 100%;
}

.ogx-thank-you {
    font-size: 3em;
    margin-top: 5px;
    margin-top: 5px;
}

.img-poll-TY-text {
    font-size: 15px;
    margin: 20px 0 5px 0;
}

.ogx-prop-image {
    height: 400px;
    max-width: 400px;
}

.contestents-container {}

.contestents-container hr {
    border-color: #bfbfbf;
}

.contestents-container h3 {
    font-weight: 700;
}

.mobile-gray-background-container {
    background-color: #F2F2F2;
}

.swipe {
    background-color: #F2F2F2;
    font-style: italic;
    height: 55px;
    padding-top: 5px;
    text-align: center;
    font-size: 1.2em;
}

.swipe-collapse {
    background-color: #f2f2f2;
    font-size: 1.2em;
    font-style: italic;
    height: 140px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
}

.swipe-icon-expand {
    background-image: url("images/ogx-expand-icon.png");
    background-repeat: no-repeat;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: -20px;
    width: 45px;
    cursor: pointer;
}

.swipe-icon-collapse {
    background-image: url("images/ogx-collapse-icon.png");
    background-repeat: no-repeat;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: -20px;
    width: 45px;
    cursor: pointer;
}

.vote-button-mobile {
    border-radius: 0;
    float: right;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    width: 100%;
    height: 70px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #ccc;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.hr-sect::before { margin: 0 8px 0 50px}
.hr-sect::after { margin: 0 50px 0 8px}

.login-welcome {
  text-align: center;
  font-size: 4.1em;
  /* color: #d3a586; */
  margin-bottom: 20px;
  line-height: 115%;
}

.login-image {
  margin: 15px 15%;
  width: 70%;
  max-width: 400px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.login-image > img {
  position: absolute;
  top: -160px;
}

.login-desc {
  margin-bottom: 30px;
  font-size: 16px;
  padding: 0 5%;
  text-align: center;
}

.login-started {
  text-align: center;
  font-size: 2.5em;
  /* color: #d3a586; */
  margin-bottom: 30px;
}

.login-about {
  text-align: center;
  margin-bottom: 30px;
  /* color: #d3a586 */;
}

.login-info-icon {
    /* background: #d3a586; */
    padding: 2px 5px 2px 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    color: #fff;
    margin-right: 10px;
}

.login-form {
  position: relative;
  align-items: stretch;
  flex: 1;
  border-radius: 5px;
  padding: 60px;
  min-height: 500px;
}

.logo-pollspace {
  /* width: 100%;
  bottom: 30px;
  left: 0;
  padding: 0 45px;*/
}

/* .login-fb-section {position: absolute; top: 40%}

.login-tweeter-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 15px;
  padding: 45px;
}*/

.login-section {
  padding: 0;
}

.login-fb-section { vertical-align: middle;}

.login-back-btn {
  position: absolute;
  font-size: 11px;
  bottom: 20px;
  left: 60px;
}

.btn-social {
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  height: 50px;
  padding-left: 50px;
}

.twitter-button, .google-button {
  font-size: 17px;
}

.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    line-height: 50px;
    font-size: 1.6em;
    text-align: center;
    background: #526997;
}

.login-input {
  height: 50px;
  line-height: 50px;
  padding: 12px;
}

.login-btn, .register-btn {
  width: 48%;
  height: 50px;
  padding: 12px;
  font-size: 18px;
  margin: 0;
}

.login-mask { height: 150px;}

.register-btn {float: right;}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.capitalize {
   text-transform: capitalize;
}

#login-tw {display: none;}

@media (max-width : 1024px) {
  /*.login-image > img {top: -120px}*/
} 

@media (max-width : 768px) {  
  .login-welcome {font-size: 3.5em; margin-bottom: 0}
  .login-desc {margin-bottom: 20px;}
  .login-started {margin-bottom: 20px; font-size: 2em;}
  .login-fb-section {margin-top: 20px;}
  .login-mask {height: 100px}
}

@media (max-width : 768px) and (orientation: portrait) {
  .btn-social {height: 40px; padding-left: 40px; font-size: 14px}
  .btn-social>:first-child {width: 40px; line-height: 40px; font-size: 1.35em}
  .login-btn, .register-btn { font-size: 14px;}
  .login-image {height: 60px;}
}

@media (max-width: 732px) {
  .login-wrap {display: block;}
  .login-mask {height: 0px}
  /*.login-image > img {top: -160px;}*/   
}

@media (max-width : 415px) {   
  .container {padding-left: 3%}
  .login-welcome {font-size: 3em;}
  .login-started {font-size: 1.5em;}
  .login-form {padding: 10%;}
  .logo-pollspace {padding: 0 6%;}
  .login-back-btn {left: 10%;}
  .logo-pollspace {bottom: 40px}
  .logo-pollspace > div:last-child {
    margin-top: 20px;
  }
  .login-image {height: 30px}
  .login-image > img {top: -105px;}
}

@media (max-width : 375px) { .login-image > img {top: -90px;} }
@media (max-width : 320px) { .login-image > img {top: -75px;} }

.linebreak {line-height: 16px; clear: both; display: block; width: 100%}