/*
NAME: FanProps
URL: http://www.flashprops.com
VERSION: Alpha.1
AUTHORS: Toyin Akinmusuru & <a href="http://www.10thleterdesigns.com">Jay Gregory</a>

DESKTOP CSS

*/



/* ================================================ Original Styles ======================= */



ul#fp-topnav li a i,
ul#fp-subnav li a i {
  display:none;
}

div#prop-image {
  width: 65%;
  float: right;
}

div#prop-heading {
  width: 30%;
  float: left;
}

/* ================================================ Jay's Styles ========================== */


/* ========================= Prop ============================= */


.prop-image-wrap {
  margin-left: 0px;
  padding-left: 5px;
}

.prop-image {
  height: 280px;
  margin-left: 0px;
  padding-left: 0px;
}

.prop-image-sm {
  margin-left: 0px;
  padding-left: 0px;
  z-index: 1;
}
.prop-image-xs { height:100%; margin-left: 0px; padding-left: 0px; }


.prop-info-wrap {
  padding: 0 0 0 5px;
}

.prop-wrap {
  margin: 30px 0 30px 0;
}

.channel-name {
  margin: 5px 0 0 0;
}

.channel-name h1 {margin-top: 0px;}

.prop-vote-now {
	margin: 0px 0 0 0;
	position: relative;
	bottom: 55px;
	}
	
.vote-now-button {
	font-weight: 500;
}

.vote-now-button-sm {
	font-weight: 500;
}

.prop-vote-now-pos {
	position: relative;
	bottom: 60px;
}

.vote-now-pos-sm {
	position: relative;
	bottom: 60px;
}

.prop-info-wrap-lg {
	padding: 0 0 0 5px;
}

.vote-now-pos-lg {
	margin: 25px 0 0 0;
	padding: 0 15px 0 0;
}

/* ========================= Voting Options =================== */

.vote-optns-wrap-lg {
  padding: 0 25px 0 15px;
}

.vote-optns-wrap-sm {
  padding: 0 10px 0 0px;
  margin: 0px;
}

.button-padding {
  padding: 0px 5px 0px 5px;
}

.vote-button-padding {padding: 0px 15px 0px 5px;}

#two-left {margin:0 5px 5px 0;}

#two-right {margin:0 0 5px 5px; float: right;}

#full-center {margin:5px 0 5px 0; width: 100%;}

#three-left {margin:0 5px 5px 0;}

#three-mid {margin:0 0 5px 2px;}

#three-right {margin:0 0 5px 5px; float: right;}

#four-left {margin:0 4px 5px 0;}

#four-mid {margin:0 0 5px 2px;}

#four-mid {margin:0 0 5px 2px;}

#four-right {margin:0 0 5px 5px; float: right;}



.vote-optns-wrap-lg-sm {
  padding: 0 0 0 0;
}

.vote-optns {
  height: 100px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.vote-button {
  height: 100px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin: 10px 0 10px 0;
  font-weight:700;
  font-size:20px;
  border: 5px;
  float: right;
  width: 100%;
}

.vote-button:hover,
.vote-button:focus {
}

.vote-optns:active,
.vote-optns.active {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   border: 0px;
   }

.vote-optns-button-colors {
  
}

.btn vote-optns-button-colors 2-right {margin-left: 5px;}

.btn vote-optns-button-colors 2-left {margin-right: 5px;}

btn-primary:active,
btn-primary.active {
}


/* ========================= Thank You For Voting / Prop Results =================== */

.results-wrap {}

.results-inner {
	margin: 0 15px 0 6px;
	padding: 0 0 15px 0;
}

.border-bottom {
	border-bottom: 1px solid;
}

.thank-you-text-pad {padding: 17px 0 0 0;}

.more-inner {
	border-bottom: 1px solid;
	margin: 60px 15px 40px 6px;
	padding: 0 0 0 0;
}

.highlighted-responce {
	border: 1px solid;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 7px 0 7px -10px;
}

.highlighted-responce i {float: right; padding: 3px 10px 0 0;}

.prop-stats-wrap .highlighted-responce h3 {
	margin: 7px 0 7px 10px;
}

.prop-stats-wrap h3 {
	margin: 14px 0 14px 0;
}

.status-banner {
  width: 118px;
  height: 211px;
  float: right;
  margin: -1px 40px 0 0;
  display: block;
}

.status-banner-sm {
  width: 118px;
  height: 10px;
  float: right;
  margin: -1px 20px 0 0;
  display: block;
  position: relative;
  top: 10px;
  overflow: visible;
  z-index: 5;
}

.status-banner-xs {
  width: 67px;
  height: 10px;
  float: right;
  margin: -2px 20px 0 0;
  display: block;
  position: relative;
  top: 10px;
  overflow: visible;
  z-index: 5;
}

.share-title h2 { margin-top: 18px;}

.share-button-wrap { margin: 20px 0 0 0;}

.ty-share-button {}

/* ========================= Prop Status =================== */

.prop-status-wrap { margin-bottom: 20px;}

.prop-status {
	font-size: 16px;
}

.state-active { color: #5cb85c;}

.state-inactive { color: #999;}

.prop-control-group { padding: 0 0 80px 0;}

/* ========================= Leaderbord =================== */

.reset-wrap {padding-top: 10px; padding-bottom: 15px;}

.leaderbord-wrap {margin: 35px 0 0 0; background-color: #fff;}

.fp-leaderbord > tbody > tr > td {
	border: 0px;
}

.fp-leaderbord > thead > tr > th {
	border: solid;
	border-width: 0 0 1px 0;
}

.user-data-wrap {}

.user-data-inner {
  margin: 0 0 0 0px;
  padding: 0 0 15px 0;
}

/* ========================= My Channels =================== */

.my-channel-inner {margin: 0 0 20px 0;}

/* ========================= My Rankings =================== */

.rankings-logo {
  float: left;
}

.rankings-data-wrap { margin:40px 0 50px 0;}

.rankings-data-inner {
  margin: 0 0 0 0px;
  padding: 0 0 15px 0;
}

/* ========================= Image Preview ================ */

.preview-wrap {}

.preview-square-wrap {
  padding: 0 0 0 5px;
}

.preview-square-inner {
  margin-left: 0px;
  padding-left: 5px;
  overflow: hidden;
  background-position: left;
  background-repeat:no-repeat;
  background-size: 100%;
}

.preview-square { 
	overflow: hidden;
}

