<section data-ng-controller="ChannelsController">
    <div class="container hidden-xs">
        <div class="row prop-wrap">
            <div class="col-md-7 col-sm-12 prop-info-wrap">
                <div class="channel-name">
                  <h1><a href="/#!/channel/{{channel.guid}}/single/{{prop.type}}/list">{{channel.name}}</a></h1>
                </div>
                <p>
                   We’re beauty, pure and simple: the be-who-you-are-and-rock-what-you-got kind of beauty. We love to make people feel extra amazing, because confidence looks great on everyone. And when you look awesome, and you feel amazing, you make bad ass things happen.  So we’re not concerned with looking “runway-ready;” that’s just not our style. So we don’t use models, and we don’t try to make hair look“perfect” because “perfect” hair isn’t realistic. Instead, we’d rather be a reflection of the people who love us and inspire us—beauties whoare authentic and original.
                </p>
                <p>
                    And we love being different. From our exotic ingredients to the shape of our bottles, we approach beauty in our own way. So we’ll neverask what you want to “fix” about your hair, because that’s something you should never even think about. We just want to know what you love about your hair, so we can make you love it even more.
                  <a href="https://www.ogxbeauty.com">https://www.ogxbeauty.com</a>
                </p>
            </div><!-- .col-md-5 prop-info-wrap -->
            <div class="col-md-5 col-sm-12 prop-image-wrap">
                <div ng-style="{'background-image': 'url(' + channel.picture + ')'}" style="background-repeat: no-repeat;
                        background-repeat: no-repeat;
                        background-size: 100%;"
                     class="prop-image">
                </div>
            </div><!-- .col-md-5 prop-image prop-image-DT -->
        </div><!-- .row prop-wrap -->
    </div>

    <div class="container visible-xs">
        <div class="row prop-wrap">
            <div class="col-xs-12 prop-info-wrap">
                <div class="channel-name">
                  <h1><a href="/#!/channel/{{channel.guid}}/single/{{prop.type}}/list">{{channel.name}}</a></h1>
                </div>
                <p>

                  We’re beauty, pure and simple: the be-who-you-are-and-rock-what-you-got kind of beauty. We love to make people feel extra amazing, because confidence looks great on everyone. And when you look awesome, and you feel amazing, you make bad ass things happen.  So we’re not concerned with looking “runway-ready;” that’s just not our style. So we don’t use models, and we don’t try to make hair look“perfect” because “perfect” hair isn’t realistic. Instead, we’d rather be a reflection of the people who love us and inspire us—beauties whoare authentic and original.
                </p>
                <p>
                  And we love being different. From our exotic ingredients to the shape of our bottles, we approach beauty in our own way. So we’ll neverask what you want to “fix” about your hair, because that’s something you should never even think about. We just want to know what you love about your hair, so we can make you love it even more.
                  <a href="https://www.ogxbeauty.com">https://www.ogxbeauty.com</a>
                </p>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-xs-12 prop-image-wrap square-me" style="height: 100px;">
                <div ng-style="{'background-image': 'url(' + channel.picture + ')'}" style="background-repeat: no-repeat;
                    background-repeat: no-repeat;
                    background-size: 100%;"
                     class="prop-image-xs">
                </div>
            </div><!-- .col-md-8 prop-image prop-image-DT -->
        </div><!-- .row prop-wrap -->
    </div>
</section>
