<section data-ng-controller="ChannelsController" data-ng-init="getLeaderboardPoints()">
    <h3>{{Channel.name}} Leaderboard</h3>

    <div class="user-data-wrap">
        <div class="row user-data-inner">
            <div class="col-md-6 col-sm-12">
                <div class="border-bottom"><h2>Welcome to our leaderboard!</h2></div>
                <div class="thank-you-text-pad" ng-if="!channel.leaderboard_desc">
                    <p>Every time you vote on, choose a correct answer for, or share a poll, you are awarded points!
                        You also earn points when we publish your suggested props! Check out where you stand and come
                        back often - the standings are always changing!
                    </p>
                </div>
                <div class="thank-you-text-pad" ng-if="channel.leaderboard_desc" data-ng-bind-html="channel.photo_page.desc">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 prop-stats-wrap">
                <div class="border-bottom"><h2>Your Current Standings:</h2></div>
                <h3>{{leaderboard.currentpoints}}<small id="stats-small"> current points</small></h3>
                <h3>{{leaderboard.alltimepoints}}<small id="stats-small"> all time points</small></h3>
                <h3>
                    {{leaderboard.currentranking}}  of {{leaderboard.currentrankingtotal}}  <small id="stats-small">
                    current ranking on leaderbord</small>
                </h3>
            </div><!-- .prop-stats-wrap -->
        </div><!-- .row .user-data-inner -->
    </div>


    <div class="userlist-wrap">
        <table class="table table-bordered table-striped table-condensed table-hover fp-leader-list">
            <thead>
            <tr>
                <th>User Name</th>
                <th>Current Points</th>
                <th>Total Points</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in leaderboardList" data-ng-class="{'leaderboard-user-active': global.user._id == row.user._id}">
                <td>
                    <span data-ng-hide="row.user.username">{{row.user.firstname}} {{row.user.lastname | ucfirst}}</span>
                    <span data-ng-show="row.user.username">{{row.user.username}}</span>
                </td>
                <td>{{row.current_points}}</td>
                <td>{{row.total_points}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
