<section data-ng-controller="ChannelsController" data-ng-init="find()">
    <h2> My Channels </h2>
    <br>

    <ul style="list-style-type: none;">
        <li data-ng-repeat="channel in channels">
            <span><a data-ng-href="#!/channel/{{channel.guid}}/view">{{channel.name}}</a></span>
        </li>
    </ul>
</section>