<section  data-ng-controller="ChartController">
    <h3>Pie Chart</h3>
    <button ng-click="pieChartOption1()">pieChartOption1</button>
    <button ng-click="pieChartOption2()">pieChartOption2</button>
    <button ng-click="pieChartOption3()">pieChartOption3</button>
    <button ng-click="changePieColor()">Change Color Randomnly</button>

    <div>
        <div style="float: left; width: 400px">
            <highchart id="chart1" config="pieChartConfig" class="span9" ></highchart>
        </div>
        <div style="float: left; width: 400px; padding-top: 100px">
            <ul style="list-style: none;">
                <li data-ng-repeat="legend in pieChartLegend">
                    <div class="legend_color" style="float: left; width: 50px; height: 50px;" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                    <div style="float: left; ">&nbsp;&nbsp;{{legend.number}}% - {{legend.name}}</div>
                    <div class="clearfix"></div>
                </li>
            </ul>

        </div>
        <div class="clearfix"></div>
    </div>


    <h3>Line Chart</h3>
    <button ng-click="lineChartOption1()">lineChartOption1</button>
    <button ng-click="lineChartOption2()">lineChartOption2</button>
    <button ng-click="lineChartOption3()">lineChartOption3</button>
    <div>
        <highchart id="chart2" config="lineChartConfig" class="span9" ></highchart>
    </div>


    <h3>Bar Stacked Chart</h3>
    <button ng-click="barChartOption1()">barChartOption1</button>
    <button ng-click="barChartOption2()">barChartOption2</button>
    <button ng-click="barChartOption3()">barChartOption3</button>
    <div>
        <highchart id="chart3" config="barChartConfig" class="span9" ></highchart>
    </div>
</section>
