<section  data-ng-controller="UsersController">

    <h2> Find Users </h2>
    <br>

    <form class="form-horizontal" role="form" data-ng-submit="findUsersByDemographic()">
        <div class="form-group">
            <label class="col-md-2 control-label">Gender</label>
            <div class="col-md-4">
                <select ng-model="gender" ng-options="id as name for (id,name) in filterGenderList">
                    <option value="">-- all genders --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Age Range From</label>
            <div class="col-md-4">
                <select ng-model="age_from" ng-options="n for n in [] | range:13:91">
                    <option value="">-- all ages --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">To</label>
            <div class="col-md-4">
                <select ng-model="age_to" ng-options="n for n in [] | range:13:91">
                    <option value="">-- all ages --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Relationship Status</label>
            <div class="col-md-4">
                <select ng-model="relationship_status" ng-options="id as name for (id,name) in filterRelationshipStatusList">
                    <option value="">-- all relationship status --</option>
                </select>
            </div>
        </div>

        <button class="btn btn-primary channel-standard-button" type="submit">Search</button>
    </form>

    <h3> Users List </h3>
    <br>

    <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="user in users">
            <span><a data-ng-href="#!/fp/user/{{user._id}}/edit">{{user.firstname}} {{user.lastname}}</a></span>
            <span>{{user._id}}</span>
            <span>{{user.facebook_data.gender}}</span>
            <span>{{user.facebook_data.age}}</span>
            <span>{{user.facebook_data.relationship_status}}</span>
        </li>
    </ul>
</section>
