<section data-ng-controller="UsersController">
    <div ng-show="infomessage">
        <div class="alert alert-info" id="message">
            {{infomessage}}
        </div>
    </div>

    <div class="container hidden-sm hidden-xs">
        <div class="row login-wrap">
            <div class="col-sm-4 center-block"><img src="/css/themes/images/fp-alpha-logo.gif"></div>
            <div class="col-sm-7 col-md-offset-1">

                <h3>Forgot Password</h3>
                <form method="post" action="/user/forgotpassword" data-toggle="validator" role="form" ng-form-validate>
                    <input type="hidden" name="is_admin" value="false">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input id="email" class="form-control" type="email" name="email"
                               placeholder="Email"
                               data-ng-model="email"
                               data-error="Email is not valid."
                               required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <button type="submit" class="btn channel-standard-button" data-ng-click="forgotpassword()">
                        Submit
                    </button>
                </form>

            </div>
        </div><!-- .row .login-wrap -->
    </div><!-- .container .hidden-xs -->


    <div class="container visible-sm visible-xs">
        <div class="row login-wrap-sm">
            <div class="col-sm-12"><img src="/css/themes/images/fp-alpha-logo-sm.gif"></div>
            <div class="col-sm-12">

                <h3>Forgot Password</h3>
                <form method="post" action="/user/forgotpassword" data-toggle="validator" role="form" ng-form-validate>
                    <input type="hidden" name="is_admin" value="false">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input id="email" class="form-control" type="email" name="email"
                               placeholder="Email"
                               data-ng-model="email"
                               data-error="Email is not valid."
                               required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <button type="submit" class="btn channel-standard-button" data-ng-click="forgotpassword()">
                        Submit
                    </button>
                </form>

            </div>
        </div><!-- .row .login-wrap -->
    </div><!-- .container .hidden-xs -->
</section>
