<section  data-ng-controller="ChannelsController" data-ng-init="getPalette();">

        <h3>FPColor Pallete Chooser </h3>

        <br>
        <div data-ng-repeat="(key, value) in palette">
            <div class="row">
                <div class="col-xs-3">
                    {{value.name}}
                </div>
                <div class="col-xs-3">
                    <div class="fpcolorcontainer" ng-style="{'background-color': value.color}">
                        {{value.color}}
                    </div>
                </div>
                <div class="col-xs-3">
                    {{value.color}}
                </div>
            </div>
            <br>
        </div>

</section>