<!--
Primary navigation
-------------------------------------------------------------->

<div class = "navbar navbar-custom-color-top navbar-static-top" id="top-nav-height">
    <div class = "container" id="top-nav-height">
        <div>
            <a href="#">
                <img src="/img/fp/pollspace_logo.png" height="40px" class="brand-header-logo">
            </a>
        </div>
        <ul class = "visible-xs list-inline" id="sm-nav">
            <li class = "active"><a href = "/#!/login"><i class="fa fa-unlock-alt fa-2x"></i></a></li>
            <li><a href = "#"><i class="fa fa-info-circle fa-2x"></i></a></li>
        </ul>
        <ul class = "visible-sm list-inline" id="sm-nav">
            <li class = "active"><a href = "/#!/login"><i class="fa fa-unlock-alt fa-lg"></i><div class="nav-item">Login</div></a></li>
            <li><a href = "#"><i class="fa fa-info-circle fa-lg"></i><div class="nav-item">About Pollspace</div></a></li>
        </ul>
        <ul class = "visible-md visible-lg nav navbar-nav navbar-right">
            <li class = "active"><a href = "/#!/login"><i class="fa fa-unlock-alt fa-lg"></i><div class="nav-item">Login</div></a></li>
            <li><a href = "#"><i class="fa fa-info-circle fa-lg"></i><div class="nav-item">About {{currentchannel.name}}</div></a></li>
        </ul>
    </div><!-- .container -->
</div><!-- .navbar .navbar-custom-color-top .navbar-static-top  -->





<!-- OLD HEADER CODE - DO NOT REMOVE - ANGULAR CONTROLLER
<div class="" data-ng-controller="HeaderController">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/">MEAN - A Modern Stack</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Signup <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="signupUser">Signup user</a></li>
            <li><a href="signupAdmin">Signup admin</a></li>
        </ul>
        <li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="signinUser">Signin user</a></li>
            <li><a href="signinAdmin">Signin admin</a></li>
        </ul>
        <li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.firstname}} {{global.user.lastname}}<b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a href="/#!/users/{{global.user._id}}">Account</a></li>
                <li><a href="/signout">Signout</a></li>
            </ul>
        </li>
    </ul>
</div>-->
