<section data-ng-controller="UsersController" >
    <div class="container hidden-sm hidden-xs">
        <div class="row login-wrap">
            <div class="col-sm-4 center-block"><img src="/img/fp/pollspace-square.png" style="width: 350px"></div>
            <div class="col-sm-7 col-md-offset-1">
                <h3>Pollspace Alpha Users Please Log In:</h3>
                <a href="/fb_login/{{access_token}}" class="btn btn-lg channel-standard-button btn-block"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a>
                <div class="admin-padding"> If you are one of our Alpha channel admins please <a href="/#!/admin_login">log in here.</a></div>
            </div>
            <!--
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <a href="/tw_login/{{access_token}}" class="btn btn-lg btn-info btn-block" disabled><i class="fa fa-twitter-square"></i> Twitter</a>
              </div>
            </div>
            -->
        </div><!-- .row .login-wrap -->
    </div><!-- .container .hidden-xs -->


    <div class="container visible-sm visible-xs">
        <div class="row login-wrap-sm">
            <div class="col-sm-12"><img src="/img/fp/pollspace-square.png" style="width: 200px"></div>
            <div class="col-sm-12">
                <h3>Pollspace Alpha Users Please Log In:</h3>
                <a href="/fb_login/{{access_token}}" class="btn btn-lg channel-standard-button btn-block"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a>
                <div class="admin-padding"> If you are one of our Alpha channel admins please <a href="/#!/admin_login">log in here.</a></div>
            </div>
            <!--
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <a href="/tw_login/{{access_token}}" class="btn btn-lg btn-info btn-block" disabled><i class="fa fa-twitter-square"></i> Twitter</a>
              </div>
            </div>
            -->
        </div><!-- .row .login-wrap -->
    </div><!-- .container .hidden-xs -->
</section>
