<div id="page" data-ng-controller="UsersController"><!-- start full page wrapper for menu slide -->
    <!--
    Content
    ------------------------------------------------------------- -->
    <div class="container">

        <section id="coming-soon" class="coming-soon">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <br><br><br>
                <img src="css/themes/images/pollspace_logo.png" class="img-responsive" style="width:100%">
                <h3 style="color:#999">
                    Pollspace is a digital polling & research platform built from the ground up to leverage today's
                    Smartphone & Social Media centric world.
                </h3>
                <h4 style="color:#333; text-align: left">If you would like to have your own branded Pollspace, sign up below for
                    our private beta:</h4>


                <div class="alert alert-success" ng-if="success">
                    {{success}}
                </div>

                <div class="alert alert-danger" id="errors" ng-if="errors">
                    <ul>
                        <li data-ng-repeat="(key,val) in errors">{{val.message}}</li>
                    </ul>
                </div>

                <form class="form-signin" method="post" data-toggle="validator" role="form" ng-form-validate >
                    <br>
                    <div class="form-group">
                        <input id="firstname" class="form-control" type="text" name="firstname"
                               placeholder="John"
                               data-ng-model="firstname"/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input id="lastname" class="form-control" type="text" name="lastname"
                               placeholder="Doe"
                               data-ng-model="lastname"/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input id="company_name" class="form-control" type="text" name="company"
                               placeholder="Company"
                               data-ng-model="company"/>
                        <div class="help-block with-errors"></div>
                    </div>


                    <div class="form-group">
                        <input id="email" class="form-control" type="email" name="email"
                               placeholder="john@doe.com"
                               data-ng-model="email"
                               data-error="Email is not valid."
                               required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="create" data-ng-click="signup()">Sign up</button>
                </form>
            </div>
        </section>

        <!-- .page-section -->
    </div>
    <!-- .container -->

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="admin-padding">
                If you are one of our Alpha channel admins please
                <a href="/#!/admin_login">log in here.</a>
            </div>
            <br><br><br>
        </div>
    </div>

</div>