<section data-ng-controller="UsersController">
    <div ng-show="infomessage">
        <div class="alert alert-info" id="message">
            {{infomessage}}
        </div>
    </div>

    <div class="container hidden-sm hidden-xs">
        <div class="row login-wrap">
            <div class="col-sm-4 center-block"><img src="/css/themes/images/fp-alpha-logo.gif"></div>
            <div class="col-sm-7 col-md-offset-1">

                <h3>Forgot Password</h3>
                <form method="post" data-toggle="validator" role="form" ng-form-validate>
                    <input type="hidden" name="is_admin" value="false">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" class="form-control" type="password" name="password"
                               placeholder="Password"
                               data-ng-model="password"
                               data-error="Password is required."
                               required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="confirmpassword" class="form-control" type="password" name="confirmpassword"
                               placeholder="Confirm Password"
                               data-match="#password"
                               data-ng-model="confirm_password"
                               data-error="Password is required."
                               data-match-error="Password doesn't match"
                               required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <button type="submit" id="submit" class="btn channel-standard-button" data-ng-click="resetpassword()">
                        Submit
                    </button>
                </form>

            </div>
        </div><!-- .row .login-wrap -->
    </div><!-- .container .hidden-xs -->


    <div class="container visible-sm visible-xs">
        <div class="row login-wrap-sm">
            <div class="col-sm-12"><img src="/css/themes/images/fp-alpha-logo-sm.gif"></div>
            <div class="col-sm-12">

                <h3>Forgot Password</h3>
                <form method="post" data-toggle="validator" role="form" ng-form-validate>
                    <input type="hidden" name="is_admin" value="false">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" class="form-control" type="password" name="password"
                               placeholder="Password"
                               data-ng-model="password"
                               data-error="Password is required."
                               required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="confirmpassword" class="form-control" type="password" name="confirmpassword"
                               placeholder="Confirm Password"
                               data-match="#password"
                               data-ng-model="confirm_password"
                               data-error="Password is required."
                               data-match-error="Password doesn't match"
                               required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <button type="submit" id="submit" class="btn channel-standard-button" data-ng-click="resetpassword()">
                        Submit
                    </button>
                </form>

            </div>
        </div><!-- .row .login-wrap -->
    </div><!-- .container .hidden-xs -->
</section>
