<section data-ng-controller="UsersController">
    <h2>Admin Signup</h2>

    <div ng-if="errors">
        <div class="alert alert-danger">
            <ul>
                <li data-ng-repeat="(key,val) in errors">{{key}}: {{val.message}}</li>
            </ul>
        </div>
    </div>


    <form class="signin form-horizontal" data-ng-submit="create()" method="post">
        <input type="hidden" name="is_admin" ng-init="is_admin=true"  ng-model="is_admin"  ng-update-hidden />
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">First Name</label>
            <div class="col-md-8">
                <input id="name" class="form-control" type="text" name="firstname" placeholder="First Name" data-ng-model="firstname" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Last Name</label>
            <div class="col-md-8">
                <input id="lastname" class="form-control" type="text" name="lastname" placeholder="Last Name" data-ng-model="lastname" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-8">
                <input id="email" class="form-control" type="text" name="email" placeholder="Email" data-ng-model="email"  />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-8">
                <input id="password" class="form-control" type="password" name="password" placeholder="Password" data-ng-model="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button class="btn btn-primary" type="submit">Sign up</button>&nbsp;
            </div>
        </div>
    </form>
</section>