<section data-ng-controller="UsersController" >
    <div ng-if="errors">
        <div class="alert alert-danger" id="errors">
            <ul>
                <li data-ng-repeat="(key,val) in errors">{{val.message}}</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row login-wrap">
            <div class="col-sm-12 col-md-4 log-pad hidden-xs hidden-sm">
                <div ng-if="currentchannel">
                    <img ng-src="{{currentchannel.picture}}" class="img-circle center-block logo-shadow" width="300px">
                    <h3>Welcome to #{{currentchannel.name}}</h3>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">



                <div class="row">

                    <div class="col-sm-12 col-md-5">

                        <div class="login-section"><h4>Sign up or login with Facebook:</h4></div>

                        <a href="/fb_login/{{access_token}}" class="btn btn-lg fb-button btn-block"><i class="fa fa-facebook-square fa-lg"></i> Log in with Facebook</a></p>

                    </div>

                    <div class="col-sm-12 col-md-6 col-md-offset-1">

                        <div class="login-section"><h4>Login with email:</h4></div>

                        <form role="form" method="post" action="/user/session">
                            <input type="hidden" name="is_admin" value="false">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder='Email'>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder='Password'>
                            </div>
                            <button type="submit" class="btn btn-primary channel-standard-button">
                                Log In
                            </button>

                            <a href="/#!/forgotpassword" style="margin-left: 10px">Forgot Password?</a>
                        </form>

                    </div>

                </div> <!-- .row -->

                <div class="login-section login-pt2">Sign up with e-mail
                    <button type="button" class="btn btn-xs channel-standard-button"   data-ng-click="toggle_signup = !toggle_signup">here </button>
                </div>

                <div id="profile" class="login-section" ng-show="toggle_signup">
                    <form method="post" data-toggle="validator" role="form" ng-form-validate>
                        <input type="hidden" name="is_admin" ng-init="is_admin=false"  ng-model="is_admin"  ng-update-hidden />
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input id="firstname" class="form-control" type="text" name="firstname"
                                   placeholder="Firstname"
                                   data-ng-model="firstname"
                                   data-error="Firstname is required."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input id="lastname" class="form-control" type="text" name="lastname"
                                   placeholder="Lastname"
                                   data-ng-model="lastname"
                                   data-error="Lastname is required."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input id="email" class="form-control" type="email" name="email"
                                   placeholder="Email"
                                   data-ng-model="email"
                                   data-error="Email is not valid."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!--<div class="form-group">
                            <label for="username">Display Name</label>
                            <input id="username" class="form-control" type="text" name="username"
                                   placeholder="Username"
                                   data-ng-model="username"
                                   data-error="Display Name is required."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>-->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="signup_password" class="form-control" type="password" name="password"
                                   placeholder="Password"
                                   data-ng-model="password"
                                   data-error="Password is required."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input id="confirmpassword" class="form-control" type="password" name="confirmpassword"
                                   placeholder="Confirm Password"
                                   data-match="#signup_password"
                                   data-ng-model="confirm_password"
                                   data-error="Password is required."
                                   data-match-error="Password doesn't match"
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <!--<div class="form-group">
                            <label for="zipcode">Zip Code</label>
                            <input id="zipcode" class="form-control" type="text" name="zipcode"
                                   placeholder="Zipcode"
                                   data-ng-model="zipcode"
                                   ng-blur="setCityState()"/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input id="city" class="form-control" type="text" name="city"
                                   placeholder="City"
                                   data-ng-model="city"/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="city">State</label>
                            <input id="state" class="form-control" type="text" name="state"
                                   placeholder="State"
                                   data-ng-model="state"/>
                            <div class="help-block with-errors"></div>
                        </div>-->

                        <button id="create" type="submit" class="btn channel-standard-button" data-ng-click="create()">Create</button>
                    </form>
                </div>

                <div class="login-section">By signing up you agree to our <a href="/#!/terms">"Terms & Conditions"</a>  and <a href="/#!/privacy"> "Privacy Policy"</a></div>



                <div class="col-sm-12 col-md-3 log-pad hidden-md hidden-lg" ng-if="currentchannel">
                    <h3>Welcome to #{{currentchannel.guid}}</h3>
                    <img ng-src="{{currentchannel.picture}}" class="img-circle center-block logo-shadow" width="280px">
                </div>

            </div>


            <!--
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <a href="/tw_login/{{access_token}}" class="btn btn-lg btn-info btn-block" disabled><i class="fa fa-twitter-square"></i> Twitter</a>
              </div>
            </div>
            -->
        </div><!-- .row .login-wrap -->
    </div><!-- .container .hidden-xs -->
</section>
