.vote-optns {
	background-color: #57A8D4;
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.vote-button {
	background-color: #4C4C4C;
	color: #57A8D4;
	border-color: #FFFFFF;
}

.vote-button:hover,
.vote-button:focus {
	background-color: #57A8D4;
	color: #4C4C4C;
}

btn-primary:active,
btn-primary.active {
  background-color: #EF6D54;
}

body {
	background-color: #FFFFFF;
	color: #EF6D54;
}

.fp-brand-name {
  color: #EF6D54;
}

.fp-brand-name:hover,
.fp-brand-name:focus {
	color:#eaea13;
}

.navbar-custom-color-top {
	background-color: #4C4C4C;
	color: #FFFFFF;
}

.navbar-custom-color-top .navbar-brand:hover,
.navbar-custom-color-top .navbar-brand:focus {
  color: #FFFFFF;
}

.navbar-custom-color-top .navbar-text {
  color: #FFFFFF;
}

.navbar-custom-color-top .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-custom-color-top .navbar-nav > li > a:hover,
.navbar-custom-color-top .navbar-nav > li > a:focus {
  color: #57A8D4;
}

.navbar-custom-color-top .navbar-nav > .active > a,
.navbar-custom-color-top .navbar-nav > .active > a:hover,
.navbar-custom-color-top .navbar-nav > .active > a:focus {
  color: #FFFFFF;
}

#sm-nav > li > a {
  color: #FFFFFF;
}

#sm-nav > li > a:hover,
#sm-nav > li > a:focus {
  color: #57A8D4;
}

#sm-nav > .active > a,
#sm-nav > .active > a:hover,
#sm-nav > .active > a:focus {
  color: #FFFFFF;
}

.secondary-nav-bkg {
	background-color: #57A8D4;
}

.nav-tabs.nav-justified.secondary-navbar > li > a {
	border: 1px #FFFFFF;
	color: #FFFFFF;
}

.nav-tabs.nav-justified.secondary-navbar > .active > a {
	color: #57A8D4;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	background-color: #FFFFFF;
	color: #57A8D4;
}

.nav-tabs.nav-justified.secondary-navbar > li > a:hover {
	color: #EF6D54;
	background-color: transparent;
}

.nav-tabs.nav-justified.secondary-navbar > li.active > a:hover {
	background-color: #FFFFFF;
	color: #57A8D4;
}

#single {
	background-color: #FFFFFF;
}

div.channel-name > h1 > a {
	color: #57A8D4;
}

.results-wrap {
	color: #FFFFFF;
}

.results-wrap h3 small { color: #FFFFFF; color: rgba(255, 255, 255, .6); }

.results-inner {background-color:#57A8D4;}

.border-bottom {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-color: rgba(255, 255, 255, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.more-inner {border-bottom-color: color: #EF6D54;}

.highlighted-responce {
	border-color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, .3);
	background-color: rgba(255, 255, 255, .1);
}

.fp-leaderbord > thead > tr > th {border-color: #DDDDDD;}

.fp-leaderbord {border-color: #DDDDDD;}

.user-data-wrap {color: #FFFFFF;}

.user-data-wrap h3 small { color: #FFFFFF; color: rgba(255, 255, 255, .6); }

.user-data-inner {background-color:#57A8D4;}

.user-data-inner a {color: rgba(255, 255, 255, .7); text-decoration:underline;}

.user-data-inner a:hover {color:rgba(255, 255, 255, 1); text-decoration:underline;}

.rankings-data-wrap {color: #FFFFFF;}

.rankings-data-wrap h3 small { color: #FFFFFF; color: rgba(255, 255, 255, .6); }

.rankings-data-inner {background-color:#57A8D4;}

.rankings-data-inner a {color: rgba(255, 255, 255, .7); text-decoration:underline;}

.rankings-data-inner a:hover {color:rgba(255, 255, 255, 1); text-decoration:underline;}

.ty-share-button {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 1);}

.ty-share-button:hover {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 0.8);}

.channel-standard-button {color:rgba(255,255,255, 1); background-color:rgba(87,168,212, 1);}

.channel-standard-button:hover {color:rgba(255,255,255, 1); background-color:rgba(87,168,212, 0.8);}

.vote-now-button {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, .9);}

.vote-now-button:hover {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 1);}

.vote-now-button-sm {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, .9);}

.vote-now-button-sm:hover {color:rgba(87,168,212, 1); background-color:rgba(255,255,255, 1);}
