<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
	{% include '../includes/head.html' %}
	<body data-ng-controller="MainController">
        <div id="page">
            {% if isSubdomainHeader %}
                <div data-ng-include="'/views/custom/{{guid}}/header.html'" data-role="navigation"></div>
            {% elseif mode == 'image' %}
                <div data-ng-include="'/views/custom/bahd/header.html'" data-role="navigation"></div>
            {% else %}
                <div data-ng-include="'/views/header.html'" data-role="navigation"></div>
            {% endif %}
            <div id="alerts-container">
                {% if flash_message %}
                    <div class="alert alert-{{flash_message.type}}">{{flash_message.message}}</div>
                {% endif %}
            </div>

            <section class="content">
                <section class="container">
                    {% block content %}{% endblock %}
                </section>
            </section>
            {% include '../includes/foot.html' %}

            {% if isSubdomainFooter %}
                <div data-ng-include="'/views/custom/{{guid}}/footer.html'" data-role="navigation"></div>
            {% elseif mode == 'image' %}
                <div data-ng-include="'/views/custom/bahd/footer.html'" data-role="navigation"></div>
            {% else %}
                <div data-ng-include="'/views/footer.html'" data-role="navigation"></div>
            {% endif %}

        </div>
    </body>
</html>
