<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
    {% include '../includes/headpropset.html' %}
    <body data-ng-controller="MainController">
        <div id="page">
            <div data-ng-include="'/views/header.html'" data-role="navigation"></div>
            <div id="alerts-container"></div>
            <section class="content">
                <section class="container">
                    {% block content %}{% endblock %}
                </section>
            </section>
        </div>

        {% include '../includes/footpropset.html' %}
        <div data-ng-include="'/views/footer.html'"></div>

        <script type="application/javascript">
            $(document).ready( function() {
                //THIS ALSO WORKS!!!
                //alert('hello');
            });
        </script>

        <script type="text/javascript">
            window.user = {{user|safe}};
            window.cguid = '{{cguid|safe}}';
            window.hostname = '{{hostname|safe}}';
            window.colors = '{{colors|safe}}';
            window.channel = {{channel|safe}};
            window.quiz = {{propsetJSON|safe}};
        </script>
    </body>
</html>
