<html>
<head>

</head>
<body>
<h1>Single Question Test</h1>


<!--<div style="width: 40%; height: 600px; border: 1px solid #CCCCCC; padding: 7px; margin-left: 40px; overflow-y: auto">

    <script src="{{hostname}}/prop/{{guid}}/poll.js"></script>

    &lt;!&ndash;<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{hostname}}/lib/iCheck/icheck.js"></script>

    <link rel="stylesheet" href="{{hostname}}/lib/iCheck/skins/all.css">

    <input type="radio"
           name="answer"
           value="dfgdfgdfg">

    <script type="application/javascript">
        $('input[name=answer]').iCheck({
            checkboxClass: 'icheckbox_square-aero',
            radioClass: 'iradio_square-aero',
            hoverClass: 'hover',
            focusClass: 'checked'
        });
    </script>&ndash;&gt;
</div>-->



<div class="pollspace-sq" style="width: 40%; height: 600px; border: 1px solid #CCCCCC; padding: 7px; margin-left: 40px; overflow-y: auto">
    <script src="{{hostname}}/prop/L7MPsv/poll.js"></script>
</div>

<br>
<div class="pollspace-sq" style="width: 40%; height: 600px; border: 1px solid #CCCCCC; padding: 7px; margin-left: 40px; overflow-y: auto">
    <script src="{{hostname}}/prop/Y5sXI2/poll.js"></script>
</div>

<br>
<div class="pollspace-sq" style="width: 40%; height: 600px; border: 1px solid #CCCCCC; padding: 7px; margin-left: 40px; overflow-y: auto">
    <script src="{{hostname}}/prop/o9sG54/poll.js"></script>
</div>


<div class="pollspace-mq" style="width: 40%; height: 600px; border: 1px solid #CCCCCC; padding: 7px; margin-left: 40px; overflow-y: auto">
    <script src="{{hostname}}/q/HyP3kp/poll.js"></script>
</div>
<br>
<div class="pollspace-mq" style="width: 40%; height: 600px; border: 1px solid #CCCCCC; padding: 7px; margin-left: 40px; overflow-y: auto">
    <script src="{{hostname}}/q/mJ9971/poll.js"></script>
</div>
<br>
<div class="pollspace-mq" style="width: 40%; height: 600px; border: 1px solid #CCCCCC; padding: 7px; margin-left: 40px; overflow-y: auto">
    <script src="{{hostname}}/q/zOE2SG/poll.js"></script>
</div>
</body>


</html>