<html>
<head>

</head>
<body>
<h1>Multiple Question Test</h1>


<div style="width: 40%; height: 530px; border: 1px solid #CCCCCC; padding: 7px; margin-left: 40px; overflow-y: auto">

    <script src="{{hostname}}/q/{{guid}}/poll.js"></script>
</div>
</body>


</html>