<section data-ng-controller="AdminChannelsController">

    <h2> Create Channel </h2>
    <br>

    <form id="channelcreateform" class="form-horizontal col-md-8" enctype="multipart/form-data" role="form" data-ng-submit="submit && create()" data-toggle="validator" ng-form-validate>
        <div class="first_tab" ng-show="showFirstStep">
            <div class="form-group">
                <label class="control-label" for="mode">Type</label>
                <select class="form-control input-sm" id="mode" ng-model="mode" ng-init="mode = 'standard'">
                    <option value="standard">Standard Channel</option>
                    <option value="image">Image Channel</option>
                </select>
            </div>            

            <div class="form-group">
                <label class="control-label" for="name">Guid</label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="Only lowercase letters are allowed. " bs-tooltip></span>
                <input type="text" class="form-control" ng-keyup="checkGuid($event)"
                       data-ng-model="guid"
                       value="{{guid}}"
                       id="guid"
                       placeholder="GUID">
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label class="control-label" for="name">Title</label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="No Apostrophes are allowed" bs-tooltip></span>
                <input type="text" class="form-control" ng-keyup="checkApostrophes($event)"
                       data-ng-model="name"
                       id="name" name="name"
                       placeholder="Title"
                       data-error="Name is required."
                       required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label class="control-label" for="description">Profile Description</label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="No Apostrophes are allowed" bs-tooltip></span>
                <textarea data-ng-model="description" ng-keyup="checkApostrophes($event)" id="description" class="form-control input-group" name="description"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label col-md-1" for="logo">Logo</label>

                <input ng-model="logo" id="logo" type="hidden" name="logo" ng-update-hidden>
                <img ng-src="{{logo}}" src="/img/fp/ps40x40.png" style="width: 40px; height: 40px"/>

                <div ng-uploadcare
                   images-only="true"
                   data-multiple="false"
                   data-crop="40x40 minimum"
                   callback="createChannelLogoCallback(file)">Pick File </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="logo">Sign in page</label>

                <input ng-model="picture" id="picture" type="hidden" name="picture" ng-update-hidden>
                <img ng-src="{{picture}}" src="/img/fp/ps400x400.png" style="width: 400px; height: 400px"/>

                <div ng-uploadcare
                      images-only="true"
                      data-multiple="false"
                      data-crop="400x400 minimum"
                      callback="createChannelPictureCallback(file)">Pick File</div>
            </div>

            <div class="form-group">
                <label class="control-label" for="mode">Sign In Page description</label>
                <wysiwyg textarea-id="signin-page" textarea-class="form-control"  textarea-height="150px" textarea-name="signin_page_desc" textarea-required ng-model="signin_page_desc" enable-bootstrap-title="false" textarea-menu="customMenu"></wysiwyg>
            </div>

            <div class="form-group">
                <label class="control-label" for="mode">Leaderboard description</label>
                <wysiwyg textarea-id="leaderboard" textarea-class="form-control"  textarea-height="150px" textarea-name="leaderboard_desc" textarea-required ng-model="leaderboard_desc" enable-bootstrap-title="false" textarea-menu="customMenu"></wysiwyg>
            </div>

            <div class="form-group">
                <label class="control-label" for="mode">Photo page description</label>
                <wysiwyg textarea-id="photo-desc" textarea-class="form-control"  textarea-height="150px" textarea-name="photo_desc" textarea-required ng-model="photo_desc" enable-bootstrap-title="false" textarea-menu="customMenu"></wysiwyg>
            </div>

            <div class="form-group">
                <label class="control-label" for="photo_page_image">Photo page image</label>

                <input ng-model="photo_page_image" id="photo_page_image" type="hidden" name="photo_page_image" ng-update-hidden>
                <img ng-src="{{photo_page_image}}" src="/img/BAHDBanner.png" style="width: 750px; height: 345px"/>

                <div ng-uploadcare
                      images-only="true"
                      data-multiple="false"
                      data-crop="750x345 minimum"
                      callback="createChannelPhotoPageImageCallback(file)">Pick File</div>
            </div>

            <div class="form-group">
                <label class="control-label" for="color_t">Text Color</label>
                <input colorpicker='hex' data-ng-model="color_t" id="color_t" name="color_t" type="text"
                       class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: color_t}"
                       pattern="#[0-9a-fA-F]{3,6}$"
                       data-error="Text Color is not valid. Only valid hexadecimal colors are allowed."/>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label class="control-label" for="color_one">Background Color</label>
                <input colorpicker='hex' data-ng-model="color_one" id="color_one" name="color_one" type="text"
                       class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: color_one}"
                       pattern="#[0-9a-fA-F]{3,6}$"
                       data-error="Background Color is not valid. Only valid hexadecimal colors are allowed."/>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label class="control-label" for="color_two">Highlight Color</label>
                <input colorpicker='hex' data-ng-model="color_two" id="color_two" name="color_two" type="text"
                       class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: color_two}"
                       pattern="#[0-9a-fA-F]{3,6}$"
                       data-error="Highlight Color is not valid. Only valid hexadecimal colors are allowed."/>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label class="control-label" for="color_third">Header Color</label>
                <input colorpicker='hex' data-ng-model="color_third" id="color_third" name="color_third" type="text"
                       class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: color_third}"
                       pattern="#[0-9a-fA-F]{3,6}$"
                       data-error="Header Color is not valid. Only valid hexadecimal colors are allowed."/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="controls">
                <button class="btn btn-default channel-standard-button" type="reset">Reset</button>

                <button type="button"
                        ng-click="showCreateModalPreview()"
                        class="btn btn-primary channel-standard-button">Preview</button>
                <button class="btn btn-primary channel-standard-button" type="button" ng-click="showFirstStep = !showFirstStep">Next >></button>
            </div>
        </div>

        <div class="second_tab" ng-show="!showFirstStep">
            <div class="form-group">
                <label for="facebook_name" class="control-label">Associated Facebook</label>
                <input type="text" class="form-control" data-ng-model="facebook_name" id="facebook_name" name="facebook_name" placeholder="Facebook Name">
            </div>

            <div class="form-group">
                <label for="twitter_name" class="control-label">Associated Twitter</label>
                <input type="text" class="form-control" data-ng-model="twitter_name" id="twitter_name" name="twitter_name" placeholder="Twitter Name">
            </div>

            <div class="form-group">
                <label class="control-label">Facebook Publishing</label>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="facebook_publishing" ng-init="facebook_publishing=true" value="true" name="facebook_publishing" ng-checked="true">On
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="facebook_publishing" value="false" name="facebook_publishing">Off
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label  class="control-label">Twitter Publishing</label>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="twitter_publishing" ng-init="twitter_publishing=true" value="true" name="twitter_publishing" ng-checked="true">On
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="twitter_publishing" value="false" name="twitter_publishing">Off
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Tags</label>
                <bootstrap-tagsinput ng-model="tags" tagclass="badge badge-info"></bootstrap-tagsinput>
            </div>

            <h3>Basic Point Scoring</h3>
            
            <div class="form-group">
                <label for="points_voting" class="control-label">Voting</label>
                <input type="number" class="form-control" data-ng-model="points_voting" id="points_voting">
                <div class="help-block with-errors"></div>
            </div>

            <div ng-if="mode == 'standard'">

                <h4>Quizzes</h4>

                <div class="form-group">
                    <label for="points_correct" class="control-label">Correct Answer</label>
                    <input type="number" class="form-control" data-ng-model="points_correct" id="points_correct">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_incorrect" class="control-label">Incorrect Answer</label>
                    <input type="number" class="form-control" data-ng-model="points_incorrect" id="points_incorrect">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_streakbonus" class="control-label">Streak Reward</label>
                    <input type="number" class="form-control" data-ng-model="points_streakbonus" id="points_streakbonus">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_share_classic" class="control-label">Share Quiz</label>
                    <input type="number" class="form-control" data-ng-model="points_share_classic" id="points_share_classic">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_suggest_classic" class="control-label">Quiz Selected</label>
                    <input type="number" class="form-control" data-ng-model="points_suggest_classic" id="points_suggest_classic">
                    <div class="help-block with-errors"></div>
                </div>

            </div>

            <h4>Polls</h4>

            <div class="form-group">
                <label for="points_completed" class="control-label">Completed Poll</label>
                <input type="number" class="form-control" data-ng-model="points_completed" id="points_completed">
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="points_share_opinion" class="control-label">Share Poll</label>
                <input type="number" class="form-control" data-ng-model="points_share_opinion" id="points_share_opinion">
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="points_suggest_opinion" class="control-label">Poll Selected</label>
                <input type="number" class="form-control" data-ng-model="points_suggest_opinion" id="points_suggest_opinion">
                <div class="help-block with-errors"></div>
            </div>

            <div ng-if="mode == 'standard'">
                <h3>Leaderboard</h3>
                <div class="form-group">
                    <label  class="control-label">Leaderboard Reset</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="leaderboard_reset" ng-init="leaderboard_reset=true" value="true" name="leaderboard_reset" ng-checked="true">Rolling Reset
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="leaderboard_reset" value="false" name="leaderboard_reset">Hard Reset
                        </label>
                    </div>
                </div>

            </div>

            <div class="controls">
                <button class="btn btn-default channel-standard-button" type="reset">Reset</button>
                <button type="button"
                        ng-click="showCreateModalPreview()"
                        class="btn btn-primary channel-standard-button">Preview</button>
                <a class="btn btn-primary channel-standard-button" ng-click="showFirstStep = !showFirstStep"><< Back</a>
                <button class="btn btn-primary channel-standard-button" id="create" type="submit" ng-click="submit();">Next >></button>
            </div>
        </div>
    </form>
</section>
