<section data-ng-controller="AdminChannelsController" data-ng-init="findOne()">

    <ul class="nav nav-tabs nav-justified" id="fp-tabs" role="tablist">
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/channel"><span class="glyphicon glyphicon-stats"></span> Channel Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/prop"><span class="glyphicon glyphicon-th-list"></span> Poll Insight</a></li>
        <li><a href="/#!/admin/channel/{{currentChannel._id}}/analytics/user"><span class="glyphicon glyphicon-user"></span> User Insight</a></li>
        <li  class="active"><a href="/#!/admin/channel/{{currentChannel._id}}/edit"><span class="glyphicon glyphicon-tasks"></span> Channel Settings</a></li>
    </ul>

    <div class="container tab-content-wrap">

      <div class="row tab-content-inner">

       <div class="border-bottom"><h2> Edit Channel </h2></div>

        <form class="form-horizontal col-md-8" enctype="multipart/form-data" role="form" data-toggle="validator" ng-form-validate>
            <div class="first_tab" ng-show="showFirstStep">
                <div class="form-group">
                    <label class="control-label" for="name">Guid</label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="Only lowercase letters are allowed. " bs-tooltip></span>
                    <input type="text" class="form-control" ng-keyup="checkGuid($event)"
                           data-ng-model="channel.guid"
                           value="{{channel.guid}}"
                           id="guid"
                           placeholder="GUID"
                           data-error="Guid is required."
                           required>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Title</label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="No Apostrophes are allowed" bs-tooltip></span>
                    <input type="text" class="form-control" ng-keyup="checkApostrophes($event)"
                           data-ng-model="channel.name"
                           value="{{channel.name}}"
                           id="name"
                           placeholder="Title"
                           data-error="Title is required."
                           required>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Profile Description</label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="No Apostrophes are allowed" bs-tooltip></span>
                    <textarea data-ng-model="channel.description" ng-keyup="checkApostrophes($event)"  id="description" class="form-control input-group"
                              name="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" for="logo">Logo</label>

                    <div id="file-button-fix">
                        <input ng-model="channel.logobk" id="logobk" type="hidden"  name="logobk" ng-init="logobk=channel.logo" ng-update-hidden>
                        <input ng-model="channel.logo" id="logo" type="hidden" name="logo" ng-init="logo=channel.logo" ng-update-hidden>
                        <img ng-src="{{channel.logo}}" src="/img/fp/ps40x40.png" style="width: 40px; height: 40px"/>

                        <div ng-uploadcare
                             images-only="true"
                             data-multiple="false"
                             data-crop="40x40 minimum"
                             callback="editChannelLogoCallback(file)"
                             value="{{channel.logo}}">Pick File</div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label" for="logo">Picture</label>

                    <div id="file-button-fix">
                        <input ng-model="picturebk" id="picturebk" type="hidden" ng-init="picturebk=channel.picture" ng-update-hidden>
                        <input ng-model="channel.picture" id="picture" type="hidden" name="picture" value="{{channel.picture}}" ng-update-hidden>
                        <img ng-src="{{channel.picture}}" src="/img/fp/ps400x400.png" style="width: 400px; height: 400px"/>

                        <div ng-uploadcare
                             images-only="true"
                             data-multiple="false"
                             data-crop="400x400 minimum"
                             callback="editChannelPictureCallback(file)"
                             value="{{channel.picture}}">Pick File</div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label" for="color_text">Text Color</label>
                    <input colorpicker='hex' data-ng-model="channel.color.color_text" value="{{channel.color.color_text}}" id="color_text" name="color_text"
                           type="text"  class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: channel.color.color_text}"
                           pattern="#[0-9a-fA-F]{3,6}$"
                           data-error="Text Color is not valid. Only valid hexadecimal colors are allowed."/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="color_one">Background Color</label>
                    <input colorpicker='hex' data-ng-model="channel.color.color1" value="{{channel.color.color1}}"  id="color_one" name="color_one"
                           type="text"  class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: channel.color.color1}"
                           pattern="#[0-9a-fA-F]{3,6}$"
                           data-error="Background Color is not valid. Only valid hexadecimal colors are allowed."/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="color_two">Highlight Color</label>
                    <input colorpicker='hex' data-ng-model="channel.color.color2" value="{{channel.color.color2}}" id="color_two" name="color_two"
                           type="text"  class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: channel.color.color2}"
                           pattern="#[0-9a-fA-F]{3,6}$"
                           data-error="Highlight Color is not valid. Only valid hexadecimal colors are allowed."/>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="color_third">Header Color</label>
                    <input colorpicker='hex' data-ng-model="channel.color.color3" value="{{channel.color.color3}}"  id="color_third" name="color_third"
                           type="text"  class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: channel.color.color3}"
                           pattern="#[0-9a-fA-F]{3,6}$"
                           data-error="Header Color is not valid. Only valid hexadecimal colors are allowed."/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="controls">
                    <button class="btn btn-primary pull-left channel-inverted-button extra-h-pad" type="reset">Reset</button>
                    <button type="button"
                            ng-click="showEditModalPreview()"
                            class="btn btn-primary pull-left channel-inverted-button extra-h-pad">Preview</button>

                    <button class="btn btn-primary pull-left channel-inverted-button extra-h-pad" type="button"
                            ng-click="showFirstStep = !showFirstStep">Next >></button>
                </div>
                <br/><br/>
            </div>

            <div class="second_tab" ng-show="!showFirstStep">
                <div class="form-group">
                    <label for="facebook_name" class="control-label">Associated Facebook</label>
                    <input type="text" class="form-control" data-ng-model="channel.social.facebook.name" id="facebook_name"
                           placeholder="Facebook Name">
                </div>

                <div class="form-group">
                    <label for="twitter_name" class="control-label">Associated Twitter</label>
                    <input type="text" class="form-control" data-ng-model="channel.social.twitter.name" id="twitter_name"
                           placeholder="Twitter Name">
                </div>

                <div class="form-group">
                    <label class="control-label">Facebook Publishing</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="channel.social.facebook.publishing" value="true"
                                   name="facebook_publishing" ng-checked="channel.social.facebook.publishing == true">On
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="channel.social.facebook.publishing" value="false"
                                   name="facebook_publishing" ng-checked="channel.social.facebook.publishing == false">Off
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label  class="control-label">Twitter Publishing</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="channel.social.twitter.publishing" value="true"
                                   name="twitter_publishing" ng-checked="channel.social.twitter.publishing == true">On
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="channel.social.twitter.publishing" value="false"
                                   name="twitter_publishing" ng-checked="channel.social.twitter.publishing == false">Off
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <bootstrap-tagsinput ng-model="channel.tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                </div>

                <h3>Basic Point Scoring</h3>

                <div class="form-group">
                    <label for="points_voting" class="control-label">Voting</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.voting" id="points_voting">
                    <div class="help-block with-errors"></div>
                </div>

                <h4>Quizzes</h4>

                <div class="form-group">
                    <label for="points_correct" class="control-label">Correct Answer</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.correct" id="points_correct">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_incorrect" class="control-label">Incorrect Answer</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.incorrect" id="points_incorrect">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_streakbonus" class="control-label">Streak Reward</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.streakbonus" id="points_streakbonus">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_share_classic" class="control-label">Share Quiz</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.share_classic" id="points_share_classic">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_suggest_classic" class="control-label">Quiz Selected</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.suggest_classic" id="points_suggest_classic">
                    <div class="help-block with-errors"></div>
                </div>

                <h4>Polls</h4>

                <div class="form-group">
                    <label for="points_completed" class="control-label">Completed Poll</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.completed" id="points_completed">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_share_opinion" class="control-label">Share Poll</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.share_opinion" id="points_share_opinion">
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="points_suggest_opinion" class="control-label">Upload Photo</label>
                    <input type="number" class="form-control" data-ng-model="channel.points.suggest_opinion" id="points_suggest_opinion">
                    <div class="help-block with-errors"></div>
                </div>

                <h3>Leaderboard</h3>
                <div class="form-group">
                    <label  class="control-label">Leaderboard Reset</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="channel.reset_rolling" value="true" name="leaderboard_reset"
                                   ng-checked="channel.reset_rolling == true">Rolling Reset
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="channel.reset_rolling" value="false" name="leaderboard_reset"
                                   ng-checked="channel.reset_rolling == false">Hard Reset
                        </label>
                    </div>
                </div>

                <div class="controls">
                    <button class="btn btn-primary pull-left channel-inverted-button extra-h-pad" type="reset">Reset</button>
                    <button class="btn btn-primary pull-left channel-inverted-button extra-h-pad" type="reset" ng-click="resetPoints()">Reset Points</button>
                    <button type="button"
                            ng-click="showEditModalPreview()"
                            class="btn btn-primary pull-left channel-inverted-button extra-h-pad">Preview</button>
                    <a class="btn btn-primary pull-left channel-inverted-button extra-h-pad" ng-click="showFirstStep = !showFirstStep"><< Back</a>
                    <button class="btn btn-primary pull-left channel-inverted-button extra-h-pad" id="update" type="submit" data-ng-click="update()">Next >></button>
                </div>
                <br/>
                <br/>
            </div>
        </form>
      </div>
    </div>
</section>
