<section data-ng-controller="AdminChannelsController" data-ng-init="getLeaderboardPoints()">
    <h3>Your Leaderboard</h3>
    <div class="leaderbord-wrap">
        <table class="table table-bordered table-striped table-condensed table-hover fp-userlist-inverted">
            <thead>
            <tr>
                <th>User Name</th>
                <th>Current Points</th>
                <th>Total Points</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in leaderboardList">
                <td>
                    <a href="#!/fp/user/{{row.user._id}}/view" title="View user information">
                        <span data-ng-hide="row.user.username">{{row.user.firstname}} {{row.user.lastname | ucfirst}}</span>
                        <span data-ng-show="row.user.username">{{row.user.username}}</span>
                    </a>
                </td>
                <td>{{row.current_points}}</td>
                <td>{{row.user.number.total_points}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
