<section data-ng-controller="AdminChannelsController" data-ng-init="find()">
    <h2> Channel List </h2>
    <br>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary channel-standard-button" href="/#!/admin/channel/create">
                <i class="fa fa-plus-square"></i>
                Create Channel
            </a>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Deleted</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="channel in channels">
                    <td><a href="/admin/channel/{{channel._id}}">{{channel.name}}</a></td>
                    <td>{{channel.timestamps.created | date:'MM/dd/yyyy HH:mm'}}</td>
                    <td>{{channel.timestamps.updated | date:'MM/dd/yyyy HH:mm'}}</td>
                    <td>{{channel.timestamps.deleted | date:'MM/dd/yyyy HH:mm'}}</td>
                    <td align="center"> <a href="/admin/channel/{{channel._id}}" title="Manage Polls"> <span class="fa fa-star"></span> </a> </td>
                    <td align="center"> <a data-ng-click="remove(channel._id);" title="Remove Channel"> <span class="fa fa-trash-o"></span> </a> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h1 data-ng-hide="!channels || channels.length">No channels yet. <br> Why don't you <a href="/#!/admin/channel/create">Create One</a>?</h1>
</section>