<section data-ng-controller="AdminChannelsController" data-ng-init="findChannelAdmins()">
    <h2> Manage Admins </h2>
    <br>

    <div class="form-group col-md-8 ">
        <input type="text" class="form-control"
               data-ng-init="findAdmins()"
               data-animation="am-flip-x"
               data-html="1"
               data-trigger="focus"
               data-minLength="3"
               ng-model="selectedAdmin"
               ng-options="admin as admin.label for admin in admins"
               placeholder="Search Admin..."
               bs-typeahead="typeahead">
    </div>

    <div class="form-group col-md-5 ">
        <button class="btn btn-primary channel-standard-button" type="submit" ng-click="addAdminToChannel()">
            <span class="glyphicon glyphicon-plus"></span>
            {{addAdminTitle}}
        </button>
    </div>

    <input type="hidden" data-ng-model="selectedAdminHidden">

    <div style="clear: both"></div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="cadmin in channel_admins">
                    <td>{{cadmin._id}}</td>
                    <td>{{cadmin.firstname}}</td>
                    <td>{{cadmin.lastname}}</td>
                    <td>
                        <a ng-click="removeAdminToChannel(cadmin._id)" style="cursor: pointer">
                            <span class="glyphicon glyphicon-minus-sign" title="Remove Admin" style="margin-left: 5px"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>