<section data-ng-controller="AdminChannelsController" data-ng-init="findAll()">
    <h2> Channel List </h2>
    <br>

    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Guid</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="channel in channels">
                <td>{{channel._id}}</td>
                <td>{{channel.name}}</td>
                <td>{{channel.guid}}</td>
                <td>
                    <a data-ng-href="/#!/admin/channel/{{channel._id}}/edit">
                        <span class="glyphicon glyphicon-edit" title="Edit Channel"></span>
                    </a>
                    <a data-ng-href="/#!/admin/channel/{{channel._id}}/manage/admins">
                        <span class="glyphicon glyphicon-cog" title="Manage Admins" style="margin-left: 5px"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>