
<div class="modal-body" ng-style="{backgroundColor: channel.color.color1, color: channel.color.color_text}">
    <div class="container">
        <h2>Manage Props</h2>
    </div>
    <hr>

    <div ng-if="props.length != 0">
        <ul style="list-style-type: none;">
            <li data-ng-repeat="prop in props">
                <div id="propList">
                    <div class="container hidden-sm hidden-xs">
                        <div class="row prop-wrap">
                            <div class="col-md-4 col-sm-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">{{prop.name}}</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-md-8 col-sm-12 prop-image-wrap">
                                <div class="prop-image" ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat; width: 95%"> </div>
                            </div>
                        </div><!-- .row prop-wrap -->
                    </div>
                    <div class="container visible-sm">
                        <div class="row prop-wrap">
                            <div class="col-md-4 col-sm-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">{{prop.name}}</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-sm-12 prop-image-wrap">
                                <div class="prop-image" ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;"> </div>
                            </div><!-- .col-sm-12 prop-image-wrap -->
                        </div><!-- .row prop-wrap -->
                    </div>
                    <div class="container visible-xs">
                        <div class="row prop-wrap">
                            <div class="col-xs-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">{{prop.name}}</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-xs-12 prop-image-wrap square-me" style="height: 100px;">
                                <div class="prop-image" ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat; "> </div>
                            </div><!-- .col-xs-12 prop-image-wrap square-me -->
                        </div><!-- .row prop-wrap -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-if="props.length == 0">
        <ul style="list-style-type: none;">
            <li class="ng-scope">
                <div id="propList">
                    <div class="container hidden-sm hidden-xs">
                        <div class="row prop-wrap">
                            <div class="col-md-4 col-sm-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">One Poll</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-md-8 col-sm-12 prop-image-wrap">
                                <div class="prop-image" ng-style="{'background-image': 'url(/img/fp/ps740x280.png)'}" style="background-repeat: no-repeat; width: 95%"> </div>
                            </div>
                        </div><!-- .row prop-wrap -->
                    </div>
                    <div class="container visible-sm">
                        <div class="row prop-wrap">
                            <div class="col-md-4 col-sm-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">One Poll</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-sm-12 prop-image-wrap">
                                <div class="prop-image" ng-style="{'background-image': 'url(/img/fp/ps740x280.png)'}" style="background-repeat: no-repeat;"> </div>
                            </div><!-- .col-sm-12 prop-image-wrap -->
                        </div><!-- .row prop-wrap -->
                    </div>
                    <div class="container visible-xs">
                        <div class="row prop-wrap">
                            <div class="col-xs-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">One Poll</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-xs-12 prop-image-wrap square-me" style="height: 100px;">
                                <div class="prop-image" style="background-image: url('/img/fp/ps740x280.png'); background-repeat: no-repeat; "> </div>
                            </div><!-- .col-xs-12 prop-image-wrap square-me -->
                        </div><!-- .row prop-wrap -->
                    </div>
                </div>
            </li>
            <li class="ng-scope">
                <div id="propList">
                    <div class="container hidden-sm hidden-xs">
                        <div class="row prop-wrap">
                            <div class="col-md-4 col-sm-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">Second Poll</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-md-8 col-sm-12 prop-image-wrap">
                                <div class="prop-image" style="background-image: url('/img/fp/ps740x280.png'); background-repeat: no-repeat; width: 95%"> </div>
                            </div>
                        </div><!-- .row prop-wrap -->
                    </div>
                    <div class="container visible-sm">
                        <div class="row prop-wrap">
                            <div class="col-md-4 col-sm-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">Second Poll</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-sm-12 prop-image-wrap">
                                <div class="prop-image" style="background-image: url('/img/fp/ps740x280.png'); background-repeat: no-repeat;"> </div>
                            </div><!-- .col-sm-12 prop-image-wrap -->
                        </div><!-- .row prop-wrap -->
                    </div>
                    <div class="container visible-xs">
                        <div class="row prop-wrap">
                            <div class="col-xs-12 prop-info-wrap">
                                <div class="prop_question">
                                    <h3><a href="/#!/prop/{{prop.guid}}">Second Poll</a></h3>
                                    <div class="vote-now-pos-lg">
                                        <a class="btn btn-lg btn-block" ng-style="{backgroundColor: channel.color.color2, color: channel.color.color_text}">Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
                                    </div>
                                </div>
                            </div><!-- .col-md-4 prop-info-wrap -->
                            <div class="col-xs-12 prop-image-wrap square-me" style="height: 100px;">
                                <div class="prop-image" style="background-image: url('/img/fp/ps740x280.png'); background-repeat: no-repeat; "> </div>
                            </div><!-- .col-xs-12 prop-image-wrap square-me -->
                        </div><!-- .row prop-wrap -->
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
