<section data-ng-controller="AdminChannelsController" data-ng-init="findOne()">

    <h2> View Channel </h2>
    <br>

    <form class="form-horizontal col-md-8" enctype="multipart/form-data" role="form">
        <div class="first_tab" ng-show="showFirstStep">
            <div class="form-group">
                <label class="control-label" for="name">Title</label>
                <input type="text" class="form-control" data-ng-model="channel.name" id="name" placeholder="name" readonly="readonly">
            </div>

            <div class="form-group">
                <label class="control-label" for="description">Profile Description</label>
                <textarea data-ng-model="channel.description" id="description" class="form-control input-group" name="description" readonly="readonly"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label">Logo</label>
                <img ng-src="{{channel.logo}}" style="max-width: 100px; max-height: 100px;"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="color_text">Text Color</label>
                <input colorpicker="hex" data-ng-model="channel.color.color_text" id="color_text" name="color_text" type="text"  class="form-control" placeholder="#FFFFFF" readonly="readonly">
            </div>

            <div class="form-group">
                <label class="control-label" for="color_one">Background Color</label>
                <input colorpicker="hex" data-ng-model="channel.color.color1" id="color_one" name="color_one" type="text"  class="form-control" placeholder="#FFFFFF" readonly="readonly">
            </div>

            <div class="form-group">
                <label class="control-label" for="color_two">Highlight Color</label>
                <input colorpicker="hex" data-ng-model="channel.color.color2" id="color_two" name="color_two" type="text"  class="form-control" placeholder="#FFFFFF" readonly="readonly">
            </div>

            <div class="form-group">
                <label class="control-label" for="color_third">Header Color</label>
                <input colorpicker="hex" data-ng-model="channel.color.color3" id="color_third" name="color_third" type="text"  class="form-control" placeholder="#FFFFFF" readonly="readonly">
            </div>

            <div class="controls">
                <button class="btn btn-primary channel-standard-button" type="button"
                        ng-click="showFirstStep = !showFirstStep">Next >></button>
            </div>
        </div>

        <div class="second_tab" ng-show="!showFirstStep">
            <div class="form-group">
                <label for="facebook_name" class="control-label">Facebook Name</label>
                <input type="text" class="form-control" data-ng-model="channel.social.facebook.name" id="facebook_name" placeholder="Facebook Name" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="facebook_publishing" class="control-label">Facebook Publishing</label>
                <input type="checkbox" class="form-control" data-ng-model="channel.social.facebook.publishing" id="facebook_publishing" ng-checked="facebook" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="twitter_name" class="control-label">Twitter Name</label>
                <input type="text" class="form-control" data-ng-model="channel.social.twitter.name" id="twitter_name" placeholder="Twitter Name" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="twitter_publishing" class="control-label">Twitter Publishing</label>
                <input type="checkbox" class="form-control" data-ng-model="channel.social.twitter.publishing" id="twitter_publishing" ng-checked="twitter" readonly="readonly">
            </div>

            <h3>Basic Point Scoring</h3>
            <h4>Voting Props</h4>
            <div class="form-group">
                <label for="points_voting" class="control-label">Voting</label>
                <input type="text" class="form-control" data-ng-model="channel.points.voting" id="points_voting" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="points_correct" class="control-label">Correct Answer</label>
                <input type="text" class="form-control" data-ng-model="channel.points.correct" id="points_correct" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="points_incorrect" class="control-label">Incorrect Answer</label>
                <input type="text" class="form-control" data-ng-model="channel.points.incorrect" id="points_incorrect" readonly="readonly">
            </div>


            <h4>Classic Props</h4>

            <div class="form-group">
                <label for="points_streakbonus" class="control-label">Streak Reward</label>
                <input type="text" class="form-control" data-ng-model="channel.points.streakbonus" id="points_streakbonus" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="points_share_classic" class="control-label">Share Poll</label>
                <input type="text" class="form-control" data-ng-model="channel.points.share_classic" id="points_share_classic" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="points_suggest_classic" class="control-label">Poll Selected</label>
                <input type="text" class="form-control" data-ng-model="channel.points.suggest_classic" id="points_suggest_classic" readonly="readonly">
            </div>

            <h4>Opinion Props</h4>

            <div class="form-group">
                <label for="points_completed" class="control-label">Completed Poll</label>
                <input type="text" class="form-control" data-ng-model="channel.points.completed" id="points_completed" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="points_share_opinion" class="control-label">Share Poll</label>
                <input type="text" class="form-control" data-ng-model="channel.points.share_opinion" id="points_share_opinion" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="points_suggest_opinion" class="control-label">Poll Selected</label>
                <input type="text" class="form-control" data-ng-model="channel.points.suggest_opinion" id="points_suggest_opinion" readonly="readonly">
            </div>

            <h3>Leaderboard</h3>
            <div class="form-group">
                <label  class="control-label">Leaderboard Reset</label>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="channel.reset_rolling" value="true" name="leaderboard_reset"
                               ng-checked="channel.reset_rolling == true" readonly="readonly">Rolling Reset
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="channel.reset_rolling" value="false" name="leaderboard_reset"
                               ng-checked="channel.reset_rolling == false" readonly="readonly">Hard Reset
                    </label>
                </div>
            </div>

            <div class="controls">
                <a class="btn btn-primary channel-standard-button" ng-click="showFirstStep = !showFirstStep"><< Back</a>
            </div>
        </div>
    </form>

</section>