<form class="form-horizontal" enctype="multipart/form-data" role="form" id="propform" data-toggle="validator" ng-form-validate>
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" ng-model="type" data-ng-init="type = propType">

            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" data-ng-model="prop.name" id="name" placeholder="name"
                       data-error="Name is required."
                       required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="details" class="control-label">Details</label>
                <textarea data-ng-model="prop.details" id="details" cols="30" rows="10" placeholder="Details" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label">File Image</label>
                <input ng-model="prop.image" data-ng-init="prop.image = '/img/fp/ps740x280.png'" id="logo" type="hidden" name="image" ng-update-hidden>
                <div id="file-button-fix">
                    <div class="hidden-xs">
                        <div class="prop-image-wrap">
                            <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                                 class="prop-image">
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <div style="height: 100px;" class="prop-image-wrap square-me">
                            <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                                 class="prop-image-xs">
                            </div>
                        </div>
                    </div>
                    <div ng-uploadcare
                         images-only="true"
                         data-multiple="false"
                         data-crop="740x280 minimum"
                         callback="createPropImageCallback(file)">Pick File
                    </div>
                </div>
            </div><!-- .form-group -->

            <div class="form-group">
                <label class="control-label">Tags</label>
                <bootstrap-tagsinput ng-model="prop.tags" tagclass="badge badge-info"></bootstrap-tagsinput>
            </div>

            <div class="form-group" data-ng-init="initCreateAnswers()">
                <label class="control-label">Options</label>&nbsp; <span class="glyphicon glyphicon-question-sign" data-title="At least 2 options are required." bs-tooltip></span>

                <div ui-view="opinion_options" ng-if="propType == 'opinion'"></div>
                <div ui-view="classic_options" ng-if="propType == 'classic'"></div>
                <div ui-view="quiz_options" ng-if="propType == 'quiz'"></div>

                <div class="controls">
                    <button id="create" data-ng-click="create()" type="submit" class="btn btn-primary pull-left channel-standard-button extra-h-pad" name="save">Save</button>
                    <button type="button"
                            ng-click="showCreateModalPreview()"
                            class="btn btn-primary channel-standard-button">Preview</button>
                </div>
            </div>
        </div>
    </div>
</form>