<form class="form-horizontal" enctype="multipart/form-data" role="form" id="propform" data-toggle="validator" ng-form-validate>

    <input type="hidden" ng-model="type" data-ng-init="type = propType">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name" class="control-label">Title</label>
                <input type="text" class="form-control" data-ng-model="prop.name" id="name" placeholder="Title"
                       data-error="Name is required."
                       required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label class="control-label" for="mode">Description</label>
                <wysiwyg textarea-id="prop-description" textarea-class="form-control"  textarea-height="150px" textarea-name="prop_desc" textarea-required ng-model="prop.desc" enable-bootstrap-title="false" textarea-menu="customMenu"></wysiwyg>
            </div>

            <div class="form-group">
                <label for="name" class="control-label">Week of: </label>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class='input-group date' id="weeokof_from_date" data-linked_id="weeokof_to_date" data-restriction_date="minDate" data-date-picker>
                            <input type='text' class="form-control" ng-model="prop.weekof.from" id="weekof_from_date_input">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <span class="col-xs-4 col-sm-4 col-md-4"> through </span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class='input-group date' id="weeokof_to_date"  data-linked_id="weeokof_from_date" data-restriction_date="maxDate" data-date-picker>
                            <input type='text' class="form-control" ng-model="prop.weekof.to" id="weekof_to_date_input">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">File Image</label>
                <input ng-model="prop.image" data-ng-init="prop.image = '/img/fp/ps740x280.png'" id="logo" type="hidden" name="image" ng-update-hidden>
                <div id="file-button-fix">
                    <div class="hidden-xs">
                        <div class="prop-image-wrap">
                            <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                                    background-repeat: no-repeat;
                                    background-size: 100%;"
                                 class="prop-image">
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <div style="height: 100px;" class="prop-image-wrap square-me">
                            <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                                    background-repeat: no-repeat;
                                    background-size: 100%;"
                                 class="prop-image-xs">
                            </div>
                        </div>
                    </div>
                    <div ng-uploadcare
                         images-only="true"
                         data-multiple="false"
                         data-crop="400x400 minimum"
                         callback="createPropImageCallback(file)">Choose File
                    </div>
                </div>
            </div><!-- .form-group -->
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label">Tags</label>
        <bootstrap-tagsinput ng-model="prop.tags" tagclass="badge badge-info"></bootstrap-tagsinput>
    </div>

    <div class="form-group" data-ng-init="initCreateAnswers()">
        <label class="control-label">Contestants</label>&nbsp; <span class="glyphicon glyphicon-question-sign" data-title="At least 2 options are required." bs-tooltip></span>

        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5">
                <div class="contesten-container">
                    <h4>Contestant A</h4>
                    <div class="form-group">
                        <label for="name" class="control-label">Account Email</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[0].name"
                               value="{{prop.answers[0].name}}"
                               data-error="Contestant A Account Email is required."
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Instagram/Display name: </label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[0].meta.instagram.value"
                               value="{{prop.answers[0].meta.instagram.value}}">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input ng-model="prop.answers[0].image" data-ng-init="prop.answers[0].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <div ng-uploadcare
                                 images-only="true"
                                 data-multiple="false"
                                 data-crop="400x400 minimum"
                                 callback="propAnswerImageCallback(file, 0)">Choose File
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-65 col-sm-5 col-md-5">
                <div class="contesten-container">
                    <h4>Contestant B</h4>
                    <div class="form-group">
                        <label for="name" class="control-label">Account Email</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[1].name"
                               value="{{prop.answers[1].name}}"
                               data-error="Contestant B Account Email is required."
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Instagram/Display name: </label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[1].meta.instagram.value"
                               value="{{prop.answers[1].meta.instagram.value}}">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input ng-model="prop.answers[1].image" data-ng-init="prop.answers[1].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <div ng-uploadcare
                                 images-only="true"
                                 data-multiple="false"
                                 data-crop="400x400 minimum"
                                 callback="propAnswerImageCallback(file, 1)">Choose File
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5">
                <div class="contesten-container">
                    <h4>Contestant C</h4>
                    <div class="form-group">
                        <label for="name" class="control-label">Account Email</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[2].name"
                               value="{{prop.answers[2].name}}">
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Instagram/Display name: </label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[2].meta.instagram.value"
                               value="{{prop.answers[2].meta.instagram.value}}">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input ng-model="prop.answers[2].image" data-ng-init="prop.answers[2].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <div ng-uploadcare
                                 images-only="true"
                                 data-multiple="false"
                                 data-crop="400x400 minimum"
                                 callback="propAnswerImageCallback(file, 2)">Choose File
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-65 col-sm-5 col-md-5">
                <div class="contesten-container">
                    <h4>Contestant D</h4>
                    <div class="form-group">
                        <label for="name" class="control-label">Account Email</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[3].name"
                               value="{{prop.answers[3].name}}">
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Instagram/Display name: </label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[3].meta.instagram.value"
                               value="{{prop.answers[3].meta.instagram.value}}">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input ng-model="prop.answers[3].image" data-ng-init="prop.answers[3].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <div ng-uploadcare
                                 images-only="true"
                                 data-multiple="false"
                                 data-crop="400x400 minimum"
                                 callback="propAnswerImageCallback(file, 3)">Choose File
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="controls">
            <button id="create" data-ng-click="create()" type="submit" class="btn btn-primary pull-left channel-standard-button extra-h-pad" name="save">Save</button>
            <button id="clear_all" data-ng-click="clearAll()" type="button" class="btn btn-default pull-left channel-standard-button extra-h-pad" name="save">Clear All</button>
            <button type="button" ng-click="showCreateModalPreview()" class="btn btn-primary channel-standard-button">Preview</button>
        </div>
    </div>
</form>