<form class="form-horizontal" enctype="multipart/form-data" role="form" id="propform" data-toggle="validator" ng-form-validate>

    <input type="hidden" ng-model="type" data-ng-init="type = propType">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" enctype="multipart/form-data" role="form" id="propform" data-toggle="validator" ng-form-validate>

                <input type="hidden" ng-model="type" data-ng-init="type = propType">

                <div class="form-group">
                    <label for="name" class="control-label">Product Page Name</label>
                    <input type="text" class="form-control" data-ng-model="prop.name" id="name" placeholder="Title"
                           data-error="Name is required."
                           required>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label">Publishing</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="prop.publishing" value="0" name="prop.publishing">Default
                        </label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="Display for user at initial login" bs-tooltip></span>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="prop.publishing" value="{{publishing}}" name="prop.publishing">
                            <input ng-if="prop.publishing > 0" type="text" ng-model="publishing" name="publishing"> Other
                        </label> &nbsp; <span class="glyphicon glyphicon-question-sign" data-title="Display for user every x number of logins" bs-tooltip></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="mode">Description</label>
                    <wysiwyg textarea-id="prop-description" textarea-class="form-control"  textarea-height="150px" textarea-name="prop_desc" textarea-required ng-model="prop.desc" enable-bootstrap-title="false" textarea-menu="customMenu"></wysiwyg>
                </div>
                
                <div class="form-group" data-ng-init="initCreateProductAnswers()">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="contesten-container col-xs-11 col-sm-6 col-md-4 col-lg-4">
                                <h4>Product 1</h4>
                                <div class="form-group">
                                    <label class="control-label">Name: </label>
                                    <input type="text"
                                           class="form-control input-group input_option"
                                           data-ng-model="prop.answers[0].name"
                                           value="{{prop.answers[0].name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tags</label>
                                    <bootstrap-tagsinput ng-model="prop.answers[0].tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input ng-model="prop.answers[0].image" data-ng-init="prop.answers[0].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                                        <div class="contestent-img-round-container">
                                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                        <div ng-uploadcare
                                             images-only="true"
                                             data-multiple="false"
                                             data-crop="400x400 minimum"
                                             callback="propAnswerImageCallback(file, 0)">Choose File
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contesten-container col-xs-11 col-sm-6 col-md-4 col-lg-4">
                                <h4>Product 2</h4>
                                <div class="form-group">
                                    <label class="control-label">Name: </label>
                                    <input type="text"
                                           class="form-control input-group input_option"
                                           data-ng-model="prop.answers[1].name"
                                           value="{{prop.answers[1].name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tags</label>
                                    <bootstrap-tagsinput ng-model="prop.answers[1].tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input ng-model="prop.answers[1].image" data-ng-init="prop.answers[1].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                                        <div class="contestent-img-round-container">
                                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                        <div ng-uploadcare
                                             images-only="true"
                                             data-multiple="false"
                                             data-crop="400x400 minimum"
                                             callback="propAnswerImageCallback(file, 1)">Choose File
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contesten-container col-xs-11 col-sm-6 col-md-4 col-lg-4">
                                <h4>Product 3</h4>
                                <div class="form-group">
                                    <label class="control-label">Name: </label>
                                    <input type="text"
                                           class="form-control input-group input_option"
                                           data-ng-model="prop.answers[2].name"
                                           value="{{prop.answers[2].name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tags</label>
                                    <bootstrap-tagsinput ng-model="prop.answers[2].tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input ng-model="prop.answers[2].image" data-ng-init="prop.answers[2].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                                        <div class="contestent-img-round-container">
                                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                        <div ng-uploadcare
                                             images-only="true"
                                             data-multiple="false"
                                             data-crop="400x400 minimum"
                                             callback="propAnswerImageCallback(file, 2)">Choose File
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contesten-container col-xs-11 col-sm-6 col-md-4 col-lg-4">
                                <h4>Product 4</h4>
                                <div class="form-group">
                                    <label class="control-label">Name: </label>
                                    <input type="text"
                                           class="form-control input-group input_option"
                                           data-ng-model="prop.answers[3].name"
                                           value="{{prop.answers[3].name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tags</label>
                                    <bootstrap-tagsinput ng-model="prop.answers[3].tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input ng-model="prop.answers[3].image" data-ng-init="prop.answers[3].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                                        <div class="contestent-img-round-container">
                                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                        <div ng-uploadcare
                                             images-only="true"
                                             data-multiple="false"
                                             data-crop="400x400 minimum"
                                             callback="propAnswerImageCallback(file, 3)">Choose File
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="contesten-container col-xs-11 col-sm-6 col-md-4 col-lg-4">
                                <h4>Product 5</h4>
                                <div class="form-group">
                                    <label class="control-label">Name: </label>
                                    <input type="text"
                                           class="form-control input-group input_option"
                                           data-ng-model="prop.answers[4].name"
                                           value="{{prop.answers[4].name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tags</label>
                                    <bootstrap-tagsinput ng-model="prop.answers[4].tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input ng-model="prop.answers[4].image" data-ng-init="prop.answers[4].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                                        <div class="contestent-img-round-container">
                                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[4].image) + ')'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                        <div ng-uploadcare
                                             images-only="true"
                                             data-multiple="false"
                                             data-crop="400x400 minimum"
                                             callback="propAnswerImageCallback(file, 4)">Choose File
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contesten-container col-xs-11 col-sm-6 col-md-4 col-lg-4">
                                <h4>Product 6</h4>
                                <div class="form-group">
                                    <label class="control-label">Name: </label>
                                    <input type="text"
                                           class="form-control input-group input_option"
                                           data-ng-model="prop.answers[5].name"
                                           value="{{prop.answers[5].name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tags</label>
                                    <bootstrap-tagsinput ng-model="prop.answers[5].tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input ng-model="prop.answers[5].image" data-ng-init="prop.answers[5].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                                        <div class="contestent-img-round-container">
                                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[5].image) + ')'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                        <div ng-uploadcare
                                             images-only="true"
                                             data-multiple="false"
                                             data-crop="400x400 minimum"
                                             callback="propAnswerImageCallback(file, 5)">Choose File
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contesten-container col-xs-11 col-sm-6 col-md-4 col-lg-4">
                                <h4>Product 7</h4>
                                <div class="form-group">
                                    <label class="control-label">Name: </label>
                                    <input type="text"
                                           class="form-control input-group input_option"
                                           data-ng-model="prop.answers[6].name"
                                           value="{{prop.answers[6].name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tags</label>
                                    <bootstrap-tagsinput ng-model="prop.answers[6].tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input ng-model="prop.answers[6].image" data-ng-init="prop.answers[6].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                                        <div class="contestent-img-round-container">
                                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[6].image) + ')'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                        <div ng-uploadcare
                                             images-only="true"
                                             data-multiple="false"
                                             data-crop="400x400 minimum"
                                             callback="propAnswerImageCallback(file, 6)">Choose File
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contesten-container col-xs-11 col-sm-6 col-md-4 col-lg-4">
                                <h4>Product 8</h4>
                                <div class="form-group">
                                    <label class="control-label">Name: </label>
                                    <input type="text"
                                           class="form-control input-group input_option"
                                           data-ng-model="prop.answers[7].name"
                                           value="{{prop.answers[7].name}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tags</label>
                                    <bootstrap-tagsinput ng-model="prop.answers[7].tags" tagclass="badge badge-info"></bootstrap-tagsinput>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input ng-model="prop.answers[7].image" data-ng-init="prop.answers[7].image = '/img/fp/ps400x400.png'" type="hidden" ng-update-hidden>
                                        <div class="contestent-img-round-container">
                                            <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[7].image) + ')'}"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                        <div ng-uploadcare
                                             images-only="true"
                                             data-multiple="false"
                                             data-crop="400x400 minimum"
                                             callback="propAnswerImageCallback(file, 7)">Choose File
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="controls">
                        <button id="create" data-ng-click="create()" type="submit" class="btn btn-primary pull-left channel-standard-button extra-h-pad" name="save">Save</button>
                        <!--<button id="clear_all" data-ng-click="clearAll()" type="button" class="btn btn-default pull-left channel-standard-button extra-h-pad" name="save">Clear All</button>
                        <button type="button" ng-click="showCreateModalPreview()" class="btn btn-primary channel-standard-button">Preview</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>