<form class="form-horizontal" enctype="multipart/form-data" role="form" id="propForm" data-toggle="validator" ng-form-validate>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name" class="control-label">Title</label>
                <input type="text" class="form-control"
                       data-ng-model="prop.name"
                       value="{{prop.name}}"
                       id="name" placeholder="name"
                       data-error="Title is required."
                       required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="name" class="control-label">Week of: </label>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class='input-group date' id="weeokof_from_date" data-linked_id="weeokof_to_date" data-restriction_date="minDate" data-date-picker>
                            <input type='text' class="form-control" ng-model="prop.weekof_from" id="weekof_from_date_input" value="{{ prop.weekof.from}}">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <span class="col-xs-4 col-sm-4 col-md-4"> through </span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class='input-group date' id="weeokof_to_date"  data-linked_id="weeokof_from_date" data-restriction_date="maxDate" data-date-picker>
                            <input type='text' class="form-control" ng-model="prop.weekof_to" id="weekof_to_date_input" value="{{ prop.weekof.to}}">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">File Image</label>

                <input ng-model="prop.imagebk" id="imagebk" type="hidden"  name="imagebk" ng-init="imagebk=prop.image" ng-update-hidden>
                <input ng-model="prop.image" id="image" type="hidden" name="image" ng-init="image=prop.image" ng-update-hidden>

                <div id="file-button-fix">
                    <div class="hidden-xs">
                        <div class="prop-image-wrap">
                            <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                                background-repeat: no-repeat;
                                background-size: contain;"
                                 class="prop-image-ogx">
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <div style="height: 100px;" class="prop-image-wrap square-me">
                            <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                                background-repeat: no-repeat;
                                background-size: contain;"
                                 class="prop-image-xs">
                            </div>
                        </div>
                    </div>

                    <div ng-uploadcare
                         images-only="true"
                         data-multiple="false"
                         data-crop="400x400 minimum"
                         callback="editPropImageCallback(file)"
                         value="{{prop.image}}">Pick File
                    </div>
                </div>
            </div>

            <label class="control-label" ng-show="!prop.isGraded() && prop.isClosed()">
                        <span>The poll is closed and ready to be graded! Please check the correct response and then
                        click the "Grade" button.</span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Contestants</label>&nbsp; <span class="glyphicon glyphicon-question-sign" data-title="At least 2 options are required." bs-tooltip></span>

        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5">
                <div class="contesten-container">
                    <h4>Contestant A</h4>
                    <div class="form-group">
                        <label for="name" class="control-label">Account Email</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[0].name"
                               value="{{prop.answers[0].name}}"
                               data-error="Contestant A Account Email is required."
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Instagram/Display name:</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[0].meta.instagram.value"
                               value="{{prop.answers[0].meta.instagram.value}}">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input ng-model="prop.answers[0].image" type="hidden" ng-update-hidden>
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <div ng-uploadcare
                                 images-only="true"
                                 data-multiple="false"
                                 data-crop="400x400 minimum"
                                 callback="propAnswerImageCallback(file, 0)">Choose File
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-65 col-sm-5 col-md-5">
                <div class="contesten-container">
                    <h4>Contestant B</h4>
                    <div class="form-group">
                        <label for="name" class="control-label">Account Email</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[1].name"
                               value="{{prop.answers[1].name}}"
                               data-error="Contestant B Account Email is required."
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Instagram/Display name: </label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[1].meta.instagram.value"
                               value="{{prop.answers[1].meta.instagram.value}}">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input ng-model="prop.answers[1].image" type="hidden" ng-update-hidden>
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <div ng-uploadcare
                                 images-only="true"
                                 data-multiple="false"
                                 data-crop="400x400 minimum"
                                 callback="propAnswerImageCallback(file, 1)">Choose File
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5">
                <div class="contesten-container">
                    <h4>Contestant C</h4>
                    <div class="form-group">
                        <label for="name" class="control-label">Account Email</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[2].name"
                               value="{{prop.answers[2].name}}">
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Instagram/Display name: </label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[2].meta.instagram.value"
                               value="{{prop.answers[2].meta.instagram.value}}">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input ng-model="prop.answers[2].image" type="hidden" ng-update-hidden>
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <div ng-uploadcare
                                 images-only="true"
                                 data-multiple="false"
                                 data-crop="400x400 minimum"
                                 callback="propAnswerImageCallback(file, 2)">Choose File
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-65 col-sm-5 col-md-5">
                <div class="contesten-container">
                    <h4>Contestant D</h4>
                    <div class="form-group">
                        <label for="name" class="control-label">Account Email</label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[3].name"
                               value="{{prop.answers[3].name}}">
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Instagram/Display name: </label>
                        <input type="text"
                               class="form-control input-group input_option"
                               data-ng-model="prop.answers[3].meta.instagram.value"
                               value="{{prop.answers[3].meta.instagram.value}}">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input ng-model="prop.answers[3].image" type="hidden" ng-update-hidden>
                            <div class="contestent-img-round-container">
                                <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                            <div ng-uploadcare
                                 images-only="true"
                                 data-multiple="false"
                                 data-crop="400x400 minimum"
                                 callback="propAnswerImageCallback(file, 3)">Choose File
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/> <br/>
    <div class="form-group">
        <label class="control-label">Current
            <span ng-if="prop.type == 'opinion'">Poll</span>
            <span ng-if="prop.type == 'quiz'">Quiz</span>
            <span ng-if="prop.type == 'classic'">Prop</span>Status:
        </label>
        <p>
                    <span ng-class="
                        {'prop-state-active': prop.isCreated() || prop.isPublished() || prop.isClosed() || prop.isGraded()}">
                        Created
                        <i class="fa" ng-class="{'fa-check-circle': prop.isCreated(), 'fa-circle-o': !prop.isCreated()}"></i>
                    </span>

                    <span ng-class="{'prop-state-active': prop.isPublished() || prop.isClosed() || prop.isGraded(), 'prop-state-inactive': !prop.isPublished() && !prop.isClosed() && !prop.isGraded()}">
                        Published
                        <i class="fa" ng-class="{'fa-check-circle': prop.isPublished(), 'fa-circle-o': !prop.isPublished()}"></i>
                    </span>

                    <span ng-class="{'prop-state-active': prop.isDistributed() || prop.isPublished() || prop.isClosed() || prop.isGraded(), 'prop-state-inactive': !prop.isDistributed() && !prop.isPublished() && !prop.isClosed() && !prop.isGraded()}">
                        Distributed
                        <i class="fa" ng-class="{'fa-check-circle': prop.isDistributed(), 'fa-circle-o': !prop.isDistributed()}"></i>
                    </span>

                    <span ng-if="prop.type == 'classic'" ng-class="{'prop-state-active': prop.isClosed() || prop.isGraded(), 'prop-state-inactive': !prop.isClosed() && !prop.isGraded()}">
                        Closed
                        <i class="fa" ng-class="{'fa-check-circle': prop.isClosed(), 'fa-circle-o': !prop.isClosed()}"></i>
                    </span>
                    <span ng-if="prop.type == 'classic'" ng-class="{'prop-state-active': prop.isGraded(), 'prop-state-inactive': !prop.isGraded()}">
                        Graded
                        <i class="fa" ng-class="{'fa-check-circle': prop.isGraded(), 'fa-circle-o': !prop.isGraded()}"></i>
                    </span>
        </p>
    </div>

    <div class="form-group" ng-if="prop.isPublished()">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 share-title">
                <div class="border-bottom">
                    <h4>Broadcast
                        <span ng-if="prop.type == 'opinion'">Poll</span>
                        <span ng-if="prop.type == 'quiz'">Quiz</span>
                        <span ng-if="prop.type == 'classic'">Prop</span>:
                    </h4>
                </div>
            </div>
            <div class="col-md-4 col-lg-offset-1 col-sm-12">
                <div class="share-button-wrap">
                    <a href="{{facebook_url}}" id="facebookShareLink" target="_blank">
                        <button type="button" class="btn btn-lg btn-block ty-share-button channel-standard-button">
                            <i class="fa fa-facebook-square fa-lg icon-right-padding"></i> Share on facebook</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="share-button-wrap">
                    <a href="{{twitter_url}}" id="twitterShareLink" target="_blank">
                        <button type="button" class="btn btn-lg btn-block ty-share-button channel-standard-button">
                            <i class="fa fa-twitter fa-lg icon-right-padding"></i> Share via twitter</button>
                    </a>
                </div>
            </div>
        </div><!-- .row .results-inner -->
    </div>

    <div class="form-group">
        <div class="row login-section" ng-show="embedded">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <label class="control-label">Embedded Code:</label>

                <div class="pollspace-embedded">{{pollspace_embedded_code}}</div>
            </div>
        </div>
    </div>

    <button id="update"
            data-ng-click="update()"
            type="submit"
            class="btn btn-primary pull-left channel-standard-button extra-h-pad"
            value="1" name="save">Save</button>

    <a class="btn btn-primary pull-left channel-standard-button extra-h-pad"
       data-ng-click="remove(channel._id, prop._id);">Delete</a>

    <button type='button'
            ng-if="prop.isPublished()"
            data-ng-click="toggleEmbedded()"
            class="btn btn-primary pull-right channel-standard-button">
        View Embedded Code</button>

    <button type='button'
            ng-if="prop.isCreated()"
            ng-click="publish($event)"
            class="btn btn-primary pull-right channel-standard-button"
            value="1" name="publish">Publish</button>

    <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results"
       class="btn extra-h-pad btn-primary channel-standard-button">
        View
        <span ng-if="prop.type == 'opinion'">Poll</span>
        <span ng-if="prop.type == 'quiz'">Quiz</span>
        <span ng-if="prop.type == 'classic'">Prop</span>
        Results
    </a>

    <button type="button"
            ng-click="showEditModalPreview()"
            class="btn btn-primary channel-standard-button">Preview</button>


    <!-- Prop is Classic && Closed-->
    <button ng-show="prop.isClosed() && prop.type == 'classic'" type='button' ng-click="grade()"
            name="grade" value="1"
            class="btn btn-primary pull-right channel-standard-button extra-h-pad">Grade</button>


    <!-- Prop is Classic && Published-->
    <button ng-show="prop.isPublished() && prop.type == 'classic'" type='button'
            ng-click="close($event)" id="submit" name="close"
            value="1"
            class="btn btn-primary pull-right channel-standard-button extra-h-pad">Close</button>


    <div class="clearfix"></div>
    <br/>
</form>