<form class="form-horizontal" enctype="multipart/form-data" role="form" id="propForm" data-toggle="validator" ng-form-validate>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control"
                       data-ng-model="prop.name"
                       value="{{prop.name}}"
                       id="name" placeholder="name"
                       data-error="Name is required."
                       required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="details" class="control-label">Details</label>
                <textarea data-ng-model="prop.details" id="details" cols="30" rows="10" placeholder="Details" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label">Tags</label>
                <bootstrap-tagsinput ng-model="prop.tags" tagclass="badge badge-info"></bootstrap-tagsinput>
            </div>


            <div class="form-group">
                <label class="control-label">File Image</label>

                <input ng-model="prop.imagebk" id="imagebk" type="hidden"  name="imagebk" ng-init="imagebk=prop.image" ng-update-hidden>
                <input ng-model="prop.image" id="image" type="hidden" name="image" ng-init="image=prop.image" ng-update-hidden>

                <div id="file-button-fix">
                    <div class="hidden-xs">
                        <div class="prop-image-wrap">
                            <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                                 class="prop-image">
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <div style="height: 100px;" class="prop-image-wrap square-me">
                            <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                                 class="prop-image-xs">
                            </div>
                        </div>
                    </div>

                    <div ng-uploadcare
                         images-only="true"
                         data-multiple="false"
                         data-crop="740x280 minimum"
                         callback="editPropImageCallback(file)">Pick File
                    </div>
                </div>
            </div>

            <label class="control-label" ng-show="!prop.isGraded() && prop.isClosed()">
            <span>The poll is closed and ready to be graded! Please check the correct response and then
            click the "Grade" button.</span>
            </label>

            <div class="form-group">
                <label class="control-label">Options</label>&nbsp; <span class="glyphicon glyphicon-question-sign" data-title="At least 2 options are required." bs-tooltip></span>

                <div ui-view="opinion_options" ng-if="prop.type == 'opinion'"></div>
                <div ui-view="classic_options" ng-if="prop.type == 'classic'"></div>
                <div ui-view="quiz_options" ng-if="prop.type == 'quiz'"></div>
            </div>

            <br/> <br/>
            <div class="form-group">
                <label class="control-label" for="details">Current
                    <span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span>Status:
                </label>
                <p>
                <span ng-class="
                    {'prop-state-active': prop.isCreated() || prop.isPublished() || prop.isClosed() || prop.isGraded()}">
                    Created
                    <i class="fa" ng-class="{'fa-check-circle': prop.isCreated(), 'fa-circle-o': !prop.isCreated()}"></i>
                </span>

                <span ng-class="{'prop-state-active': prop.isPublished() || prop.isClosed() || prop.isGraded(), 'prop-state-inactive': !prop.isPublished() && !prop.isClosed() && !prop.isGraded()}">
                    Published
                    <i class="fa" ng-class="{'fa-check-circle': prop.isPublished(), 'fa-circle-o': !prop.isPublished()}"></i>
                </span>

                <span ng-if="prop.type == 'classic'" ng-class="{'prop-state-active': prop.isClosed() || prop.isGraded(), 'prop-state-inactive': !prop.isClosed() && !prop.isGraded()}">
                    Closed
                    <i class="fa" ng-class="{'fa-check-circle': prop.isClosed(), 'fa-circle-o': !prop.isClosed()}"></i>
                </span>
                <span ng-if="prop.type == 'classic'" ng-class="{'prop-state-active': prop.isGraded(), 'prop-state-inactive': !prop.isGraded()}">
                    Graded
                    <i class="fa" ng-class="{'fa-check-circle': prop.isGraded(), 'fa-circle-o': !prop.isGraded()}"></i>
                </span>
                </p>
            </div>

            <div class="form-group" ng-if="prop.isPublished()">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 share-title">
                        <div class="border-bottom">
                            <h4>Broadcast
                                <span ng-if="prop.type == 'opinion'">Poll</span>
                                <span ng-if="prop.type == 'quiz'">Quiz</span>
                                <span ng-if="prop.type == 'classic'">Prop</span>:
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-offset-1 col-sm-12">
                        <div class="share-button-wrap">
                            <a href="{{facebook_url}}" id="facebookShareLink" target="_blank">
                                <button type="button" class="btn btn-lg btn-block ty-share-button channel-standard-button">
                                    <i class="fa fa-facebook-square fa-lg icon-right-padding"></i> Share on facebook</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="share-button-wrap">
                            <a href="{{twitter_url}}" id="twitterShareLink" target="_blank">
                                <button type="button" class="btn btn-lg btn-block ty-share-button channel-standard-button">
                                    <i class="fa fa-twitter fa-lg icon-right-padding"></i> Share via twitter</button>
                            </a>
                        </div>
                    </div>
                </div><!-- .row .results-inner -->
            </div>

            <div class="form-group">
                <div class="row login-section" ng-show="embedded">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <label class="control-label">Embedded Code:</label>

                        <div class="pollspace-embedded">{{pollspace_embedded_code}}</div>
                    </div>
                </div>
            </div>

            <button id="update"
                    data-ng-click="update()"
                    type="submit"
                    class="btn btn-primary pull-left channel-standard-button extra-h-pad"
                    value="1" name="save">Save</button>

            <a class="btn btn-primary pull-left channel-standard-button extra-h-pad"
               data-ng-click="remove(channel._id, prop._id);">Delete</a>

            <button type='button'
                    ng-if="prop.isPublished()"
                    data-ng-click="toggleEmbedded()"
                    class="btn btn-primary pull-right channel-standard-button">
                View Embedded Code</button>

            <button type='button'
                    ng-if="prop.isCreated()"
                    ng-click="publish($event)"
                    class="btn btn-primary pull-right channel-standard-button"
                    value="1" name="publish">Publish</button>

            <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results"
               class="btn extra-h-pad btn-primary channel-standard-button">
                View
                <span ng-if="prop.type == 'opinion'">Poll</span>
                <span ng-if="prop.type == 'quiz'">Quiz</span>
                <span ng-if="prop.type == 'classic'">Prop</span>
                Results
            </a>

            <button type="button"
                    ng-click="showEditModalPreview()"
                    class="btn btn-primary channel-standard-button">Preview</button>


            <!-- Prop is Classic && Closed-->
            <button ng-show="prop.isClosed() && prop.type == 'classic'" type='button' ng-click="grade()"
                    name="grade" value="1"
                    class="btn btn-primary pull-right channel-standard-button extra-h-pad">Grade</button>


            <!-- Prop is Classic && Published-->
            <button ng-show="prop.isPublished() && prop.type == 'classic'" type='button'
                    ng-click="close($event)" id="submit" name="close"
                    value="1"
                    class="btn btn-primary pull-right channel-standard-button extra-h-pad">Close</button>


            <div class="clearfix"></div>
            <br/>
        </div>
    </div>
</form>