    <input type="hidden" ng-model="question.type" data-ng-init="question.type = propType">

    <div class="question-row">
        <div class="form-group">
            <label class="control-label">Question</label>
            <span style="display: block">{{question.name}}</span>
        </div>
    </div>
    <div class="question-row" ng-if="question.type == 'quiz'">
        <div class="form-group">
            <label class="control-label">Correct Description</label>
            <span style="display: block">{{question.correct_description}}</span>
        </div>
    </div>

    <div class="question-row">
        <div class="form-group">
            <label class="control-label">Responses</label>
        </div>
    </div>

    <div class="question-row">
        <div class="form-group">
            <div class="col-md-6"> <i class="glyphicon glyphicon-ok-circle" ng-if="question.answers[0].correct"></i> <span>{{question.answers[0].name}}</span></div>
            <div class="col-md-6"> <i class="glyphicon glyphicon-ok-circle" ng-if="question.answers[1].correct"></i> <span>{{question.answers[1].name}}</span></div>
        </div>
    </div>

    <div class="question-row">
        <div class="form-group">
            <div class="col-md-6"> <i class="glyphicon glyphicon-ok-circle" ng-if="question.answers[2].correct"></i> <span>{{question.answers[2].name}}</span></div>
            <div class="col-md-6"> <i class="glyphicon glyphicon-ok-circle" ng-if="question.answers[3].correct"></i> <span>{{question.answers[3].name}}</span></div>
        </div>
    </div>

    <div class="question-row">
        <div class="form-group">
            <div class="col-md-3" style="float: left">
                <span type="button"
                      ng-click="deleteQuestion(question)"
                      class="btn channel-standard-button btn-block">Delete Question</span>
            </div>
            <div class="col-md-3" style="float: right">
                <span type="button"
                      ng-click="editQuestion(question)"
                      class="btn channel-standard-button btn-block">Edit Question</span>
            </div>
        </div>
    </div>
