    <input type="hidden" ng-model="question.type">

    <div class="question-row">
        <div class="form-group">
            <label class="control-label">Question</label>
            <input type="text" class="form-control" data-ng-model="question.name">
        </div>
    </div>
    <div class="question-row" ng-if="question.type == 'quiz'">
        <div class="form-group">
            <label class="control-label">Correct Description</label>
            <textarea class="form-control" data-ng-model="question.correct_description">{{question.correct_description}}</textarea>
        </div>
    </div>

    <div class="question-row">
        <div class="form-group">
            <label class="control-label">Responses</label>
        </div>
    </div>

    <div class="question-row">
        <div class="form-group">
            <div class="col-md-1">
                <input type="radio"
                       name="options[{{$index}}]"
                       ng-model="question.answers[0].correct"
                       ng-if="question.type == 'quiz'"
                       ng-change="optionChecked(question, question.answers[0])"
                       ng-value="true">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" data-ng-model="question.answers[0].name">
            </div>
            <div class="col-md-1">
                <input type="radio"
                       name="options[{{$index}}]"
                       ng-model="question.answers[1].correct"
                       ng-if="question.type == 'quiz'"
                       ng-change="optionChecked(question, question.answers[1])"
                       ng-value="true">
            </div>
            <div class="col-md-5"><input type="text" class="form-control" data-ng-model="question.answers[1].name"></div>
        </div>
    </div>

    <div class="question-row">
        <div class="form-group">
            <div class="col-md-1">
                <input type="radio"
                       name="options[{{$index}}]"
                       ng-model="question.answers[2].correct"
                       ng-if="question.type == 'quiz'"
                       ng-change="optionChecked(question, question.answers[2])"
                       ng-value="true">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" data-ng-model="question.answers[2].name">
            </div>
            <div class="col-md-1">
                <input type="radio"
                       name="options[{{$index}}]"
                       ng-model="question.answers[3].correct"
                       ng-if="question.type == 'quiz'"
                       ng-change="optionChecked(question, question.answers[3])"
                       ng-value="true">
            </div>
            <div class="col-md-5"><input type="text" class="form-control" data-ng-model="question.answers[3].name"></div>
        </div>
    </div>


    <div class="question-row">
        <div class="form-group">
            <div class="col-md-3" style="float: right">
                <span type="button"
                      ng-click="saveEditQuestion(question)"
                      class="btn channel-standard-button btn-block">Save Question</span>
            </div>
        </div>
    </div>