<div class="row">
    <!-- Text input-->
    <div class="col-md-5 form-group">
        <div class="col-md-1">
            <input type="radio"
                   ng-model="prop.answers[0].correct"
                   ng-value="true"
                   name="options"
                   ng-change="optionChecked(prop.answers[0])">
        </div>
        <div class="col-md-10">
            <input type="text"
                   class="form-control input-group input_option"
                   placeholder="(Option A)"
                   data-ng-model="prop.answers[0].name"
                   value="{{prop.answers[0].name}}"
                   id="options_one"
                   name="options_one"
                   data-error="Option A is required."
                   required>
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <!-- Text input-->
    <div class="col-md-5 form-group">
        <div class="col-md-1">
            <input type="radio"
                   ng-model="prop.answers[1].correct"
                   ng-value="true"
                   name="options"
                   ng-change="optionChecked(prop.answers[1])">
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control input-group input_option" placeholder="(Option B)"
                   data-ng-model="prop.answers[1].name"
                   value="{{prop.answers[1].name}}"
                   id="options_two" name="options_two"
                   data-error="Option B is required."
                   required>
            <div class="help-block with-errors"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 form-group">
        <div class="col-md-1">
            <input type="radio"
                   ng-model="prop.answers[2].correct"
                   ng-value="true"
                   name="options"
                   ng-change="optionChecked(prop.answers[2])">
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control input-group input_option" placeholder="(Option C)"
                   data-ng-model="prop.answers[2].name" id="options_three" name="options_three">
        </div>
    </div>

    <div class="col-md-5 form-group">
        <div class="col-md-1">
            <input type="radio"
                   ng-model="prop.answers[3].correct"
                   ng-value="true"
                   name="options"
                   ng-change="optionChecked(prop.answers[3])">
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control input-group input_option" placeholder="(Option D)"
                   data-ng-model="prop.answers[3].name" id="options_four" name="options_four">
        </div>
    </div>
</div>