<div class="container hidden-sm hidden-xs">
    <div class="row prop-wrap">
        <div class="col-md-4 col-sm-12 prop-info-wrap">
            <div class="channel-name"> <h1><a href="/#!/admin/channel/{{channel._id}}/prop/manage/single/{{prop.type}}">{{channel.name}}</a></h1> </div>
            <div class="prop_question">
                <h3>{{prop.name}}</h3>
            </div>
            <div class="prop_question">
                <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/edit/single"
                   class="btn btn-lg btn-block channel-standard-button">
                    <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                    Edit <span ng-if="prop.type == 'opinion'">Poll</span> <span ng-if="prop.type == 'quiz'">Quiz</span>
                </a>
            </div>
        </div><!-- .col-md-4 prop-info-wrap -->
        <div class="col-md-8 col-sm-12 prop-image-wrap">
            <div ng-style="{'background-image': 'url(' + prop.image + ')'}"
                    style="background-repeat: no-repeat;
                        background-repeat: no-repeat;
                        background-size: 100%;"
                 class="prop-image">
            </div>
        </div><!-- .col-md-8 prop-image prop-image-DT -->
    </div><!-- .row prop-wrap -->
</div>

<div class="container visible-sm">
    <div class="row prop-wrap">
        <div class="col-md-4 col-sm-12 prop-info-wrap">
            <div class="channel-name"> <h1><a href="/#!/admin/channel/{{channel._id}}/prop/manage/single/{{prop.type}}">{{channel.name}}</a></h1> </div>
            <div class="prop_question">
                <h3>{{prop.name}}</h3>
            </div>

        </div><!-- .col-md-4 prop-info-wrap -->
        <div class="col-md-8 col-sm-12 prop-image-wrap">
            <div ng-style="{'background-image': 'url(' + prop.image + ')'}"
                 style="background-repeat: no-repeat;
                        background-repeat: no-repeat;
                        background-size: 100%;"
                 class="prop-image">
            </div>
            <div class="prop_question">
                <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/edit/single"
                   class="btn btn-lg btn-block channel-standard-button">
                    <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                    Edit <span ng-if="prop.type == 'opinion'">Poll</span> <span ng-if="prop.type == 'quiz'">Quiz</span>
                </a>
            </div>
        </div><!-- .col-md-8 prop-image prop-image-DT -->
    </div><!-- .row prop-wrap -->
</div>

<div class="container visible-xs">
    <div class="row prop-wrap">
        <div class="col-xs-12 prop-info-wrap">
            <div class="channel-name"> <h1><a href="/#!/admin/channel/{{channel._id}}/prop/manage/single/{{prop.type}}">{{channel.name}}</a></h1> </div>
            <div class="prop_question">
                <h3>{{prop.name}}</h3>
                <!-- <p>by <a href="/user/pitbull">pitbull</a></p> -->
            </div>
        </div><!-- .col-md-4 prop-info-wrap -->
        <div class="col-xs-12 prop-image-wrap square-me" style="height: 100px;">
            <div ng-style="{'background-image': 'url(' + prop.image + ')'}"
                 style="background-repeat: no-repeat;
                        background-repeat: no-repeat;
                        background-size: 100%;"
                 class="prop-image-xs">
            </div>

            <div class="prop_question" style="margin-top: 5px">
                <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/edit/single"
                   class="btn btn-lg btn-block channel-standard-button">
                    <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                    Edit <span ng-if="prop.type == 'opinion'">Poll</span> <span ng-if="prop.type == 'quiz'">Quiz</span>
                </a>
            </div>
        </div><!-- .col-md-8 prop-image prop-image-DT -->

    </div><!-- .row prop-wrap -->

    <div class="clearfix"></div>
    <br/><br/>
</div>


