<section data-ng-controller="AdminPropsController">

    <h2> Create Poll: Select Poll Type </h2>
    <br>

    <div class="row" ng-hide="poll || quiz">
        <div class="col-md-6">
            <button type="button"
                    ng-click="poll = true"
                    class="btn btn-lg channel-standard-button btn-block">Create Poll</button>
        </div>
        <div class="col-md-6">
            <button type="button"
                    ng-click="quiz = true"
                    class="btn btn-lg channel-standard-button btn-block">Create Quiz</button>
        </div>
    </div>

    <br>

    <!-- SINGLE -->
    <div class="row" ng-show="poll == true">
        <div class="col-md-4">
            <button type="button"
                    ng-click="gotoCreateSingleQuestionPoll()"
                    class="btn btn-lg channel-standard-button btn-block">Create Single Poll</button>
        </div>
        <div class="col-md-4">
            <button type="button"
                    ng-click="gotoCreateImageQuestionPoll()"
                    class="btn btn-lg channel-standard-button btn-block">Create Image Poll</button>
        </div>
        <div class="col-md-4">
            <button type="button"
                    ng-click="gotoCreateMultiQuestionPoll()"
                    class="btn btn-lg channel-standard-button btn-block">Create Multiple Poll</button>
        </div>
    </div>

    <!-- MULTIPLE -->
    <div class="row" ng-show="quiz == true">
        <div class="col-md-6">
            <button type="button"
                    ng-click="gotoCreateSingleQuestionQuiz()"
                    class="btn btn-lg channel-standard-button btn-block">Create Single Quiz</button>
        </div>
        <div class="col-md-6">
            <button type="button"
                    ng-click="gotoCreateMultiQuestionQuiz()"
                    class="btn btn-lg channel-standard-button btn-block">Create Multiple Quiz</button>
        </div>
    </div>


</section>