<section data-ng-controller="AdminPropsController" data-ng-init="findChannelAndFindProp()">

    <h2> {{channel.name}}:
        <span ng-if="prop.type == 'opinion'">Edit Single Question Poll</span>
        <span ng-if="prop.type == 'quiz'">Edit Single Question Quiz</span>
        <span ng-if="prop.type == 'image'">Edit Single Question Image Poll</span>

        <span ng-if="prop.type == 'product'">Edit Products</span>
    </h2>
    <br>

    <div ui-view="regular_poll" ng-if="prop.type == 'opinion' || prop.type == 'classic' || prop.type == 'quiz'"></div>
    <div ui-view="image_poll" ng-if="prop.type == 'image'"></div>
    <div ui-view="product_poll" ng-if="prop.type == 'product'"></div>
</section>