<section data-ng-controller="AdminPropsetController" data-ng-init="findPropset()">

    <h2> {{channel.name}}: Edit Multiple Question
        <span ng-if="propset.type == 'opinion'">Poll</span>
        <span ng-if="propset.type == 'quiz'">Quiz</span>
    </h2>
    <br>

    <form class="form-horizontal col-md-8" enctype="multipart/form-data" role="form" id="propform" data-toggle="validator" ng-form-validate>
        <div class="form-group">
            <label for="title" class="control-label">Title</label>
            <input type="text" class="form-control"
                   data-ng-model="propset.title"
                   value="{{propset.title}}"
                   id="title" placeholder="title"
                   data-error="Title is required."
                   required>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <label class="control-label">Image</label>

            <input ng-model="propset.imagebk" id="imagebk" type="hidden"  name="imagebk" ng-init="propset.imagebk=propset.image" ng-update-hidden>
            <input ng-model="propset.image" data-ng-init="propset.image = '/img/fp/ps740x280.png'" id="logo" type="hidden" name="image" ng-update-hidden>
            <div id="file-button-fix">
                <div class="hidden-xs">
                    <div class="prop-image-wrap">
                        <div ng-style="{'background-image': 'url(' + propset.image + ')'}" style="background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                             class="prop-image">
                        </div>
                    </div>
                </div>
                <div class="visible-xs">
                    <div style="height: 100px;" class="prop-image-wrap square-me">
                        <div ng-style="{'background-image': 'url(' + propset.image + ')'}" style="background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                             class="prop-image-xs">
                        </div>
                    </div>
                </div>
                <div ng-uploadcare
                     images-only="true"
                     data-multiple="false"
                     data-crop="740x280 minimum"
                     callback="setPropsetImageCallback(file)">Pick File
                </div>
            </div>
        </div><!-- .form-group -->

        <div class="form-group">
            <label for="thankyoupage_text" class="control-label">Thank you page text</label>
            <textarea type="text" class="form-control"
                      data-ng-model="propset.thankyoupage_text"
                      id="thankyoupage_text" style="height: 150px"
                      data-error="Thank you is required."
                      required>
                      {{propset.thankyoupage_text}}
            </textarea>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <label for="thankyoupage_text" class="control-label">Questions</label>

            <div>
                <ul ui-sortable="sortableOptions" ng-model="propset.props" class="list">
                    <li ng-repeat="question in propset.props">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa fa-minus-square-o" ng-if="question.showPanelBody" data-ng-click="togglePanelBody(question)" style="cursor: pointer"></i>
                                    <i class="fa fa-plus-square-o" ng-if="!question.showPanelBody" data-ng-click="togglePanelBody(question)" style="cursor: pointer"></i>
                                    <span>Question - {{$index + 1}}/{{globalTotalCountQuestions}}</span>
                                    <span ng-if="!question.showPanelBody"><b> {{question.name}}</b></span>
                                    <span class="glyphicon glyphicon-resize-vertical" style="float: right; cursor: move"></span>
                                </h3>
                            </div>
                            <div class="panel-body" ng-if="question.showPanelBody">
                                <div ng-if="question.status && question.status === 'new'">
                                    <div ui-view="new"></div>
                                </div>
                                <div ng-if="question.status && question.status === 'preedit'">
                                    <div ui-view="preedit"></div>
                                </div>
                                <div ng-if="question.status && question.status === 'edit'">
                                    <div ui-view="edit"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <br/> <br/>
        <div class="form-group">
            <div class="col-xs-12 col-md-6">
                <a href="{{facebook_quiz_url}}" target="_blank">
                    <button type="button" class="btn btn-block facebook-blue thankyou-button-padding">
                        <i class="fa fa-facebook-square fa-lg icon-right-padding"></i> Share your quiz on facebook</button>
                </a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a href="{{twitter_quiz_url}}" target="_blank">
                    <button type="button" class="btn btn-block twitter-blue thankyou-button-padding">
                        <i class="fa fa-twitter fa-lg icon-right-padding"></i> Share your quiz via twitter</button>
                </a>
            </div>
        </div>


        <br/> <br/>
        <div class="form-group">
            <label class="control-label">Current <span ng-if="propset.type == 'opinion'">Poll</span> <span ng-if="propset.type == 'quiz'">Quiz</span> Status</label>
            <p>
                <span ng-class="{'prop-state-active': propset.isCreated() || propset.isPublished()}">
                    Created
                    <i class="fa" ng-class="{'fa-check-circle': propset.isCreated(), 'fa-circle-o': !propset.isCreated()}"></i>
                </span>

                <span ng-class="{'prop-state-active': propset.isPublished(), 'prop-state-inactive': !propset.isPublished()}">
                    Published
                    <i class="fa" ng-class="{'fa-check-circle': propset.isPublished(), 'fa-circle-o': !propset.isPublished()}"></i>
                </span>
            </p>
        </div>

        <div class="form-group login-section" ng-show="embedded">
            <label class="control-label">Embedded Code:</label>
            <div class="pollspace-embedded">{{pollspace_embedded_code}}</div>
        </div>

        <div class="question-row">
            <div class="form-group">
                <div class="col-md-3">
                    <span type="button"
                    ng-click="addQuestion()"
                    class="btn channel-standard-button btn-block">+ Add Question</span>
                </div>
                <div class="col-md-2">
                    <button type="submit"
                            id="update"
                            ng-click="editMultipleQuestion($event)"
                            class="btn channel-standard-button btn-block">
                        {{save_text}}
                        <span ng-if="propType == 'opinion'">Poll</span>
                        <span ng-if="propType == 'quiz'">Quiz</span>
                    </button>
                </div>
                <div class="col-md-2">
                    <a class="btn channel-standard-button btn-block extra-h-pad"
                       data-ng-click="removeMultipleQuestion();">Delete
                        <span ng-if="propset.type == 'opinion'">Poll</span>
                        <span ng-if="propset.type == 'quiz'">Quiz</span>
                    </a>
                </div>

                <div class="col-md-2" ng-if="propset.status == 'created'">
                    <span type="button"
                        ng-click="publishMultipleQuestion($event)"
                        class="btn channel-standard-button btn-block">{{publish_text}}
                        <span ng-if="propset.type == 'opinion'">Poll</span>
                        <span ng-if="propset.type == 'quiz'">Quiz</span>
                    </span>
                </div>

                <div class="col-md-3" ng-if="propset.isPublished()">
                    <span type="button"
                          ng-click="toggleEmbedded()"
                          class="btn channel-standard-button btn-block">
                        View Embedded Code
                    </span>
                </div>
            </div>
        </div>
    </form>
</section>