<section data-ng-controller="AdminPropsController" data-ng-init="find()">

    <div class="container">
        <h2>Manage Polls</h2>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <a href="/#!/admin/channel/{{channel._id}}/prop/suggestedby/list" class="btn btn-block channel-standard-button">
                View Suggested Single Question List
            </a>
        </div>

        <div class="col-md-6">
            <a href="/#!/admin/channel/{{channel._id}}/quiz/list" class="btn btn-block channel-standard-button">
                View Multi Question List
            </a>
        </div>
    </div>

    <hr>

    <div ui-view="list"></div>
</section>