<section data-ng-controller="AdminPropsetController" data-ng-init="findPropsets()">

    <h2> Manage Multiple <span ng-if="propType == 'opinion'">Polls</span> <span ng-if="propType == 'quiz'">Quizzes</span></h2>
    <br>

    <div ui-view="list"></div>
</section>