<section data-ng-controller="AdminPropsController">

    <h2> Manage Polls: Select Poll Type </h2>
    <br>

    <div class="row" ng-hide="poll || quiz">
        <div class="col-md-6">
            <button type="button"
                    ng-click="poll = true"
                    class="btn btn-lg channel-standard-button btn-block">Manage Polls</button>
        </div>
        <div class="col-md-6">
            <button type="button"
                    ng-click="quiz = true"
                    class="btn btn-lg channel-standard-button btn-block">Manage Quizzes</button>
        </div>
    </div>

    <br>

    <!-- SINGLE -->
    <div class="row" ng-show="poll == true">
        <div class="col-md-4">
            <button type="button"
                    ng-click="gotoSuggestedByPolls()"
                    class="btn btn-lg channel-standard-button btn-block">View Suggested By Polls</button>
        </div>
        <div class="col-md-4">
            <button type="button"
                    ng-click="gotoManageSinglePolls()"
                    class="btn btn-lg channel-standard-button btn-block">View Single Polls</button>
        </div>
        <div class="col-md-4">
            <button type="button"
                    ng-click="gotoMultiplePolls()"
                    class="btn btn-lg channel-standard-button btn-block">View Multiple Polls</button>
        </div>
    </div>

    <!-- MULTIPLE -->
    <div class="row" ng-show="quiz == true">
        <div class="col-md-6">
            <button type="button"
                    ng-click="gotoSingleQuizzes()"
                    class="btn btn-lg channel-standard-button btn-block">View Single Quizzes</button>
        </div>
        <div class="col-md-6">
            <button type="button"
                    ng-click="gotoMultipleQuizzes()"
                    class="btn btn-lg channel-standard-button btn-block">View Multiple Quizzes</button>
        </div>
    </div>


</section>