<section data-ng-controller="AdminPropsController" data-ng-init="findSinglePolls()">

    <h2> Manage Single <span ng-if="propType == 'opinion'">Polls</span> <span ng-if="propType == 'quiz'">Quizzes</span></h2>
    <br>

    <div ui-view="list"></div>
</section>