    <div class="modal-body" ng-style="{backgroundColor: channel.color.color1, color: channel.color.color_text}">
        <div class="image-poll-type-container" ng-if="prop.type == 'image'">
            <h2>Preview: </h2>
            <hr>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <h3>{{prop.name}}</h3>
                    <span class="contestent-weekof">{{prop.weekof.from | date:'MM/dd' }} -  {{prop.weekof.to | date:'MM/dd' }}</span>
                    <div class="triangle">
                        <div class="triangles-container">
                            <div style="width: 100%; height: 400px">
                                <svg width="100%" height="100%" viewBox="0 0 400 400">
                                    <pattern id='image0' width="1" height="1" viewBox="0 0">
                                        <image xlink:href='/img/fp/ps400x400.png' ng-attr-xlink:href="{{trustSrc(prop.answers[0].image)}}" width="100%" height="400" preserveAspectRatio="none"></image>
                                    </pattern>
                                    <pattern id='image1' width="1" height="1" viewBox="0 0">
                                        <image xlink:href='/img/fp/ps400x400.png' ng-attr-xlink:href="{{trustSrc(prop.answers[1].image)}}" width="100%" height="400" preserveAspectRatio="none"></image>
                                    </pattern>
                                    <pattern id='image2' width="1" height="1" viewBox="0 0">
                                        <image xlink:href='/img/fp/ps400x400.png' ng-attr-xlink:href="{{trustSrc(prop.answers[2].image)}}" width="100%" height="400" preserveAspectRatio="none"></image>
                                    </pattern>
                                    </pattern>
                                    <pattern id='image3' width="1" height="1" viewBox="0 0">
                                        <image xlink:href='/img/fp/ps400x400.png' ng-attr-xlink:href="{{trustSrc(prop.answers[3].image)}}" width="100%" height="400" preserveAspectRatio="none"></image>
                                    </pattern>
                                    <polygon points="0 0, 400 0, 200 200" ng-if="prop.answers[0].name" fill="url(#image0)" style="stroke:#FFFFFF; stroke-width:1" />
                                    <polygon points="0 0, 0 400, 200 200" ng-if="prop.answers[1].name" fill="url(#image1)" style="stroke:#FFFFFF; stroke-width:1" />
                                    <polygon points="0 400, 400 400, 200 200" ng-if="prop.answers[2].name" fill="url(#image2)" style="stroke:#FFFFFF; stroke-width:1"/>
                                    <polygon points="400 0, 400 400, 200 200" ng-if="prop.answers[3].name" fill="url(#image3)" style="stroke:#FFFFFF; stroke-width:1"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="prop-description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <br>
                    <div class="prop-vote">
                        <button class="btn vote-button btn-block channel-standard-button" type="button">VOTE</button>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[0].name">
                            <div class="contesent-profile-container">
                                <div class="contestent-img-round-container">
                                    <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}"></div>
                                </div>
                                <div class="contestent-instagram-container">
                                <span>
                                    <div class="gray-circle"></div>
                                    @{{prop.answers[0].meta.instagram.value}}
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[1].name">
                            <div class="contesent-profile-container">
                                <div class="contestent-img-round-container">
                                    <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}"></div>
                                </div>
                                <div class="contestent-instagram-container">
                                <span>
                                    <div class="gray-circle"></div>
                                    @{{prop.answers[1].meta.instagram.value}}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[2].name">
                            <div class="contesent-profile-container">
                                <div class="contestent-img-round-container">
                                    <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}"></div>
                                </div>
                                <div class="contestent-instagram-container">
                                <span>
                                    <div class="gray-circle"></div>
                                    @{{prop.answers[2].meta.instagram.value}}
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[3].name">
                            <div class="contesent-profile-container">
                                <div class="contestent-img-round-container">
                                    <div ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}"></div>
                                </div>
                                <div class="contestent-instagram-container">
                                <span>
                                    <div class="gray-circle"></div>
                                    @{{prop.answers[3].meta.instagram.value}}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <hr>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label">Current
                            <span ng-if="prop.type == 'opinion'">Poll</span>
                            <span ng-if="prop.type == 'quiz'">Quiz</span>
                            <span ng-if="prop.type == 'classic'">Prop</span>Status:
                        </label>
                        <p>
                        <span ng-class="{'prop-state-active': true}">
                            Created
                            <i class="fa" ng-class="{'fa-check-circle': true, 'fa-circle-o': true }"></i>
                        </span>

                        <span ng-class="{'prop-state-active': true }">
                            Published
                            <i class="fa" ng-class="{'fa-check-circle': false, 'fa-circle-o': true }"></i>
                        </span>

                        <span ng-class="{'prop-state-active': true }">
                            Distributed
                            <i class="fa" ng-class="{'fa-check-circle': false, 'fa-circle-o': true }"></i>
                        </span>

                        <span ng-if="prop.type == 'classic'" ng-class="{'prop-state-active':  true }">
                            Closed
                            <i class="fa" ng-class="{'fa-check-circle': false, 'fa-circle-o': true }"></i>
                        </span>
                        </p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button type="button" class="btn btn-primary pull-left channel-standard-button extra-h-pad">Edit</button>
                    <button type="button" class="btn btn-primary pull-left channel-standard-button extra-h-pad">Save For Later</button>
                    <button type="button" class="btn btn-primary pull-left channel-standard-button extra-h-pad">Publish Now</button>
                </div>
            </div>
        </div>
        <div class="regular-poll-type-container" ng-if="prop.type != 'image'">
            <div class="hidden-xs">
                <div class="row prop-wrap">
                    <div class="col-md-4 col-sm-12 prop-info-wrap">
                        <div class="channel-name"> <h1><a href="/#!/channel/{{channel.guid}}/single/{{prop.type}}/list">{{channel.name}}</a></h1> </div>
                        <div class="prop_question">
                            <h3>{{prop.name}}</h3>
                        </div>
                    </div><!-- .col-md-4 prop-info-wrap -->
                    <div class="col-md-8 col-sm-12 prop-image-wrap">
                        <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                        background-repeat: no-repeat;
                        background-size: 100%;"
                             class="prop-image">
                        </div>
                    </div><!-- .col-md-8 prop-image prop-image-DT -->
                </div><!-- .row prop-wrap -->
            </div>
            <div class="visible-xs">
                <div class="row prop-wrap">
                    <div class="col-xs-12 prop-info-wrap">
                        <div class="channel-name"> <h1><a href="/#!/channel/{{channel.guid}}/single/{{prop.type}}/list">{{channel.name}}</a></h1> </div>
                        <div class="prop_question">
                            <h3>{{prop.name}}</h3>
                            <!-- <p>by <a href="/user/pitbull">pitbull</a></p> -->
                        </div>
                    </div><!-- .col-md-4 prop-info-wrap -->
                    <div class="col-xs-12 prop-image-wrap square-me" style="height: 100px;">
                        <div ng-style="{'background-image': 'url(' + prop.image + ')'}" style="background-repeat: no-repeat;
                        background-repeat: no-repeat;
                        background-size: 100%;"
                             class="prop-image-xs">
                        </div>
                    </div><!-- .col-md-8 prop-image prop-image-DT -->
                </div><!-- .row prop-wrap -->
            </div>

            <form class="form-horizontal col-md-8" role="form" novalidate>
                <div class="row vote-optns-wrap-lg">
                    <div data-toggle="buttons-radio" class="">
                        <div class="col-md-3 button-padding" ng-repeat="option in prop.answers">
                            <div ng-if="option.name != null">
                                <button class="btn vote-optns-button-colors vote-optns channel-standard-button"
                                        name="vote-optns" type="button"
                                        ng-style="{backgroundColor: channel.color.color2, color: channel.color.color1, borderColor: channel.color.color1}">
                                    {{option.name}}
                                </button>
                            </div>
                            <br/>
                        </div>

                    </div><!-- .btn-group -->
                </div>
            </form>
            <br/>
            <div class="clearfix"></div>
        </div>
    </div>
