<section data-ng-controller="AdminPropsController">

    <div class="row prop-wrap">
        <div class="col-md-4 col-sm-12 prop-info-wrap">
            <div class="channel-name"> <h1><a href="/#!/admin/channel/{{channel._id}}/prop/manage/single/{{prop.type}}">{{channel.name}}</a></h1> </div>
            <div class="prop_question">
                <h3>{{prop.name}}</h3>
            </div>
        </div><!-- .col-md-4 prop-info-wrap -->
        <div class="col-md-8 col-sm-12 prop-image-wrap">
            <div class="prop-image">
                <img ng-src="{{prop.image}}" style="height: 280px"/>
            </div>
        </div><!-- .col-md-8 prop-image prop-image-DT -->
    </div>

    <form class="form-horizontal col-md-8" role="form" data-ng-submit="vote(channel._id, prop.guid)" novalidate>
        <div class="row vote-optns-wrap-lg">
            <div data-toggle="buttons-radio" class="">
                <div class="col-md-3 button-padding" ng-repeat="option in options">
                    <div ng-if="option.name != null">
                        <button class="btn vote-optns-button-colors vote-optns channel-standard-button"
                                name="vote-optns" type="button" ng-click=selectItem(option._id)>{{option.name}}</button>
                    </div>
                </div>
            </div><!-- .btn-group -->
        </div>
    </form>

</section>