<section data-ng-controller="UsersController">
    <div ng-show="infomessage">
        <div class="alert alert-info" id="message">
            {{infomessage}}
        </div>
    </div>

    <div class="container">
        <div class="row prop-wrap">
            <div class="col-md-4 col-md-push-8 col-sm-12 margin-pad-zero">
                <img src="/css/themes/images/adler-your-thoughts-square.jpg" class="img-circle center-block logo-shadow" width="300px" >
            </div>
            <div class="col-md-7 col-md-pull-4 prop-info-wrap">
                <h3>Forgot Password</h3>
                <form method="post" data-toggle="validator" role="form" ng-form-validate>
                    <input type="hidden" name="is_admin" value="false">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input id="email" class="form-control" type="email" name="email"
                               placeholder="Email"
                               data-ng-model="email"
                               data-error="Email is not valid."
                               required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <button type="submit" id="submit" class="btn channel-standard-button" data-ng-click="forgotpassword()">
                        Submit
                    </button>
                </form>

            </div><!-- .col-md-8 prop-info-wrap -->

        </div><!-- .col-md-8 prop-image prop-image-DT -->
    </div><!-- .row prop-wrap -->
    </div>


</section>


