<div class="vote-options">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div ui-view="contestent_triangles"></div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <div ui-view="contestent_options"></div>
        </div>
    </div>
</div>
