<div class="contestents-container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8">
            <h2>{{prop.name}} | {{prop.weekof.from | date:'MM/dd' }} -  {{prop.weekof.to | date:'MM/dd' }}</h2>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 pull-right text-right">
            <h2><a href="/#!/poll/list" class="btn channel-standard-button">View All Polls</a></h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div ui-view="contestent_triangles"></div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <div ui-view="contestent_options"></div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <a href="{{facebook_url}}" id="facebookShareLink" target="_blank">
            <button type="button" class="btn channel-standard-button">
                Distributed with facebook
            </button>
        </a>

        <a href="{{twitter_url}}" id="twitterShareLink" target="_blank">
            <button type="button" class="btn channel-standard-button">
                Distributed with twitter
            </button>
        </a>
    </div>
</div>
<hr>
<div ui-view="analytics"></div>