<div class="container results-wrap">
    <div class="row results-inner">
        <div class="col-md-4 col-sm-12 hidden-sm" id="right-padding-restore">
            <div class="border-bottom"><h2>Thanks for voting, {{user.firstname}} {{user.lastname}}!</h2></div>
            <div class="thank-you-text-pad">
                <p>We'll continue to update the
                    <span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span>
                    stats as more votes come in,
                    so be sure to check back frequently! We'll also notify you when this
                    <span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span>
                    closes so you can see
                    the final results!
                </p>
            </div><!-- .thank-you-text-pad -->

            <div class="border-bottom"><h2>You selected</h2></div>
            <div class="thank-you-text-pad">
                <p class="btn btn-lg btn-block outline-selected-button" style="cursor: auto">
                    <span ng-if="prop.type == 'classic' || prop.type == 'quiz'">
                        <i class="fa fa-check-circle fa-lg icon-right-padding" ng-if="userIsCorrect(prop)"></i>
                        <i class="fa fa-times-circle fa-lg icon-right-padding" ng-if="!userIsCorrect(prop)"></i>
                    </span>
                    <span ng-if="prop.type == 'opinion'">
                        <i class="fa fa-check-circle fa-lg icon-right-padding"></i>
                    </span>

                    <span ng-if="prop.userAnswer">{{prop.userAnswer.name}}</span>
                </p>
            </div><!-- .thank-you-text-pad -->


            <div class="border-bottom">
                <h2>Share this
                    <span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span>
                :</h2>
            </div>
            <div class="share-button-wrap">
                <a href="{{facebook_url}}" id="facebookShareLink" target="_blank">
                    <button type="button" class="btn btn-lg btn-block ty-share-button channel-inverted-button">
                        <i class="fa fa-facebook-square fa-lg icon-right-padding"></i> Share on facebook</button>
                </a>
            </div>
            <div class="share-button-wrap">
                <a href="{{twitter_url}}" id="twitterShareLink" target="_blank">
                    <button type="button" class="btn btn-lg btn-block ty-share-button channel-inverted-button">
                        <i class="fa fa-twitter fa-lg icon-right-padding"></i> Share via twitter</button>
                </a>
            </div><!-- .share-button-wrap -->
        </div> <!-- .col-md-4 col-sm-12 hidden-sm -->

        <div class="col-md-4 col-sm-12 visible-sm" id="right-padding-restore">
            <div class="border-bottom"><h2>Thanks for voting, {{user.firstname}} {{user.lastname}}!</h2></div>
            <div class="thank-you-text-pad">
                <p>We'll continue to update the
                    <span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span>
                    stats as more votes come in,
                    so be sure to check back frequently! We'll also notify you when this
                    <span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span>
                    closes so you can see
                    the final results!
                </p>
            </div><!-- .thank-you-text-pad -->

            <div class="border-bottom"><h2>You selected</h2></div>
            <div class="thank-you-text-pad">
                <p class="btn btn-lg btn-block outline-selected-button" style="cursor: auto">
                    <span ng-if="prop.type == 'classic' || prop.type == 'quiz'">
                        <i class="fa fa-check-circle fa-lg icon-right-padding" ng-if="userIsCorrect(prop)"></i>
                        <i class="fa fa-times-circle fa-lg icon-right-padding" ng-if="!userIsCorrect(prop)"></i>
                    </span>
                    <span ng-if="prop.type == 'opinion'">
                        <i class="fa fa-check-circle fa-lg icon-right-padding"></i>
                    </span>
                    <span ng-if="prop.userAnswer">{{prop.userAnswer.name}}</span>
                </p>
            </div><!-- .thank-you-text-pad -->

            <div class="border-bottom"><h2>Share this
                <span ng-if="prop.type == 'opinion'">Poll</span>
                <span ng-if="prop.type == 'quiz'">Quiz</span>
                <span ng-if="prop.type == 'classic'">Prop</span>
                :</h2>
            </div>
            <div class="share-button-wrap">
                <a href="{{facebook_url}}" id="facebookShareLink" target="_blank">
                    <button type="button" class="btn btn-lg btn-block ty-share-button channel-inverted-button">
                        <i class="fa fa-facebook-square fa-lg icon-right-padding"></i> Share on facebook</button>
                </a>
            </div>
            <div class="share-button-wrap">
                <a href="{{twitter_url}}" id="twitterShareLink" target="_blank">
                    <button type="button" class="btn btn-lg btn-block ty-share-button channel-inverted-button">
                        <i class="fa fa-twitter fa-lg icon-right-padding"></i> Share via twitter</button>
                </a>
            </div><!-- .share-button-wrap -->
        </div> <!-- .col-md-4 col-sm-12 hidden-sm -->

        <div class="col-md-8 col-sm-12 col-xs-12 prop-stats-wrap" id="right-padding-restore">
            <div class="border-bottom">
                <h2><span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span>
                    Results
                </h2>
            </div>

            <div class="chart-wrap">

                <div class="hidden-lg row">
                    <div class="col-xs-12 col-sm-7 col-md-12 col-lg-7">
                        <h4>Results Pie Chart: ( Touch for Detail )</h4>
                        <div class="prop-status-pie-chart-wrap">
                            <div class="pie-chart-pos-sm">
                                <highchart id="chart1" config="pieChartConfig"></highchart>
                            </div>
                        </div>
                    </div><!-- .col-xs-12 col-sm-7 col-md-12 col-lg-7 -->
                    <div class="col-xs-12 col-sm-5 col-md-12 col-lg-5">
                        <h4>Results Legend:</h4>
                        <div class="prop-status-pie-legend-wrap">
                            <ul style="list-style: none; padding-left: 0px;">
                                <li data-ng-repeat="legend in pieChartLegend">
                                    <div class="legend_color legend-pos" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                                    <div style="float: left; ">&nbsp;&nbsp;{{legend.y | number: 2}}% - {{legend.name}}</div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-xs-12 col-sm-5 col-md-12 col-lg-5 -->
                    <div class="clearfix"></div>
                </div><!-- .hidden-lg row -->

                <div class="visible-lg row">
                    <div class="col-xs-12 col-sm-7 col-md-12 col-lg-7">
                        <h4>Results Pie Chart: ( Touch for Detail )</h4>
                        <div class="prop-status-pie-chart-wrap">
                            <div class="pie-chart-pos">
                                <highchart  id="chart1" config="pieChartConfig"></highchart>
                            </div>
                        </div>
                    </div><!-- .col-xs-12 col-sm-7 col-md-12 col-lg-7 -->
                    <div class="col-xs-12 col-sm-5 col-md-12 col-lg-5">
                        <h4>Results Legend:</h4>
                        <div class="prop-status-pie-legend-wrap-lg">
                            <ul style="list-style: none; padding-left: 0px;">
                                <li data-ng-repeat="legend in pieChartLegend">
                                    <div class="legend_color legend-pos" ng-style="{backgroundColor: legend.color}">&nbsp;</div>
                                    <div style="float: left; ">&nbsp;&nbsp;{{legend.y | number: 2}}% - {{legend.name}}</div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .col-xs-12 col-sm-5 col-md-12 col-lg-5 -->
                    <div class="clearfix"></div>
                </div><!-- .visible-lg row -->

            </div>
        </div><!-- .prop-stats-wrap -->
    </div><!-- .row .results-inner -->

    <div class="row results-inner">
        <div class="col-xs-12" id="right-padding-restore">
            <div class="border-bottom">
                <h2><span ng-if="prop.type == 'opinion'">Poll</span>
                    <span ng-if="prop.type == 'quiz'">Quiz</span>
                    <span ng-if="prop.type == 'classic'">Prop</span> Stats
                </h2>
            </div>
        </div>
    </div>

    <div class="row results-inner">
        <div class="col-xs-12 col-md-5 chart-wrap">
            <h4>Basic
                <span ng-if="prop.type == 'opinion'">Poll</span>
                <span ng-if="prop.type == 'quiz'">Quiz</span>
                <span ng-if="prop.type == 'classic'">Prop</span>
                Stats:
            </h4>
            <div class="left-padding">
                <p><h3>{{prop.counts.vote}} <small>total votes</small></h3></p>
                <p><h3>{{prop.counts.share}} <small>total shares</small></h3></p>
                <p><h3>{{prop.counts.view}} <small>total views</small></h3></p>
            </div>
        </div>

        <div class="col-xs-12 col-md-7 chart-wrap">
            <div class="chart-wrap">

                <!-- //// FACEBOOK STATS //// -->


                <div class="col-xs-12 chart-wrap"><h3>Voter Breakdown:</h3></div>

                <div class="col-xs-12 col-md-6 chart-wrap">  <!-- Barchart Gender  -->
                    <h4>Gender</h4>
                    <div class="facebook-stats-wrapper-{{prop.guid}}">
                        <div data-ng-repeat="(afacebook_stat, facebook_stat) in facebookGenderStats[prop.guid]">
                            <div ui-view="facebook_stats"></div>
                        </div>
                    </div>
                </div> <!-- .col-xs-12 col-md-6 chart-wrap -->

                <div class="col-xs-12 col-md-6 chart-wrap participation-spacer">
                    <h4>Age</h4>
                    <div class="facebook-stats-wrapper-{{prop.guid}}">
                        <div data-ng-repeat="(afacebook_stat, facebook_stat) in facebookAgeStats[prop.guid]">
                            <div ui-view="facebook_stats"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .col-xs-12 col-md-7  .chart-wrap -->
    </div><!-- .row .results-inner -->
</div><!-- .container .results-wrap-->