<div class="vote-options">
    <!--
 Two Voting Options
 --------------------------------------------------------->
    <div class="two-options" ng-show="optionsCount == 2 || optionsCount == 1">
        <!-- md-lg -->
        <div class="container visible-md visible-lg">
            <div class="row vote-optns-wrap-lg">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-md-6 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    </div>
                    <div class="col-md-6 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                    </div>
                </div><!-- .btn-group -->
            </div><!-- .row vote-optns-wrap-lg -->
            <div class="col-xs-12 vote-button-padding" id="right-padding-restore">
                <div class="">
                    <button class="btn vote-button channel-standard-button" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button" type="button" ng-click="loginToVote()" ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-md visible-lg-->

        <!-- sm -->
        <div class="container visible-sm vote-optn-outter">
            <div class="row vote-optns-wrap-sm">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                </div><!-- .btn-group -->
            </div><!-- .row DT-vote-optns-wrap -->
            <div class="col-xs-12 vote-button-padding">
                <div class="">
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" ng-click="loginToVote()"  ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-sm -->

        <!-- xs -->
        <div class="container visible-xs vote-optn-outter-xs">
            <div class="row vote-optns-wrap-sm" id="xs-button-fix">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                </div><!-- .btn-group -->
            </div><!-- .row DT-vote-optns-wrap -->
            <div class="col-xs-12 vote-button-padding" id="xs-button-fix">
                <div class="">
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" ng-click="loginToVote()"  ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-xs -->

    </div><!-- two-options -->



    <!--!!! prop/vote_options_two <<< !!!-->
    <!--!!! prop/vote_options_three >>> !!!-->
    <!--
     Three Voting Options
     ------------------------------------------------------->
    <div class="three-options" ng-show="optionsCount == 3">
        <!-- md-lg -->
        <div class="container visible-md visible-lg">
            <div class="row vote-optns-wrap-lg">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-md-4 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    </div>
                    <div class="col-md-4 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                    </div>
                    <div class="col-md-4 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[2].id" ng-class="{active: prop.answers[2].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[2].id)>{{prop.answers[2].name}}</button></div>
                    </div>
                </div><!-- .btn-group -->
            </div><!-- .row vote-optns-wrap-lg -->
            <div class="col-xs-12 vote-button-padding" id="right-padding-restore">
                <div class="">
                    <button class="btn vote-button channel-standard-button" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button" type="button" ng-click="loginToVote()"  ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-md visible-lg-->

        <!-- sm -->
        <div class="container visible-sm vote-optn-outter">
            <div class="row vote-optns-wrap-sm">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[2].id" ng-class="{active: prop.answers[2].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[2].id)>{{prop.answers[2].name}}</button></div>
                </div><!-- .btn-group -->
            </div><!-- .row DT-vote-optns-wrap -->
            <div class="col-xs-12 vote-button-padding">
                <div class="">
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" ng-click="loginToVote()"  ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-sm -->

        <!-- xs -->
        <div class="container visible-xs vote-optn-outter-xs">
            <div class="row vote-optns-wrap-sm" id="xs-button-fix">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[2].id" ng-class="{active: prop.answers[2].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[2].id)>{{prop.answers[2].name}}</button></div>
                </div><!-- .btn-group -->
            </div><!-- .row DT-vote-optns-wrap -->
            <div class="col-xs-12 vote-button-padding" id="xs-button-fix">
                <div class="">
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" ng-click="loginToVote()"  ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-xs -->

    </div><!-- three-options -->

    <!--
     Four Voting Options
     ------------------------------------------------------->
    <div class="four-options" ng-show="optionsCount == 4">
        <!-- md-lg -->
        <div class="container visible-md visible-lg">
            <div class="row vote-optns-wrap-lg">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-md-3 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    </div>
                    <div class="col-md-3 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                    </div>
                    <div class="col-md-3 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[2].id" ng-class="{active: prop.answers[2].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[2].id)>{{prop.answers[2].name}}</button></div>
                    </div>
                    <div class="col-md-3 button-padding">
                        <div class=""><button type="button" name="vote-optns" ng-model="prop.answers[3].id" ng-class="{active: prop.answers[3].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[3].id)>{{prop.answers[3].name}}</button></div>
                    </div>
                </div><!-- .btn-group -->
            </div><!-- .row vote-optns-wrap-lg -->
            <div class="col-xs-12 vote-button-padding" id="right-padding-restore">
                <div class="">
                    <button class="btn vote-button channel-standard-button" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button" type="button" ng-click="loginToVote()"  ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-md visible-lg-->

        <!-- sm -->
        <div class="container visible-sm vote-optn-outter">
            <div class="row vote-optns-wrap-sm">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[2].id" ng-class="{active: prop.answers[2].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[2].id)>{{prop.answers[2].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns" ng-model="prop.answers[3].id" ng-class="{active: prop.answers[3].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[3].id)>{{prop.answers[3].name}}</button></div>
                </div><!-- .btn-group -->
            </div><!-- .row DT-vote-optns-wrap -->
            <div class="col-xs-12 vote-button-padding">
                <div class="">
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" ng-click="loginToVote()"  ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-sm -->

        <!-- xs -->
        <div class="container visible-xs vote-optn-outter-xs">
            <div class="row vote-optns-wrap-sm" id="xs-button-fix">
                <div class="" data-toggle="buttons-radio">
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[0].id" ng-class="{active: prop.answers[0].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[0].id)>{{prop.answers[0].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[1].id" ng-class="{active: prop.answers[1].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[1].id)>{{prop.answers[1].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[2].id" ng-class="{active: prop.answers[2].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[2].id)>{{prop.answers[2].name}}</button></div>
                    <div class="col-sm-12 button-padding vote-button-spacing-bottom-top" id="xs-button-fix"><button type="button" name="vote-optns" ng-model="prop.answers[3].id" ng-class="{active: prop.answers[3].id == selectedOption}" class="btn vote-optns-button-colors vote-optns channel-standard-button" ng-click=selectItem(prop.answers[3].id)>{{prop.answers[3].name}}</button></div>
                </div><!-- .btn-group -->
            </div><!-- .row DT-vote-optns-wrap -->
            <div class="col-xs-12 vote-button-padding" id="xs-button-fix">
                <div class="">
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled"  ng-show="global.user != null">{{votebuttontext}}</button>
                    <button class="btn vote-button channel-standard-button vote-button-spacing-bottom-top" type="button" ng-click="loginToVote()"  ng-show="global.user == null">LOGIN TO VOTE</button>
                </div>
            </div>
        </div><!-- .container visible-xs -->

    </div><!-- four-options -->
</div>
