<section data-ng-controller="PropsController" data-ng-init="findProps()">
    <div ui-view="poll_list"></div>
</section>

<section data-ng-controller="PropSetController" data-ng-init="findPropsets()">
    <div ui-view="quiz_list"></div>
</section>