<div class="more-inner" data-ng-init="findOtherPropsFromChannel()">
    <h2>More <span ng-if="prop.type == 'opinion'">Polls</span><span ng-if="prop.type == 'quiz'">Quizzes</span>:</h2>
    <div data-ng-repeat="_prop in otherprops">
        <div class="container hidden-sm hidden-xs">
            <div class="row prop-wrap">
                <div class="col-md-4 col-sm-12 prop-info-wrap">
                    <div class="prop_question">
                        <h3>
                            <a href="/#!/prop/{{_prop.guid}}" ng-hide="user.is_admin">{{_prop.name}}</a>
                            <a href="/#!/admin/channel/{{channel._id}}/prop/{{_prop._id}}/results" ng-show="user.is_admin">{{_prop.name}}</a>
                        </h3>
                        <div class="vote-now-pos-lg" ng-hide="userVote(_prop) || propStatus(_prop) == 'closed' || propStatus(_prop) == 'graded'">
                            <a href="/#!/prop/{{_prop.guid}}" class="btn btn-lg btn-block channel-standard-button" >
                                Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div><!-- .col-md-4 prop-info-wrap -->
                <div class="col-md-8 col-sm-12 prop-image-wrap">
                    <a href="/#!/prop/{{_prop.guid}}" ng-show="_prop.image">
                        <div ng-style="{ 'background-image': 'url(' + _prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + _prop.banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                </div><!-- .col-md-8 prop-image prop-image-DT -->
            </div><!-- .row prop-wrap -->
        </div>


        <div class="container visible-sm">
            <div class="row prop-wrap">
                <div class="col-md-4 col-sm-12 prop-info-wrap">
                    <div class="prop_question">
                        <h3>
                            <a href="/#!/prop/{{_prop.guid}}" ng-hide="user.is_admin">{{_prop.name}}</a>
                            <a href="/#!/admin/channel/{{channel._id}}/prop/{{_prop._id}}/results" ng-show="user.is_admin">{{_prop.name}}</a>
                        </h3>
                    </div>
                </div><!-- .col-md-4 prop-info-wrap -->
                <div class="col-sm-12 prop-image-wrap">
                    <a href="/#!/prop/{{_prop.guid}}" ng-show="prop.image">
                        <div ng-style="{ 'background-image': 'url(' + _prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + _prop.banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                    <br/>
                    <div class="vote-now-pos-lg" ng-hide="userVote(_prop) || propStatus(_prop) == 'closed' || propStatus(_prop) == 'graded'">
                        <a href="/#!/prop/{{_prop.guid}}" class="btn btn-lg btn-block channel-standard-button" >
                            Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        </a>
                    </div>
                </div><!-- .col-sm-12 prop-image-wrap -->
            </div><!-- .row prop-wrap -->
        </div>


        <div class="container visible-xs">
            <div class="row prop-wrap">
                <div class="col-xs-12 prop-info-wrap">
                    <div class="prop_question">
                        <h3>
                            <a href="/#!/prop/{{_prop.guid}}" ng-hide="user.is_admin">{{prop.name}}</a>
                            <a href="/#!/admin/channel/{{channel._id}}/prop/{{_prop_id}}/results" ng-show="user.is_admin">{{_prop.name}}</a>
                        </h3>

                    </div>
                </div><!-- .col-md-4 prop-info-wrap -->
                <div class="col-xs-12 prop-image-wrap square-me">
                    <a href="/#!/prop/{{_prop.guid}}" ng-show="_prop.image">
                        <div ng-style="{ 'background-image': 'url(' + _prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + _prop.mobile_banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                     <div class="vote-now-pos-lg" ng-hide="userVote(_prop) || propStatus(_prop) == 'closed' || propStatus(_prop) == 'graded'">
                        <a href="/#!/prop/{{_prop.guid}}" class="btn btn-lg btn-block channel-standard-button" >
                            Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        </a>
                    </div>
                </div><!-- .col-xs-12 prop-image-wrap square-me -->
            </div><!-- .row prop-wrap -->
        </div>
    </div>
</div>
