<section data-ng-controller="PropsController">

    <div class="row prop-wrap">
        <div class="col-md-4 col-sm-12 prop-info-wrap">
            <div class="channel-name"> <h1><a href="#!/channel/{{channel.guid}}/single/{{prop.type}}/list">{{channel.name}}</a></h1> </div>
            <div class="prop_question">
                <h3>{{prop.name}}</h3>
            </div>
        </div><!-- .col-md-4 prop-info-wrap -->
        <div class="col-md-8 col-sm-12 prop-image-wrap">
            <div class="prop-image"><img ng-src="{{prop.image}}" style="height: 280px"/></div>
        </div><!-- .col-md-8 prop-image prop-image-DT -->
    </div>

    <h2>Thanks for suggesting this prop!</h2>
    <h3>
        You can view other props in the channel
        <a href="/#!/channel/{{currentchannel.guid}}/single/{{prop.type}}/list">here</a>
    </h3>
    </div>

    <div class="row vote-optns-wrap-lg">
        <div class="col-md-3 button-padding" ng-repeat="option in options">
            <div ng-if="option.name != null">
                <button class="btn vote-optns-button-colors vote-optns channel-standard-button"
                        name="vote-optns" type="button" ng-click=selectItem(option._id)>{{option.name}}</button>
            </div>
        </div>
    </div>

    <div class="col-xs-12 vote-button-padding">
        <div class="">
            <button id="" class="btn vote-button channel-standard-button" disabled="" type="button">Waiting for Approval</button>
        </div>
    </div>

</section>