<section data-ng-controller="PropsController">

    <h2> Suggest a Poll </h2>
    <br>

    <form class="form-horizontal col-md-8" enctype="multipart/form-data" role="form" data-ng-submit="create()">

        <div class="form-group">
            <label for="name" class="control-label">Type</label>
            <input type="radio" ng-model="suggest_type" ng-checked="true" data-ng-init="suggest_type = 'opinion'" value="opinion" name="type"> Poll
            <!--<input type="radio" ng-model="suggest_type"  value="classic" name="type"> Prop-->
            <input type="radio" ng-model="suggest_type"  value="quiz" name="type"> Quiz
        </div>

        <div class="form-group">
            <label for="name" class="control-label">Title</label>
            <input type="text" class="form-control" data-ng-model="name" id="name" placeholder="name">
        </div>

        <div class="form-group">
            <label for="details" class="control-label">Details</label>
            <textarea data-ng-model="details" id="details" cols="30" rows="10" placeholder="Details" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label class="control-label">File Image</label>
            <input ng-model="image" data-ng-init="image = '/img/fp/ps740x280.png'" id="logo" type="hidden" name="image" ng-update-hidden>
            <div id="file-button-fix">

                <div class="hidden-xs">
                    <div class="prop-image-wrap">
                        <div ng-style="{'background-image': 'url(' + image + ')'}" style="background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                             class="prop-image">
                        </div>
                    </div>
                </div>
                <div class="visible-xs">
                    <div style="height: 100px;" class="prop-image-wrap square-me">
                        <div ng-style="{'background-image': 'url(' + image + ')'}" style="background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                             class="prop-image-xs">
                        </div>
                    </div>
                </div>

                <div ng-uploadcare
                     images-only="true"
                     data-multiple="false"
                     data-crop="740x280 minimum"
                     callback="suggestPropImageCallback(file)">Pick File
                </div>
            </div>
        </div><!-- .form-group -->

        <div class="form-group">
            <label class="control-label">Options</label>


            <div class="row">
                <!-- Text input-->
                <div class="col-md-5 form-group">
                    <div class="col-md-1">
                        <input type="radio"
                               ng-model="answers[0].correct"
                               ng-value="true"
                               ng-show="suggest_type == 'quiz'"
                               name="options"
                               ng-change="optionChecked(answers[0])">
                    </div>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control input-group input_option"
                               placeholder="(Option A)"
                               data-ng-model="answers[0].name"
                               id="options_one"
                               name="options_one">
                    </div>
                </div>

                <!-- Text input-->
                <div class="col-md-5 form-group">
                    <div class="col-md-1">
                        <input type="radio"
                               ng-model="answers[1].correct"
                               ng-value="true"
                               ng-show="suggest_type == 'quiz'"
                               name="options"
                               ng-change="optionChecked(answers[1])">
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control input-group input_option" placeholder="(Option B)"
                               data-ng-model="answers[1].name" id="options_two" name="options_two">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 form-group">
                    <div class="col-md-1">
                        <input type="radio"
                               ng-model="answers[2].correct"
                               ng-value="true"
                               ng-show="suggest_type == 'quiz'"
                               name="options"
                               ng-change="optionChecked(answers[2])">
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control input-group input_option" placeholder="(Option C)"
                               data-ng-model="answers[2].name" id="options_three" name="options_three">
                    </div>
                </div>

                <div class="col-md-5 form-group">
                    <div class="col-md-1">
                        <input type="radio"
                               ng-model="answers[3].correct"
                               ng-value="true"
                               ng-show="suggest_type == 'quiz'"
                               name="options"
                               ng-change="optionChecked(answers[3])">
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control input-group input_option" placeholder="(Option D)"
                               data-ng-model="answers[3].name" id="options_four" name="options_four">
                    </div>
                </div>
            </div>


        <div class="controls">
            <button id="save" type="submit" class="btn btn-primary pull-left channel-standard-button" value="1" name="save">Save</button>
            </br></br>
        </div>
    </form>
</section>