<section data-ng-controller="PropsController" data-ng-init="getViewData()">


    <div ng-show="global.user && !global.user.is_admin">

        <div class="image-poll-container" ng-if="prop.type == 'image'">
            <div ui-view="image_vote_options" ng-if="!prop.userVote"></div>
            <div ui-view="image_vote_thanks" ng-if="prop.userVote"></div>
        </div>

        <div class="regular-poll-container" ng-if="prop.type != 'image'">
            <div ui-view="view"></div>
            <form class="form-horizontal col-md-8" role="form" novalidate ng-show="!prop.userVote">
                <div ui-view="regular_vote_options"></div>
            </form>
            <div ui-view="regular_vote_thanks" ng-show="prop.userVote"></div>
            <div class="clearfix"></div>
        </div>

        <hr>
        <h3>Other Popular
            <span ng-if="prop.type == 'quiz'">Quizzes</span>
            <span ng-if="prop.type == 'opinion'">Polls</span>
        </h3>
        <div class="row" data-ng-init="findOtherPropsFromChannel(prop)">
            <div ui-view="single_list"></div>
        </div>
        <div class="row" data-ng-controller="PropSetController" data-ng-init="findPropsets()">
            <div ui-view="multiple_list"></div>
        </div>

    </div>

    <div ng-hide="global.user">
        <!-- USER DIDNT VOTE -->
        <form class="form-horizontal col-md-8" role="form" novalidate>
            <div ui-view="vote_options"></div>
        </form>
    </div>


</section>