<section data-ng-controller="PropsController" data-ng-init="getViewData()">

    <div class="image-poll-container" ng-if="prop.type == 'image'">
        <div ui-view="image_vote_thanks"></div>
    </div>
    <div class="regular-poll-container" ng-if="prop.type != 'image'">
        <div ui-view="view"></div>
        <div ui-view="regular_vote_thanks"></div>
        <div class="clearfix"></div>
    </div>

    <hr>
    <h3>Other Popular
        <span ng-if="prop.type == 'quiz'">Quizzes</span>
        <span ng-if="prop.type == 'opinion'">Polls</span>
    </h3>

    <div class="row" data-ng-init="findOtherPropsFromChannel(prop)">
        <div ui-view="single_list"></div>
    </div>

    <div class="row" data-ng-controller="PropSetController" data-ng-init="findPropsets()">
        <div ui-view="multiple_list"></div>
    </div>

</section>