<section data-ng-controller="AdminPropsController" data-ng-init="findSuggestedbyList()">
    <div class="container">
        <h2>Manage Suggested By Props</h2>
    </div>
    <hr>

    <div ui-view="list"></div>
</section>