<!--
Primary navigation
-------------------------------------------------------------->
<div  data-ng-controller="HeaderController">
    <div ng-switch on="global.user == null"> <!-- USER NOT LOGGED -->
        
        <div ng-switch-when=false><!-- USER LOGGED -->
            <div class = "navbar navbar-custom-color-top navbar-static-top" id="top-nav-height">
                <div class = "container" id="top-nav-height">
                    <div class="visible-xs">
                        <div ng-show="currentchannel">
                            <a class="" href="#">
                                <img src="/img/fp/pollspace_logo.png"  ng-src="{{currentchannel.logo}}" height="40px" class="brand-header-logo">
                            </a>
                        </div>
                        <div ng-hide="currentchannel">
                            <a class="" href="#">
                                <img src="/img/fp/pollspace_logo.png" height="40px" class="brand-header-logo">
                            </a>
                        </div>
                    </div>
                    <div class="hidden-xs">
                        <div ng-show="currentchannel">
                            <a class="" href="#">
                                <img src="/img/fp/pollspace_logo.png"  ng-src="{{currentchannel.logo}}" height="40px" class="brand-header-logo">
                            </a>
                            <a class="fp-brand-name" href="" ng-show="currentchannel"> {{currentchannel.name}} </a>
                        </div>
                        <div ng-hide="currentchannel">
                            <a class="" href="#">
                                <img src="/img/fp/pollspace_logo.png"height="40px" class="brand-header-logo">
                            </a>
                        </div>
                    </div>
                    <ul class = "visible-xs list-inline" id="sm-nav">
                        <li><a ng-click="openMenu()"><i class="fa fa-bars fa-2x"></i></a></li>
                    </ul>
                    <ul class = "visible-sm list-inline" id="sm-nav">
                        <li><a ng-click="openMenu()"><i class="fa fa-bars fa-lg"></i></a></li>
                    </ul>
                    <ul class = "visible-md visible-lg nav navbar-nav navbar-right">
                        <li><a ng-click="openMenu()"><i class="fa fa-bars fa-lg"></i><div class="nav-item">Menu</div></a></li>
                    </ul>
                </div><!-- .container -->
            </div><!-- .navbar .navbar-custom-color-top .navbar-static-top  -->
        </div>
    </div>
    <!--
    Secondary tabbed navigation
    -------------------------------------------------------------->
    <!-- COMMENTED - USER ONLY -->
    <div class="secondary-nav-bkg" relink-event="updateTopAndSideBarEvent" data-ng-init="setLocationList();">
        <div class="container">
            <div ng-switch on="global.user.is_admin">
                <div ng-switch-when=true> <!-- IS ADMIN -->
                    <ul class="nav nav-tabs nav-justified secondary-navbar" ng-if="currentchannel != null">
                        <!-- ADMIN -->
                        <li ng-class="{active: activetab == 'createprop'}"><a xdata-toggle="tab" href="/#!/admin/channel/{{currentchannel._id}}/prop/create/single/image"><span class="visible-xs"><i class="fa fa-plus-circle fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-plus-circle fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg"><i class="fa fa-plus-circle fa-fw fa-lg"></i>Create Poll</span></a></li>
                        <li ng-class="{active: activetab == 'manage_props'}"><a xdata-toggle="tab" href="/#!/admin/channel/{{currentchannel._id}}/prop/manage/single/image"><span class="visible-xs"><i class="fa fa-trophy fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-trophy fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg"><i class="fa fa-trophy fa-fw fa-lg"></i>All Polls</span></a></li>
                        <li ng-class="{active: activetab == 'leaderboard'}"><a xdata-toggle="tab" href="/#!/admin/channel/{{currentchannel._id}}/leaderboard"><span class="visible-xs"><i class="fa fa-list fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-list fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg"><i class="fa fa-list fa-fw fa-lg"></i>Leaderboard</span></a></li>
                        <li ng-class="{active: activetab == 'submitted_photos'}"><a xdata-toggle="tab" href="/#!/admin/channel/{{currentchannel._id}}/submitted/photos"><span class="visible-xs"><i class="fa fa-camera-retro fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-camera-retro fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg"><i class="fa fa-camera-retro fa-fw fa-lg"></i>Submitted Photos</span></a></li>
                    </ul><!-- .nav nav-tabs secondary-navbar -->
                </div>
                <div ng-switch-when=false> <!-- IS USER -->
                    <div ng-if="currentchannel == null && !quiz_title">
                        <ul class="nav nav-tabs nav-justified secondary-navbar">
                            <li ng-class="{active: activetab == 'my_props'}"><a xdata-toggle="tab" href="/my/props"><span class="visible-xs"><i class="fa fa-ticket fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-ticket fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg"><i class="fa fa-ticket fa-fw fa-lg"></i>My Polls</span></a></li>
                            <li ng-class="{active: activetab == 'my_channels'}"><a xdata-toggle="tab" href="/my/channels"><span class="visible-xs"><i class="fa fa-star fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-star fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg"><i class="fa fa-star fa-fw fa-lg"></i>My Channels</span></a></li>
                            <li ng-class="{active: activetab == 'my_rankings'}"><a xdata-toggle="tab" href="/my/rankings"><span class="visible-xs"><i class="fa fa-trophy fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-trophy fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg"><i class="fa fa-trophy fa-fw fa-lg"></i>My Rankings</span></a></li>
                            <li ng-class="{active: activetab == 'my_account'}"><a xdata-toggle="tab" href="/my/account"><span class="visible-xs"><i class="fa fa-user fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-user fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg"><i class="fa fa-user fa-fw fa-lg"></i>My Account</span></a></li>
                        </ul><!-- .nav nav-tabs secondary-navbar -->
                    </div>
                    <div ng-if="currentchannel != null && !quiz_title">
                        <ul class="nav nav-tabs nav-justified secondary-navbar">
                            <li ng-class="{active: activetab == 'final_four'}">
                                <a xdata-toggle="tab" ng-href="/#!/final/four">
                                    <span class="visible-xs"><i class="fa fa-heart fa-fw fa-lg"></i></span>
                                    <span class="visible-sm"><i class="fa fa-heart fa-fw fa-2x"></i></span>
                                    <span class="visible-md visible-lg tabs-lg capitalize"><i class="fa fa-heart fa-fw fa-lg"></i>Today's Final Four</span>
                                </a>
                            </li>
                            <li ng-class="{active: activetab == 'our_props'}">
                                <a xdata-toggle="tab" ng-href="/#!/previous/winners">
                                    <span class="visible-xs"><i class="fa fa-history fa-fw fa-lg"></i></span>
                                    <span class="visible-sm"><i class="fa fa-history fa-fw fa-2x"></i></span>
                                    <span class="visible-md visible-lg tabs-lg capitalize"><i class="fa fa-history fa-fw fa-lg"></i>Previous Winners</span>
                                </a>
                            </li>
                            <li ng-class="{active: activetab == 'submit_photo'}">
                                <a xdata-toggle="tab" ng-href="/#!/upload/photo">
                                    <span class="visible-xs"><i class="fa  fa-upload fa-fw fa-lg"></i></span>
                                    <span class="visible-sm"><i class="fa  fa-upload fa-fw fa-2x"></i></span>
                                    <span class="visible-md visible-lg tabs-lg capitalize"><i class="fa  fa-upload fa-fw fa-lg"></i>Submit your photo</span>
                                </a>
                            </li>
                            <li ng-class="{active: activetab == 'user_leaderboard'}">
                                <a xdata-toggle="tab" ng-href="/#!/leaders">
                                    <span class="visible-xs"><i class="fa fa-trophy fa-fw fa-lg"></i></span>
                                    <span class="visible-sm"><i class="fa fa-trophy fa-fw fa-2x"></i></span>
                                    <span class="visible-md visible-lg tabs-lg capitalize"><i class="fa fa-trophy fa-fw fa-lg"></i>Leaderboard</span>
                                </a>
                            </li>
<!--
                            <li ng-class="{active: activetab == 'profile'}"><a xdata-toggle="tab" ng-click="goToChannelProfile();"><span class="visible-xs"><i class="fa fa-user fa-fw fa-lg"></i></span><span class="visible-sm"><i class="fa fa-user fa-fw fa-2x"></i></span><span class="visible-md visible-lg tabs-lg capitalize"><i class="fa fa-user fa-fw fa-lg"></i>About {{currentchannel.guid}}</span></a></li>
-->
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .container -->
    </div>
    <!-- .secondary-nav-bkg -->
</div>






<!-- OLD HEADER CODE - DO NOT REMOVE - ANGULAR CONTROLLER
<div class="" data-ng-controller="HeaderController">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/">MEAN - A Modern Stack</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Signup <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="signupUser">Signup user</a></li>
            <li><a href="signupAdmin">Signup admin</a></li>
        </ul>
        <li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="signinUser">Signin user</a></li>
            <li><a href="signinAdmin">Signin admin</a></li>
        </ul>
        <li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.firstname}} {{global.user.lastname}}<b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a href="/#!/users/{{global.user._id}}">Account</a></li>
                <li><a href="/signout">Signout</a></li>
            </ul>
        </li>
    </ul>
</div>-->
