<section data-ng-controller="UsersController" >
    <div ng-if="errors">
        <div class="alert alert-danger" id="errors">
            <ul>
                <li data-ng-repeat="(key,val) in errors">{{val.message}}</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row login-wrap">
            <div class="col-sm-6 col-md-6 log-pad">
                <div ng-if="currentchannel" class="login-welcome" style="color: {{currentchannel.color.color2}}">
                  Welcome to
                  <br>
                  <span>#{{removeAllSpaces(currentchannel.name)}}</span>
                </div>
                <div class="hr-sect">by</div>
                <div ng-if="currentchannel" class="login-image" login-page-logo >
                    <img src="{{currentchannel.picture}}" class="img-responsive center-block" width="100%">
                    <!--<div style="background: url('{{currentchannel.picture}}') 0 -160px; width: 400px; height: 80px" class="img-responsive center-block"></div>-->
                </div>
                <div ng-if="currentchannel" class="login-desc" style="color: {{currentchannel.color.color_text}}" data-ng-bind-html="currentchannel.signin_page_desc"></div>
                <div class="login-started" style="color: {{currentchannel.color.color2}}">Sign in to get started!</div>
                <div class="login-about" style="color: {{currentchannel.color.color2}}">
                  <span class="login-info-icon" style="background: {{currentchannel.color.color2}}">
                    <i class="fa fa-info" ></i>
                  </span>                  
                  <span>About <span class="capitalize">{{currentchannel.guid}}</span> #{{removeAllSpaces(currentchannel.name)}}</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 login-form" style="background: {{currentchannel.color.color3}};">
                <div class="row login-tweeter-section">
                  <div class="login-mask" ng-show="!toggle_tweeter && !toggle_signup" ></div>
                  <div class="col-sm-12 col-md-12 " ng-show="toggle_tweeter">
                      <form role="form" method="post" action="/user/session">
                          <input type="hidden" name="is_admin" value="false">
                          <div class="form-group">
                              <input type="text" class="form-control login-input" id="email" name="email" placeholder='Email'>
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control login-input" id="password" name="password" placeholder='Password'>
                          </div>

                          <button type="submit" class="btn btn-primary channel-standard-button login-btn">
                            Log In
                          </button>
                          
                          <button type="button" data-ng-click="toggle_tweeter = !toggle_tweeter; toggle_signup = !toggle_signup; " class="btn btn-primary channel-standard-button register-btn">
                            Register
                          </button>
                      </form>
                    </div>
                    <div class="col-sm-12 col-md-12 mt-20" ng-show="toggle_tweeter">
                      <a href="{{global.twitter_url}}" class="btn btn-lg twitter-button btn-block btn-social">
                        <span class="fa fa-twitter" style="background: #8fcfff;"></span>
                        Sign in with Twitter
                      </a>
                    </div> 
                    <div class="col-sm-12 col-md-12 mt-20" ng-show="toggle_tweeter">
                      <a href="/auth/google" class="btn btn-lg google-button btn-block btn-social">
                        <span class="fa fa-google" style="background: #dd4b39;"></span>
                        Sign in with Google
                      </a>
                    </div> 
                </div>
                <div class="row login-fb-section" ng-show="!toggle_tweeter && !toggle_signup">
                    <div class="col-sm-12 col-md-12 mt-20">
                        <a href="/auth/facebook" class="btn btn-lg fb-button btn-block btn-social">
                          <span class="fa fa-facebook" style="background: #526997;"></span>
                          Sign in with Facebook
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-12 mt-20" ng-show="!toggle_tweeter && !toggle_signup">
                        Or signin with email or twitter <a href="javascript:;" data-ng-click="toggle_tweeter = !toggle_tweeter" style="color: {{currentchannel.color.color2}}">here</a>
                    </div>
                </div>  

                <div id="profile" class="login-section" ng-show="toggle_signup" style="margin-bottom: 130px">
                    <form method="post" data-toggle="validator" role="form" ng-form-validate>
                        <input type="hidden" name="is_admin" ng-init="is_admin=false"  ng-model="is_admin"  ng-update-hidden />
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input id="firstname" class="form-control login-input" type="text" name="firstname"
                                   placeholder="Firstname"
                                   data-ng-model="firstname"
                                   data-error="Firstname is required."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input id="lastname" class="form-control login-input" type="text" name="lastname"
                                   placeholder="Lastname"
                                   data-ng-model="lastname"
                                   data-error="Lastname is required."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input id="email" class="form-control login-input" type="email" name="email"
                                   placeholder="Email"
                                   data-ng-model="email"
                                   data-error="Email is not valid."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!--<div class="form-group">
                            <label for="username">Display Name</label>
                            <input id="username" class="form-control" type="text" name="username"
                                   placeholder="Username"
                                   data-ng-model="username"
                                   data-error="Display Name is required."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>-->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="signup_password" class="form-control login-input" type="password" name="password"
                                   placeholder="Password"
                                   data-ng-model="password"
                                   data-error="Password is required."
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input id="confirmpassword" class="form-control login-input" type="password" name="confirmpassword"
                                   placeholder="Confirm Password"
                                   data-match="#signup_password"
                                   data-ng-model="confirm_password"
                                   data-error="Password is required."
                                   data-match-error="Password doesn't match"
                                   required/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <!--<div class="form-group">
                            <label for="zipcode">Zip Code</label>
                            <input id="zipcode" class="form-control" type="text" name="zipcode"
                                   placeholder="Zipcode"
                                   data-ng-model="zipcode"
                                   ng-blur="setCityState()"/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input id="city" class="form-control" type="text" name="city"
                                   placeholder="City"
                                   data-ng-model="city"/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="city">State</label>
                            <input id="state" class="form-control" type="text" name="state"
                                   placeholder="State"
                                   data-ng-model="state"/>
                            <div class="help-block with-errors"></div>
                        </div>-->
                        
                        <button id="create" type="submit" class="btn btn-primary channel-standard-button login-btn" data-ng-click="create()">Register</button>
                        
                    </form>
                </div>
                <div class="logo-pollspace">
                  <div class="col-sm-12 col-md-12 login-section">By signing up you agree to our <a href="/#!/terms" style="color: {{currentchannel.color.color2}}">"Terms & Conditions"</a>  and <a href="/#!/privacy" style="color: {{currentchannel.color.color2}}"> "Privacy Policy"</a>
                  </div>
                  <div class="col-sm-12 col-md-12 text-center mt-30">
                    <img src="/img/icons/pollspacelogo.png" height="32">
                  </div>
                </div>               

                <!--
                  <div class="col-sm-12 col-md-3 log-pad hidden-md hidden-lg" ng-if="currentchannel">
                      <h3>Welcome to #{{currentchannel.guid}}</h3>
                      <img ng-src="{{currentchannel.picture}}" class="img-circle center-block logo-shadow" width="240px">
                  </div>

                -->                

                <a href="javascript:;" class="login-back-btn" data-ng-click="back()" style="color: {{currentchannel.color.color2}};" ng-show="toggle_signup || toggle_tweeter"><< Back</a>

            </div>
            <!--
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <a href="/tw_login/{{access_token}}" class="btn btn-lg btn-info btn-block" disabled><i class="fa fa-twitter-square"></i> Twitter</a>
              </div>
            </div>
            -->
        </div><!-- .row .login-wrap -->
    </div><!-- .container .hidden-xs -->
</section>
