<section  data-ng-controller="AdminChannelsController" data-ng-init="fpColorInit();">

    <h3>FPColor Pallete Chooser </h3>

    <br>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label class="col-xs-3 control-label">Channels</label>
                <div class="col-xs-8">
                    <select name="channels" class="form-control" ng-model="channel_id" ng-options="channel._id as channel.name for channel in channels" ng-change="updatePaletteByChannel()"></select>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <label class="control-label" for="color">or Choose Color</label>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <input colorpicker='hex' data-ng-model="color" id="color" name="color" type="text"
                       class="form-control" placeholder="#FFFFFF" ng-style="{backgroundColor: color}" ng-change="updatePaletteByColor()"/>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-xs-2">
            {{loadingtext}}
        </div>
    </div>
    <br>

    <div class="row" ng-if="channel">
        <div class="col-xs-3">
            <label class="control-label" for="color" ng-style="{'color': channel.color.color_text}">Color Text</label>
        </div>
        <div class="col-xs-2">
            <span class="form-control fpcolorcontainer" ng-style="{'background-color': channel.color.color_text, 'color': channel.color.color_text}" for="color">{{channel.color.color_text}}</span>
        </div>
        <div class="col-xs-1">
            <span>{{color_text | rawMustache}}</span>
        </div>


        <div class="col-xs-3">
            <label class="control-label" for="color" ng-style="{'color': channel.color.color_text}">Background Color / Color 1</label>
        </div>
        <div class="col-xs-2">
            <span class="form-control fpcolorcontainer" ng-style="{'background-color': channel.color.color1, 'color': channel.color.color_text}" for="color">{{channel.color.color1}}</span>
        </div>
        <div class="col-xs-1">
            <span>{{color1 | rawMustache}}</span>
        </div>

    </div>
    <br>
    <div class="row" ng-if="channel">
        <div class="col-xs-3">
            <label class="control-label" for="color" ng-style="{'color': channel.color.color_text}">Highlight Color / Color 2</label>
        </div>
        <div class="col-xs-2">
            <span class="form-control fpcolorcontainer" ng-style="{'background-color': channel.color.color2, 'color': channel.color.color_text}" for="color">{{channel.color.color2}}</span>
        </div>
        <div class="col-xs-1">
            <span>{{color2 | rawMustache}}</span>
        </div>


        <div class="col-xs-3">
            <label class="control-label" for="color" ng-style="{'color': channel.color.color_text}">Header Color / Color 3</label>
        </div>
        <div class="col-xs-2">
            <span class="form-control fpcolorcontainer"  ng-style="{'background-color': channel.color.color3, 'color': channel.color.color_text}" for="color">{{channel.color.color3}}</span>
        </div>
        <div class="col-xs-1">
            <span>{{color3 | rawMustache}}</span>
        </div>

    </div>
    <br>



    <br>
    <div data-ng-repeat="(key, value) in palette" ng-if="value.show == true">
        <div class="row">
            <div class="col-xs-3">
                <span ng-style="{'color': channel.color.color_text}">{{value.name}}</span>
            </div>
            <div class="col-xs-3">
                <div class="fpcolorcontainer form-control" ng-style="{'background-color': value.color, 'color': channel.color.color_text}">
                    {{value.color}}
                </div>
            </div>
            <div class="col-xs-1">
                {{value.color}}
            </div>
            <div class="col-xs-2">
               {{value.name | rawColorPaletteMustache}}
            </div>
        </div>
        <br>
    </div>

</section>