<div data-ng-controller="AdminHeaderController">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/">MEAN - A Modern Stack</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="/#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Signup <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="signupUser">Signup user</a></li>
                <li><a href="signupAdmin">Signup admin</a></li>
            </ul>
        <li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="signinUser">Signup user</a></li>
                <li><a href="signinAdmin">Signup admin</a></li>
            </ul>
        <li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{global.user.firstname}} {{global.user.lastname}}<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/#!/users/{{global.user._id}}">Account</a></li>
                <li><a href="/signout">Signout</a></li>
            </ul>
        </li>
    </ul>
</div>