<div data-ng-controller="UsersController" data-ng-init="getSignups()">
    <h2> User Signup List </h2>
    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="user in signups">
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.company}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.timestamps.created | date:'MM/dd/yyyy HH:mm'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>