@CHARSET "UTF-8";

.box .box-content {
	border-top: 1px solid #ddd;
}

#main .page-header .pull-left h1 {
	margin: 0px;
}

#main .breadcrumbs {
	background: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#masthead {
background: #999;
position: relative;
color:#fff;
}

#masthead h2, #masthead h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
  xtext-align: center;
}

#subnavigation {
background: #eeeeee;
position: relative;
z-index: 100;
}

#subnavigation .container-fluid {
margin-left: -20px;
}

#subnavigation .sub-nav {
  float: left;
}
#subnavigation .sub-nav > li {
  float: left;
  position: relative;
  margin: 0;
}
#subnavigation .sub-nav > li.active > a {
  background: white;
  text-decoration: none;
  color: #2a2a2a;
}
#subnavigation .sub-nav > li.active > a .caret {
  border-top-color: #333;
}
#subnavigation .sub-nav > li.active > a:hover {
  background: white;
}
#subnavigation .sub-nav > li.open > a {
  background: #1e74c5;
  text-decoration: none;
}
#subnavigation .sub-nav > li.open.active > a {
  background: #fff;
}
#subnavigation .sub-nav > li.open.active > .dropdown-menu {
  left: -2px;
}
#subnavigation .sub-nav > li.open.active > .dropdown-menu > .active > a {
  background: #ddd;
  color: #333;
  filter: none;
}
#subnavigation .sub-nav > li.open.active > .dropdown-menu > .active > a:after {
  border-left-color: #5F0E0D;
}
#subnavigation .sub-nav > li > a {
  display: block;
  padding: 10px 15px;
  color: #5F0E0D;
}
#subnavigation .sub-nav > li > a i {
  display: none;
}
#subnavigation .sub-nav > li > a:hover {
  text-decoration: none;
  background: #5F0E0D;
  color: #fff;
}
#subnavigation .sub-nav > li > a .caret {
  border-top-color: #5F0E0D;
  margin: 9px 0 0 2px;
}
#subnavigation .sub-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}