{% extends 'layouts/default.html' %}

{% block main %}
<h1>Oops something went wrong</h1>
<br>
<span>ERROR</span>
{% endblock %}

{% block content %}
<div id="error-message-box">
    <div id="error-stack-trace">
            <pre>
                <code>{{error}}</code>
            </pre>
    </div>
</div>
{% endblock %}
