/*
NAME: FanProps
URL: http://www.pollspace.io
AUTHORS: <a href="http://www.10thleterdesigns.com">Jay Gregory</a> & Toyin Akinmusuru
*/


/* ====================================== Global Styles =============== */


body {
    background-image: url(img/cream_dust_2X.png);
    background-repeat: repeat;
}

.fp-brand-name {
  float: left;
  padding: 14px 15px 10px 0;
  font-size: 20px;
  line-height: 22px;
  font-weight:700;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);
}

.fp-brand-name:hover,
.fp-brand-name:focus {
	text-decoration: none;
}

.brand-header-logo {
	float: left;
	margin: 5px 15px 0px 0px;
}

.icon-right-padding { padding-right: 10px;}

.col-centered{
    float: none;
    margin: 0 auto;
}

#left h4 {text-align:left;}

/* ====================================== Primary Navigation =========== */


/* .navbar-static-top { height: 100px; } */

.navbar-custom-color-top {
	border-bottom: 0px;
	-webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 3px 9px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 9px rgba(0, 0, 0, 0.3);
	margin-bottom: 0px;
}

.navbar-custom-color-top .navbar-brand:hover,
.navbar-custom-color-top .navbar-brand:focus {
  background-color: transparent;
}

.navbar-custom-color-top .navbar-text {
}

.navbar-custom-color-top .navbar-nav > li > a {
}

.navbar-custom-color-top .navbar-nav > li > a:hover,
.navbar-custom-color-top .navbar-nav > li > a:focus {
  background-color: transparent;
}

.navbar-custom-color-top .navbar-nav > .active > a,
.navbar-custom-color-top .navbar-nav > .active > a:hover,
.navbar-custom-color-top .navbar-nav > .active > a:focus {
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
}

.navbar-custom-color-top:active,
.navbar-custom-color-top.active {
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#colapse-nav-fix {padding: 0px; margin:0px; height: 52px; border: 0px;}

.nav-item {float: right; padding: 0 0 0 7px;}

.mini-icon-fix {
	font-size: 18px;
}

.big-icon-fix {font-size: 28px;}

#sm-nav {
	padding: 0px;
	margin: 0px;
	height: 52px;
	float: right;
}

#sm-nav li {
	list-style: none;
	padding: 0px;
}

#sm-nav > li > a {
  position: relative;
  display: block;
  padding: 14px 7px 10px 7px;
}

#sm-nav > li > a:hover,
#sm-nav > li > a:focus {
  background-color: transparent;
  color: #EF6D54;
}

#sm-nav > .active > a,
#sm-nav > .active > a:hover,
#sm-nav > .active > a:focus {
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
}

#sm-nav:active,
#sm-nav.active {
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#sm-nav-2 > li > a:hover, #sm-nav-2 > li > a:focus{color: #EF6D54;}


/* ====================================== About Page =============== */

/* ===================== About Nav ============= */

.about-nav-bkg {
	height: 52px;
	margin-bottom: 20px;
	background-color: #EF6D54;
}

.nav-pills.nav-justified.about-navbar > li > a {
	padding: 7px 0px 7px 0px;
	margin: 9px 5px 9px 5px;
	line-height: 20px;
	vertical-align: central;
	color: #fff;
}

.about-small {font-size: 13px;}

.nav-pills.nav-justified.about-navbar > li > a:hover {
	background-color: #f0907d;
}

@media (max-width: 767px) {
	.nav-pills.nav-justified.about-navbar > li {
		float: left;
		width: 24%;
	}
	.nav-pills.nav-justified.about-navbar > li > a {
		margin-bottom: 0px;
	}
}

.nav-pills.nav-justified.about-navbar > .active > a {
	border: 0px;
	background-color: #f9866f;
	color: #fff;
}

.nav-pills.nav-justified.about-navbar > .active > a:hover {
    border: 0px;
    background-color: #f9866f;
    color: #fff;
}

/* ====================================== About Page Colors ========== */

body {
    background-color: #FFFFFF;
    color: #EF6D54;
}

.fp-brand-name {
    color: #EF6D54;
}

.fp-brand-name:hover,
.fp-brand-name:focus {
    color:#eaea13;
}

.navbar-custom-color-top {
    background-color: #4C4C4C;
    color: #FFFFFF;
}

.navbar-custom-color-top .navbar-brand:hover,
.navbar-custom-color-top .navbar-brand:focus {
    color: #FFFFFF;
}

.navbar-custom-color-top .navbar-text {
    color: #FFFFFF;
}

.navbar-custom-color-top .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-custom-color-top .navbar-nav > li > a:hover,
.navbar-custom-color-top .navbar-nav > li > a:focus {
    color: #57A8D4;
}

.navbar-custom-color-top .navbar-nav > .active > a,
.navbar-custom-color-top .navbar-nav > .active > a:hover,
.navbar-custom-color-top .navbar-nav > .active > a:focus {
    color: #FFFFFF;
}

#sm-nav > li > a {
    color: #FFFFFF;
}

#sm-nav > li > a:hover,
#sm-nav > li > a:focus {
    color: #57A8D4;
}

#sm-nav > .active > a,
#sm-nav > .active > a:hover,
#sm-nav > .active > a:focus {
    color: #FFFFFF;
}



/* ===================== About Section ============= */

.about-section {
	width: 100%;
	padding: 30px 0 0 0;
	margin: 0;
}


.top {
	margin: 100px 0 0 0;
}

.about-fixed-header {
	position: fixed;
	width: 100%;
	z-index: 2;
}

#social {}

#polling {position: relative;}

.fp-devices {
	padding: 105px 0 0 0;
}


.about-section p {
	font-size: 17px;
	line-height: normal;
	padding: 15px 0px;
	color: #333;
}

.about-section h1 {color: #EF6D54; font-weight: 200; font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.about-section h2 {color: #57A8D4; font-weight: 200; font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.about-section h3 {color: #333; font-weight: 200; padding: 20px 0 5px 0;}

.about-section li {font-size: 17px; color: #333;}

.infospace {height: 100px;}

.about-section-engaguement {
    background-color: #333;
    margin: 0px 0 0 0;
    padding: 120px 0 60px 0;
    -webkit-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    0px 0px 35px rgba(0, 0, 0, 0.6);
    box-shadow:         0px 0px 35px rgba(0, 0, 0, 0.6);
    position: relative;
}

.about-section-engaguement h1 {color: #EF6D54; font-weight: 200;}

.about-section-engaguement h3 {color: #ffffff; font-weight: 200; padding: 20px 0 20px 0;}

.insight-img-pad {margin-top: 80px;}

/* ===================== About Footer ============= */

.about-footer {
    background-color: #4C4C4C;
    min-height: 500px;
    -webkit-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    0px 0px 35px rgba(0, 0, 0, 0.6);
    box-shadow:         0px 0px 35px rgba(0, 0, 0, 0.6);
    position: relative;
    padding-top: 100px;
}

.footer-logo {max-width: 230px;}

.about-footer h1 {color: #EF6D54; font-weight: 200; font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.about-footer h3 {color: #fff; font-weight: 200; }

.copyright-text {
    font-size: 14px;
    color: #bcbcbc;
    margin: 35px 0 0 0;
}


/* ====================================== My Account Page =============== */

.my-account-wrap {margin: 50px 0 0 0;}
	
