<section data-ng-controller="ChannelsController">
    <div class="container">
        <div class="row prop-wrap">
            <div class="col-md-4 col-md-push-8 col-sm-12 margin-pad-zero">
                <img ng-src="{{currentchannel.picture}}" class="img-circle center-block logo-shadow" width="300px" >
                <div class="center-block about-nav-wrap">
                    <ul class="nav nav-pills standard-pills center-block">
                        <li class="active"><a href="/#!/profile">About</a></li>
                        <li><a href="/#!/contact">Contact</a></li>
                        <li><a href="/#!/privacy">Privacy</a></li>
                        <li><a href="/#!/terms">Terms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-md-pull-4 prop-info-wrap">
                <h2>Meet Mayor Eric Garcetti</h2>
                <p>In July 2013, Mayor Eric Garcetti assumed office on a back-to-basics platform focused on growing the economy and creating jobs, improving the safety of our communities, enhancing the quality of City services, and creating the best-run city in America. The goal of these polls, and the City's open data portal, <a href="https://data.lacity.org/">data.lacity.org</a>, is to provide a transparent way for the public to give feedback on how well we’re living up to those commitments.</p>



            </div><!-- .col-md-8 prop-info-wrap -->

        </div><!-- .col-md-8 prop-image prop-image-DT -->
    </div><!-- .row prop-wrap -->
    </div>


</section>
