<!-- DESKTOP -->
<div class="hidden-xs visible-sm visible-md visible-lg">
    <div class="contestent-triangles-container">
        <h3>{{prop.name}}</h3>
        <span class="contestent-weekof">{{prop.weekof.from | date:'MM/dd' }} -  {{prop.weekof.to | date:'MM/dd' }}</span>
        <div class="triangle">
            <div class="triangles-container">
                <img src="{{prop.image}}">
            </div>
        </div>
        <div class="prop-description" ng-if="!prop.desc">
            Every contest winner receives free OGX products. Upload a photo for your chance to win.
        </div>
        <div class="prop-description" ng-if="prop.desc" data-ng-bind-html="prop.desc">
        </div>
        <br>
        <div class="prop-vote" ng-if="user && !user.is_admin && !prop.userVote">
            <button class="btn vote-button btn-block channel-standard-button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled" type="button">VOTE</button>
        </div>
        <div class="prop-vote" ng-if="user && user.is_admin">
            <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/edit/single" class="btn btn-block channel-standard-button">Edit <span ng-if="prop.type == 'opinion'">Poll</span> <span ng-if="prop.type == 'quiz'">Quiz</span></a>
        </div>
    </div>
</div>


<!-- MOBILE -->
<div class="visible-xs" data-ng-class="{ 'mobile-gray-background-container': mobileOptionsExpand }">
    <div class="row">
        <div class="col-xs-12">
            <div class="triangle">
                <div class="triangles-container">
                    <img src="{{prop.image}}">
                </div>
            </div>
            <div class="swipe-expand-container" ng-if="!mobileOptionsExpand">
                <div class="swipe">
                    <span>Expand to vote</span>
                </div>
                <!-- SWIPE: Directions can be: swipe, swipeLeft, swipeRight, swipeUp, swipeDown -->
                <div class="swipe-icon-expand"
                     data-ng-click="toggleMobileOptions()"></div>
            </div>
        </div>
    </div>
</div>