<style type="text/css">
    .iradio_square-grey {
        background: rgba(0, 0, 0, 0) url("/css/themes/images/icheck.ogx.png") no-repeat scroll 0 0;
        /*background: rgba(0, 0, 0, 0) url("/lib/iCheck/skins/square/blue.png") no-repeat scroll 0 0;*/
    }

    .iradio_square-grey.checked.disabled {
        background-position: -168px 0;
    }

    .contestent-profile-container {
      cursor: pointer;
      padding: 10px;
      opacity: 1;
    }
</style>

<!-- DESKTOP -->
<div class="hidden-xs visible-sm visible-md visible-lg">
    <br>
    <div class="contestent-options-container">
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[0].name">
                <div class="contestent-profile-container" ng-class="{active: prop.answers[0].id == selectedOption}">
                    <div class="contestent-img-round-container">
                        <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}" ng-click=selectItem(prop.answers[0].id)></div>
                        <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}"></div>
                    </div>
                    <div class="contestent-instagram-container">
                    <span>
                        <!-- Please live radio disabled. Is for functionality reasons -->
                        <input type="radio" value="{{prop.answers[0].id}}" ng-model="selectedOption" icheck disabled/>
                        {{prop.answers[0].meta.instagram.value}}
                    </span>
                    </div>
                    <div ng-if="( user && user.is_admin || user && !user.is_admin && prop.userVote )" class="contestent-progressbar-container">
                        <div class="progress progress-{{prop.answers[0].id}}"><!-- Progress bar bkg -->
                            <div class="progress-bar progress-bar-{{prop.answers[0].id}}" ng-style="{'width': propVotes[prop.answers[0].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                              {{propVotes[prop.answers[0].id]}}
                            </div><!-- progressbar active -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[1].name">
                <div class="contestent-profile-container" ng-class="{active: prop.answers[1].id == selectedOption}">
                    <div class="contestent-img-round-container">
                        <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}" ng-click=selectItem(prop.answers[1].id)></div>
                        <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}"></div>
                    </div>
                    <div class="contestent-instagram-container">
                    <span>
                        <!-- Please live radio disabled. Is for functionality reasons -->
                        <input type="radio" value="{{prop.answers[1].id}}" ng-model="selectedOption" icheck disabled/>
                        {{prop.answers[1].meta.instagram.value}}
                    </span>
                    </div>
                    <div ng-if="( user && user.is_admin || user && !user.is_admin && prop.userVote )" class="contestent-progressbar-container">
                        <div class="progress progress-{{prop.answers[1].id}}"><!-- Progress bar bkg -->
                            <div class="progress-bar progress-bar-{{prop.answers[1].id}}" ng-style="{'width': propVotes[prop.answers[1].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                              {{propVotes[prop.answers[1].id]}}
                            </div><!-- progressbar active -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[2].name">
                <div class="contestent-profile-container" ng-class="{active: prop.answers[2].id == selectedOption}">
                    <div class="contestent-img-round-container">
                        <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}" ng-click=selectItem(prop.answers[2].id)></div>
                        <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}"></div>
                    </div>
                    <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[2].id) >
                        <!-- Please live radio disabled. Is for functionality reasons -->
                        <input type="radio" value="{{prop.answers[2].id}}" ng-model="selectedOption" icheck disabled/>
                        {{prop.answers[2].meta.instagram.value}}
                    </span>
                    </div>
                    <div ng-if="( user && user.is_admin || user && !user.is_admin && prop.userVote )" class="contestent-progressbar-container">
                        <div class="progress progress-{{prop.answers[2].id}}"><!-- Progress bar bkg -->
                            <div class="progress-bar progress-bar-{{prop.answers[2].id}}" ng-style="{'width': propVotes[prop.answers[2].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                              {{propVotes[prop.answers[2].id]}}
                            </div><!-- progressbar active -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[3].name">
                <div class="contestent-profile-container" ng-class="{active: prop.answers[3].id == selectedOption}">
                    <div class="contestent-img-round-container">
                        <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}" ng-click=selectItem(prop.answers[3].id)></div>
                        <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}"></div>
                    </div>
                    <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[3].id) >
                        <!-- Please live radio disabled. Is for functionality reasons -->
                        <input type="radio" value="{{prop.answers[3].id}}" ng-model="selectedOption" icheck disabled/>
                        {{prop.answers[3].meta.instagram.value}}
                    </span>
                    </div>
                    <div ng-if="( user && user.is_admin || user && !user.is_admin && prop.userVote )" class="contestent-progressbar-container">
                        <div class="progress progress-{{prop.answers[3].id}}"><!-- Progress bar bkg -->
                            <div class="progress-bar progress-bar-{{prop.answers[3].id}}" ng-style="{'width': propVotes[prop.answers[3].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                              {{propVotes[prop.answers[3].id]}}
                            </div><!-- progressbar active -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MOBILE -->
<div class="visible-xs">
    <div class="expand-container" ng-if="mobileOptionsExpand">
        <div class="mobile-gray-background-container">
            <!-- first option -->
            <div class="row">
                <div class="col-xs-12" ng-if="prop.answers[0].name">
                    <div class="contestent-profile-container" ng-class="{active: prop.answers[0].id == selectedOption}">
                        <div class="contestent-img-round-container">
                            <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}" ng-click=selectItem(prop.answers[0].id)></div>
                            <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}"></div>
                        </div>
                        <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[0].id) >
                        <!-- Please live radio disabled. Is for functionality reasons -->
                        <input type="radio" value="{{prop.answers[0].id}}" ng-model="selectedOption" icheck disabled/>
                        {{prop.answers[0].meta.instagram.value}}
                    </span>
                        </div>
                        <div ng-if="( user && user.is_admin || user && !user.is_admin && prop.userVote )" class="contestent-progressbar-container">
                            <div class="progress progress-{{prop.answers[0].id}}"><!-- Progress bar bkg -->
                                <div class="progress-bar progress-bar-{{prop.answers[0].id}}" ng-style="{'width': propVotes[prop.answers[0].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                  {{propVotes[prop.answers[0].id]}}
                                </div><!-- progressbar active -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- second option -->
            <div class="row">
                <div class="col-xs-12" ng-if="prop.answers[1].name">
                    <div class="contestent-profile-container" ng-class="{active: prop.answers[1].id == selectedOption}">
                        <div class="contestent-img-round-container">
                            <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}" ng-click=selectItem(prop.answers[1].id)></div>
                            <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}"></div>
                        </div>
                        <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[1].id) >
                        <!-- Please live radio disabled. Is for functionality reasons -->
                        <input type="radio" value="{{prop.answers[1].id}}" ng-model="selectedOption" icheck disabled/>
                        {{prop.answers[1].meta.instagram.value}}
                    </span>
                        </div>
                        <div ng-if="( user && user.is_admin || user && !user.is_admin && prop.userVote )" class="contestent-progressbar-container">
                            <div class="progress progress-{{prop.answers[1].id}}"><!-- Progress bar bkg -->
                                <div class="progress-bar progress-bar-{{prop.answers[1].id}}" ng-style="{'width': propVotes[prop.answers[1].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                  {{propVotes[prop.answers[1].id]}}
                                </div><!-- progressbar active -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- third option -->
            <div class="row">
                <div class="col-xs-12" ng-if="prop.answers[2].name">
                    <div class="contestent-profile-container" ng-class="{active: prop.answers[2].id == selectedOption}">
                        <div class="contestent-img-round-container">
                            <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}" ng-click=selectItem(prop.answers[2].id)></div>
                            <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}"></div>
                        </div>
                        <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[2].id) >
                        <!-- Please live radio disabled. Is for functionality reasons -->
                        <input type="radio" value="{{prop.answers[2].id}}" ng-model="selectedOption" icheck disabled/>
                        {{prop.answers[2].meta.instagram.value}}
                    </span>
                        </div>
                        <div ng-if="( user && user.is_admin || user && !user.is_admin && prop.userVote )" class="contestent-progressbar-container">
                            <div class="progress progress-{{prop.answers[2].id}}"><!-- Progress bar bkg -->
                                <div class="progress-bar progress-bar-{{prop.answers[2].id}}" ng-style="{'width': propVotes[prop.answers[2].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                  {{propVotes[prop.answers[2].id]}}
                                </div><!-- progressbar active -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Four option -->
            <div class="row">
                <div class="col-xs-12" ng-if="prop.answers[3].name">
                    <div class="contestent-profile-container" ng-class="{active: prop.answers[3].id == selectedOption}">
                        <div class="contestent-img-round-container">
                            <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}" ng-click=selectItem(prop.answers[3].id)></div>
                            <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}"></div>
                        </div>
                        <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[3].id) >
                        <!-- Please live radio disabled. Is for functionality reasons -->
                        <input type="radio" value="{{prop.answers[3].id}}" ng-model="selectedOption" icheck disabled/>
                        {{prop.answers[3].meta.instagram.value}}
                    </span>
                        </div>
                        <div ng-if="( user && user.is_admin || user && !user.is_admin && prop.userVote )" class="contestent-progressbar-container">
                            <div class="progress progress-{{prop.answers[3].id}}"><!-- Progress bar bkg -->
                                <div class="progress-bar progress-bar-{{prop.answers[3].id}}" ng-style="{'width': propVotes[prop.answers[3].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                  {{propVotes[prop.answers[3].id]}}
                                </div><!-- progressbar active -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swipe-collapse" ng-if="user && !user.is_admin && !prop.userVote">
                <div class="prop-vote">
                    <button class="btn vote-button-mobile btn-block channel-standard-button" data-ng-click="vote(channel._id, prop.guid)" ng-disabled="isVoteButtonDisabled" type="button">VOTE</button>
                </div>
            </div>

            <div class="swipe-collapse" ng-if="user && !user.is_admin && prop.userVote">
                <a class="btn btn-block channel-standard-button" href="/#!/previous/winners" type="button">PAST WINNERS</a>

                <a ng-if="user.twitter_data" href="{{twitter_url}}" id="twitterShareLink" target="_blank" class="btn btn-lg twitter-button btn-block">
                    <i class="fa fa-twitter-square fa-lg"></i> Share on twitter
                </a>
                <a ng-if="!user.twitter_data" href="{{global.twitter_url}}" id="twitterShareLink" class="btn btn-lg twitter-button btn-block">
                    <i class="fa fa-twitter-square fa-lg"></i> Connect to share
                </a>

                <a ng-if="user.facebook_data" href="{{facebook_url}}" id="facebookShareLink" target="_blank" class="btn btn-lg fb-button btn-block">
                    <i class="fa fa-facebook-square fa-lg"></i> Share on facebook
                </a>
                <a ng-if="!user.facebook_data" href="/fb_login/{{global.access_token}}" id="facebookShareLink" class="btn btn-lg fb-button btn-block">
                    <i class="fa fa-facebook-square fa-lg"></i> Connect to share
                </a>
                <br><br><br>
            </div>
            <br><br>
        </div>

        <div class="swipe-icon-collapse" data-ng-click="toggleMobileOptions()" ng-swipe-up="toggleMobileOptions($event)"></div>
    </div>
</div>