<!-- DESKTOP -->
<div class="hidden-xs visible-sm visible-md visible-lg">
    <div class="contestents-container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="contestent-triangles-container">
                    <h3>{{prop.name}}</h3>
                    <span class="contestent-weekof">{{prop.weekof.from | date:'MM/dd' }} -  {{prop.weekof.to | date:'MM/dd' }}</span>

                    <hr>
                    <img src="/img/thankyou.png" class="img-responsive">
                    <div class="img-poll-TY-text">For Voting! Checkout realtime results</div>
                    <a class="btn btn-block channel-standard-button" href="/#!/previous/winners" type="button">PAST WINNERS</a>
                    <hr>


                    <a ng-if="user.twitter_data" href="{{twitter_url}}" id="twitterShareLink" target="_blank" class="btn btn-lg twitter-button btn-block">
                        <i class="fa fa-twitter-square fa-lg"></i> Share on twitter
                    </a>
                    <a ng-if="!user.twitter_data" href="{{global.twitter_url}}" id="twitterShareLink" class="btn btn-lg twitter-button btn-block">
                        <i class="fa fa-twitter-square fa-lg"></i> Connect to share
                    </a>

                    <a ng-if="user.facebook_data" href="{{facebook_url}}" id="facebookShareLink" target="_blank" class="btn btn-lg fb-button btn-block">
                        <i class="fa fa-facebook-square fa-lg"></i> Share on facebook
                    </a>
                    <a ng-if="!user.facebook_data" href="/fb_login/{{global.access_token}}" id="facebookShareLink" class="btn btn-lg fb-button btn-block">
                        <i class="fa fa-facebook-square fa-lg"></i> Connect to share
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1">
                <div ui-view="contestent_options"></div>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE -->
<div class="visible-xs">
    <div class="row">
        <div class="col-xs-12" style='text-align: center'>
            <h3>{{prop.name}}</h3>
            <span class="contestent-weekof">{{prop.weekof.from | date:'MM/dd' }} -  {{prop.weekof.to | date:'MM/dd' }}</span>

            <hr>
            <img src="/img/thankyou.png" class="img-responsive">
            <span class="ogx-thank-you-voting">For Voting! Checkout realtime results</span>
            <hr>

            <div class="swipe-expand-container" ng-if="!mobileOptionsExpand">
                <div class="swipe">
                    <span>Expand to view results</span>
                </div>
                <div class="swipe-icon-expand" data-ng-click="toggleMobileOptions()"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div ui-view="contestent_options"></div>
        </div>
    </div>
</div>