<!-- DESKTOP -->
<div class="hidden-xs visible-sm visible-md visible-lg">
    <div class="vote-options">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div ui-view="contestent_triangles"></div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div ui-view="contestent_options"></div>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE -->
<div class="visible-xs">
    <div class="row">
        <div class="col-xs-12">
            <div ui-view="contestent_triangles"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div ui-view="contestent_options"></div>
        </div>
    </div>

    <div class="row" style='text-align: center'>
        <div class="col-xs-12">
            <h3>{{prop.name}}</h3>
            <span class="contestent-weekof">{{prop.weekof.from | date:'MM/dd' }} -  {{prop.weekof.to | date:'MM/dd' }}</span>
        </div>
    </div>
</div>