<section data-ng-controller="PropsController" data-ng-init="getBAHDViewData()">

    <div ng-show="global.user && !global.user.is_admin">
        <!-- USER DIDNT VOTE -->
        <div ui-view="image_vote_options" ng-if="!prop.userVote"></div>
        <div ui-view="image_vote_thanks" ng-if="prop.userVote"></div>
    </div>

    <div ng-hide="global.user">
        <!-- USER DIDNT VOTE -->
        <form class="form-horizontal" role="form" novalidate>
            <div ui-view="vote_options"></div>
        </form>
    </div>

</section>