{% extends '../layouts/propset.html' %}

{% block content %}
<section data-ng-controller="PropSetController" data-ng-init="setQuizTitle()">
    <section class="container">
        <div class="row">
            <div class="col-sm-12 prop-info-wrap">
                <div style="background-image: url('{{propset.image}}'); background-repeat: no-repeat; background-size: 100%;"
                     class="prop-image">
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-12 prop-info-wrap">
                {% for prop in propset.props %}
                <div>
                    <h3>{{ loop.index }} / {{total_props}} - {{ prop.name | e }}</h3>

                    <span class="prop-answer-loadingresults-wrapper-{{prop.guid}}" style="display: none">Loading results...</span>

                    <div class="prop-answer-choice-wrapper-{{prop.guid}}">
                        {% for answer in prop.answers %}
                            {% if answer.name %}
                            <span style="display: block">
                                <input type="radio"
                                       name="options[{{prop.guid | json}}]"
                                       value="{{answer.id}}"
                                       ng-click="vote('{{prop.guid}}','{{answer.id}}')">
                                {{ answer.name | e }}
                            </span>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div data-ng-hide="collapseList['{{prop.guid}}']" class="cssFade prop-answer-chart-wrapper-{{prop.guid}}" style="display: none">
                        <div class="prop-answer-wrapper-{{prop.guid}}"></div>
                        <div class="prop-correctanswer-wrapper-{{prop.guid}}"></div>

                        <div class="prop-collapse-wrapper-{{prop.guid}} prop-collapse-wrapper">
                            <div class="col-md-6 prop-collapse-answer">
                                <span class="collapse-ok-icon-{{prop.guid}}" style="display: none;"><i class="glyphicon glyphicon-ok-circle"></i> Correct</span>
                                <span class="collapse-remove-icon-{{prop.guid}}" style="display: none;"><i class="glyphicon glyphicon-remove-circle"></i> Incorrect</span>
                            </div>
                            <div class="col-md-6 prop-collapse-text">
                                <a data-ng-click="collapseList['{{prop.guid}}'] = true">Collapse</a>
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="collapseList['{{prop.guid}}']">
                        <a data-ng-click="collapseList['{{prop.guid}}'] = false">Expand</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br/>
        <br/>
    </section>


    <script id="tpl_progressbar" type="text/template">
        <div class="answer-wrapper-progressbar">
            <div class="clearfix answer-wrapper-%s0" style="display: none">
                <div class="col-md-1">
                    <i class="glyphicon glyphicon-ok-circle ok-%s0 vote-answer-icons" style="display: none"></i>
                    <i class="glyphicon glyphicon-remove-circle remove-%s0 vote-answer-icons" style="display: none"></i>
                </div>

                <div class="col-md-5 answer-border">
                    <div class="answer-name-wrapper-%s0 answer-name-wrapper"></div>
                    <div class="progress progress-%s0">
                        <div class="progress-bar progress-bar-%s0" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>


            <div class="clearfix answer-wrapper-%s1" style="display: none">
                <div class="col-md-1">
                    <i class="glyphicon glyphicon-ok-circle ok-%s1 vote-answer-icons" style="display: none"></i>
                    <i class="glyphicon glyphicon-remove-circle remove-%s1 vote-answer-icons" style="display: none"></i>
                </div>
                <div class="col-md-5 answer-border">
                    <div class="answer-name-wrapper-%s1 answer-name-wrapper"></div>
                    <div class="progress progress-%s1">
                        <div class="progress-bar progress-bar-%s1" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>


            <div class="clearfix answer-wrapper-%s2" style="display: none">
                <div class="col-md-1">
                    <i class="glyphicon glyphicon-ok-circle ok-%s2 vote-answer-icons" style="display: none"></i>
                    <i class="glyphicon glyphicon-remove-circle remove-%s2 vote-answer-icons" style="display: none"></i>
                </div>
                <div class="col-md-5 answer-border">
                    <div class="answer-name-wrapper-%s2 answer-name-wrapper"></div>
                    <div class="progress progress-%s2">
                        <div class="progress-bar progress-bar-%s2" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>


            <div class="clearfix answer-wrapper-%s3" style="display: none">
                <div class="col-md-1">
                    <i class="glyphicon glyphicon-ok-circle ok-%s3 vote-answer-icons" style="display: none"></i>
                    <i class="glyphicon glyphicon-remove-circle remove-%s3 vote-answer-icons" style="display: none"></i>
                </div>
                <div class="col-md-5 answer-border">
                    <div class="answer-name-wrapper-%s3 answer-name-wrapper"></div>
                    <div class="progress progress-%s3">
                        <div class="progress-bar progress-bar-%s3" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</section>
{% endblock %}

