{% include "../_header.html" %}

<script type="application/javascript">
    var p = {{ propset_json | safe }};
    var user = {{ user| safe}};

    function Multiple(data) {
        _.extend(this, data);
    }
</script>

<script id="psm-{{guid}}" src="{{hostname}}/extra_js/embedded/multiple.js"></script>

<script type="application/javascript">
    var multiple = new Multiple(p);
    window['multiple_' + '{{guid}}'] = multiple;

    window['multiple_' + '{{guid}}'].initQuestions();

    console.log(window['multiple_' + '{{guid}}']);
</script>


<div class="question-container container-fluid" style="background-image:url('{{propset.image}}');">
    <div class="row quiz_row-embedded" style="background: rgba(0, 0, 0, 0.5);">
        <div class="col-xs-8 col-sm-10">
            <span class="hidden-xs hidden-sm quiz_title"><h3 class="ng-binding">{{propset.title}}</h3></span>
            <span class="hidden-xs hidden-md hidden-lg quiz_title"><h4 class="ng-binding">{{propset.title}}</h4></span>
            <span class="hidden-sm hidden-md hidden-lg quiz_title"><h6 class="ng-binding">{{propset.title}}</h6></span>
        </div>

        {% if propset.type == 'quiz' %}
        <div ng-show="quiz_type == 'quiz'" class="col-xs-4 col-sm-2 quiz_score_wrap">
            <div class="quiz-score-{{guid}} ng-binding">0%</div>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-12 no-padding" style="background: rgba(0, 0, 0, 0.5);">
            {% for prop in propset.props %}
                {% if !prop.vote %}
                <!--<script type="application/javascript">
                    var currentQuestion = {{loop.index}};
                </script>-->
                <div class="question-wrapper-{{guid}} question-wrapper-{{guid}}-{{loop.index}}" style="display: none">
                    <!-- FOR each prop -->
                    {% include "_header.html" %}

                    <div class="multi-question-wrap-embedded">
                        {% include "_answers.html" %}
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <span class="first-number ng-binding">{{loop.index}}</span>  <span class="second-number ng-binding">/ {{props_length}}</span>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            {% if !prop.userVote %}
                            <img src="{{hostname}}/img/icons/black-vote-button.png"
                                 class="img-rounded img-responsive pull-right vote-image vote-image-{{guid}}-{{loop.index}}"
                                 style="width: 50px"
                                 onclick="window['multiple_' + '{{guid}}'].vote('{{prop.guid}}')">
                            {% endif %}

                            {% if ( loop.index < props_length ) && prop.userVote %}
                                <a href="javascript:window['multiple_' + '{{guid}}'].goToNextQuestion()" class="second-number pull-right">Go To Next Question</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row view-results-{{guid}}" style="display: none; background: rgba(0, 0, 0, 0.5);">
        <div class="col-sm-12">
            <a href="javascript:;" onclick="window['multiple_' + '{{guid}}'].viewResults()">
                <span class="first-number">View Results</span>
            </a>
        </div>
    </div>

</div>