<section data-ng-controller="AdminChannelsController" data-ng-init="submittedPhotos()">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <h2>Submitted Photos</h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 pull-right">
            <h2><button id="create" data-ng-click="addSubmittedPhotosToPoll()" type="submit" class="btn btn-primary pull-right channel-standard-button extra-h-pad" name="save">Add to Poll</button></h2>
        </div>
    </div>

    <div class="alert alert-danger" role="alert" ng-if="submittedPhotoError">
        You need to select at least 4 items.
    </div>

    <div class="submitedPhotos-wrapper">
        <div class="submitedPhotos-date-wrapper" ng-repeat="(date, list) in submittedPhotos">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <hr>
                    <span class="contestent-weekof">{{date}}</span>
                    <hr>
                    <ul class="submitedPhotos-profile-list-wrapper">
                        <li ng-repeat="(key, photo) in list" class="submitedPhotos-item" ng-class="{active: photosToSubmit[photo._id]}" data-ng-click="selectPhoto(photo._id)">
                            <div class="contesent-profile-container">
                                <div class="contestent-img-round-container">
                                    <a ng-href="{{cutCropSrc(photo.image)}}" target="_blank">
                                        <div ng-style="{'background-image': 'url(' + trustSrc(photo.image) + ')'}"></div>
                                    </a>
                                </div>
                                <div class="contestent-instagram-container">
                                    <span>
                                        @{{photo.instagram}}
                                    </span>
                                    <span>
                                        <a href="{{trustSrc(photo.image)}}" target="_blank">Download</a>
                                    </span>
                                    <span>
                                        <a ng-click="removePhoto(photo._id)">Delete</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</section>
