<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
    {% include '../includes/head.html' %}
    <body>
        <div id="page">
            <div data-ng-include="'/views/header_noauth.html'" data-role="navigation"></div>
            <div id="alerts-container"></div>
            <section class="content">
                <section class="container">
                    {% block content %}{% endblock %}
                </section>
            </section>
            {% include '../includes/nofoot.html' %}
        </div>
    </body>
</html>
