<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
    {% include '../includes/headprop.html' %}
    <body>
    <div id="page">
        <div class = "navbar navbar-custom-color-top navbar-static-top" id="top-nav-height">
            <div class = "container" id="top-nav-height">
                <div>
                    <a href="#">
                        <img src="{{channel.logo}}" height="40px" class="brand-header-logo">
                    </a>
                    <a href = "#" class="fp-brand-name">
                        Pollspace
                    </a>
                </div>
                <ul class = "visible-xs list-inline" id="sm-nav">
                    <li class = "active"><a href = "/#!/login"><i class="fa fa-unlock-alt fa-2x"></i></a></li>
                    <li><a href = "/about"><i class="fa fa-info-circle fa-2x"></i></a></li>
                </ul>
                <ul class = "visible-sm list-inline" id="sm-nav">
                    <li class = "active"><a href = "/#!/login"><i class="fa fa-unlock-alt fa-lg"></i><div class="nav-item">Login</div></a></li>
                    <li><a href = "/about"><i class="fa fa-info-circle fa-lg"></i><div class="nav-item">About Pollspace</div></a></li>
                </ul>
                <ul class = "visible-md visible-lg nav navbar-nav navbar-right">
                    <li class = "active"><a href = "/#!/login"><i class="fa fa-unlock-alt fa-lg"></i><div class="nav-item">Login</div></a></li>
                    <li><a href = "/about"><i class="fa fa-info-circle fa-lg"></i><div class="nav-item">About Pollspace</div></a></li>
                </ul>
            </div><!-- .container -->
        </div><!-- .navbar .navbar-custom-color-top .navbar-static-top  -->
        <div id="alerts-container"></div>
        <section class="content">
            <section class="container">
                {% block content %}{% endblock %}
            </section>
        </section>
    </div>
    </body>
</html>
