{% extends '../layouts/prop.html' %}

{% block content %}
    <script type="text/javascript">
        window.prop_guid = '{{prop_guid}}';
        window.user = {{user|safe}};

        function loginToVote(){
            window.location.href = '/#!/login';
        }
    </script>

    <div class="container hidden-xs">
        <div class="row prop-wrap">
            <div class="col-md-4 col-sm-12 prop-info-wrap">
                <div class="channel-name"> <h1><a href="/#!/channel/{{channel.guid}}/poll/list">{{channel.name}}</a></h1> </div>
                <div class="prop_question">
                    <h3>{{prop.name}}</h3>
                </div>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-md-8 col-sm-12 prop-image-wrap">
                {% if prop.image %}
                    <div style="background-image: url({{prop.image}});
                        background-repeat: no-repeat;
                        background-repeat: no-repeat;
                        background-size: 100%;"
                         class="prop-image">
                    </div>

                {% else %}
                    <div style="background-image: url(/img/fp/ps740x280.png);
                            background-repeat: no-repeat;
                            background-repeat: no-repeat;
                            background-size: 100%;"
                         class="prop-image">
                    </div>
                {% endif %}
            </div><!-- .col-md-8 prop-image prop-image-DT -->
        </div><!-- .row prop-wrap -->
    </div>
    <div class="container visible-xs">
        <div class="row prop-wrap">
            <div class="col-xs-12 prop-info-wrap">
                <div class="channel-name"> <h1><a href="/#!/channel/{{channel.guid}}/poll/list">{{channel.name}}</a></h1> </div>
                <div class="prop_question">
                    <h3>{{prop.name}}</h3>
                    <!-- <p>by <a href="/user/pitbull">pitbull</a></p> -->
                </div>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-xs-12 prop-image-wrap square-me" style="height: 100px;">
                {% if prop.image %}
                <div style="background-image: url({{prop.image}});
                    background-repeat: no-repeat;
                    background-repeat: no-repeat;
                    background-size: 100%;"
                     class="prop-image-xs">

                </div>
                {% else %}
                    <div style="background-image: url(/img/fp/ps740x280.png);
                                background-repeat: no-repeat;
                                background-repeat: no-repeat;
                                background-size: 100%;"
                         class="prop-image-xs">
                    </div>
                {% endif %}
            </div><!-- .col-md-8 prop-image prop-image-DT -->
        </div><!-- .row prop-wrap -->
    </div>

    <form class="form-horizontal col-md-8" role="form" novalidate>
        <div class="vote-options">
            <!--!!! prop/vote_options_two >>> !!!-->
            <!--
             Two Voting Options
             --------------------------------------------------------->
            {% if (optionsCount == 1 || optionsCount == 2) %}
            <div class="two-options">
                <!-- md-lg -->
                <div class="container visible-md visible-lg">
                    <div class="row vote-optns-wrap-lg">
                        <div class="" data-toggle="buttons-radio">
                            <div class="col-md-6 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[0].id}}')">{{prop.answers[0].name}}</button></div>
                            </div>
                            <div class="col-md-6 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick=selectItem('{{prop.answers[1].id}}')>{{prop.answers[1].name}}</button></div>
                            </div>
                        </div><!-- .btn-group -->
                    </div><!-- .row vote-optns-wrap-lg -->
                    <div class="col-xs-12 vote-button-padding">
                        <div class="">
                            <button class="btn vote-button channel-standard-button" type="button" onclick="loginToVote()">LOGIN TO VOTE</button>
                        </div>
                    </div>
                </div><!-- .container visible-md visible-lg-->

                <!-- xs-sm -->
                <div class="container visible-xs visible-sm">
                    <div class="row vote-optns-wrap-sm">
                        <div class="" data-toggle="buttons-radio">
                            <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[0].id}}')">{{prop.answers[0].name}}</button></div>
                            <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[1].id}}')">{{prop.answers[1].name}}</button></div>
                        </div><!-- .btn-group -->
                    </div><!-- .row vote-optns-wrap-sm -->
                    <div class="col-xs-12 vote-button-padding">
                        <div class="">
                            <button class="btn vote-button channel-standard-button" type="button" onclick="loginToVote()">LOGIN TO VOTE</button>
                        </div>
                    </div>
                </div><!-- .container visible-xs visible-sm -->
            </div><!-- two-options -->
            {% endif %}


            <!--!!! prop/vote_options_two <<< !!!-->
            <!--!!! prop/vote_options_three >>> !!!-->
            <!--
             Three Voting Options
             ------------------------------------------------------->
            {% if (optionsCount == 3) %}
            <div class="two-options">
                <!-- md-lg -->
                <div class="container visible-md visible-lg">
                    <div class="row vote-optns-wrap-lg">
                        <div class="" data-toggle="buttons-radio">
                            <div class="col-md-4 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[0].id}}')">{{prop.answers[0].name}}</button></div>
                            </div>
                            <div class="col-md-4 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[1].id}}')">{{prop.answers[1].name}}</button></div>
                            </div>
                            <div class="col-md-4 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[2].id}}')">{{prop.answers[2].name}}</button></div>
                            </div>
                        </div><!-- .btn-group -->
                    </div><!-- .row vote-optns-wrap-lg -->
                    <div class="col-xs-12 vote-button-padding">
                        <div class="">
                            <button class="btn vote-button channel-standard-button" type="button" onclick="loginToVote()">LOGIN TO VOTE</button>
                        </div>
                    </div>
                </div><!-- .container visible-md visible-lg-->

                <!-- xs-sm -->
                <div class="container visible-xs visible-sm">
                    <div class="row vote-optns-wrap-sm">
                        <div class="" data-toggle="buttons-radio">
                            <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[0].id}}')">{{prop.answers[0].name}}</button></div>
                            <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[1].id}}')">{{prop.answers[1].name}}</button></div>
                            <div class="col-sm-12 button-padding"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[2].id}}')">{{prop.answers[2].name}}</button></div>
                        </div><!-- .btn-group -->
                    </div><!-- .row vote-optns-wrap-sm -->
                    <div class="col-xs-12 vote-button-padding">
                        <div class="">
                            <button class="btn vote-button channel-standard-button" type="button" onclick="loginToVote()">LOGIN TO VOTE</button>
                        </div>
                    </div>
                </div><!-- .container visible-xs visible-sm -->
            </div><!-- two-options -->
            {% endif %}<!-- three-options -->

            <!--
             Four Voting Options
             ------------------------------------------------------->
            {% if (optionsCount == 4) %}
            <div class="two-options">
                <!-- md-lg -->
                <div class="container visible-md visible-lg">
                    <div class="row vote-optns-wrap-lg">
                        <div class="" data-toggle="buttons-radio">
                            <div class="col-md-3 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[0].id}}')">{{prop.answers[0].name}}</button></div>
                            </div>
                            <div class="col-md-3 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[1].id}}')">{{prop.answers[1].name}}</button></div>
                            </div>
                            <div class="col-md-3 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[2].id}}')">{{prop.answers[2].name}}</button></div>
                            </div>
                            <div class="col-md-3 button-padding">
                                <div class=""><button type="button" name="vote-optns" class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[3].id}}')">{{prop.answers[3].name}}</button></div>
                            </div>
                        </div><!-- .btn-group -->
                    </div><!-- .row vote-optns-wrap-lg -->
                    <div class="col-xs-12 vote-button-padding">
                        <div class="">
                            <button class="btn vote-button channel-standard-button" type="button" onclick="loginToVote()">LOGIN TO VOTE</button>
                        </div>
                    </div>
                </div><!-- .container visible-md visible-lg-->

                <!-- xs-sm -->
                <div class="container visible-xs visible-sm">
                    <div class="row vote-optns-wrap-sm">
                        <div class="" data-toggle="buttons-radio">
                            <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[0].id}}')">{{prop.answers[0].name}}</button></div>
                            <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[1].id}}')">{{prop.answers[1].name}}</button></div>
                            <div class="col-sm-12 button-padding vote-button-spacing-bottom-top"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[2].id}}')">{{prop.answers[2].name}}</button></div>
                            <div class="col-sm-12 button-padding"><button type="button" name="vote-optns"  class="btn vote-optns-button-colors vote-optns channel-standard-button" onclick="selectItem('{{prop.answers[3].id}}')">{{prop.answers[3].name}}</button></div>
                        </div><!-- .btn-group -->
                    </div><!-- .row vote-optns-wrap-sm -->
                    <div class="col-xs-12 vote-button-padding">
                        <div class="">
                            <button class="btn vote-button channel-standard-button" type="button" onclick="loginToVote()">LOGIN TO VOTE</button>
                        </div>
                    </div>
                </div><!-- .container visible-xs visible-sm -->
            </div><!-- two-options -->
            {% endif %}
            <!-- four-options -->
        </div>
    </form>

{% endblock %}