{% extends '../layouts/propset.html' %}

{% block content %}
    <section data-ng-controller="PropSetController" data-ng-init="setQuizTitle()">
        <section class="container">

            <div class="row">
                <div class="col-sm-12 prop-info-wrap">
                    <div style="background-image: url('{{propset.image}}'); background-repeat: no-repeat; background-size: 100%;"
                         class="prop-image">
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <form action="/q/{{propset.guid}}/results" method="POST">
                    <div class="col-sm-12 no-padding">
                        {% for prop in propset.props %}
                        <div class="multi-question-wrap ng-scope">
                            <div class="container container-xs-height multi-question-title">
                                <div class="row row-xs-height">
                                    <div class="col-xs-1 question-number-wrap col-xs-height"><span class="first-number">{{ loop.index }}</span>  <span class="second-number">/ {{total_props}}</span></div>
                                    <div class="col-xs-11 col-xs-height visible-sm visible-xs"><h4>{{ prop.name}}</h4></div>
                                    <div class="col-xs-11 col-xs-height visible-md visible-lg"><h3>{{ prop.name}}</h3></div>

                                </div>
                            </div><!-- multi-question-title -->

                            <div class="radio-wrap"><!-- original radio choices, swapped out -->
                                {% for answer in prop.answers %}
                                    {% if answer.name %}
                                                <span style="display: block">
                                                    <input type="radio" name="options[{{prop.guid | json}}]" disabled>
                                                    {{ answer.name}}
                                                </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-lg channel-standard-button btn-block">LOGIN TO VOTE</button>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </section>

        <br/>
        <br/>
    </section>
{% endblock %}

