<section data-ng-controller="UsersController" data-ng-init="myRankings()">
    <h3>Your Rankings</h3>

    <div class="rankings-data-wrap" data-ng-repeat="ranking in rankings">
        <div class="row rankings-data-inner">
            <div class="col-md-3 col-sm-12">
                <div class="thank-you-text-pad">
                    <a href="#">
                        <div class="prop-image">
                            <img ng-src="{{ranking.channel_logo}}" style="height: 280px; width: 100%" ng-show="ranking.channel_logo"/>
                            <img ng-src="/img/fp/ps40x40.png" style="height: 280px; width: 100%" ng-hide="ranking.channel_logo"/>
                        </div>
                    </a>
                </div>
            </div><!-- .col-md-3 col-sm-12 -->
            <div class="col-md-9 col-sm-12 prop-stats-wrap">
                <div class="border-bottom">
                    <h2>Your current standings with <a href="/#!/channel/{{ranking.channel_guid}}/leaders">{{ranking.channel_name}}</a>:</h2>
                </div>
                <h3>{{ranking.currentranking}} of {{ranking.currentrankingtotal}} <small>current ranking on leaderbord</small></h3>
                <h3>{{ranking.currentpoints}} <small>current points</small></h3>
                <h3>{{ranking.alltimepoints}} <small>all time points</small></h3>
            </div>
        </div><!-- .row .rankings-data-inner -->
    </div>
</section>