<div class="contestent-options-container">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[0].name">
            <div class="contestent-profile-container">
                <div class="contestent-img-round-container">
                    <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}" ng-click=selectItem(prop.answers[0].id) ng-class="{active: prop.answers[0].id == selectedOption}"></div>
                    <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[0].image) + ')'}" ng-class="{active: prop.answers[0].id == selectedOption}"></div>
                </div>
                <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[0].id) >
                        <input type="radio" ng-checked="prop.answers[0].id == selectedOption"></input>
                        @{{prop.answers[0].meta.instagram.value}}
                    </span>
                </div>
                <div ng-if="( user && user.is_admin )" class="contestent-progressbar-container">
                    <div class="progress progress-{{prop.answers[0].id}}"><!-- Progress bar bkg -->
                        <div class="progress-bar progress-bar-{{prop.answers[0].id}}" ng-style="{'width': propVotes[prop.answers[0].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[1].name">
            <div class="contestent-profile-container">
                <div class="contestent-img-round-container">
                    <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}" ng-click=selectItem(prop.answers[1].id) ng-class="{active: prop.answers[1].id == selectedOption}"></div>
                    <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[1].image) + ')'}" ng-class="{active: prop.answers[1].id == selectedOption}"></div>
                </div>
                <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[1].id) >
                        <input type="radio" ng-checked="prop.answers[1].id == selectedOption"></input>
                        @{{prop.answers[1].meta.instagram.value}}
                    </span>
                </div>
                <div ng-if="( user && user.is_admin )" class="contestent-progressbar-container">
                    <div class="progress progress-{{prop.answers[1].id}}"><!-- Progress bar bkg -->
                        <div class="progress-bar progress-bar-{{prop.answers[1].id}}" ng-style="{'width': propVotes[prop.answers[1].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[2].name">
            <div class="contestent-profile-container">
                <div class="contestent-img-round-container">
                    <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}" ng-click=selectItem(prop.answers[2].id) ng-class="{active: prop.answers[2].id == selectedOption}"></div>
                    <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[2].image) + ')'}" ng-class="{active: prop.answers[2].id == selectedOption}"></div>
                </div>
                <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[2].id) >
                        <input type="radio" ng-checked="prop.answers[2].id == selectedOption"></input>
                        @{{prop.answers[2].meta.instagram.value}}
                    </span>
                </div>
                <div ng-if="( user && user.is_admin )" class="contestent-progressbar-container">
                    <div class="progress progress-{{prop.answers[2].id}}"><!-- Progress bar bkg -->
                        <div class="progress-bar progress-bar-{{prop.answers[2].id}}" ng-style="{'width': propVotes[prop.answers[2].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5" ng-if="prop.answers[3].name">
            <div class="contestent-profile-container">
                <div class="contestent-img-round-container">
                    <div ng-if="user && !user.is_admin && !prop.userVote" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}" ng-click=selectItem(prop.answers[3].id) ng-class="{active: prop.answers[3].id == selectedOption}"></div>
                    <div ng-if="(user && !user.is_admin && prop.userVote) || ( user && user.is_admin )" ng-style="{'background-image': 'url(' + trustSrc(prop.answers[3].image) + ')'}" ng-class="{active: prop.answers[3].id == selectedOption}"></div>
                </div>
                <div class="contestent-instagram-container">
                    <span ng-click=selectItem(prop.answers[3].id) >
                        <input type="radio" ng-checked="prop.answers[3].id == selectedOption"></input>
                        @{{prop.answers[3].meta.instagram.value}}
                    </span>
                </div>
                <div ng-if="( user && user.is_admin )" class="contestent-progressbar-container">
                    <div class="progress progress-{{prop.answers[3].id}}"><!-- Progress bar bkg -->
                        <div class="progress-bar progress-bar-{{prop.answers[3].id}}" ng-style="{'width': propVotes[prop.answers[3].id]}" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div><!-- progressbar active -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>