
<div id="propList" data-ng-repeat="prop in props">
    <div class="container hidden-sm hidden-xs">
        <div class="row prop-wrap">
            <div class="col-md-4 col-sm-12 prop-info-wrap">
                <div class="prop_question">
                    <h3>
                        <a href="/#!/single/{{prop.type}}/{{prop.guid}}" ng-hide="user.is_admin">{{prop.name}}</a>
                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results" ng-show="user.is_admin">{{prop.name}}</a>
                    </h3>
                    <div  ng-show="user.is_admin">
                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results"
                           class="btn btn-lg btn-block channel-standard-button">
                            <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                            View <span ng-if="prop.type == 'opinion'">Poll</span> <span ng-if="prop.type == 'quiz'">Quiz</span> Results
                        </a>
                    </div>
                    <div  ng-hide="user.is_admin">
                        <div class="vote-now-pos-lg" ng-hide="prop.vote || propStatus(prop) == 'closed' || propStatus(prop) == 'graded'">
                            <a href="/#!/single/{{prop.type}}/{{prop.guid}}" class="btn btn-lg btn-block channel-standard-button" >
                                Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-md-8 col-sm-12 prop-image-wrap">
                <div  ng-show="user.is_admin">
                    <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results" ng-show="prop.image">
                        <div ng-style="{ 'background-image': 'url(' + prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + prop.banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                </div>
                <div  ng-hide="user.is_admin">
                    <a href="/#!/single/{{prop.type}}/{{prop.guid}}" ng-show="prop.image">
                        <div ng-style="{ 'background-image': 'url(' + prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + prop.banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                </div>
            </div><!-- .col-md-8 prop-image prop-image-DT -->
        </div><!-- .row prop-wrap -->
    </div>


    <div class="container visible-sm">
        <div class="row prop-wrap">
            <div class="col-md-4 col-sm-12 prop-info-wrap">
                <div class="prop_question">
                    <h3>
                        <a href="/#!/single/{{prop.type}}/{{prop.guid}}" ng-hide="user.is_admin">{{prop.name}}</a>
                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results" ng-show="user.is_admin">{{prop.name}}</a>
                    </h3>
                </div>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-sm-12 prop-image-wrap">
                <div  ng-show="user.is_admin">
                    <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results" ng-show="prop.image">
                        <div ng-style="{ 'background-image': 'url(' + prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + prop.banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                </div>
                <div  ng-hide="user.is_admin">
                    <a href="/#!/single/{{prop.type}}/{{prop.guid}}" ng-show="prop.image">
                        <div ng-style="{ 'background-image': 'url(' + prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + prop.banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                </div>
                <br/>
                <div  ng-show="user.is_admin">
                    <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results"
                       class="btn btn-lg btn-block channel-standard-button">
                        <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        View <span ng-if="prop.type == 'opinion'">Poll</span> <span ng-if="prop.type == 'quiz'">Quiz</span> Results
                    </a>
                </div>
                <div  ng-hide="user.is_admin">
                    <div class="vote-now-pos-sm" ng-hide="prop.vote || propStatus(prop) == 'closed' || propStatus(prop) == 'graded'">
                        <a href="/#!/single/{{prop.type}}/{{prop.guid}}" class="btn btn-lg btn-block channel-standard-button" >
                            Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- .col-sm-12 prop-image-wrap -->
        </div><!-- .row prop-wrap -->
    </div>


    <div class="container visible-xs">
        <div class="row prop-wrap">
            <div class="col-xs-12 prop-info-wrap">
                <div class="prop_question">
                    <h3>
                        <a href="/#!/single/{{prop.type}}/{{prop.guid}}" ng-hide="user.is_admin">{{prop.name}}</a>
                        <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results" ng-show="user.is_admin">{{prop.name}}</a>
                    </h3>

                </div>
            </div><!-- .col-md-4 prop-info-wrap -->
            <div class="col-xs-12 prop-image-wrap square-me">
                <div  ng-show="user.is_admin">
                    <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results" ng-show="prop.image">
                        <div ng-style="{ 'background-image': 'url(' + prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + prop.mobile_banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                </div>
                <div  ng-hide="user.is_admin">
                    <a href="/#!/single/{{prop.type}}/{{prop.guid}}" ng-show="prop.image">
                        <div ng-style="{ 'background-image': 'url(' + prop.image + ')', 'background-repeat': 'no-repeat' }" class="prop-image">
                            <div ng-style="{ 'background-image': 'url(' + prop.mobile_banner + ')', 'background-repeat': 'no-repeat' }" class="status-banner-sm" ng-hide="user.is_admin"></div>
                        </div>
                    </a>
                </div>
                <br/>
                <div  ng-show="user.is_admin">
                    <a href="/#!/admin/channel/{{channel._id}}/prop/{{prop._id}}/results"
                       class="btn btn-lg btn-block channel-standard-button">
                        <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        View <span ng-if="prop.type == 'opinion'">Poll</span> <span ng-if="prop.type == 'quiz'">Quiz</span> Results
                    </a>
                </div>
                <div  ng-hide="user.is_admin">
                    <div class="vote-now-pos-sm" ng-hide="prop.vote || propStatus(prop) == 'closed' || propStatus(prop) == 'graded'">
                        <a href="/#!/single/{{prop.type}}/{{prop.guid}}" class="btn btn-lg btn-block channel-standard-button" >
                            Vote Now <i class="fa fa-arrow-circle-o-right fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div><!-- .col-xs-12 prop-image-wrap square-me -->
        </div><!-- .row prop-wrap -->
    </div>
</div>
